<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="" class="heading"><? echo $this->title?></a></li>
        <li class="hidden-sm hidden-xs">
            <a href="#" class="selected">Novo</a>
        </li>
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">
        




        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            <?php echo $this->title?>
                            <span class="mini-title">
                                <?php echo $this->title?> 
                            </span>
                        </div>
                    </div>
                    <div class="widget-body">
                        
                        <form class="form-horizontal no-margin row" action="" method="post">

                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <?php echo $this->form->getElement('descricao');?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <?php echo $this->form->getElement('texto_tooltip');?>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <?php echo $this->form->getElement('destaque');?>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <?php echo $this->form->getElement('novidade');?>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <?php echo $this->form->getElement('ordem');?>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-12 ">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-info pull-right">Salvar</button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row End -->



    </div>
    <!-- Left Sidebar End -->



</div>
<!-- Dashboard Wrapper End -->

