<?php if(isset($_GET['inpi'])): ?>

<div class="bl-box bl-info">
        <div class="bl-overlay bl-overlay-new"></div>
        <div class="bl-dialog bl-dialog-new bl-error bl-dialog-anim-show">
            <div class="bl-header">
               <div style="margin-top:-20px;"> 
               <h4><strong>Sistema do Governo Indisponível</strong> no momento.
                   <br> <br> Tente mais tarde ou selecione uma marca pré-aprovada no banco de marcas. </h4>
              
                </div>
            </div>
          
            <div class="bl-footer">
                 <button class="bl-btn" id="btn-hidden">Ir para o banco de marcas</button>
            </div>
        </div>
    </div>

<?php endif; ?>

<header class="Header Header--home">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
        <span class="spaco_div"></span>
    </div>
</header>
<section class="faq-content">
    <div class="faq">
        <div class="container">
            <div class="row faqs">
                <div class="col-xs-12 faqs-tit">
                    <ul class="Breadcrumbs Breadcrumbs--articles list-inline">
                        <li class="Breadcrumbs-item"><a href="<?php echo $this->url(array(), "default", true); ?>"
                                                        class="Breadcrumbs-link">Home</a>
                        </li>
                        <li class="Breadcrumbs-item"><a
                                    href="<?php echo $this->url(array('controller' => 'bancodemarcas', 'action' => 'index'), 'default', true); ?>"
                                    class="Breadcrumbs-link">Banco de marcas</a>
                        </li>
                        <li class="Breadcrumbs-item"><a href="<?php echo $this->url(array(), "", true); ?>"
                                                        class="Breadcrumbs-link active">Sugestões</a></li>
                    </ul>
                    <h1 class="Page-title">Sugestões para você</h1>
                </div>
                <div class="col-md-12">
                    <div class="conteudo_banco_marcas">

                        <form class="HomeForm form_banco_marcas"
                              action="<?php echo $this->url(array('controller' => 'bancodemarcas', 'action' => 'buscar-marca'), 'default', true); ?>"
                              method="post">
                            <input type="hidden" name="classe" value="<?= $this->classe; ?>"> 
                            <div class="top_list" id="">

                                <div class="opts">
                                    <div class="col-md-8">
                                        <div class="fiter_banco_">

                                            <h4>Qual tipo de marca?</h4>
                                            <div class="InputContainer">
                                                <input type="radio" name="tipo" <?php echo $this->tipo==''?'checked':'';?> value="" id="todos" class="Input-radio" >

                                                <label for="todos" class="Input-label" id="check-prod">
                                                    <div class="Input-check"></div>
                                                    <span class="Input-labelText">Todos</span>
                                                </label>
                                            </div>
                                            <div class="InputContainer">
                                                <input type="radio" name="tipo" <?php echo $this->tipo=='produto'?'checked':'';?> value="produto" id="produtos"
                                                       class="Input-radio" >

                                                <label for="produtos" class="Input-label" id="check-prod">
                                                    <div class="Input-check"></div>
                                                    <span class="Input-labelText">Produto</span>
                                                </label>
                                            </div>

                                            <div class="InputContainer">
                                                <input type="radio" name="tipo" <?php echo $this->tipo=='servico'?'checked':'';?> value="servico" id="servicos"
                                                       class="Input-radio">
                                                <label for="servicos" class="Input-label" id="check-serv">
                                                    <div class="Input-check"></div>
                                                    <span class="Input-labelText">Serviço</span>
                                                </label>
                                            </div>

                                            <div class="InputContainer">
                                                <input type="radio" name="tipo" <?php echo $this->tipo=='comercio'?'checked':'';?>  value="comercio" id="comercios"
                                                       class="Input-radio">
                                                <label for="comercios" class="Input-label" id="check-com">
                                                    <div class="Input-check"></div>
                                                    <span class="Input-labelText">Comércio</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <span class="cat_escolha"> <?php if ($this->tipoTexto): echo "Categoria: " . $this->tipoTexto; endif; ?></span>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="box_filter_two">
                                            <h4 class="f_left">Encontre sua marca</h4>
                                            <div class="box_search_ box_search_left">
                                                <input type="text" class="box_search_banco" value="<?php echo $this->busca;?>" name="nome" required>
                                                <button type="submit"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <ul class="list_alfabeto">
                                <?php  $linkAll = $this->url(array('controller' => 'bancodemarcas', 
                                                                   'action' => 'banco-de-marcas-sugestao',
                                                                   'tipo' =>  $this->tipo,
                                                                   'classe' => $this->classe
                                                                    ),
                                                                      'default', true); ?>
                                <li><a href="<?php  echo $linkAll ?>"> Ver todos </a></li>

                           
                                    <?php  foreach (range('a', 'z') as $letra): ?>
                                
                                        <?php
                                            if(!$this->null){
                                                $link = $this->url(array('controller' => 'bancodemarcas',
                                                    'action' => 'exibir-por-letra', 'tipo' =>  $this->tipo, 'classe' => $this->classe, 
                                                                 'letra' => $letra,), 'default', true);
                                            } else{
                                                $link = $this->url(array('controller' => 'bancodemarcas',
                                                    'action' => 'exibir-por-letra','tipo' =>  $this->tipo, 'letra' => $letra,),'default', true);
                                            }
                                        ?>
                                        <li><a href="<?php  echo $link ?>"><?php  echo $letra ?> </a></li>
                                    <?php  endforeach; ?>
                         
                            </ul>

                            <ul class="list_marcas list_marcas_tipo">

                                <!-- EXIBICAO PADRAO DE TODOS OS DADOS -->
                                <?php if (sizeof($this->paginator)): ?>
                                    <?php foreach ($this->paginator as $dados): ?>
                                        <?php if ($dados['marca']): ?>
                                            <li>
                                                <p><?php echo $this->escape($dados['marca']); ?></p>
                                                <a href="<?php  echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => '1'), 'default', true); ?>">Registrar</a>
                                            </li>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                <?php endif; ?>

                                <!-- EXIBICAO DA BUSCA -->
                                <?php if ($this->resultado): ?>
                                    <?php foreach ($this->resultado as $r): ?>
                                        <li>
                                            <p> <?php echo $r['marca']; ?></p>
                                            <a href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => '1'), 'default', true); ?>">Registrar</a>
                                        </li>
                                    <?php endforeach; ?>
                                <?php elseif(!sizeof($this->paginator)):?>
                                        <li class="no-border">
                                    <p> Não foram encontradas marcas com os termos pesquisados no banco de marcas.</p>    
                                    </li>
                                <?php endif; ?>
                               
                            </ul>

                            <?php echo $this->paginator; ?>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script src="<?php echo $this->baseUrl('static/default/scripts/jquery.min.js') ?>"></script>
<script src="<?php echo $this->baseUrl('static/default/scripts/isotope.pkgd.js') ?>"></script>
<script src="<?php echo $this->baseUrl('static/default/scripts/isotope.js') ?>"></script>

<script>
    $( "#btn-hidden" ).click(function() {
        $(".bl-box.bl-info").hide();
    });
</script>