<header class="Header Header--home">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
        <span class="spaco_div"></span>
    </div>
</header>


<section class="faq-content">
    <div class="faq">
        <div class="container">
            <div class="row faqs">
                <div class="col-xs-12 faqs-tit">
                    <ul class="Breadcrumbs Breadcrumbs--articles list-inline">
                        <li class="Breadcrumbs-item"><a href="<?php echo $this->url(array(), "default", true); ?>"
                                                        class="Breadcrumbs-link">Home</a>
                        </li>

                        <li class="Breadcrumbs-item"><a href="#"
                                                        class="Breadcrumbs-link active">Banco de marcas</a></li>
                    </ul>
                    <h1 class="Page-title">Marcas aprovadas para você</h1>
                    <h4 style="color: #d25300;">
                        Dificuldade para encontrar nome para sua marca? Aqui você encontra nomes pré-aprovados para registro.
                    </h4>
                </div>

                <br><br>
                <?php /// var_dump($this->dclasse) ?>

                <div class="col-md-12">
                    <div class="conteudo_banco_marcas">
                        <form class="HomeForm form_banco_marcas"
                              action="<?php echo $this->url(array('action' => 'resultado'), 'busca', true); ?>"
                              method="post">
                            <div class="top_list" id="filters">

                                <div class="opts">
                                    <div class="col-md-8">
                                        <div class="fiter_banco_">
                                            <h4>Qual tipo de marca?</h4>
                                            <div class="InputContainer">
                                                <input type="radio" name="tipo" value="produto" id="produtos"
                                                       class="Input-radio">
                                                <label for="produtos" class="Input-label" id="check-prod"
                                                       data-filter=".produtos">
                                                    <div class="Input-check"></div>
                                                    <span class="Input-labelText">Produto</span>
                                                </label>
                                            </div>
                                            <div class="InputContainer">
                                                <input type="radio" name="tipo" value="servico" id="servicos"
                                                       class="Input-radio">
                                                <label for="servicos" class="Input-label" id="check-serv"
                                                       data-filter=".servicos">
                                                    <div class="Input-check"></div>
                                                    <span class="Input-labelText">Serviço</span>
                                                </label>
                                            </div>
                                            <div class="InputContainer">
                                                <input type="radio" name="tipo" value="comercio" id="comercios"
                                                       class="Input-radio">
                                                <label for="comercios" class="Input-label" id="check-com"
                                                       data-filter=".comercios">
                                                    <div class="Input-check"></div>
                                                    <span class="Input-labelText">Comércio</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
<!--
                                    <div class="col-md-4">
                                        <div class="box_search_">
                                            <input type="text" class="box_search_banco">
                                            <button type="submit"></button>
                                        </div>
                                    </div>
                                    -->
                                </div>
                            </div>

                            <!-- filtro -->
                            <div id="Container_filtro" class="container_fiter_banco" data-avgusage="1">

                                <?php foreach ($this->tipoProduto as $p): ?>



                                    <!-- PRODUTOS -->
                                    <div class="Category-item produtos" data-category="produtos">
                                        <input type="radio" name="categoria_produto" value=""
                                               id="" class="Category-radio">
                                        <label for="" title=" <?php echo $p['descricao']; ?>"
                                               class="title Category-label  Tooltip--category">
                                            <a href="<?php echo $this->url(array('controller' => 'bancodemarcas', 'action' => 'banco-de-marcas-sugestao', 'tipo' => $p['tipo'],  'classe' => $p['id_inpi']), 'default', true); ?>">
                                                <span><?php echo $p['nome']; ?></span>
                                            </a>
                                            <span class="desc_cat"><?php echo $p['descricao']; ?></span>
                                        </label>
                                    </div>
                                <?php endforeach; ?>

                                <?php foreach ($this->tipoServico as $s): ?>
                                    <!-- SERVICOS -->
                                    <div class="Category-item servicos" data-category="servicos">
                                        <input type="radio" name="categoria_servico" value="" id=""
                                               class="Category-radio">
                                        <label for="" title="<?php echo $s['descricao']; ?>" class="title Category-label  Tooltip--category">
                                            <a href="<?php echo $this->url(array('controller' => 'bancodemarcas', 'action' => 'banco-de-marcas-sugestao', 'tipo' => $s['tipo'], 'classe' => $s['id_inpi']), 'default', true); ?>">
                                                <span><?php echo $s['nome']; ?></span>
                                            </a>
                                            <span class="desc_cat"> <?php echo $s['descricao']; ?></span>
                                        </label>
                                    </div>
                                <?php endforeach; ?>

                                <?php foreach ($this->tipoComercio as $c): ?>
                                    <!-- COMERCIO -->
                                    <div class="Category-item comercios" data-category="comercios">
                                        <input type="radio" name="categoria_comercio" value="" id=""
                                               class="Category-radio">
                                        <label for="" title="<?php echo $c['descricao']; ?>" class="title Category-label  Tooltip--category">
                                            <a href="<?php echo $this->url(array('controller' => 'bancodemarcas', 'action' => 'banco-de-marcas-sugestao', 'tipo' => $c['tipo'], 'classe' => $c['id_inpi']), 'default', true); ?>">
                                                <span><?php echo $c['nome']; ?></span>
                                            </a>
                                            <span class="desc_cat"> <?php echo $c['descricao']; ?></span
                                        </label>
                                    </div>

                                <?php endforeach; ?>


                            </div>
                            <!-- end filtro -->
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<script src="<?php echo $this->baseUrl('static/default/scripts/jquery.min.js') ?>"></script>
<script src="<?php echo $this->baseUrl('static/default/scripts/isotope.pkgd.js') ?>"></script>
<script src="<?php echo $this->baseUrl('static/default/scripts/isotope.js') ?>"></script>