<style>
 li{
    padding: 0 5px;
    font-weight: bold;
    font-size: 15px;
    }
li.active a{
    color:blue;
}
ul{
    display: flex;
    text-align: right;
}
</style> 


<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="" class="heading"><? echo $this->title ?></a></li>
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">
        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                             <? echo $this->title ?>  -  <?php echo $this->tipo == 'servico' ? 'SERVIÇO' : 'PRODUTO'; ?>  
                        </div>
              
                    </div>
                    
                    <div class="widget-body">
                        <div id="dt_example" class="example_alt_pagination table-responsive">
                           <span>Total de registros: <b> <?php echo $this->total; ?></b></span>
                  <br>      
                           <ul class="list_alfabeto" style="padding:10px 0  20px 0">           
                    
           Exibir por Letra: 
                <?php  foreach (range('a', 'z') as $letra): ?>
                   <li><a href="<?php  echo $this->url(array('controller' => 'bancodemarcas',
                                'action' => 'list', 'tipo' =>  $this->tipo, 
                                'letra' => $letra,), 'gerenciador', true); ?>">
                                <?php  echo $letra ?>
                        </a>
                    </li>
                <?php  endforeach; ?> 
                    <li style="margin-left:20px;">
                        <a href="<?php echo $this->url(array('controller' => 'bancodemarcas', "action" => 'list', 'tipo' => $this->tipo), 'gerenciador', true); ?>" class="btn btn-sm btn-primary "> Todas as letras </a>
                    </li>
                </ul>

                            <table class="table table-condensed  table-striped table-hover table-bordered text-center" id="data-table">

                                <thead>
                                    <tr>
                                        <?php foreach ($this->grid as $col => $inf): ?>
                                            <th  class="text-center" style="width:10%">
                                                <?php echo $inf['label']; ?>
                                            </th>
                                        <?php endforeach; ?>
                                    </tr>
                                </thead>
                               
                                <tbody>
                                    <?php   if (sizeof($this->paginator)): ?>
                                        <?php foreach ($this->paginator as $dados => $value): ?>
                                            <tr>
                                               <?php foreach($value as $v): ?>
                                               <td><?= $v ?> </td>
                                               <?php  endforeach; ?>
                                            </tr>
                                        <?php endforeach; ?>
                                    <?php endif;  ?>

                                </tbody>

                            </table>
              
                            <div class="clearfix">
                            </div>   
                            <div class="pull-right">
                                 <?= $this->paginator; ?>
                            </div>
                        </div>
                        
          
                </div>
                </div>

          
            </div>
        </div>
        <!-- Row End -->



    </div>
    <!-- Left Sidebar End -->



</div>
<!-- Dashboard Wrapper End -->



<script src="<?php echo $this->baseUrl('static/default/scripts/jquery.min.js') ?>"></script>
<script src="<?php echo $this->baseUrl('static/default/scripts/isotope.pkgd.js') ?>"></script>
<script src="<?php echo $this->baseUrl('static/default/scripts/isotope.js') ?>"></script>



<script type="text/javascript">

    //Data Tables
    $(document).ready(function () {
        //$.fn.dataTable.TableTools.defaults.aButtons = [ "copy", "csv", "xls" ];
        $('#data-table').dataTable({
            "bPaginate": false,
            "search":false;
            "info": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/Portuguese-Brasil.json"
            }
            /*dom: 'T<"clear">lfrtip',
             tableTools: {
             "sSwfPath": "<?php echo $this->baseUrl("static/") ?>js/data-tables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
             }*/
        });
    });

</script>