<?php $row = $this->row; ?>
<?php if ($this->isAllowed($this->resource, 'view')): ?>
    <a class="btn btn-info btn-xs" href="<?php echo $this->url(array('action' => 'view', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
        Visualizar
    </a>
<?php endif; ?>   
<?php if ($this->isAllowed($this->resource, 'active')): ?>
    <?php if ($row['active']): ?>
        <a class="btn btn-danger btn-xs" href="<?php echo $this->url(array('action' => 'active', 'id' => $row['id'], 'active' => '0')) ?>" id="notification" data-original-title="" title="">
            Inativar
        </a>
    <?php else: ?>
        <a class="btn btn-success btn-xs" href="<?php echo $this->url(array('action' => 'active', 'id' => $row['id'], 'active' => '1')) ?>" id="notification" data-original-title="" title="">
            Ativar
        </a>
    <?php endif; ?>
<?php endif; ?>
<?php if ($this->isAllowed($this->resource, 'update')): ?>
    <a class="btn btn-warning btn-xs" href="<?php echo $this->url(array('action' => 'update', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
        Editar
    </a>
<?php endif; ?>
<?php if ($this->isAllowed($this->resource, 'senha')): ?>
    <a class="btn btn-warning btn-xs" href="<?php echo $this->url(array('action' => 'senha', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
        Alterar Senha
    </a>
<?php endif; ?>

<?php if ($this->isAllowed($this->resource, 'delete')): ?>
    <a class="btn btn-danger btn-xs confirm" href="<?php echo $this->url(array('action' => 'delete', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
        Excluir
    </a>
<?php endif; ?>
<?php if ($this->isAllowed($this->resource, 'baixa')): ?>
    <?php if (!$row['pago'] AND $row['status'] == 'novo'): ?>
        <a class="btn btn-success btn-xs confirm" href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'baixa', 'id' => $row['id']), 'gerenciador', true) ?>" id="notification" data-original-title="" title="">
            Dar Baixa
        </a>
    <?php endif; ?>
<?php endif; ?>
<?php if ($this->isAllowed($this->resource, 'mavipse')): ?>
    <a <?php echo $row['mavipse'] ? "disabled='true'" : "" ?> class="btn btn-success btn-xs" href="<?php echo $this->url(array('action' => 'mavipse', 'id' => $row['id'])) ?>" id="notification" data-original-title=""  style="margin: 5px;">
        Converter p/ Mavipse
    </a>
<?php endif; ?>
