<html>
<head>
    <title>Informaçoes</title>
    <style>
        .container{padding: 50px}
        .topo{padding-left: 50px; font-size: 18px}
        td{padding: 10px}
        th{min-width: 100px}
        th, tr, td{border: 1px solid black}
    </style>
</head>
<body>
<div class="topo"><a href="javascript:history.back()">Voltar</a> </div>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Marca</th>
            <th>Classe</th>
            <th>Resultado</th>
        </tr>
        </thead>
        <tbody>
            <?php foreach ($this->records as $row): ?>
                <tr>
                    <td><?=$row['nome']?></td>
                    <td><?=$row['telefone']?></td>
                    <td><?=$row['marca']?></td>
                    <td><?=$row['classe']?></td>
                    <?php

                    switch ($row['resultado']) {
                        case '-2':
                            $resultado = "Não concluiu a pesquisa";
                            break;
                        case '-1':
                            $resultado = "Sistema inpi OFF";
                            break;
                        case 0:
                            $resultado = 'Inviável ou não pode ser registrada';
                            break;
                        case "1":
                            $resultado = "Crítica : 52%";
                            break;
                        case "2":
                            $resultado = "Viável : 89%";
                            break;
                        case "3":
                            $resultado = '100%';
                            break;
                        default:
                            $resultado = 'Não concluiu a pesquisa';
                    }
                    ?>
                    <td><?=$resultado?></td>
                </tr>
            <?endforeach; ?>
        </tbody>
    </table>
</div>
</body>
</html>