<html>
<head>
    <title>Emails</title>
    <style>
        .container{padding: 50px}
        .topo{padding-left: 50px; font-size: 18px}
    </style>
</head>
<body>
<div class="topo"><a href="javascript:history.back()">Voltar</a> </div>
<div class="container">
    <?php if(count($this->emails) < 1):?>
        Nenhum resultado encontrado.
    <?php else: ?>
        <?php foreach ($this->emails as $row): ?>
         <?php echo $row['email'].";"; ?>
        <?endforeach; ?>
    <?php endif; ?>
</div>
</body>
</html>