

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="<?php echo $this->baseUrl('static/gerenciador/js/table2Excel.js'); ?>"></script>

<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="<?=$this->url(array('action' => 'list'));?>" class="heading"><?=$this->title?> </a></li> 
     </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">
    <!-- Left Sidebar Start -->
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="row" style="padding-bottom: 20px">
                    <h5 style="text-align: center; color: #b3b3b3;">Filtros de exportação</h5>
                    <div class="col-md-12 col-lg-12">
                        <div class="col-md-6" style="border-right: 1px solid #eee;">
                            <form action="<?php   echo $this->url(array('controller' => $this->resource, 'action' => 'gerar-emails'), "gerenciador", true); ?>">
                                <div class="col-md-2" style="padding-top: 10px">
                                    <span style="font-size: 16px; margin-top: 10px"> <b>Gerar emails</b></span>
                                </div>
                                <div class="col-md-4">
                                    De: <input class="form-control" type="date" name="data_inicio" placeholder="De">
                                </div>
                                <div class="col-md-4">
                                    Até: <input class="form-control" type="date" name="data_fim" placeholder="Até">
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-success" style="margin-top: 20px">Gerar</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form action="<?php   echo $this->url(array('controller' => $this->resource, 'action' => 'gerar-informacoes'), "gerenciador", true); ?>">
                                <div class="col-md-2" style="padding-top: 10px">
                                    <span style="font-size: 16px; margin-top: 10px"> <b>Gerar Informações</b></span>
                                </div>
                                <div class="col-md-4">
                                    De: <input class="form-control" type="date" name="data_inicio" placeholder="De">
                                </div>
                                <div class="col-md-4">
                                    Até: <input class="form-control" type="date" name="data_fim" placeholder="Até">
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-success" style="margin-top: 20px">Gerar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <hr />
                    <h5 style="text-align: center; color: #b3b3b3;">Filtros de listagem</h5>
                    <div class="col-md-12 col-lg-12">
                        <div class="col-md-4" style="border-right: 1px solid #eee;">
                            <div class="col-md-8">
                                <span style="font-size:16px; ">
                                <b>Filtrar por resultado</b></span>
                            </div>
                            <div class="col-md-12">
                              <a href="<?php   echo $this->url(array('controller' => $this->resource, 'resultado' => '2'), "gerenciador", true); ?>"
                               class="btn btn-success">Viável</a>

                               <a href="<?php   echo $this->url(array('controller' => $this->resource, 'resultado' => '1'), "gerenciador", true); ?>"
                               class="btn btn-warning"  style="margin-left:1%">Crítica</a>

                               <a href="<?php   echo $this->url(array('controller' => $this->resource, 'resultado' => '3'), "gerenciador", true); ?>"
                               class="btn btn-danger"  style="margin-left:1%">Inviável</a>

                               <a href="<?php   echo $this->url(array('controller' => $this->resource), "gerenciador", true); ?>"
                               class="btn btn-default"  style="margin-left:1%">Exibir todos</a>
                            </div>
                        </div>
                        <div class="col-md-4" style="border-right: 1px solid #eee;">
                            <form class="form-horizontal"  action="<?php  echo  $this->url(array('controller' => $this->resource, 'nlogo' => '1'), "gerenciador", true); ?>">
                                    <div class="col-md-12" style="font-size:16px; "><b>Filtrar por marcas sem logotipo</b></div>
                                    <div class="col-md-12 ">
                                            <button type="submit" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-filter pull-left"></span> Filtrar
                                            </button>
                                            <a href="<?php   echo $this->url(array('controller' => $this->resource), "gerenciador", true); ?>"
                                                      class="btn btn-default">Exibir todos</a>
                                    </div>
                        </div>
                        <div class="col-md-4" style="display: none">
                            <h4>Converter Lead</h4>
                            <a href="#" class="btn btn-warning" style="margin-left: 10px; font-weight: 500"> Converter em lote   <i class="fa fa-life-ring"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- Row Start -->
        <div class="row">
            <form action="<?php echo $this->url(array("action" => "delete-lote")) ?>" method="post">
                <div class="col-lg-12 col-md-12">
                    <div class="widget">
                        <div class="widget-header" style="height: 60px; ">
                            <a  class="btn btn-sm btn-primary" style=" margin-left: 15px; margin-top:5px" id="export-btn">Exportar emails</a>
                        </div>
                        <div class="widget-body">
                            <div id="dt_example" class="example_alt_pagination table-responsive">
                               
                                <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
                                    <thead>
                                        <tr class="noExport">
                                            <th style="width:3%" >

                                            </th>
                                            <?php foreach ($this->grid['columns'] as $col => $inf): ?>
                                            <th style="width:8%">
                                                    <?php  echo $inf['label'];  ?>
                                                </th>
                                            <?php endforeach; ?>

                                            <th style="width:10%" >
                                                Ações
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($this->grid['records'] as $row): ?>
                                            <tr  class="gradeX <?php if (isset($row['ativo']) AND ! $row['ativo']): ?>warning <?php echo $row['ativo']; ?><?php endif ?>">
                                                <td class="">
                                                    <input type="checkbox" name="selecao[<?php echo $row['id']; ?>]">
                                                </td>
                                                <?php foreach ($this->grid['columns'] as $col => $inf): ?>
                                                <td class="<? echo $inf['class']; ?>">
                                                        <?php if ($inf['type'] == 'youtube'): ?>
                                                            <iframe width="<?php echo $inf['config']['width'] ? $inf['config']['width'] : '420' ?>" height="<? echo $inf['config']['height'] ? $inf['config']['height'] : '315' ?>" src="//www.youtube.com/embed/<? echo $row[$inf['config']['col'] ? $inf['config']['col'] : 'url']; ?>" frameborder="0" allowfullscreen></iframe>
                                                        <?php elseif ($inf['type'] == 'image'): ?>
                                                            <img src="<?php echo $this->baseUrl($inf['config']['path'] . ($row[$col] ? $row[$col] : $row['file'])); ?>">
                                                        <?php elseif ($inf['type'] == 'boolean'): ?>
                                                            <?php echo $row[$col] ? 'Sim' : 'Não'; ?>
                                                        <?php elseif ($inf['type'] == 'resultado'): ?>
                                                            <?php echo $this->exibePorcentagem($row[$col]); ?>
                                                        <?php elseif ($inf['type'] == 'date' AND $row[$col]): ?>
                                                            <?php
                                                            $date = new Zend_Date($row[$col]);
                                                            echo $date->get($inf['config']['format'] ? $inf['config']['format'] : 'dd/MM/yyyy');
                                                            ?>
                                                        <?php else: ?>
                                                            <?php  echo $row[$col]; ?>
                                                        <?php endif; ?>
                                                    </td>
                                                <?php endforeach; ?>

                                                    <td class="">
                                                    <?php if ($this->isAllowed($this->resource, 'view')): ?>
                                                        <a class="btn btn-info btn-xs" href="<?php echo $this->url(array('action' => 'view', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
                                                            Visualizar
                                                        </a>
                                                    <?php endif; ?>   
                                                    <?php if ($this->isAllowed($this->resource, 'active')): ?>
                                                        <?php if ($row['active']): ?>
                                                            <a class="btn btn-danger btn-xs" href="<?php echo $this->url(array('action' => 'active', 'id' => $row['id'], 'active' => '0')) ?>" id="notification" data-original-title="" title="">
                                                                Inativar
                                                            </a>
                                                        <?php else: ?>
                                                            <a class="btn btn-success btn-xs" href="<?php echo $this->url(array('action' => 'active', 'id' => $row['id'], 'active' => '1')) ?>" id="notification" data-original-title="" title="">
                                                                Ativar
                                                            </a>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                    <?php if ($this->isAllowed($this->resource, 'update')): ?>
                                                        <a class="btn btn-warning btn-xs" href="<?php echo $this->url(array('action' => 'update', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
                                                            Editar
                                                        </a>
                                                    <?php endif; ?>
                                                    <?php if ($this->isAllowed($this->resource, 'senha')): ?>
                                                        <a class="btn btn-warning btn-xs" href="<?php echo $this->url(array('action' => 'senha', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
                                                            Alterar Senha
                                                        </a>
                                                    <?php endif; ?>

                                                    <?php if ($this->isAllowed($this->resource, 'delete')): ?>
                                                        <a class="btn btn-danger btn-xs confirm" href="<?php echo $this->url(array('action' => 'delete', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
                                                            Excluir
                                                        </a>
                                                    <?php endif; ?>
                                                    <?php if ($this->isAllowed($this->resource, 'baixa')): ?>
                                                        <?php if (!$row['pago'] AND $row['status'] == 'novo'): ?>
                                                            <a class="btn btn-success btn-xs confirm" href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'baixa', 'id' => $row['id']), 'gerenciador', true) ?>" id="notification" data-original-title="" title="">
                                                                Dar Baixa
                                                            </a>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                    <?php if ($this->isAllowed($this->resource, 'mavipse')): ?>
                                                            <a <?php echo $row['mavipse'] ? "disabled='true'" : "" ?> class="btn btn-success btn-xs" href="<?php echo $this->url(array('action' => 'mavipse', 'id' => $row['id'])) ?>" id="notification" data-original-title=""  style="margin: 5px;">
                                                               Converter p/ Mavipse
                                                            </a>
                                                    <?php endif; ?>

                                                    </td>
                                            </tr>
                                        <?php endforeach; ?>
                                    </tbody>
                                </table>
                                <div class="clearfix">
                                </div>
                            </div>
                            <input type="submit" class="btn btn-danger" value="Excluir Selecionados">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Row End -->
    </div>
    <!-- Left Sidebar End -->
</div>
<!-- Dashboard Wrapper End -->

      
<script type="text/javascript">

    $(document).ready(function () {
    //$.fn.dataTable.TableTools.defaults.aButtons = [ "copy", "csv", "xls" ];
    $('#data-table').dataTable({

            "bPaginate": true,
            "pageLength": 30,
            "info": true,
            "order": [[ 1, "desc" ]],
            "language": {
            "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/Portuguese-Brasil.json"
            },
            "processing": true,
            "serverSide": true,
            "ajax": "<?php echo $this->url(array('action' => 'datatable')); ?>",
            "columns": [
            {
                    "class": "excluir noExport",
                    "orderable": false,
                    "data":'excluir'
            },
                        
            <?php $count = 0; foreach ($this->grid['columns'] as $col => $inf): ?>
                    
                {
                 "data": "<?php  echo $col; ?>",
                <?php if($count != 3): ?> 
                 "class": "noExport",  
                    "orderable": true
                 <?php endif; ?>  
               },
                                   
            <?php $count++; endforeach; ?>
            {
            "class": "acoes noExport",
                    "orderable": false,
                    "data":'acoes'
            },
            ],
    /*dom: 'T<"clear">lfrtip',
     tableTools: {
     "sSwfPath": "<?php echo $this->baseUrl("static/") ?>js/data-tables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
     }*/
    });
    });


$("#export-btn").click(function(){
  $("#data-table").table2excel({
    exclude: ".noExport",
    name: "Worksheet Name",
    filename: "emails-pesquisa" //do not include extension
  });

});



</script>
