<header class="Header Header--login">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
        <?php echo $this->render('partial/navbar-home.phtml'); ?>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
            <section class="Login-box">
                <div class="Register-boxContent">
                    <div class="row">
                        <div class="col-xs-12"><img src="<?php echo $this->baseUrl('static/default/images/confirmation.png') ?>" alt="Pagamento confiramdo" class="img-responsive center-block"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-8 col-md-offset-2">
                            <h1 class="Page-title Page-title--small text-center">Pedido cancelado por não finalizar o processo de pagamento!</h1>
                        </div>
                    </div>
                    <div class="row u-mt35">
                        <div class="col-xs-12 col-md-5 col-md-offset-1">
                            <form action="<?php echo $this->url(array(), 'default', true) ?>" method="post">
                                <button class="Button Button--secondary Button--full u-xs-mb10">Fazer nova pesquisa</button>
                            </form>
                        </div>
                        <div class="col-xs-12 col-md-5">
                            <form action="<?php echo $this->url(array('controller'=>'account'), 'default', true) ?>"  method="post">
                            <button class="Button Button--full">Ver minha conta</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>