<header class="Header Header--register">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                <h3 class="Header-title">A forma fácil de registrar uma marca.</h3>
            </div>
        </div>
        <div class="row">
            <ul class="Header-lead list-unstyled text-center">
                <li class="Header-leadItem col-xs-9 col-xs-offset-3 col-sm-2 col-sm-offset-3 col-lg-2 col-lg-offset-3"><span class="Header-leadText Icon Icon--magnifierBefore">Pesquise</span></li>
                <li class="Header-leadItem col-xs-9 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-lg-2"><span class="Header-leadText Icon Icon--flagBefore">Registre</span></li>
                <li class="Header-leadItem col-xs-9 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-lg-2"><span class="Header-leadText Icon Icon--boardBefore">Acompanhe</span></li>
            </ul>
        </div>
    </div>
</header>
<form action="" class="Register" id="form_register" method="post">
    
    <div id="step3" class="container">
        <div class="row">
          <div class="col-xs-12">
            <section class="Register-box u-mb45">
              <div class="Register-boxContent col-lg-12">
                <header class="Register-header">
                  <div class="row">
                    <div class="col-xs-12 col-md-6 col-md-offset-3">
                      
                    </div>
                  </div>
                </header>
                <div class="row">
                  <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <h1 class="Page-title Page-title--small text-center">Realizando pagamento</h1>
                  </div>
                </div>
                <div class="row u-mb45">
                  <div class="col-xs-12 col-md-12 ">
                    <div class="InputContainer InputContainer--payment ">
                      
                      <label for="cartao" class="Input-label">
                        <div class="Input-check"></div><span class="Input-labelText">Cartão de crédito</span>
                        <div class="PaymentIcon-container"><img src="<?php echo $this->baseUrl('static/default/images/visa.png')?>" alt="Visa" class="PaymentIcon"><img src="<?php echo $this->baseUrl('static/default/images/master.png')?>" alt="MasterCard" class="PaymentIcon"></div>
                      </label>
                    </div>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col-xs-12 col-md-4 col-md-offset-4">
                    <button type="submit" class="Button Button--full Next-button text-center">Realizar pagamento</button>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>

</form>

