<header class="Header Header--login">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
        <?php echo $this->render('partial/navbar-home.phtml'); ?>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
            <section class="Login-box">
                <div class="Register-boxContent">
                    <div class="row">
                        <div class="col-xs-12"><img src="<?php echo $this->baseUrl('static/default/images/confirmation.png') ?>" alt="Pagamento confiramdo" class="img-responsive center-block"></div>
                    </div>
                    <?php if($this->user['cnpj']):?>
                    <div class="row">
                        <div class="col-xs-12 col-md-8 col-md-offset-2">
                            <h1 class="Page-title Page-title--small text-center">Pedido realizado com sucesso. Em breve você receberá um e-mail com mais detalhes.</h1>
                        </div>
                    </div>
                    <div class="row u-mt35">
                        <div class="col-xs-12 col-md-5 col-md-offset-1">
                            <form action="<?php echo $this->url(array(), 'precos', true) ?>" method="post">
                                <button class="Button Button--secondary Button--full u-xs-mb10">Contratar Outro Serviços</button>
                            </form>
                        </div>
                        <div class="col-xs-12 col-md-5">
                            <form action="<?php echo $this->url(array('controller' => 'account'), 'default', true) ?>"  method="post">
                                <button class="Button Button--full">Ver minha conta</button>
                            </form>
                        </div>
                    </div>
                    <?php else:?>
                    <div class="row">
                        <div class="col-xs-12 col-md-8 col-md-offset-2">
                            <h1 class="Page-title Page-title--small text-center">Pedido realizado com sucesso, porém o seu cadastro encontra-se incompleto. Clique no botão abaixo e atualize suas informações para prosseguirmos com o seu serviço.</h1>
                        </div>
                    </div>
                    <div class="row u-mt35">
                        
                        <div class="col-md-offset-3 col-xs-12 col-md-6">
                            <form action="<?php echo $this->url(array('controller' => 'account','action'=>'edit'), 'default', true) ?>"  method="get">
                                <button class="Button Button--full">Completar cadastro</button>
                            </form>
                        </div>
                    </div>
                    <?php endif;?>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Google Code for Lead Conversion Page -->
<!--<script type="text/javascript">!-->
<!--/* <![CDATA[ */
/*var google_conversion_id = 868965941;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "b4gxCMnj22sQtbytngM";
var google_remarketing_only = false;*/
/* ]]> */-->
<!--</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>-->
<!--<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt=""
src="//www.googleadservices.com/pagead/conversion/868965941/?label=b4gxCMnj22sQtbytngM&a
mp;guid=ON&amp;script=0"/>
</div>
</noscript>-->