
<header class="Header Header--order Header--inside" >
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
    </div>
</header>
<div class="container">
    <form action="<?php echo $this->url(array('controller' => 'order', 'action' => 'step2'), 'default', true); ?>"
          method="post" id="form-mavip">

    <div class="row"  style="margin-top:-120px; !important;">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <div class="Content Content--order"  style="padding-bottom: 50px;">
                <header class="Content-header Content-header--order col-xs-12">
                    <ul class="Breadcrumbs list-inline">
                        <li class="Breadcrumbs-item" style="margin-right: 5px;"><a
                                    href="<?php echo $this->url(array('controller' => 'index'), 'default', true) ?>"
                                    class="Breadcrumbs-link">Home</a></li>
                        <li class="Breadcrumbs-item" style="width: 105px;"><a
                                    href="<?php echo $this->url(array('controller' => 'account'), 'default', true) ?>"
                                    class="Breadcrumbs-link">Minha conta</a></li>
                        <li class="Breadcrumbs-item"><a href="javascript:" class="Breadcrumbs-link active">Contratar</a>
                        </li>
                        </li>
                    </ul>
                </header>

                <div class="Order">
                    <main class="Order-content col-xs-12" >
                        <div class="row">
                            <div class="col-xs-12" >
                                <ul style="list-style-type: none; ">
                                        <li>
                                            <div class="col-xs-12">
                                                <div style="padding-top: 30px;">
                                                    <input type="hidden" name="nservico" value="<?=$this->servico?>">
                                                    <div class="row" style="padding-bottom: 30px">
                                                        <?php if($this->servico != 22):?>
                                                            <div class="col-xs-12 col-lg-6" style="padding:5px;">
                                                                    <label style="font-size: 14px" for="marca">Informe sua marca</label>
                                                                    <?php if( $this->servico != 2) :?> <span style="color: red">*</span> <?php endif; ?>
                                                                    <input type="text" name="marca" id="marca"
                                                                           placeholder="Digite aqui o nome da marca"
                                                                           class="Form-input form-control" <?= $this->servico != 2 ? 'required="required"' : ''?>>

                                                            </div>
                                                         <?php endif; ?>

                                                        <?php if($this->servico != 1 && $this->servico != 22):?>
                                                                <div class="col-xs-12 col-lg-6" style="padding:5px;">
                                                                        <label for="processo">Nº de processo (Opcional)</label>
                                                                        <input type="text" name="processo" id="processo"
                                                                               placeholder="Digite aqui o número do processo"
                                                                               class="Form-input form-control">
                                                                        <span id="erros-processo" style="color: red"></span>

                                                                </div>
                                                            <?php endif; ?>
                                                        <div class="col-xs-12 col-lg-12" style="padding:5px;">
                                                            <label for="processo">Observação</label>
                                                            <input type="text" class="Form-input form-control" name="observacao" placeholder="Se necessário, informe uma observação">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                </ul>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12 text-center">
                                        <button type="submit" class="add-urgencia" id="form-compra" style="background-color: #9b58b6 !important;">
                                              Continuar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
           </main>
        </div>
    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script>
    $('#form-mavip').submit( function (event) {
        var processo = $('#processo').val();
        $('#erros-processo').text('');
        if(processo.length > 10){
            event.preventDefault();
            $('#erros-processo').append('- Número do processo não pode ser maior que 10 caracteres.');
            $('#erros-processo').focus();
        }
    });
</script>