<?php if (APPLICATION_ENV == "production"): ?>
    <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js" />
<?php else: ?>
    <script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js" />
<?php endif; ?>



</script> 
<script>
    var checkoutCode = '<?php echo $this->token; ?>';
    isOpenLightbox = PagSeguroLightbox({
        code: checkoutCode
    }, {
        success: function (transactionCode) {
            location.href = "<?php echo $this->url(array('controller' => 'order', 'action' => 'sucesso'), 'default', true) ?>?transction=" + transactionCode
        },
        abort: function () {
            location.href = "<?php echo $this->url(array('controller' => 'order', 'action' => 'cancelado', 'code' => sha1($this->pedido['id'])), 'default', true) ?>"
        }
    });
</script>    

<header class="Header Header--register">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
        <?php echo $this->render('partial/navbar-home.phtml'); ?>
    </div>
</header>
<form action="" class="Register" id="form_register" method="post">

    <div id="step3" class="container">
        <div class="row">
            <div class="col-xs-12">
                <section class="Register-box u-mb45">
                    <div class="Register-boxContent col-lg-12">
                        <header class="Register-header">
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-md-offset-3">

                                </div>
                            </div>
                        </header>
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-md-offset-3">
                                <h1 class="Page-title Page-title--small text-center">Realizando pagamento</h1>
                            </div>
                        </div>
                        <div class="row u-mb45">
                            <div class="col-xs-12 col-md-12 ">
                                <div class="InputContainer InputContainer--payment ">

                                    <label for="cartao" class="Input-label">
                                        <div class="Input-check"></div><span class="Input-labelText">Seu pagamento está sendo processado... aguarde!</span>

                                    </label>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>

</form>

