<header class="Header Header--order Header--inside" >
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
    </div>
</header>
<div class="container">
        <div class="row"  style="margin-top:-120px; !important;">
            <div class="col-xs-12 col-lg-12">
                <div class="Content Content--order" style="margin-bottom: 0 !important">
                    <header class="Content-header Content-header--order col-xs-12" id="header">
                        <ul class="Breadcrumbs list-inline">
                            <li class="Breadcrumbs-item" style="margin-right: 5px;"><a
                                    href="<?php echo $this->url(array('controller' => 'index'), 'default', true) ?>"
                                    class="Breadcrumbs-link">Home</a></li>
                            <li class="Breadcrumbs-item" style="width: 105px;"><a
                                    href="<?php echo $this->url(array('controller' => 'account'), 'default', true) ?>"
                                    class="Breadcrumbs-link">Minha conta</a></li>
                            <li class="Breadcrumbs-item"><a href="javascript:" class="Breadcrumbs-link active">Contratar</a>
                            </li>
                            </li>
                        </ul>
                    </header>
                    <div class="col-xs-12">
                        <h1 class="Page-title">Contratar</h1>
                    </div>
                    <div class="Order">
                        <header class="Order-header col-xs-12">
                            <h2 class="Order-title pull-left">Item</h2>
                            <h2 class="Order-title pull-right">Valor</h2>
                        </header>
                        <main class="Order-content col-xs-12" id="cart">
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="Order-items list-unstyled">
                                        <?php foreach ($this->servicos as $servico => $value): ?>
                                            <?php if($servico == 22) continue; ?>
                                            <li class="Order-item">
                                                <div class="col-lg-12">
                                                    <div class="Order-itemContent">

                                                        <div class="row">

                                                            <div class="col-lg-4 col-xs-12">
                                                                <p class="Order-subtitle">
                                                                    <span class="glyphicon glyphicon-ok" style="color: green; padding-right: 5px"></span> <span  style="font-size: 20px">  <?=$value['nome'];?></span>
                                                                </p>
                                                            </div>

                                                            <div class="col-lg-3 col-xs-12">
                                                                <p class="Order-subtitle" style="font-size: 20px">Marca </p>
                                                                <span style="font-family: Arial; font-weight: 300"><?php echo $value['marca'] ?></span>
                                                            </div>

                                                            <div class="col-lg-2 col-xs-12">
                                                                <?php if($value['processo']): ?>
                                                                    <p class="Order-subtitle" style="font-size: 20px">Nº </p>
                                                                    <span style="font-family: Arial; font-weight: 500"><?= $value['processo'] ?></span>
                                                                <?php endif; ?>
                                                            </div>


                                                            <div class="col-lg-3 col-xs-12" style="text-align: right">
                                                                <div class="app-flex-price">
                                                                    <p class="Order-price" style="font-size: 18px;"><?php echo $this->exibeValor($value['valor']); ?></p>
                                                                    <a href="<?php echo $this->url(array('action' => 'del-cart', 'service' => $servico)) ?>"
                                                                   class="remove-button">Remover</a>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="row">
                                                            
                                                            <div class="col-lg-12 col-xs-12">
                                                                <br>
                                                                <form class="app-flex-price"
                                                                      action="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-urgencia'), 'default', true); ?>"
                                                                      method="post">
                                                                    <input type="hidden" name="serv" value="<?=$servico?>">

                                                                    <div class="col-lg-3 col-lg-offset-6" style="padding-top: 10px">
                                                                        <div class="text-urgencia Order-subtitle app-flex-price">
                                                                    <?php if($value['urgencia']):?>
                                                                        <span class="glyphicon glyphicon-ok" style="color: green; padding-right: 5px"></span>
                                                                    <?php endif; ?>
                                                                        Pedido de Urgência
                                                                        </div>
                                                                        <div class="col-lg-12 col-xs-12 horas-uteis">
                                                                            <span><b>(Serviço em até 48 horas úteis)</b></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3" style="text-align: right">
                                                                        <div class="app-flex-price">
                                                                            <p class="Order-price val-urgencia"><?php echo $this->exibeValor($this->urgencia['valor']); ?></p>
                                                                            <?php if($value['urgencia']): ?>
                                                                                <button  class="remove-button  remove-bt" type="submit">
                                                                                    Remover
                                                                                </button>
                                                                            <?php else: ?>
                                                                                <button type="submit"class="add-urgencia">
                                                                                    <i class="fa fa-check" style="padding-right: 5px;"></i>Contratar
                                                                                </button>
                                                                            <?php endif; ?>
                                                                        </div>
                                                                    </div>

                                                                </form>
                                                            </div>
                                                        </div>

                                                </div>
                                            </li>
                                        <?php endforeach; ?>
                                    </ul>

                                        <div class="Subtotal">
                                            <span class="Subtotal-text">Total</span>
                                            <span class="Subtotal-value"><?php echo $this->exibeValor($this->total); ?></span><br>
                                            <br><br>
                                        </div>


                                    <div class="col-lg-3 col-xs-7 contrato col-lg-offset-1">
                                        <form class="app-form-flex" action="<?php echo $this->url(array('controller' => 'order', 'action' => 'envia-contrato'), 'default', true); ?>"
                                              method="post" style="display: inline">
                                            <input type="hidden" name="cod" value="<?php echo $servico; ?>">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fa fa-envelope" style="margin-right: 5px;" ></i>
                                                Receber Contrato
                                            </button>
                                        </form>
                                    </div>


                                    </div>


                                    <div class="col-lg-12 col-xs-12" style="padding-bottom: 30px; text-transform: uppercase">
                                        <div class="col-lg-4 col-xs-12">
                                            <a href="#planos" class="btn btn-success btn-block mb-10">
                                                <i class="fa fa-plus" style="margin-right: 20px;" ></i> Contratar Outro Serviço
                                            </a>
                                        </div>
                                        <div class="col-lg-8 col-xs-12">
                                            <a href="<?php echo $this->url(array('controller' => 'order', 'action' => 'step3'), 'default'); ?>"
                                                    class="btn btn-primary btn-block" id="form-compra" style="background-color: #9b58b6 !important;  text-transform: uppercase">
                                                <i class="fa fa-shopping-cart" style="margin-right: 20px;" ></i> Ir Para Carrinho
                                             </a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                    </div>
                    </main>


                </div>

    <footer class="col-xs-12">
        <div class="col-xs-12 col-lg-12" id="planos">
            <h2 class="tit-box-2">Planos Mavip</h2>
            <table class="table">
                <tr>
                    <td class="col-xs-8 col-lg-8 td-cinza">Mavip One</td>
                    <td class="col-xs-4 col-lg-4 td-roxo"><?= $this->exibeValor($this->mavipOne['valor']);?></td>
                    <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar"  href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 24), 'default', true); ?>">Contratar</a></td>
                </tr>
                <tr>
                    <td class="col-xs-8 col-lg-8 td-cinza">Mavip One Plus</td>
                    <td class="col-xs-4 col-lg-4 td-roxo"><?= $this->exibeValor($this->mavipOnePlus['valor']);?></td>
                    <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar"  href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 21), 'default', true); ?>">Contratar</a></td>
                </tr>
                <tr>
                    <td class="col-xs-8 col-lg-8 td-cinza">Mavip Select</td>
                    <td class="col-xs-4 col-lg-4 td-roxo"><?= $this->exibeValor($this->mavipSelect['valor']);?></td>
                    <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar" href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 25), 'default', true); ?>">Contratar</a></td>
                </tr>
                <tr>
                    <td class="col-xs-8 col-lg-8 td-cinza">Mavip Prime</td>
                    <td class="col-xs-4 col-lg-4 td-roxo"><?= $this->exibeValor($this->mavipPrime['valor']);?></td>
                    <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar" href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 26), 'default', true); ?>">Contratar</a></td>
                </tr>
            </table>
        </div>

        <div class="box__servicos-basicos col-xs-12 col-lg-12">
            <h2 class="tit-box-2">Serviços Básicos</h2>
            <table class="table">
                <tr>
                    <td class="col-xs-8 col-lg-8 td-cinza">Pedido de Registro</td>
                    <td class="col-xs-4 col-lg-4 td-roxo"><?= $this->exibeValor($this->pedidoRegistro['valor']);?></td>
                    <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar"  href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 1), 'default', true); ?>">Contratar</a></td>
                </tr>
                <tr>
                    <td class="col-xs-8 col-lg-8 td-cinza">Acompanhamento Anual</td>
                    <td class="col-xs-4 col-lg-4 td-roxo"><?= $this->exibeValor($this->acompanhamento['valor']);?></td>
                    <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar" href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 2), 'default', true); ?>">Contratar</a></td>
                </tr>
                <tr>
                    <td class="col-xs-8 col-lg-8 td-cinza">Registro Online (Prazo Ordinário)</td>
                    <td class="col-xs-4 col-lg-4 td-roxo"><?= $this->exibeValor($this->registroOnline['valor']);?></td>
                    <td class="col-xs-12 col-lg-2 td-laranja">
                        <a class="btn-link-contratar" href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 3), 'default', true); ?>">Contratar</a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="box__servicos-avancados col-xs-12 col-lg-12">
            <h2 class="tit-box-2">Serviços Avançados <span>(Exigidos pelo INPI)</span></h2>
            <table class="table">
                <tr>
                    <td class="col-xs-7 col-lg-8 td-cinza">Registro Online <span>(Prazo Extraordinário)</span></td>
                    <td class="col-xs-5 col-lg-4 td-roxo"><?= $this->exibeValor($this->rOnlineExtraordinario['valor']);?></td>
                    <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar" href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 4), 'default', true); ?>">Contratar</a></td>
                </tr>
                <tr>
                    <td class="col-xs-7 col-lg-8 td-cinza">Renovação Registro Online (Prazo Ordinário)</td>
                    <td class="col-xs-5 col-lg-4 td-roxo"><?= $this->exibeValor($this->renovacaoRegistroOrdinario['valor']);?></td>
                    <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar"  href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 8), 'default', true); ?>">Contratar</a></td>
                </tr>
                <tr>
                    <td class="col-xs-7 col-lg-8 td-cinza">Renovação Registro Online (Prazo Extraordinário)</td>
                    <td class="col-xs-5 col-lg-4 td-roxo"><?= $this->exibeValor($this->renovacaoRegistroExtraOrdinario['valor']);?></td>
                    <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar" href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 9), 'default', true); ?>">Contratar</a></td>
                </tr>
                <tr>
                    <td style="background: #fff">&nbsp;</td>
                </tr>
                <tr>
                    <td class="col-xs-7 col-lg-8 td-cinza">Manifestação Oposição</td>
                    <td class="col-xs-5 col-lg-4 td-roxo"><?php  echo  $this->exibeValor($this->manif_oposicao['valor']) != "R$ 0,00" ? $this->exibeValor($this->manif_oposicao['valor']) : "a Combinar";    ?> </td>
                    <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar"  href="mailto:atendimento@mavip.com.br">Contratar</a></td>
                </tr>
                <tr>
                    <td class="col-xs-7 col-lg-8 td-cinza">Recurso Administrativo</td>
                    <td class="col-xs-5 col-lg-4 td-roxo">a Combinar</td>
                    <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar" href="mailto:atendimento@mavip.com.br">Contratar</a></td>
                </tr>
            </table>
        </div>
    </footer>
</div>
</div>
</div>
</div>
</div>
<script type="template" id="orderItemTemplate">
    <li class="Order-item">
        <div class="col-xs-12">
            <div class="Order-itemContent">
                <p class="Order-description pull-left">{{description}}</p>
                <a href="<?php echo $this->url(array('action' => 'del-cart', 'acompanhamento' => true)) ?>"
                   class="remove-button">Remover</a>
                <p class="Order-price pull-right">{{price}}</p>
            </div>
        </div>
    </li>
</script>

<!--
<script>
    valorRegistro = <?php /*echo $this->exibeLimpaValor($this->servico['valor']); */ ?>;
    valorGru = <?php /*echo $this->exibeLimpaValor($gru ? $gru : 0); */ ?>;
    valorDesconto = <?php /*echo $this->desconto ? $this->exibeLimpaValor($this->desconto) : 0; */ ?>;

</script> -->
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

<style>
    .app-flex{
        display: flex;
        align-items: center;
    }
    .app-btn{
        margin-left: 10px;
        text-align: center;
    }
    .app-label{
        margin-right: 10px;
    }
    .finish{
        padding-left: 30px;
    }
    input[type=checkbox]{
        height: 20px;
        width: 20px;
    }

    .bl-dialog{
        width: 60% !important;
        left: 38% !important;
    }

    .bl-header h2{
        font-size: 16px;
        line-height: 2em;
        text-align: left;
        font-style: normal;
    }

    .add-urgencia{
        padding: 10px 21px !important;
        font-size: 13px;
        text-transform: none !important;
    }
    .area-add{
        margin: 0;
        padding: 0;
    }
    .button-pdd{
        font-size: 18px;
        color: #9b58b6;
        font-weight: 700;
    }
    .text-urgencia{
        font-size: 16px;
        text-align: left;
        font-size: 16px;
        margin-top: 10px;
    }
    .formUrgencia{
        width: 100%;
    }
    .val-urgencia{
        text-align: right;
        font-size: 18px;
        padding-top: 5px;
        margin-bottom: 0px;
    }

    .remove-bt{
        width: 50%;
        padding-left: 2px;
        padding-right: 2px;
        text-transform: none !important;
        float: left;
    }
    
    .valor-contratar{
        font-size: 18px;
        color: #e67d21;
        margin: 0 0 10px;
        font-weight: 700;
    }
    
    .horas-uteis{
        margin-top: 10px;
        color: slategray;
        padding: 0;
    }
    
    /*@media (min-width: 769px) and (max-width: 1269px) {*/
        
        
    /*}*/
    
    @media only screen and (min-width: 800px) and (max-width: 1280px){
        .horas-uteis{
            color: slategray;
            padding: 0;
        }
        
    }
    @media (max-width: 768px){
        .button-pdd{
            font-size: 16px !important;
            color: #9b58b6;
        }
        .contrato{
            margin-bottom: 20px !important;
        }
        .add-urgencia{
                margin: 10px 0 30px 0;
                display: block;
        }
        .horas-uteis{
            margin-right: 0px;
            color: slategray;
        }
        .text-urgencia{
            float: left;
            position: relative;
            min-height: 1px;
            margin-top: 1px;
        }
        .Subtotal-value{
            font-size: 18px !important;
        }
    }
</style>