
<header class="Header Header--order Header--inside" >
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
    </div>
</header>
<div class="container">
    <div class="row"  style="margin-top:-120px; !important;">
        <div class="col-xs-12 col-lg-12">
            <div class="Content Content--order" style="margin-bottom: 100px  !important">
                <header class="Content-header Content-header--order col-xs-12" id="header">
                    <ul class="Breadcrumbs list-inline">
                        <li class="Breadcrumbs-item" style="margin-right: 5px;"><a
                                    href="<?php echo $this->url(array('controller' => 'index'), 'default', true) ?>"
                                    class="Breadcrumbs-link">Home</a></li>
                        <li class="Breadcrumbs-item" style="width: 105px;"><a
                                    href="<?php echo $this->url(array('controller' => 'account'), 'default', true) ?>"
                                    class="Breadcrumbs-link">Minha conta</a></li>
                        <li class="Breadcrumbs-item"><a href="javascript:" class="Breadcrumbs-link active">Contratar</a></li>
                    </ul>
                </header>
                <div class="col-xs-12">
                    <h1 class="Page-title">Contratar</h1>
                </div>
                <div class="Order">
                    <header class="Order-header col-xs-12">
                        <h2 class="Order-title pull-left">Item</h2>
                        <h2 class="Order-title pull-right">Valor</h2>
                    </header>
                    <main class="Order-content col-xs-12" id="cart">
                        <div class="row" style="padding-bottom: 25px;">
                            <div class="col-xs-12">
                                <ul class="Order-items list-unstyled">
                                    <?php $contador = 1; ?>
                                    <?php foreach ($this->servicos as $servico => $value): ?>
                                        <li class="Order-item">
                                            <span style="padding-top: 20px; font-size: 10px; color: #9b58b6; position: absolute"><?php echo $contador; ?></span>
                                            <div class="col-xs-12">
                                                <div class="Order-itemContent">
                                                    <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
                                                        <p class="Order-subtitle">
                                                            <span  style="font-size: 20px"><?=$value['nome'];?></span>

                                                        <?php if($value['urgencia']): ?>
                                                            + PEDIDO DE URGÊNCIA
                                                        <?php endif; ?>
                                                        </p>
                                                    </div>

                                                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                                        <?php  if($value['urgencia']): $value['valor']  +=  $this->urgenciaValor; endif; ?>
                                                        <p class="Order-price pull-right" style="font-size: 18px;"><?php echo $this->exibeValor($value['valor']); ?></p>
                                                    </div>

                                                    <div class="description">
                                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                            <span style="font-size: 14px"><?php echo $value['marca'] ?></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <?php $contador++; ?>
                                        <?php endforeach; ?>
                                </ul>
                                <div class="row" style="border-bottom: 1px solid #d9d9d9; padding: 10px 20px 10px 10px;">
                                        <div class="col-xs-12">
                                            <div class="qtd-itens"><?=count($this->servicos)." item(s)"?></div>
                                        </div>
                                    <div class="Subtotal" ><span class="Subtotal-text" style="font-size: 14px !important;">Subtotal:</span><span
                                                class="Subtotal-value" style="font-size: 14px !important;"><?php echo $this->exibeValor($this->total); ?></span>
                                    </div>
                                </div>
                                <?php if(!$this->desconto): ?>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-2 col-lg-offset-6 col-md-12 col-sm-12" style="padding-top:20px">
                                        <label class="app-label">Cupom de desconto:</label>
                                    </div>
                                </div>
                                <?php endif; ?>

                                    <div class="row">
                                            <div class="col-xs-12 col-lg-5 col-lg-offset-4 col-md-12 col-sm-12">
                                                <?php if($this->desconto): ?>
                                                <div class="form-group app-label" style="float:right; padding-top: 10px;">
                                                    <span><b>Desconto de R$ <?=$this->desconto?> aplicado.</b></span>
                                                </div>
                                                <?php else: ?>
                                                    <form action="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cupom'), 'default', true); ?>"
                                                      method="post" style="float: right">
                                                    <div class="form-group app-flex app-flex--desconto">
                                                        <div class="input-group app-flex">
                                                            <input type="text" class="cupom" name="cupom">
                                                            <button type="submit" class="btn btn-default cupom">
                                                                Aplicar desconto
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            <?php endif; ?>
                                        </div>
                                        <div class="col-xs-12 col-lg-3 col-md-12 col-sm-12" style="padding: 5px">
                                            <div class="Subtotal"><span class="Subtotal-text">Total:</span>
                                                <span class="Subtotal-value"><?= $this->exibeValor($this->total - $this->desconto); ?></span>
                                                <input type="checkbox" value="1" id="termos-checked" style="display: none" /> <br>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row text-center" style="padding-top: 10px;">
                                        <div class="col-lg-12 col-xs-12">

                                            <div class="col-lg-3  col-xs-4">
                                                <a href="<?php echo $this->url(array('controller' => 'order', 'action' => 'step2'), 'default', true); ?>" class="btn btn-default btn-block mb-10">Voltar</a>
                                            </div>

                                            <div class="col-lg-9 col-xs-12">
                                                <form action="<?php echo $this->url(array('controller' => 'order', 'action' => 'checkout'), 'default', true); ?>"
                                                      method="post" id="form-mavip">
                                                    <button type="submit"
                                                            class="btn btn-primary btn-block" id="form-compra">
                                                        <i class="fa fa-shopping-cart" style="margin-right: 20px;" ></i> Aceitar e Finalizar Compra
                                                    </button>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .app-flex{
        display: flex;
        align-items: center;
        line-height: 1.5;
        font-size: 10px;
    }
    .app-btn{
        margin-left: 10px;
        text-align: center;
    }
    .app-label{
        margin-right: 10px;
        font-size: 12px;
    }
    .finish{
        padding-left: 30px;
    }
    input.cupom{
        height: 25px;
        width: 110px !important;
        font-size: 12px;
    }
    button.cupom{
        height: 25px;
        font-size: 11px;
        line-height: 0;
    }
    button#form-compra{
        background-color: #9b58b6 !important;
        text-transform: uppercase;
    }
    .qtd-itens{
        padding-left: 25px;
        padding-bottom: 20px;
        color: #9b58b6;
        font-weight: 400;
    }
    @media (max-width: 768px){
        .Subtotal-value{
            font-size: 18px !important;
        }
    }

</style>