<!-- Sub Nav End -->
<div class="sub-nav">
    <ul>
        <li><a href="" class="heading">Dashboard</a></li>
    </ul> 
</div>
<!-- Sub Nav End -->

<div class="dashboard-wrapper">
    <?php if ($this->isAllowed('painel', 'rendimento')): ?>
        <?php
        $rendimentosModel = new Application_Model_Rendimento();
        $rendimentos = $rendimentosModel->getAllByParceiro($this->usuario->id);
        ?>
        <ul class="chats">
            <li class="">
                <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name" data-original-title="" title="">
                        URL de indicação
                    </a>

                    <span class="body">
                        <a href="<?php echo $this->serverUrl() . $this->baseUrl() . '?hp=' . sha1($this->usuario->id); ?>"><?php echo $this->serverUrl() . $this->baseUrl() . '?hp=' . sha1($this->usuario->id); ?></a>
                    </span>
                </div>
            </li>

        </ul>


        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            Rendimentos 
                        </div> 
                    </div>
                    <div class="widget-body">
                        <div class="mail table-responsive">

                            <table class="table table-condensed table-striped table-hover no-margin">
                                <thead>
                                    <tr>
                                        <th style="width:75%" class="hidden-phone">
                                            Cliente
                                        </th>
                                        <th style="width:12%" class="right-align-text hidden-phone">
                                            Data
                                        </th>
                                        <th style="width:12%" class="right-align-text hidden-phone">
                                            Valor
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ($rendimentos as $red): ?>
                                        <tr>
                                            <td>
                                                <?php echo $red['cliente'];?>
                                            </td>
                                            <td class="right-align-text hidden-phone">
                                                <?php $data = new Zend_Date($red['data_cadastro']);echo $data->get('dd/MM/yyyy');?>
                                            </td>
                                            <td class="right-align-text hidden-phone">
                                                <?php echo $this->exibeMoeda($red['valor']);?>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                    <?php if (!count($rendimentos)): ?>
                                        <tr>
                                            <td colspan="3">
                                                Nenhum registro encontrado
                                            </td>
                                            
                                        </tr>
                                    <?php endif; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <?php endif; ?>
</div>
<!-- Dashboard Wrapper End -->


