footer.Footer
  .container
    .row
      .col-xs-12.text-center
        img.Footer-logo(src="/images/logo-footer.png", alt="mavip")
    .row
      .col-xs-12.text-center
        ul.Footer-links.list-unstyled.list-inline
          li.Footer-linksItem
            a.Footer-link(href="javascript:") Termo de adesão
          li.Footer-linksItem
            a.Footer-link(href="javascript:") Criar sua conta
          li.Footer-linksItem
            a.Footer-link(href="javascript:") Empresa
          li.Footer-linksItem
            a.Footer-link(href="javascript:") Serviços
