// Static navbar
nav.navbar.navbar-default
  .navbar-header
    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='#')
      img.navbar-logo(src="/images/logo-nav.png", alt="mavip")
    a.visible-xs-inline-block.NotificationCart.NotificationCart--outside
      span.NotificationCart-number 2
      i.NotificationCart-icon.Icon.Icon--cartBefore
  #navbar.navbar-collapse.collapse
    ul.nav.navbar-nav.navbar-right
      li
        a(href='javascript:') Sobre o mavip
      li
        a(href='javascript:') Serviços
      li
        a(href='javascript:') Crie sua conta
      li
        a(href='javascript:') Login
      li.hidden-xs
        a(href='javascript:').NotificationCart
          span.NotificationCart-number 2
          i.NotificationCart-icon.Icon.Icon--cartBefore
  // /.nav-collapse
// /.container-fluid
