#step3.container.hidden
  .row
    .col-xs-12
      section.Register-box.u-mb45
        .Register-boxContent.col-lg-12
          include ./registerHeader.jade
          .row
            .col-xs-12.col-md-6.col-md-offset-3
              h1.Page-title.Page-title--small.text-center Selecione sua forma de pagamento
          .row.u-mb45
            .col-xs-12.col-md-5.col-md-offset-1
              .InputContainer.InputContainer--payment
                input.Input-radio(type="radio" name="paymentType" value="cartao" id="cartao")
                label.Input-label(for="cartao")
                  .Input-check.Input-check--payment
                  span.Input-labelText.Input-labelText--payment Cartão de crédito
                  .PaymentIcon-container
                    img.PaymentIcon(src="images/visa.png", alt="Visa")
                    img.PaymentIcon(src="images/master.png", alt="MasterCard")
            .col-xs-12.col-md-5
              .InputContainer.InputContainer--payment
                input.Input-radio(type="radio" name="paymentType" value="boleto" id="boleto")
                label.Input-label(for="boleto")
                  .Input-check.Input-check--payment
                  span.Input-labelText.Input-labelText--payment Boleto Bancário
                  .PaymentIcon-container
                    img.PaymentIcon(src="images/boleto.png", alt="Boleto Bancário")
          .row
            .col-xs-12.col-md-4.col-md-offset-4
              button.Button.Button--full.Next-button.text-center(type="submit") Realizar pagamento
