header.Register-header
  .row
    .col-xs-12.col-md-6.col-md-offset-3
      ul.Register-steps.list-inline.row
        li.Register-step.col-xs-4
          span.Register-stepNumber 1
          span.Register-stepText Informações Pessoais
        li.Register-step.col-xs-4
          span.Register-stepNumber 2
          span.Register-stepText Informações da Empresa
        li.Register-step.col-xs-4
          span.Register-stepNumber 3
          span.Register-stepText Pagamento
