#step1.container
  .row
    .col-xs-12
      section.Register-box
        .Register-boxContent
          include ./registerHeader.jade
          .row
            .Form-container.col-xs-12
              label.Form-label Nome completo
              input.Form-input(type="text")
            .Form-container.col-xs-12.col-sm-6
              label.Form-label Email
              input.Form-input(type="text")
            .Form-container.col-xs-12.col-sm-6
              label.Form-label Login
                span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
              input.Form-input(type="text")
            .Form-container.col-xs-12.col-sm-6
              label.Form-label Senha
                span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
              input.Form-input(type="text")
            .Form-container.col-xs-12.col-sm-6
              label.Form-label Confirmar Senha
                span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
              input.Form-input(type="text")
            .Form-container.col-xs-12.col-sm-6
              label.Form-label Pergunta secreta
                span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
              input.Form-input(type="text")
            .Form-container.col-xs-12.col-sm-6
              label.Form-label Resposta secreta
                span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
              input.Form-input(type="text")

      section.TermsTitle
        .container
          .row
            .col-xs-12
              h3.Page-title.text-center Termo de adesão ao sistema
      section.Terms
        p.Terms-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      section.TermsAccept
        .container
          .row
            .col-xs-12.col-md-10.col-md-offset-1
              label.Form-checkLabel
                .Form-checkContainer
                  input.Form-checkInput(type="checkbox" name="terms1" value="1")
                  span.Form-checkbox
                .Form-textContainer
                  span.Form-checkText Declaro, sob as penas da Lei, fazer juz aos benefícios à redução de retribuição, conforme previsto na  <a class="Form-checkLink" href="javascript:"> Resolução INPI Nº 274/2011.</a>
          .row
            .col-xs-12.col-md-10.col-md-offset-1
              label.Form-checkLabel
                .Form-checkContainer
                  input.Form-checkInput(type="checkbox" name="terms2" value="2")
                  span.Form-checkbox
                .Form-textContainer
                  span.Form-checkText Declaro, sob as penas da Lei que aceito os termos da ferramenta Mavip
      section.Next.Next--one
        .container
          .row
            .col-xs-12.col-md-4.col-md-offset-4
              button.Button.Button--full.Next-button.text-center(data-step="1", type="button") Próxima etapa
