#step2.container.hidden
  .row
    .col-xs-12
      section.Register-box.u-mb45
        .Register-boxContent.col-lg-10.col-lg-offset-1
          include ./registerHeader.jade
          .row
            .Form-container.col-xs-12.col-sm-6
              label.Form-label Natureza Jurídica
                span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
              select.Form-select
                option(value="") Escolha a Natureza Jurídica
                option(value="1") Valor 1
                option(value="2") Valor 2
            .Form-container.col-xs-12.col-sm-6
              label.Form-label CNPJ
                span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
              input.Form-input(type="text")
          .row
            .Form-container.col-xs-12.col-sm-6
              label.Form-label Razão Social (Nome Empresarial)
                span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
              input.Form-input(type="text")
            .Form-container.col-xs-12.col-sm-6
              label.Form-label País
              select.Form-select
                option(value="") Brasil
                option(value="1") Valor 1
                option(value="2") Valor 2
          .row
            .Form-container.col-xs-12.col-sm-6
              label.Form-label Estado
              select.Form-select
                option(value="") Selecione seu Estado
                option(value="1") Valor 1
                option(value="2") Valor 2
            .Form-container.col-xs-12.col-sm-6
              label.Form-label Cidade
              select.Form-select
                option(value="") Selecione sua Cidade
                option(value="1") Valor 1
                option(value="2") Valor 2
          .row
            .Form-container.col-xs-12.col-sm-7
              label.Form-label Endereço
              input.Form-input(type="text")
            .Form-container.col-xs-12.col-sm-5
              label.Form-label CEP
              input.Form-input(type="text")
          .row
            .Form-container.col-xs-12.col-sm-4
              label.Form-label Telefone
              input.Form-input(type="text")
            .Form-container.col-xs-12.col-sm-4
              label.Form-label Celular
              input.Form-input(type="text")
            .Form-container.col-xs-12.col-sm-4
              label.Form-label Fax
              input.Form-input(type="text")
          .row
            .Next.Next--two.col-xs-12.col-sm-4.col-sm-offset-4
              button.Button.Button--full.Next-button.text-center(data-step="2", type="button") Finalizar Cadastro
