<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="" class="heading"><?php echo $this->title ?></a></li>
    </ul>
</div>

<div class="dashboard-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="pull-right ">
                    <?php if ($this->isAllowed($this->resource, 'new')): ?>
                        <a href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'new'), "gerenciador", true); ?>" class="btn btn-default">
                            <i class="fa fa-plus"></i>
                            Adicionar
                        </a>
                    <?php endif; ?>
                </div>
            </div>
        </div>   
        
        <b>EXPORTAR: </b>
        <div class="btn-group" role="group" aria-label="...">
            <a target="_blank" href="<?php echo $this->url(array('controller' => 'empresa', 'action' => 'exportar', 'id' => 'ipas157')) ?>" type="button" class="btn btn-default">IPAS 157</a>
            <a target="_blank" href="<?php echo $this->url(array('controller' => 'empresa', 'action' => 'exportar', 'id' => 'ipas161')) ?>" type="button" class="btn btn-default">IPAS 161</a>
            <a target="_blank" href="<?php echo $this->url(array('controller' => 'empresa', 'action' => 'exportar', 'id' => 'ipas414')) ?>" type="button" class="btn btn-default">IPAS 414</a>
        </div>
        
        <hr>
        
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            <?php echo $this->title ?>                            
                        </div>
                    </div>

                    <div class="widget-body">
                        <div id="dt_example" class="example_alt_pagination table-responsive">
                            <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">

                                <thead>
                                    <tr>
                                        <?php foreach ($this->grid['columns'] as $col => $inf): ?>
                                            <th style="width:10%">
                                                <?php echo $inf['label']; ?>
                                            </th>
                                        <?php endforeach; ?>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ($this->grid['records'] as $row): ?>
                                        <tr class="gradeX <?php if (isset($row['ativo']) AND ! $row['ativo']): ?>warning <?php echo $row['ativo']; ?><?php endif ?> ">
                                            <?php foreach ($this->grid['columns'] as $col => $inf): ?>
                                                <td class=""> 
                                                    <?php echo $row[$col]; ?>
                                                </td>
                                            <?php endforeach; ?>                                            
                                        </tr>
                                    <?php endforeach; ?>
                                </tbody>
                            </table>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //Data Tables
    $(document).ready(function () {
        //$.fn.dataTable.TableTools.defaults.aButtons = [ "copy", "csv", "xls" ];
        $('#data-table').dataTable({
            "order": <?php echo ($this->option['prazo'] == '1') ? '[[ 2, "desc" ]]' : '[[ 0, "desc" ]]' ?>,
            "bPaginate": false,
            "info": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/Portuguese-Brasil.json"
            }
            /*dom: 'T<"clear">lfrtip',
             tableTools: {
             "sSwfPath": "<?php echo $this->baseUrl("static/") ?>js/data-tables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
             }*/
        });
    });

</script>