   @media only screen and (max-width: 1500px) and (min-width: 767px){
        .cont-depoimentos {
            margin-top: -270px;
        }


    }

    #box_depoimentos{
        visibility: hidden;
    }

    #loading_depoimentos{
        display: block;
        width: 3%;
        margin: 2% auto -5%;
    }

    @media only screen and (min-width:980px) and (max-width:1400px){
        .img_faq figure{
            width: 100%;
        }

        .owl-carousel .owl-item img {
            width: 100%;
        }
    }

    @media only screen and (max-width: 1400px) and (min-width: 1300px){

        .owl-carousel .owl-item img {
            width: 77%;
            margin-left: 10%;
        }

    }

    @media only screen and (max-width: 978px) and (min-width: 768px){
        .owl-carousel .owl-item img {
            width: 100%;
        }

        .img_faq figure {
            height: 90px !important;
        }
    }

    @media(min-width:1400px){
        .owl-carousel .owl-item img {
            width: 100%;
        }
    }
    @media(max-width:767px){
        .text-depoimento-face{
            font-size: 1.2em;
            text-align: center;
        }
        .name-depoimento-face{
            text-align: center !important;
        }
        .btn-facebook-dep{
            text-align: center;
            margin: 0 auto;
            display: block;
        }
        .DepoimentosFace {
            padding: 0;
            margin: 0 auto;
        }
        .container-dep-image img{
            margin-top: 10px !important;
        }
    }
    /* ###### DEPOIMENTOS FACEBOOK ##### */
    .Page-title--depoimentosface .fa-star{
        color: #ffc300;
        font-size: 20px;
    }
    .DepoimentosFace{
        padding: 20px;
    }
    .container-text-depoimento{
        text-align: left;
    }
    .text-depoimento-face{
        color: #7e8b8d;
        font-family: "bree";
        font-size: 1.8rem;
    }

    .name-depoimento-face{
        text-transform: capitalize;
        color: #9b58b6;
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
        text-align: left;
        font-family: "bree";
    }

    .btn-facebook-dep{
        background-color: #2976e9;
        padding: 5px 10px;

    }
    .btn-facebook-dep a{
        color: #ffffff;
        font-weight: bold;
    }

    .container-dep-image img{
        width: 55% !important;
        margin: 0 auto;
    }

    .depoimentos-face{
        background-color: #f8f8f8;
        padding: 45px 0;
        border-bottom: 2px solid #d8d8d8;
        position: relative;
    }

    .owl-item{
        height: auto;
    }

.polygon {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #d3d0c9;


    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

    