.preco-box{
	padding-bottom: 0!important; 
}
.box_videos_cases{
	background: #ddd;
	display: block;
	padding: 20px;
    margin-top: 50px;
	h3{
		font-weight: bold;
		font-family: "fira";
		font-size: 24px;
		text-align: center;
		display: block;
		color: #757e7f;
		margin-bottom: 50px;
		text-transform: uppercase;
	}
	.thumb_tube{
		position: relative;
		display: block;
		
		@media (max-width: 991.98px) {
			margin-bottom: 30px;
		}

		svg{
			position: absolute;
			width: 80px;
			height: 80px;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover{
			svg{
				path{
					fill: #ea7d00;
				}
			}
		}
	}
}