.app-form-flex{
	display: flex;
	align-items: center;
    justify-content: flex-end;
}

.app-flex-price{
	display: flex;
	align-items: center;
    justify-content: flex-end;
}

.app--email{
	height: 34px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin-right: 5px;
}

.app-flex--desconto{
	align-items: center;
}

.app-flex--desconto input{
	min-width: 200px;
	margin-right: 5px;
	border: 1px solid #ccc;
    padding-left: 10px;
	height: 34px!important;
	border-radius: 5px;
}

.app-flex--desconto button{
	height: 34px!important;
}

@media (max-width: 992px) {
	.app-flex--desconto{
		justify-content: flex-end;
	}
}

@media (max-width: 767.98px) { 

	.mb-10{
		margin-bottom: 10px;
	}

	.app-flex--desconto, .app-flex{
		display: block!important;
		width: 100%;
	}

	.app-flex--desconto input, .app-flex--desconto button{
		display: block;
		width: 100%;
		min-width: 100%;
	}

	.app-flex--desconto input{
		margin: 0 0 10px 0;
	}

	.app-form-flex{
		display: block;
		width: 100%;
	}

	.app-form-flex input, .app-form-flex button{
		display: block;
		width: 100%;
	}

	.app-form-flex input{
		margin: 30px 0 10px 0;
	}

	.app-flex-price{
		display: block;
	}

	.app-flex-price p, .app-flex-price a{
		display: block;
		width: 100%;
	}

	.app-flex-price a{
		margin: 10px 0 30px 0;
	}

}

@media screen and (max-width: 767px) {
	.Content.Content--order {
	    margin-top: 0!important;
	}
}