<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="" class="heading"><? echo $this->title?></a></li>
        <li class="hidden-sm hidden-xs">
            <a href="#" class="selected">Novo</a>
        </li>
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">
        




        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-md-offset-3 col-md-offset-3">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            <?php echo $this->title?>
                            <span class="mini-title">
                                <?php echo $this->title?> 
                            </span>
                        </div>
                    </div>
                    <div class="widget-body">
                        
                        <form class="form-horizontal no-margin row" action="" method="post">

                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('nome');?>
                                        </div>
                                    </div>
                                </div>
                           
                                <div class="col-sm-4">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('hexadecimal');?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 pull-right">
                                   <a class="btn btn-warning" href="https://celke.com.br/artigo/tabela-de-cores-html-nome-hexadecimal-rgb" target="_blank"> Ver opções</a>    
                                </div>
                            </div>
                            <div class="row" style="padding-top:10px;">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-info btn-block pull-left">Salvar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Row End -->



    </div>
    <!-- Left Sidebar End -->



</div>
<!-- Dashboard Wrapper End -->


