<header class="Header Header--home2">
    <div id="section-termos" style="display: none; width: 100% !important;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="info-lgpd" style=" font-weight: 400; font-size: 13px;text-align: justify;padding-left: 20px; padding-right: 20px " >

                    Nós usamos cookies e outras tecnologias semelhantes para melhorar a sua experiência em nossos serviços <b>ao informar os dois últimos dígitos do número de seu
                        telefone, você concorda com tal monitoramento</b> e uso dessas informações para compartilhar com o Instituto Nacional da Propriedade Industrial (INPI)
                    com o objetivo de fazer uso dos dados públicos utilizados para realizar a pesquisa de viabilidade de sua marca. Informamos ainda que atualizamos
                    nossa  <a href="<?php echo $this->baseUrl('static/default/downloads/politica-de-privacidade.pdf') ?>" target="_blank"> Política de Privacidade</a>
                    e veja a nossa nova Política na <a href="<?php echo $this->baseUrl('/faq') ?>" target="_blank">página de FAQ.</a>
                    <a href="#" class="btn btn-default" id="btn-ok">OK</a>
                </p>
            </div>
        </div>
    </div>


        <?php echo $this->render('partial/navbar.phtml'); ?>
        <?php echo $this->render('partial/navbar-pesquisa.phtml'); ?>
</header>



<form class="HomeForm" id="form-search" action="<?php echo $this->url(array('action' => 'resultado'), 'busca', true); ?>" method="post">
    <section class="Section Section--userData">
        <div class="container">
            <div class="row">
                <div class="SubSection SubSection--userData col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-3"><!-- Inserir os valores do get nesses dois inputs -->
                    <h1 class="Page-title u-noMarginBottom">Seu e-mail</h1>
                    <p class="Page-text"><?php echo $this->email; ?></p>
                    <input type="email" name="email" value="<?php echo $this->email; ?>" class="CallToAction-input ChangeData-input hidden">
                </div>
                <div class="SubSection SubSection--userData col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-0 col-lg-4">
                    <h1 class="Page-title u-noMarginBottom">Nome da sua marca</h1>
                    <p class="Page-text"><?php echo $this->marca; ?></p>
                  <!--  <input type="text" name="marca" value="<?php /*echo $this->marca; */?>" class="CallToAction-input ChangeData-input hidden">-->
                </div>
                <div class="SubSection SubSection--userData col-xs-10 col-xs-offset-1 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0"><a href="javascript:" class="ChangeData"><span class="ChangeData-icon">&times;</span><span class="ChangeData-text">Alterar Dados</span></a></div>
            </div>
            <div class="row">
            <div class="SubSection SubSection--userData col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-3">
            <h1 class="Page-title u-noMarginBottom">Digite seu nome</h1>
            <br> <input type="text"  name="nome" size="28" style="height: 38px" required  />
            </div>
            <div class="SubSection SubSection--userData col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-0 col-lg-4">
            <h1 class="Page-title u-noMarginBottom">Digite seu telefone</h1>
            <br> <input type="tel" name="telefone" maxlength="15" id="telefone" size="33" style="height: 38px" placeholder="Ex.: (00) 00000-0000" required />
            </div>
            </div>
            
        </div>
    </section>
    <section class="Section Section--intro">
        <div class="container">
            <div class="row">
            <div class="col-xs-offset-5 col-lg-offset-5 col-md-offset-5 col-md-12 col-xs-12 col-lg-12 col-sm-12">
                <!-- modal video tutorial -->
                    <button id="play-button" type="button" class="btn btn-popup-tutorial btn-popup-pesquisa" data-toggle="modal" data-target="#exampleModal">Aprenda é simples
                    <p class="veja-video-simples">(Veja o Vídeo)</p>
                    </button>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button id="pause-button" type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                      </div>
                      <div class="modal-body">
                       <div class="embed-responsive embed-responsive-16by9">
                          <iframe id="myVideo" class="embed-responsive-item" src="https://www.youtube.com/embed/5eHXFgeMSXk?enablejsapi=1" frameborder="0" autoplay allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>            
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h1 class="Page-title Page-title--home2"><span>Como é sua marca?</span><span title="Você precisa informar se tem apenas o nome da sua marca ou se já criou uma imagem associada (logotipo), conforme o exemplo." class="QuestionMark Tooltip">?</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 InputWrapper">
                    <div class="InputContainer">
                        <input type="radio" name="estilo" value="texto" id="nome" class="Input-radio">
                        <label for="nome" class="Input-label">
                            <div class="Input-check"></div><span class="Input-labelText">Somente o nome (ex: <i>mavip</i>)</span>
                        </label>
                    </div>
                    <div class="InputContainer">
                        <input type="radio" name="estilo" value="mista" id="logo" class="Input-radio">
                        <label for="logo" class="Input-label">
                            <div class="Input-check"></div><span class="Input-labelText">Nome e logotipo (ex: <img src="<?php echo $this->baseUrl('static/default/images/small-logo.png') ?>" alt="mavip">)</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h1 class="Page-title Page-title--home2">Qual tipo de marca?<span title="Você pretende vender um produto, serviço ou apenas ter um comércio?" class="QuestionMark Tooltip">?</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 InputWrapper button-group group-services" id="filters">
                    <div class="InputContainer">
                        <input type="radio" name="tipo" value="produto" id="produtos"  class="Input-radio">
                        <label for="produtos" class="Input-label" id="check-prod" data-filter=".produtos">
                            <div class="Input-check"></div><span class="Input-labelText">Produto</span>
                        </label>
                    </div>
                    <div class="InputContainer">
                        <input type="radio" name="tipo" value="servico" id="servicos" class="Input-radio">
                        <label for="servicos" class="Input-label" id="check-serv" data-filter=".servicos">
                            <div class="Input-check"></div><span class="Input-labelText">Serviço</span>
                        </label>
                    </div>
                    <div class="InputContainer">
                        <input type="radio" name="tipo" value="comercio" id="comercios" class="Input-radio">
                        <label for="comercios" class="Input-label" id="check-com" data-filter=".comercios">
                            <div class="Input-check"></div><span class="Input-labelText">Comércio</span>
                        </label>
                    </div>

                </div>

                <!--  <div >
                  
                   <button type="button" class="button" id="produtos">Produtos<i class="fa fa-star"></i></button>
                   <button type="button" class="button" id="servicos">Serviços <i class="fa fa-asterisk"></i></button>
                   <button type="button" class="button active" id="comercios">Produtos/Serviços/Comércio<i class="fa fa-star"></i></button>
                 </div> -->
            </div>
            <!--
            <div class="row sessao-produto">
                <div class="col-xs-10 col-xs-offset-1">
                    <h1 class="Page-title Page-title--home2"><span>Escolher Box ou Descrever - <b id="categorias"></b></span><span title="Informe abaixo a opção que melhor descreve seu serviço ou comércio." class="QuestionMark Tooltip">?</span></h1>
                </div>
            </div>
            -->
        </div>
    </section>


    <section class="Section Section--category">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 box-filtro">
                <input type="text" id="ModuleSearch" placeholder="Descrever ou Escolher opção abaixo" class="col-xs-12" />
                <i class="lupa"></i>
            </div>
            <span title="Digite a categoria da sua marca e selecione a opção ou se preferir selecione diretamente uma das opções listadas abaixo." class="QuestionMark Tooltip question-filtro">?</span>
        </div>
        <div id="Container_filtro" data-avgusage="1">

            <?php $string = 'ÁÍÓÚÉÄÏÖÜËÀÌÒÙÈÃÕÂÎÔÛÊáíóúéäïöüëàìòùèãõâîôûêÇç'; ?>

            <?php foreach ($this->produtos as $cat): ?>
                <div class="Category-item produtos" data-category="produtos">
                    <input type="radio"  name="categoria_produto"  value="<?php echo $cat['id']; ?>" id="bebidas<?php echo $cat['id']; ?>" class="Category-radio">        
                    <label 
                        for="bebidas<?php echo $cat['id']; ?>" 
                        title="<?php echo $cat['descricao']; ?>" 
                        class="title Category-label  Tooltip--category">
                            <?php echo $cat['nome']; ?> 
                        <span class="desc_cat">
                            <?php echo preg_replace('/[`^~\'"]/', null, iconv('UTF-8', 'ASCII//TRANSLIT', $cat['descricao'])); ?>
                        </span>
                    </label>   
                </div>

            <?php endforeach; ?>

            <?php foreach ($this->servicos as $cat): ?>
                <div class="Category-item servicos" data-category="servicos">
                    <input type="radio"  name="categoria_servico" value="<?php echo $cat['id']; ?>" id="bebidas<?php echo $cat['id']; ?>" class="Category-radio">        
                    <label 
                        for="bebidas<?php echo $cat['id']; ?>" 
                        title="<?php echo $cat['descricao']; ?>" 
                        class="title Category-label  Tooltip--category">
                            <?php echo $cat['nome']; ?>
                        <span class="desc_cat">
                            <?php echo preg_replace('/[`^~\'"]/', null, iconv('UTF-8', 'ASCII//TRANSLIT', $cat['descricao'])); ?>
                        </span>
                    </label> 
                </div>

            <?php endforeach; ?>

            <?php foreach ($this->comercio as $cat): ?>
                <div class="Category-item comercios" data-category="comercios">
                    <input type="radio"  name="categoria_comercio" value="<?php echo $cat['id']; ?>" id="bebidas<?php echo $cat['id']; ?>" class="Category-radio">        
                    <label 
                        for="bebidas<?php echo $cat['id']; ?>" 
                        title="<?php echo $cat['descricao']; ?>" 
                        class="title Category-label  Tooltip--category">
                            <?php echo $cat['nome']; ?>
                        <span class="desc_cat">
                            <?php echo preg_replace('/[`^~\'"]/', null, iconv('UTF-8', 'ASCII//TRANSLIT', $cat['descricao'])); ?>
                        </span>
                    </label>  
                </div>
            <?php endforeach; ?>

        </div>

    </section>

    

    <section class="Section Section--submit">
        <div class="container">


            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 div-load">
                <button  id="btn-pesquisa" data-toggle="modal" data-target="#largeShoes" 
                 class="Button Button--full Button--home2 CallToAction-button Icon Icon--magnifierAfter" style="margin-top:15px;">
                 Pesquisar</button>
                </div>
            </div>
            
            <div class="modal fade" id="largeShoes" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <div class="confirm-phone">
                                            <h1 class="Page-title" style="font-size: 23px">Confirme os 02 últimos números de seu telefone</h1>
                                            <span id="conf_first" style="letter-spacing: 2px;font-size: 17px;padding: 5px;font-weight: 600;"></span>**
                                            <input type="text" id="end_confirm"  maxlength="2"  size="5" style="height: 38px" required />
                                        </div>
                                    </div>    

                                    <div class="col-xs-12 div-load" style="height: auto; padding-top: 15px">
                                        <span class="error-validate">Telefone divergente. <br> Favor, digitar os 02 últimos números corretamente.</span>
                                        <div class='uil-facebook-css' style='-webkit-transform:scale(0.68)'>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <button type="submit"  id="btn-pesquisa-confirm" class="Button Button--full Button--home2 CallToAction-button Icon Icon--magnifierAfter" style="margin-top:15px;" onclick="ga('send', 'event', 'botao', 'clique', 'consulta');">
                                            Pesquisar
                                        </button>
                                    </div>

                                </div>
                                    
                            </div>
                        </div>

                        <div class="modal-footer"></div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>
    </section>
</form>

<script src="<?php echo $this->baseUrl('static/default/scripts/jquery.min.js') ?>"></script>
<script src="<?php echo $this->baseUrl('static/default/scripts/isotope.pkgd.js') ?>"></script>
<script src="<?php echo $this->baseUrl('static/default/scripts/isotope.js') ?>"></script>

<script src="<?php echo $this->baseUrl('static/default/scripts/busca_page.js') ?>"></script>

<style>
.ShowElement{
    opacity: 1 !important;
    display: block !important;
}

.error-validate{
    text-align: center;
    display: none;
    background: rgba(255,0,0,0.2);
    padding: 10px;
    border: 1px solid rgba(255,0,0,0.3);
    color: black;
    margin-top:20px;
    font-family: "bree";
}

.show-validate{
    opacity: 1 !important;
    display: block !important;
}

.HideElement{
    opacity: 0;
    display: none !important;
}

</style>

<script>
    var buscaVisited = sessionStorage.getItem("buscaVisited");

    document.getElementById('btn-ok').onclick = function(){
        document.getElementById('section-termos').style.display = 'none';
        sessionStorage.setItem("buscaVisited", true);
    }
    // If falsy, user didn't visited your page yet.
    if (!buscaVisited) {
        document.getElementById('section-termos').style.display = 'block';
    }
</script>
