<header class="Header Header--contact">
      <div class="container">
        <?php echo $this->render('partial/navbar.phtml');?>
        <?php echo $this->render('partial/navbar-home.phtml'); ?>
      </div>
    </header>
    <main class="Contact">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h1 class="Page-title">Contato</h1>
          </div>
        </div>
          <form class="Contact-form Form " action="<?php echo $this->url(array(),'contato',true)?>" method="post">
          <div class="Contact-step Contact-step--1">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h2 class="Contact-title">Olá, qual é o seu nome?</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-8 col-md-offset-2">
                <input type="text" name="nome" class="Form-input">
              </div>
              <div class="col-xs-12 col-md-1"><i data-step="2" class="Icon Icon--arrowRightBefore Contact-next"></i></div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="Progress">
                  <p class="Progress-label"><strong>1</strong> de 4</p>
                  <div class="Progress-bar Progress-bar--1"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="Contact-step Contact-step--2 hidden">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h2 class="Contact-title"><strong class="Contact-username">#Nomedousuario</strong>, agora queremos saber o seu e-mail.</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-8 col-md-offset-2">
                <input type="text" name="email" class="Form-input">
              </div>
              <div class="col-xs-12 col-md-1"><i data-step="3" class="Icon Icon--arrowRightBefore Contact-next"></i></div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="Progress">
                  <p class="Progress-label"><strong>2</strong> de 4</p>
                  <div class="Progress-bar Progress-bar--2"></div>
                </div>
              </div>
              <div class="col-xs-12 col-md-1"><a href="javascript:" data-step="1" class="Contact-back">Voltar</a></div>
            </div>
          </div>
          <div class="Contact-step Contact-step--3 hidden">
            <div class="row">
              <div class="col-xs-12 col-md-4 col-md-offset-4 text-center">
                <h2 class="Contact-title"><strong class="Contact-username">#Nomedousuario</strong>, selecione o assunto do qual você deseja tratar.</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-8 col-md-offset-2">
                <input type="text" name="assunto" class="Form-input">
              </div>
              <div class="col-xs-12 col-md-1"><i data-step="4" class="Icon Icon--arrowRightBefore Contact-next"></i></div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="Progress">
                  <p class="Progress-label"><strong>3</strong> de 4</p>
                  <div class="Progress-bar Progress-bar--3"></div>
                </div>
              </div>
              <div class="col-xs-12 col-md-1"><a href="javascript:" data-step="2" class="Contact-back">Voltar</a></div>
            </div>
          </div>
          <div class="Contact-step Contact-step--4 hidden">
            <div class="row">
              <div class="col-xs-12 col-md-4 col-md-offset-4 text-center">
                <h2 class="Contact-title"><strong  class="Contact-username">#Nomedousuario</strong>, escreva sua mensagem.</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-8 col-md-offset-2">
                <textarea type="text" name="mensagem" class="Form-textarea"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-4 col-md-offset-4">
                <button class="Button Button--full u-mt35 u-mb35 submit_ajax">Enviar mensagem</button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="Progress">
                  <p class="Progress-label"><strong>4</strong> de 4</p>
                  <div class="Progress-bar Progress-bar--4"></div>
                </div>
              </div>
              <div class="col-xs-12 col-md-1"><a href="javascript:" data-step="3" class="Contact-back">Voltar</a></div>
            </div>
          </div>
        </form>
      </div>
    </main>