<header class="Header Header--home">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
        <span class="spaco_div"></span>
    </div>
</header>


<section class="faq-content">
    <div class="faq">
        <div class="container">
            <div class="row faqs">
                <div class="col-xs-12 faqs-tit">
                    <ul class="Breadcrumbs Breadcrumbs--articles list-inline">
                        <li class="Breadcrumbs-item">
                            <a href="#" class="Breadcrumbs-link">Home</a>
                        </li>

                        <li class="Breadcrumbs-item">
                            <a href="#" class="Breadcrumbs-link">Pesquisa</a>
                        </li>
                        
                        <li class="Breadcrumbs-item">
                            <a href="#" class="Breadcrumbs-link active">Histórico de Pesquisa</a>
                        </li>
                    </ul>
                    <h1 class="Page-title">Marcas pesquisadas por você</h1>
                </div>

                <br><br>
                

                <div class="col-md-12">
                    <div class="conteudo_pd">
                        <div class="table-responsive">
                            <table class="table table_dkr">
                                <thead>
                                    <tr>
                                        <th>Marca Pesquisada</th>
                                        <th>Classe da Marca</th>
                                        <th>Data da Pesquisa</th>
                                        <th>Resultado da Pesquisa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                 <?php if($this->records): ?>
                                    
                                    <?php foreach($this->records as $record): ?> 
                                        <?php $data = date('d/m/Y',strtotime($record['data_cadastro']));    ?>
                                        <tr>
                                            <td><?= $record['marca'] ?></td>
                                            <td><?= $record['classe'] ?></td>
                                            <td><?= $data ?></td>

                                      <?php  $resultado = '';
                                            if($record['resultado'] == "-1"){
                                                 $resultado =  "Sistema INPI indisponível"; 
                                            }
                                            if($record['resultado'] == "0"){
                                                 $resultado =  "Marca registrada";
                                            }
                                            if($record['resultado'] == "1"){
                                                 $resultado =  "Marca disponível";
                                            }
                                             if($record['resultado'] == "2"){
                                                 $resultado =  "ERRO";
                                             }
                                            ?>
                                            <td><?= $resultado ?></td>
                                        </tr>  
                                    <?php endforeach; ?>
                                <?php endif; ?>
                        
                                </tbody>
                            </table>
                        </div>
                        
                        
                        <?php // FALTA IMPLEMENTAR PAGINACAO // ?>
                     <!--   <div class="page_navi">
                            <ul class="Paginator list-inline">
                                
                                <li class="Paginator-item">
                                    <a href="" class="Paginator-link Paginator-link--arrow">
                                        <i class="Icon Icon--arrowLeftBefore Paginator-arrow"></i>
                                    </a>
                                </li>
                                <?php // for ($i=1; $i <=5; $i++) { ?>
                                <li class="Paginator-item">
                                    <a href="" class="Paginator-link "><?php // echo $i; ?></a>
                                </li>
                                <?php // } ?>
                                <li class="Paginator-item">
                                    <a href="" class="Paginator-link Paginator-link--arrow">
                                        <i class="Icon Icon--arrowRightBefore Paginator-arrow"></i>
                                    </a>
                                </li>
                            
                            </ul>
                        </div>  -->

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script src="<?php echo $this->baseUrl('static/default/scripts/jquery.min.js') ?>"></script>
<script src="<?php echo $this->baseUrl('static/default/scripts/isotope.pkgd.js') ?>"></script>
<script src="<?php echo $this->baseUrl('static/default/scripts/isotope.js') ?>"></script>