<!-- START RD Station Form -->
<script src="https://www.google.com/recaptcha/api.js?render=6LeajgEdAAAAAMTNAUPQmcbEmOD54YQ4huWAXmjL"></script>
<script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/integration/stable/rd-js-integration.min.js"></script>
<script type="text/javascript">
    var meus_campos = {
        'email': 'email',
        'marca': 'Marca'
    };
    options = {fieldMapping: meus_campos};
    RdIntegration.integrate('865e14e989c922cf0678bc875eaeca96', 'Formulário de contato do site', options);
</script>

<!-- END RD Station Form -->

<header class="Header Header--home">
    <div id="section-termos" style="display: none; width: 100% !important;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="info-lgpd" style=" font-weight: 400; font-size: 13px;text-align: center " >
                    Utilizamos cookies essenciais e tecnologias semelhantes de acordo com a nossa <a href="<?php echo $this->baseUrl('static/default/downloads/politica-de-privacidade.pdf') ?>" target="_blank">Política de Privacidade</a> e, ao continuar navegando,
                    você concorda com estas condições.
                    <a href="#" class="btn btn-default" id="btn-ok">OK</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>


        <?php echo $this->render('partial/navbar-home.phtml'); ?>
        <script>
            setTimeout(function () {
                $(document).ready(function () {
                    $("#fechar").click(function (event) {
                        $("#flutuan").css("display", "none");
                    });
                });
            }, 2000);

            var player;

            function onYouTubePlayerAPIReady() {
              // create the global player from the specific iframe (#video)
              player = new YT.Player('myVideo', {
                events: {
                  // call this function when player is ready to use
                  'onReady': onPlayerReady
                }
              });
            }

            function onPlayerReady(event) {
              
              // bind events
              var playButton = document.getElementById("play-button");
              playButton.addEventListener("click", function() {
                player.playVideo();
              });
              
              var pauseButton = document.getElementById("pause-button");
              pauseButton.addEventListener("click", function() {
                player.pauseVideo();
              });
            }

            // Inject YouTube API script
            var tag = document.createElement('script');
            tag.src = "//www.youtube.com/player_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        </script>


        <!--    <div id="flutuan"> -->
        <!--  <div class="btn-fechar" onclick="fechar()">x</div>-->
       <!-- <img style="box-shadow: 2px 4px 17px; width:400px;height: 300px; margin:0 auto;" usemap="#Map" src="<?php echo $this->baseUrl('static/default/images/banner.jpg') ?>" alt="Promoção relampago para registro de marca por 500 reais, válido de 17 a 21 de abril." class="img-responsive"> 
        <map name="Map" id="Map">
          <area alt="" title="" href="#" id="fechar" shape="rect" coords="352,4,387,37" />
          <area alt="" title="" href="mailto:atendimento@mavip.com.br" shape="rect" coords="209,149,391,167" />
      </map>
        </div>-->

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-4">
                <h3 class="Header-title-busca">Pesquisa 100% gratuita</h3>
            </div>
        </div>
        <form class="row CallToAction" action="<?php echo $this->url(array(), 'busca', true); ?>" method="post" id="form-busca">
        <input type="hidden" value="vbG9naW4iLCJpYXQiOjE2MjYyNzMyMjksImV4cCI6MTYyNjI3NjgyOSwibmJmIjoxNjI2MjczMjI5LCJqdGkiOiJUWVFmRlBub2k5Y2JJdXM4Iiwic3ViIjoxLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.BP2UKDlMv5a0cVhSdU9qXvjA3MDFYomAzv_eWQ1O00" name="token">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-0">
                <span class="email alert-campos">E-mail informado incorretamente ou vazio</span>
                <span class="email radio-red">X</span>
                <input type="email" placeholder="Digite aqui seu email" name="email" value="<?php echo $this->user["id"] ? $this->user["email"] : $this->busca["email"]; ?>" class="CallToAction-input" id="email">

            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-5 col-lg-offset-0">
                <span class="marca alert-campos">Campo obrigatório. Preencha corretamente.</span>
                <span class="marca radio-red">X</span>
                <input type="text" placeholder="Digite aqui sua marca - Ex: Nike, Google..."  name="marca" class="CallToAction-input" id="marca">

            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 col-lg-3 col-lg-offset-0 div-load">
                <div class='uil-facebook-css' style='-webkit-transform:scale(0.68)'><div style="background:#fec901;top:10px;"></div><div style="background:#fec901;top:10px;"></div><div style="top:10px;background:#fec901;"></div></div>
                <button type="submit" class="Button-pesquisa Button--full CallToAction-button">Pesquisar no INPI</button>
            </div>
        </form>

        <!-- modal video tutorial -->
        <button id="play-button" type="button" class="btn btn-popup-tutorial" data-toggle="modal" data-target="#exampleModal">Aprenda é simples
        <p class="veja-video-simples">(Veja o Vídeo)</p>
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button id="pause-button" type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </div>
              <div class="modal-body">
               <div class="embed-responsive embed-responsive-16by9">
                  <iframe id="myVideo" class="embed-responsive-item" src="https://www.youtube.com/embed/5eHXFgeMSXk?enablejsapi=1" frameborder="0" autoplay allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>

       
        <figure><img src="<?php echo $this->baseUrl('static/default/images/logos.png') ?>" alt=""></figure>
        <?php /*
        <img class="arrow-down" src="<?php echo $this->baseUrl('static/default/images/arrow.gif') ?>" alt="">
        */ ?>
        <div class="container_seta">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
    </div>
</header>

<section class="Section">
    <div class="container">
        <div class="border-bottom-dep"></div>
        <div class="row">
            
            <h1 class="Page-title Page-title--testimonials text-center">
                Faça o Processo com um Especialista em Registro de Marca ®
            </h1>
            <div class="col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2"> 
                <ul class="Steps row list-unstyled">
                    <li class="Steps-item col-xs-12 col-sm-3 text-center"><i class="Steps-icon Icon Icon--magnifierBefore"></i>
                        <h4 class="Steps-title">Pesquisa</h4>
                        <p class="Steps-text">Faça sua pesquisa 100% gratuita.</p>
                    </li>
                    <li class="Steps-item col-xs-12 col-sm-3 text-center"><i class="Steps-icon Icon Icon--flagBefore"></i>
                        <h4 class="Steps-title">Pedido de Registro</h4>
                        <p class="Steps-text">Realize o pagamento e registre sua marca com toda facilidade.</p>
                    </li>
                    <li class="Steps-item col-xs-12 col-sm-3 text-center"><i class="Steps-icon Icon Icon--boardBefore"></i>
                        <h4 class="Steps-title">Acompanhamento</h4>
                        <p class="Steps-text">Acompanhe com toda transparência o registro de sua marca.</p>
                    </li>
                    <li class="Steps-item col-xs-12 col-sm-3 text-center"><i class="Steps-icon Icon Icon--regBefore"></i>
                        <h4 class="Steps-title">Registro</h4>
                        <p class="Steps-text">Registre sua marca na MAVIP.</p>
                    </li>
                </ul>
                <ul class="Achievements row list-unstyled">
                    <div class="col-xs-12 col-sm-4 item-landscape">
                        <li class="Achievements-item text-center">
                            <div class="box-achiev">
                                <p class="Achievements-number">+ <span class="Achievements-numberSpan" data-number="1000">1.000</span></p>
                                <p class="Achievements-text">Cadastros de marcas já realizados</p>
                            </div>
                        </li>

                    </div>
                    <div class="col-xs-12 col-sm-4 item-landscape">
                        <li class="Achievements-item">
                            <p class="Achievements-number"><span class="Achievements-numberSpan" data-number="99">99</span>%</p>
                            <p class="Achievements-text">Satisfação garantida por quem já utilizou o serviço</p>
                        </li>
                    </div>
                    <div class="col-xs-12 col-sm-4 item-landscape">
                        <li class="Achievements-item">
                            <p class="Achievements-number"><span class="Achievements-numberSpan" data-number="100">100</span>%</p>
                            <p class="Achievements-text">De transparência nas informações de pesquisa de marcas</p>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="Page-title Page-title--posts text-center">Blog Mavip</h1>
        </div>
    </div>
</div>
<section class="Section Section--blog">
    <div class="container">
        <div class="row">
            <ul class="col-xs-12">
                <?php foreach ($this->posts as $blo): ?>
                    <li class="blog-item text-center col-md-4 col-sm-4 col-xs-12">
                        <?php if ($blo["imagem"]): ?>
                            <img src="<?php echo $this->baseUrl("arqs/blog/" . $blo["imagem"]); ?>" alt="" class="img-responsive">
                        <?php endif; ?>
                        <h2 class="Page-title Page-title--blog text-center"><?php echo $blo['titulo'] ?></h2>
                        <p class="blog-text text-center"><?php echo $blo['resumo'] ?></p>
                        <a href="<?php echo $this->url(array('id' => $this->exibeIdAmigavel($blo['titulo'], $blo['id'])), 'blog-interna', true) ?>" class="reading">Continue Lendo <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                        <span></span>
                    </li>
                <?php endforeach; ?>

            </ul>
        </div>
    </div>
</section>


<?php /*if (count($this->depoimentos) > 0) { ?>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="Page-title Page-title--testimonials text-center">Depoimentos  - Veja quem já fez usando a Ferramenta Mavip</h1>
        </div>
    </div>
</div>
<section class="Section Section--testemonials">
    <div class="container">
        <div class="row">
            <div class="Testimonial-arrowContainer Testimonial-arrowContainer--left col-xs-1 col-md-1"><a href="javascript:" class="Testimonial-arrow Testimonial-arrow--prev Icon Icon--arrowLeftBefore"></a></div>
            <div class="col-xs-10 col-md-8 col-md-offset-1 cont-depoimentos">
                <div id="carousel" class="Testimonial owl-carousel owl-theme">

                    <?php foreach ($this->depoimentos as $value) { ?>
                        <div class="item_faq">
                            <div class="col-xs-12 col-sm-3 col-md-3 img_faq">
                                <figure>
                                    <?php
                                    $imagem_default = 'mavip-default.png';
                                    $imagem = ($value['imagem']) ? $value['imagem'] : $imagem_default;
                                    $url = $this->baseUrl('arqs/depoimentos/' . $imagem);
                                    ?>
                                    <img src="<?php echo $url ?>" alt="<?php echo $value['nome']; ?>" class="">
                                </figure>
                                <figcaption>
                                    <h3><?php echo $value['nome']; ?> </h3>
                                </figcaption>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 text_faq">
                                <div class="">
                                    <p>
                                        <?php echo $value['depoimento']; ?> 
                                    </p>                                    
                                </div>
                            </div>
                        </div>
                    <?php } ?> 


                    <!--                    <div class="Testimonial-item">
                                            <div class="col-xs-12 col-md-3">
                                                <figure class="Testimonial-figure"><img src="<?php echo $this->baseUrl('static/default/images/leo_uchoa.png') ?>" alt="Leo Uchoa" class="Testmonial-image img-responsive center-block"></figure>
                                            </div>
                                            <div class="col-xs-12 col-md-9">
                                                <div class="Testimonial-content">
                                                    <p class="Testimonial-text">Parabéns Mavip, simples e eficaz como nós empresários necessitamos.</p>
                                                    <p class="Testimonial-name">Leo Uchôa</p>
                                                     <p class="Testimonial-job">CEO Tesla</p> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Testimonial-item">
                                            <div class="col-xs-12 col-md-3">
                                                <figure class="Testimonial-figure"><img src="<?php echo $this->baseUrl('static/default/images/joao_fernandes.png') ?>" alt="Joao Fernandes" class="Testmonial-image img-responsive center-block"></figure>
                                            </div>
                                            <div class="col-xs-12 col-md-9">
                                                <div class="Testimonial-content">
                                                    <p class="Testimonial-text">Fiquei muito feliz quando encontrei no Brasil a Mavip.  Fiz o pedido de marca de forma simples e rápida. </p>
                                                    <p class="Testimonial-name">João Fernandes</p>
                                                     <p class="Testimonial-job">CEO Tesla</p> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Testimonial-item">
                                            <div class="col-xs-12 col-md-3">
                                                <figure class="Testimonial-figure"><img src="<?php echo $this->baseUrl('static/default/images/juarez.png') ?>" alt="Juarez Batista" class="Testmonial-image img-responsive center-block"></figure>
                                            </div>
                                            <div class="col-xs-12 col-md-9 u-noPadding">
                                                <div class="Testimonial-content">
                                                    <p class="Testimonial-text">Sou uma pessoa muito critica. Gosto de tudo certinho e de forma clara. Fiquei surpreso com Mavip, fiz várias pesquisas de marca, testei o sistema várias vezes e interagi com o atendimento pelo chat. Mas o que chamou mesmo a atenção foi a forma simples que a Mavip conseguiu fazer de um processo burocrático. 
                                                        Recomendo esse produto para quem deseja fazer tudo em um só lugar e sem burocracia, parabéns!
                                                    </p>
                                                    <p class="Testimonial-name">Juarez Batista</p>
                                                     <p class="Testimonial-job">CEO Tesla</p> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Testimonial-item">
                                            <div class="col-xs-12 col-md-3">
                                                <figure class="Testimonial-figure"><img src="<?php echo $this->baseUrl('static/default/images/derlopidas.png') ?>" alt="Derlópidas Neves" class="Testmonial-image img-responsive center-block"></figure>
                                            </div>
                                            <div class="col-xs-12 col-md-9">
                                                <div class="Testimonial-content">
                                                    <p class="Testimonial-text">O IEL/PB tem prazer em usar uma ferramenta que permite a qualquer cidadão fazer seu próprio registro, mesmo sem conhecimento técnico na área. Parabéns!</p>
                                                    <p class="Testimonial-name">Derlópidas Neves</p>
                                                     <p class="Testimonial-job">CEO Tesla</p> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Testimonial-item">
                                            <div class="col-xs-12 col-md-3">
                                                <figure class="Testimonial-figure"><img src="<?php echo $this->baseUrl('static/default/images/inovativa.png') ?>" alt="Inovativa Brasil" class="Testmonial-image img-responsive center-block"></figure>
                                            </div>
                                            <div class="col-xs-12 col-md-9">
                                                <div class="Testimonial-content">
                                                    <p class="Testimonial-text">Parabéns para Mavip por estar entre as 300 empresas mais inovadoras do Brasil.</p>
                                                    <p class="Testimonial-name">Inovativa Brasil</p>
                                                     <p class="Testimonial-job">CEO Tesla</p> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Testimonial-item">
                                            <div class="col-xs-12 col-md-3">
                                                <figure class="Testimonial-figure"><img src="<?php echo $this->baseUrl('static/default/images/marcus_varandas.png') ?>" alt="Marcus Varandas" class="Testmonial-image img-responsive center-block"></figure>
                                            </div>
                                            <div class="col-xs-12 col-md-9">
                                                <div class="Testimonial-content">
                                                    <p class="Testimonial-text">Até hoje não tinha visto uma forma tão simples de fazer algo tão burocrático</p>
                                                    <p class="Testimonial-name">Marcus Varandas</p>
                                                     <p class="Testimonial-job">CEO Tesla</p> 
                                                </div>
                                            </div>
                                        </div>-->
                </div>
            </div>
            <div class="Testimonial-arrowContainer Testimonial-arrowContainer--right col-xs-1 col-md-1 col-md-offset-1"><a href="javascript:" class="Testimonial-arrow Testimonial-arrow--next Icon Icon--arrowRightBefore"></a></div>
        </div>
    </div>
    <?php } */?>
    <?php  /*?><div class="dep">
        <center>
            <h4>É nosso cliente e deseja enviar o seu testemunho? <a href="<?php echo $this->url(array('controller' => 'depoimento', 'action' => 'index'), 'default', true); ?>" alt="">Clique aqui!</a></h4>
        </center>
    </div>
</section><?php  */?>






<section class="Section Section--homeSponsors">
    <div class="container">
        <div class="row">
            <img src="<?php echo $this->baseUrl("/static/default/images/selo2.png"); ?>" class="img-responsive img-selo">
            <h2 class="Page-title Page-title--testimonials text-center">UMA EMPRESA ACELERADA PELO INOVATIVA BRASIL</h2>
            <div class="Testimonial-arrowContainer Testimonial-arrowContainer--left col-xs-1 col-md-1"><a href="javascript:" class="Testimonial-arrow sponsors-arrow--prev Icon Icon--arrowLeftBefore"></a></div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 logos">
                <ul class="row Sponsors list-unstyled">
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/ABDI.png') ?>" alt="Agência Brasileira de Desenvolvimento Industrial"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center u-noPadding"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/abes.png') ?>" alt="ABES SOFTWARE"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/ABVCAP.png') ?>" alt="Associação Brasileira de Private Equity e Venture Capital"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/ACE.png') ?>" alt="ACE"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/ANPEI.png') ?>" alt="ANPEI"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/anjos-do-brasil.png') ?>" alt="Anjos do Brasil"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/ANPROTEC.png') ?>" alt="Associação Nacional de Entidades Promotoras de Empreendimentos Inovadores"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/APEXBRASIL.png') ?>" alt="Apex Brasil"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/BAITA.png') ?>" alt="BAITA"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/BNDES.png') ?>" alt="BNDES"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/BRASIL-GOVERNO-FEDERAL.png') ?>" alt="Brasil Governo Federal"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/BRASSCOM.png') ?>" alt="BRASSCOM"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/CERTI.png') ?>" alt="CERTI"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/CNI.png') ?>" alt="Confederação Nacional da Indústria"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/CONTETOOLS.png') ?>" alt="CONTETOOLS"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/ENDEAVOR.png') ?>" alt="ENDEAVOR"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/EXACT.png') ?>" alt="EXACT"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/FACEBOOK.png') ?>" alt="FACEBOOK"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/GROW.png') ?>" alt="GROW"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/HBSANGELS.png') ?>" alt="HBSANGELS"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/INOVATIVA-BRASIL.png') ?>" alt="Inovativa Brasil"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/MCKINSEY.png') ?>" alt="MCKINSEY"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/MINISTERIO-DA-INDUSTRIA.png') ?>" alt="Ministério da Indústria"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/SCIBR.png') ?>" alt="SCIBR"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/SEBRAE.png') ?>" alt="SEBRAE"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/SENAI-CIMATEC.png') ?>" alt="SENAI CIMATEC"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/SENAI.png') ?>" alt="SENAI"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/START-YOU-UP.png') ?>" alt="Start You Up"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/TECH-MALL.png') ?>" alt="Tech Mall"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/UK-TRADE-INVESTMENT.png') ?>" alt="UK Trade and Investiment"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/VENTIUR.png') ?>" alt="VENTIUR"></li>
                    <li class="Sponsors-item col-xs-12 col-sm-10 text-center"><img class="img-empresas" src="<?php echo $this->baseUrl('static/default/images/sponsors/WOW.png') ?>" alt="WOW"></li>
                </ul>
            </div>
            <div class="Testimonial-arrowContainer Testimonial-arrowContainer--right col-xs-1 col-md-1"><a href="javascript:" class="seta-right Testimonial-arrow sponsors-arrow--next Icon Icon--arrowRightBefore"></a></div>
        </div>
    </div>

    <script>


    </script>
</section>


<section class="iframe-facebook" style="background-image: url(<?php echo $this->baseUrl('static/default/images/barra-facebook-mavip.png') ?>);">
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmavipregistrodemarcas%2F&tabs&width=400&height=214&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=true&appId=291155841301514" width="400" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</section>

<script>
    var hasVisited = sessionStorage.getItem("hasVisited");
    let form = document.querySelectorAll('.row.CallToAction');
     
    if(form[0]) {
        form[0].addEventListener('submit', function(e) {
            e.preventDefault();
            grecaptcha.ready(function() {
          grecaptcha.execute('6LeajgEdAAAAAMTNAUPQmcbEmOD54YQ4huWAXmjL', {action: 'submit'}).then(function(token) {
              // Add your logic to submit to your backend server here.
              $('input[name=token]').val(token);
              let email = document.getElementById('email');
              let marca = document.getElementById('marca');
              if (marca.value && email.value){
                ga('send', 'event', 'botao', 'clique', 'consulta');
                form[0].submit();
              }
          });
        });
        });
    }

    document.getElementById('btn-ok').onclick = function(){
        document.getElementById('section-termos').style.display = 'none';
        sessionStorage.setItem("hasVisited", true);
   }
    // If falsy, user didn't visited your page yet.
    if (!hasVisited) {
        document.getElementById('section-termos').style.display = 'block';
    }
</script>