<header class="Header Header--home">
      <div class="container">
        <?php echo $this->render('partial/navbar.phtml');?>

          
        <?php echo $this->render('partial/navbar-pesquisa.phtml'); ?>
        
<!--<div id="container">
    <div id="flutuante" onclick="fechar()">
            <a href="void:javascript" title="Banner"><img src="<?php echo $this->baseUrl('static/default/images/banner.png')?>" alt="70% de desconto! Use o código #Promo70%"></a>
    </div>
</div>-->
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-12 col-lg-offset-0">
            <h3 class="Header-title-busca">Pesquise gratuitamente se sua marca está disponível!</h3>
          </div>
        </div>
          <form class="row CallToAction" action="<?php echo $this->url(array(),'busca',true);?>" method="post" id="form-busca">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-0">
            <span class="email alert-campos">E-mail informado incorretamente ou vazio</span>
            <span class="email radio-red">X</span>
            <input type="email" placeholder="Digite aqui seu email" name="email" value="<?php echo $this->user["id"]?$this->user["email"]:$this->busca["email"];?>" class="CallToAction-input" id="email">

          </div>
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-5 col-lg-offset-0">
            <span class="marca alert-campos">Campo obrigatório. Preencha corretamente.</span>
            <span class="marca radio-red">X</span>
            <input type="text" placeholder="Digite aqui sua marca - Ex: Nike, Google..." name="marca" class="CallToAction-input" id="marca">

          </div>
          <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 col-lg-3 col-lg-offset-0 div-load">
            <div class='uil-facebook-css' style='-webkit-transform:scale(0.68)'><div style="background:#fec901;top:10px;"></div><div style="background:#fec901;top:10px;"></div><div style="top:10px;background:#fec901;"></div></div>
            <button type="submit" class="Button-pesquisa Button--full CallToAction-button">Pesquisar no INPI</button>
          </div>
        </form>
        <figure><img src="<?php echo $this->baseUrl('static/default/images/logos.png')?>" alt=""></figure>
      </div>
    </header>

         	<div class="col-xs-12 col-sm-10 col-md-5 col-sm-offset-1 text-right2">
				<p class="Page-text Page-text--small text-pesquisa">
					O Instituto Nacional da Propriedade Industrial,
					conecido pela sigla INPI é o único órgão responsável
					pelo registro de marca no Brasil.<br><br>

					É o INPI quem exige que toda marca seja classificada
					conforme a Lei da Propriedade Industrial - LPI,
					Dessa forma é possivél comparar as marcas e
					saber se ela já foi registrada ou está disponível.<br><br>

					Sendo assim é preciso escolher uma das três opções: 
					Produto, Serviço ou Comércio. E selecionar a 
					atividade que melhor identifica sua empresa.<br><br>

					Ao clicar em pesquisar, nosso sistema vai no INPI e
					realiza uma consulta na base de dados para saber
					a disponibilidade da marca desejada.
				 </p>
         	</div>
		
		  <div class="col-xs-12 col-sm-12 col-md-5 pesquisa-img">
           <p class="Page-text Page-text--small">
			   <figure><img src="<?php echo $this->baseUrl('static/default/images/search_engine.png')?>" class="img-responsive" alt=""></figure>
			 </p>
         </div>

		<!-- /// FAIXA -->
			<div class="col-xs-10 col-xs-offset-1 faixa-texto text-center">
				<p class="col-md-6 col-sm-7 col-xs-12 col-md-offset-1 text-left">A inovação da pesquisa para o registro</p>
				<p class="col-md-4 col-sm-5 col-xs-12 text-right">Pesquisa 100% gratuita</p>
			</div>
		<!-- FAIXA /// -->

		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-offset-1 col-md-offset-1 pesquisa-img">
           	<p class="Page-text Page-text--small">
			  <figure><img src="<?php echo $this->baseUrl('static/default/images/marca-forca.png')?>" class="img-responsive" alt=""></figure>
			 </p>
		</div>
			 <div class="col-xs-12 col-sm-10 col-md-5 text-left2-2">
				<p class="Page-text Page-text--small text-pesquisa">
					Esse é o primeiro programa de computador do Brasil
					capaz de informar se é possívelregistrar uma marca
					no INPI, sem a necessidade de conhecimento técnico.<br><br>

					Ao clicar em “Pesquisar” você estará usando uma
					tecnologia pioneira que possibilita a qualquer pessoa, empresário ou potencial empresário, sem conhecimento técnico jurídico, consultar uma marca na base de dados do INPI.<br><br>

					Rápido, simples e sem burocracia o resultado é 
					apresentado com indicação: Inviável, Crítica ou Viável
				 </p>
		 </div>

			<div class="col-xs-10 col-xs-offset-1 faixa-texto text-center" style="background-color:#9b58b6">
				<p class="col-md-6 col-sm-7 col-xs-12 col-md-offset-1 text-left">Confira a transparência no INPI</p>
				<p class="col-md-4 col-sm-5 col-xs-12 text-right" style="margin-top: 32px;">*Não envia cobrança e não liga pra ninguém</p>
			</div>


         	<div class="col-xs-12 col-sm-10 col-md-5 col-sm-offset-1 text-right2">
				<p class="Page-text Page-text--small text-pesquisa">
					O Instituto Nacional da Propriedade Industrial - INPI,
					usa do direito de não entrar em contato com niguem,
					pessoa física ou jurídica.<br><br>

					Logo, NÃO ENVIA BOLETOS ou FAZ LIGAÇÕES para
					empresas, sendo o único canal de comunicação o
					portal www.inpi.gov.br, onde está concentrada
					todas as informações sobre marcas e patente.<br><br>

					Temos foco na transparência e toda informação 
					disponibilizada pela MAVIP Registro de Marcas,
					pode ser auditada no portal do INPI. 
				 </p>
         	</div>

		  <div class="col-xs-12 col-sm-12 col-md-5">
             <ul class="icones-pesquisa col-xs-12">
              <li class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-offset-0 text-center">
				 <img src="<?php echo $this->baseUrl('static/default/images/lupa-pesquisa.png')?>" class="img-responsive" alt="">
                <h4 class="icone-text">Buscamos em toda a base do INPI por você, tudo bem mais fácil</h4>
              </li>
              <li class="col-xs-12 col-sm-5 text-center">
				 <img src="<?php echo $this->baseUrl('static/default/images/screen-pesquisa.png')?>" class="img-responsive" alt="">
                <h4 class="icone-text">Buscamos em toda a base do INPI por você, tudo bem mais fácil</h4>
              </li>
              <li class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-offset-0 text-center icone-top">
				 <img src="<?php echo $this->baseUrl('static/default/images/cartao-pesquisa.png')?>" class="img-responsive" alt="">
                <h4 class="icone-text">Buscamos em toda a base do INPI por você, tudo bem mais fácil</h4>
              </li>
              <li class="col-xs-12 col-sm-5 text-center icone-top">
				 <img src="<?php echo $this->baseUrl('static/default/images/check-pesquisa.png')?>" class="img-responsive" alt="">
                <h4 class="icone-text">Buscamos em toda a base do INPI por você, tudo bem mais fácil</h4>
              </li>
            </ul>
         </div>

		<!-- /// FAIXA -->
			<div class="col-xs-10 col-xs-offset-1 faixa-texto-laranja text-center">
				<p>Fique ATENTO são 4 fases até o Registro</p>
				<p class="text-amarelo">Com o registro são 10 anos de propriendade sobre a marca</p>
			</div>
		<!-- FAIXA /// -->

    <section class="Section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2"> 
            <ul class="Steps row list-unstyled">
              <li class="Steps-item col-xs-12 col-sm-3 text-center"><i class="Steps-icon Icon Icon--magnifierBefore"></i>
                <h4 class="Steps-title">Pesquise</h4>
              </li>
              <li class="Steps-item col-xs-12 col-sm-3 text-center"><i class="Steps-icon Icon Icon--flagBefore"></i>
                <h4 class="Steps-title">Pedido Registro</h4>
              </li>
              <li class="Steps-item col-xs-12 col-sm-3 text-center"><i class="Steps-icon Icon Icon--boardBefore"></i>
                <h4 class="Steps-title">Acompanhe</h4>
              </li>
              <li class="Steps-item col-xs-12 col-sm-3 text-center"><i class="Steps-icon Icon Icon--regBefore"></i>
                <h4 class="Steps-title">Registre</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>