<header class="Header Header--login">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
        <?php // echo $this->render('partial/navbar-home.phtml'); ?> 
    </div>
</header>

<div class="container">
<div class="row">
<div class="col-xs-12 col-lg-10 col-lg-offset-1">
    <section class="preco-box">
        <div class="row">
            <div class="box__assinatura col-xs-12 col-lg-10 col-lg-offset-1">
                <h2 class="col-xs-12 col-lg-8 col-lg-offset-2">Assinatura MAVIP</h2>
                <div class="div-assinatura-topo">
                    <span>R$99 <p class="noventaSete">,97</p> <p class="porMes">por mês</p></span>
                    <a class="saber_mais" href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 19), 'default', true); ?>">Clique para </br> Saber Mais</a>
                </div>
                <p clas="p-entrada">M4ensalidade de R$99,97 por mês.<br>
                    Todos os Serviços Básicos com Taxa Federal INCLUIDA.</p>
            </div>

            <div class="box__preco-mercado col-xs-12 col-lg-10 col-lg-offset-1">
                <h2 class="tit-box">Comparativo de Preços no  Mercado</h2>
                <ul>
                    <li class="col-xs-4 col-lg-4"><span class="tit-preco">INPI</span> <span>R$ 142</span> <span>Complexo</span></li>
                    <li class="col-xs-4 col-lg-4"><span>GRANDES ESCRITÓRIOS</span>  <span>R$ 1.800</span> <span>Caro</span></li>
                    <li class="col-xs-4 col-lg-4"><span class="tit-preco">MAVIP</span> <span>* R$ 99,97</span> <span>EFICIENTE</span></li>
                    <span>Garantimos a mesma segurança por sermos cadastrados na OAB e INPI</span>
                </ul>
                <p>* valor de (R$99,97), por mês, possível apenas para Assinatura Mavip; ** Promoção válidada enquanto estiver disponível; *** Promoções e/ou Descontos NÃO CUMULATIVOS.</p>
                
            </div>

            <div class="box__servicos-free col-xs-12 col-lg-10 col-lg-offset-1">
                <h2 class="tit-box-2">Serviços 100% Gratuito</h2>
                <table class="tabela-desktop table">
                    <tr>
                        <td class="col-xs-12 col-lg-7"></td>
                        <td class="col-xs-12 col-lg-2 td-laranja-tit">Concorrentes</td>
                        <td class="col-xs-12 col-lg-2 td-roxo-tit">MAVIP</td>
                        <td class="col-xs-12 col-lg-2 td-roxo-tit">100% Gratuito</td>
                    </tr>
                    <tr>
                        <td class="col-xs-12 col-lg-7 td-cinza">Pesquisa de Marca no INPI</td>
                        <td class="col-xs-12 col-lg-2 td-laranja">mais de R$ 70,00</td>
                        <td class="col-xs-12 col-lg-2 td-roxo">Gratuito</td>
                        <td class="col-xs-12 col-lg-2 td-verde td_link"><a href="<?php echo $this->url(array(), 'pesquisa', true); ?>">Pesquisar</a></td>
                    </tr>
                    <tr>
                        <td class="col-xs-12 col-lg-7 td-cinza">Registro MAVIP ONGs</td>
                        <td class="col-xs-12 col-lg-2 td-laranja">R$ 5.484</td>
                        <td class="col-xs-12 col-lg-2 td-roxo">Gratuito</td>
                        <td class="col-xs-12 col-lg-2 td-verde td_link"><a href="<?php echo $this->url(array('controller' => 'account', 'action' => 'login'), 'default', true); ?>">Aplicar</a></td>
                    </tr>
                </table>
                <div class="tabela-mobile row">
                        <ul class="col-xs-12">
                            <li class="col-xs-12">Pesquisa MAVIP</li>
                            <li class="col-xs-6">MAVIP Gratuito</li>
                            <li class="col-xs-6">CONCORRENTES +R$100</li>
                        </ul>
                        <ul class="col-xs-12">
                            <li class="col-xs-12">Registro MAVIP ONGs</li>
                            <li class="col-xs-6">MAVIP Gratuito</li>
                            <li class="col-xs-6">CONCORRENTES R$5.484</li>
                        </ul>
                </div>
                
            </div>
            <div class="box__servicos-basicos col-xs-12 col-lg-10 col-lg-offset-1">
                <h2 class="tit-box-2">Serviços Básicos</h2>
                <table class="table">
                    <tr>
                        <td class="col-xs-8 col-lg-8 td-cinza">Pedido de Registro</td>
                        <td class="col-xs-4 col-lg-4 td-roxo">R$ 1.980</td>
                        <td class="col-xs-12 col-lg-2 td-azul"><a class="btn-link-contratar"  href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 1), 'default', true); ?>">Contratar</a></td>
                    </tr>
                    <tr>
                        <td class="col-xs-8 col-lg-8 td-cinza">Acompanhamento Ano</td>
                        <td class="col-xs-4 col-lg-4 td-roxo">R$ 840</td>
                        <td class="col-xs-12 col-lg-2 td-azul"><a class="btn-link-contratar" href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 2), 'default', true); ?>">Contratar</a></td>
                    </tr>
                      <tr>
                        <td class="col-xs-8 col-lg-8 td-cinza">Registro Online (Prazo Ordinário)</td>
                        <td class="col-xs-4 col-lg-4 td-roxo">R$ 1.780</td>
                        <td class="col-xs-12 col-lg-2 td-azul">
                            <a class="btn-link-contratar" href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 3), 'default', true); ?>">Contratar</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="box_assinatura_mavip col-xs-12 col-lg-10 col-lg-offset-1">
                <table class="table">
                    <tr>
                        <td class="col-xs-8 col-lg-8 td-gray_">
                            <h2>Assinatura MAVIP</h2>
                            <p>Mensalidade de R$99,97 por mês.<br>
                    Todos os Serviços Básicos com Taxa Federal INCLUIDA.</p>
                        </td>
                        <td class="col-xs-4 col-lg-4 td-roxo">
                            <h1>R$ 99<sup>,97</sup></h1>
                            <span class="por_mes_">por mes</span>
                        </td>
                        <td class="col-xs-12 col-lg-2 td-azul td_assine" style="min-width:81px;vertical-align: middle; background:#191919;"><a class="btn-link-contratar"  href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 19), 'default', true); ?>">Assine Agora</a></td>
                    </tr>
                </table>
            </div>

            <div class="box__servicos-avancados col-xs-12 col-lg-10 col-lg-offset-1">
                <h2 class="tit-box-2">Serviços Avançados <span>(Exigidos pelo INPI)</span></h2>
                <table class="table">
                    <tr>
                        <td class="col-xs-7 col-lg-8 td-cinza">Registro Online <span>(Prazo Extraordinário)</span></td>
                        <td class="col-xs-5 col-lg-4 td-roxo">R$ 1.980</td>
                        <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar" href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 4), 'default', true); ?>">Contratar</a></td>
                    </tr>
                    <tr>
                        <td style="background: #fff">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="col-xs-7 col-lg-8 td-cinza">Renovação Registro Online (Prazo Ordinário)</td>
                        <td class="col-xs-5 col-lg-4 td-roxo">R$ 1.780</td>
                        <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar"  href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 8), 'default', true); ?>">Contratar</a></td>
                    </tr>
                    <tr>
                        <td class="col-xs-7 col-lg-8 td-cinza">Renovação Registro Online (Prazo Extraordinário)</td>
                        <td class="col-xs-5 col-lg-4 td-roxo">R$ 1.980</td>
                        <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar" href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 4), 'default', true); ?>">Contratar</a></td>
                    </tr>
                    <tr>
                        <td style="background: #fff">&nbsp;</td>
                    </tr>
                     <tr>
                        <td class="col-xs-7 col-lg-8 td-cinza">Manifestação Oposição</td>
                        <td class="col-xs-5 col-lg-4 td-roxo">á Combinar</td>
                        <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar"  href="mailto:atendimento@mavip.com.br">Contratar</a></td>
                    </tr>
                    <tr>
                        <td class="col-xs-7 col-lg-8 td-cinza">Notificação Extrajudicial</td>
                        <td class="col-xs-5 col-lg-4 td-roxo">á Combinar</td>
                        <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar" href="mailto:atendimento@mavip.com.br">Contratar</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-lg-10 col-lg-offset-1 box__observacao">
                <strong>Observações:</strong>
                <p>
                    * É necessário o pagamento de Guia de Recolhimento da União (GRU) para vários serviços acima listados.
                </p>
            </div>
        </div>
    </section>
    </div>
    </div>
</div>