<header class="Header Header--login">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>

      <?php // echo $this->render('partial/navbar-home.phtml'); ?> 
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <section class="Login-box">
                <div class="Register-boxContent">
                    <div class="row">
                        <div class="col-xs-12 col-md-10 col-md-offset-1">
                            <h1 class="Page-title">Preços</h1>
                        </div>
                    </div>
					<br/>
                 <!--   <div class="row">
                        <div class="col-xs-12 col-md-8 col-md-offset-1">
                            <h2 class="Page-subtitle u-mb45">Conheça os serviços disponíveis na MAVIP Tecnologia.</h2>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-xs-12 col-md-10 col-md-offset-1">
                          <!--  <ul class="ServiceList list-unstyled">
                                <?php foreach ($this->servicos as $ser): ?>
                                    <li class="ServiceList-item" id="servico<?php echo $ser['id']; ?>">
                                        <h4 class="ServiceList-title"><?php echo $ser['titulo']; ?></h4>
                                        <p class="ServiceList-text"><?php echo $ser['descricao']; ?></p>       
                                        <?php if ($ser['vendavel']): ?>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6 col-md-offset-3"><a href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => $ser['id']), 'default', true); ?>" class="Button Button--full text-center">Contratar Serviço</a></div>
                                            </div>    
                                        <?php endif; ?>
                                        <?php if ($ser['id'] == 5): ?>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6 col-md-offset-3"><a href="<?php echo $this->url(array(), 'pesquisa', true); ?>" class="Button Button--full text-center">Pesquisa 100% gratuita</a></div>
                                            </div>    
                                        <?php endif; ?>
                                    </li>
                                <?php endforeach; ?>

                            </ul>	-->
                            <!--//////// TABELA 1 /////////-->
                            <div class="responsive-table">
                                <table class="table table-servico">
                                    <thead >
                                        <tr>
                                            <th>Tipo de Serviço</th>
                                            <th>Simples</th>
                                            <th>Convênio</th>
                                            <th>Promocional</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="responsive-table-title">Pesquisa de Marca Interpretada</td>
                                            <td class="responsive-data" data-title="Simples">Gratuita</td>
                                            <td class="responsive-data" data-title="Convênio">Gratuita</td>
                                            <td class="responsive-data" data-title="Promocional">Gratuita</td>
                                        </tr>
                                        <?php foreach ($this->servicos as $ser): ?>
                                        <?php if($ser['vendavel'] AND $ser['id'] != 5):?>
                                        <tr>
                                            <td class="responsive-table-title"><?php echo $ser['titulo']; ?></td>
                                            <td class="responsive-data" data-title="Simples">
                                                <?php echo $this->exibeValor($ser["valor"]);?>
                                                <?php if ($ser["anexo_valor"]): ?>
                                                    + <br><?php echo $ser["anexo_valor"] ?>
                                                <?php endif ?>
                                            </td>
                                           <!-- <td><?php if(!$ser["promocional"]):?><?php else:?><img src="<?php echo $this->baseUrl('static/default/images/barra2.png') ?>"><?php endif;?></td>-->
                                            <td class="responsive-data" data-title="Convênio"><img src="<?php echo $this->baseUrl('static/default/images/barra2.png') ?>"></td>
                                            <td class="responsive-data" data-title="Promocional">Ver no site </td>
                                        </tr>
                                        <?php endif;?>
                                        <?php endforeach;?>


                                </table>
                            </div>
                            <h5>*É necessário o pagamento de Guia de Recolhimento da União (GRU), para vários serviços acima listados.</h5>
                            <h5><strong>*Promoções e/ou Descontos NÃO ACUMULATIVOS.</strong></h5>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-12">
                        <h2 class="Page-subtitle u-mb45 text-center" style="
                            font-size: 30px; padding-top: 50px;">DISPONÍVEL, SEM SAIR DO PORTAL MAVIP</h2>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-10 col-md-offset-1">

                            <!--//////// TABELA 2 /////////-->
                            <table class="table table-servico2">
                                <tbody>
                                    <tr>
                                        <td>Cadastramento no INPI</td>
                                        <td><img src="<?php echo $this->baseUrl('static/default/images/confirmation2.png') ?>"></td>									
                                    </tr>	
                                    <tr>
                                        <td>Pedido de Registro no INPI</td>
                                        <td><img src="<?php echo $this->baseUrl('static/default/images/confirmation2.png') ?>"></td>									
                                    </tr>
                                    <tr>
                                        <td>Acompanhamento de Pedido de Marca no INPI</td>
                                        <td><img src="<?php echo $this->baseUrl('static/default/images/confirmation2.png') ?>"></td>									
                                    </tr>
                                    <tr>
                                        <td>Registro de Marca após exame</td>
                                        <td><img src="<?php echo $this->baseUrl('static/default/images/confirmation2.png') ?>"></td>									
                                    </tr>

                            </table>		

                            <!--//////// TABELA 3 /////////-->
                            <table class="table table-servico2">
                                <tbody>
                                    <tr>
                                        <td>Renovação do Registro de Marca</td>
                                        <td><img src="<?php echo $this->baseUrl('static/default/images/confirmation2.png') ?>"></td>									
                                    </tr>	
                                    <tr>
                                        <td>Gerar Guia de Recolhimento da União (GRU)</td>
                                        <td><img src="<?php echo $this->baseUrl('static/default/images/confirmation2.png') ?>"></td>									
                                    </tr>
                                    <tr>
                                        <td>Suporte por Chat</td>
                                        <td><img src="<?php echo $this->baseUrl('static/default/images/confirmation2.png') ?>"></td>									
                                    </tr>
                                    <tr>
                                        <td>Suporte por Telefone <strong> (Agendado)</strong></td>
                                        <td><img src="<?php echo $this->baseUrl('static/default/images/confirmation2.png') ?>"></td>									
                                    </tr>

                            </table>	

                        </div>
                        <div class="col-xs-12 col-md-10 col-md-offset-1"><h5>*O valor da Guia de Recolhimento da União (GRU), é de responsabilidade do empresário e condicionado ao pagamento junto com os honorários para completa prestação do serviço contratado.</h5></div>
                        <div>
                        </div>
                        </section>
                    </div>
                </div>
        </div>