<header class="Header Header--login">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
        <?php // echo $this->render('partial/navbar-home.phtml'); ?> 
    </div>
</header>

<div class="container">
<div class="row">
<div class="col-xs-12 col-lg-10 col-lg-offset-1">
    <section class="preco-box precos_new_table">
        <div class="row">
             <div class="box__assinatura col-xs-12 col-lg-10 col-lg-offset-1">
                <h2 class="col-xs-12 col-lg-8 col-lg-offset-2">Temos os melhores planos para você, <span>Aproveite</span></h2>
            </div> 

           <!--  <div class="box__assinatura col-xs-12 col-lg-10 col-lg-offset-1">
                <img class="logo-select" src="<?php //echo $this->baseUrl('static/default/images/mavip_select.png') ?>" alt="">
                <div class="div-assinatura-topo">
                    <span>R$99 <p class="noventaSete">,97</p> <p class="porMes">por mês</p></span>
                    <a class="saber_mais" href="<?php //echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 19), 'default', true); ?>">Clique para </br> Saber Mais</a>
                </div>
                <p clas="p-entrada">Todos os serviços básicos.</p>
            </div> -->

            <div class="box__servicos-avancados col-lg-10 col-lg-offset-1 table-responsive">

                <table class="table">
                    <tr class="cabecalho">

                        <td class="letter-laranja" width="40%" style="color:#fff; font-size: 14px;">
                            Caracteristicas
                        </td>
                        <td width="15%" class="letter-roxo" style="color:#fff">
                            Prime
                            <?php /*
                            <img src="<?php echo $this->baseUrl('static/default/images/mavipselect.jpg') ?>" alt="" style="max-width: 50%;">
                            */ ?>
                        </td>
                        <td  width="15%" class="letter-laranja" style="color:#fff">
                            Select
                            <?php /*
                            <img src="<?php echo $this->baseUrl('static/default/images/mavip_logo.png') ?>" alt="">
                            */ ?>
                        </td>
                        <td  width="15%" class="letter-laranja" style="color:#fff">
                            One Plus
                            <?php /*
                            <img style="width: 90%;" src="<?php echo $this->baseUrl('static/default/images/mavipone.jpg') ?>" alt="">
                            */ ?>
                        </td>

                    </tr>


                    <tr class="cabecalho">
                        <td class="td-cinza" width="40%">
                            <button data-toggle="tooltip" title="<?php echo $this->configs['tooltip_rev_processo'];?>"><i class="fas fa-question-circle"></i> Revisão Mavip do Processo </button>
                        </td>
                        <td class="td-roxo" width="15%"><i class="fa fa-check fa-3x" aria-hidden="true"></i></td>
                        <td class="td-laranja" width="15%"><i class="fa fa-check fa-3x" aria-hidden="true"></i></td>
                        <td class="td-nude" width="15%"><i class="fa fa-check fa-3x" aria-hidden="true"></i></td>
                    </tr>
                    <tr class="cabecalho">
                        <td class="td-cinza" width="40%"><button data-toggle="tooltip" title="<?php echo $this->configs['tooltip_rev_marca'];?>"><i class="fas fa-question-circle"></i> Revisão Mavip da Logomarca </button></td>
                        <td class="td-roxo" width="15%"><i class="fa fa-check fa-3x" aria-hidden="true"></i></td>
                        <td class="td-laranja" width="15%"><i class="fa fa-check fa-3x" aria-hidden="true"></i></td>
                        <td class="td-nude" width="15%"><i class="fa fa-check fa-3x" aria-hidden="true"></i></td>
                    </tr>
                    <tr class="cabecalho">
                        <td class="td-cinza" width="40%">
                            <button data-toggle="tooltip" title="<?php echo $this->configs['tooltip_pedido'];?>"><i class="fas fa-question-circle"></i> Pedido de Registro da Marca </button>
                        </td>
                        <td class="td-roxo" width="15%"><i class="fa fa-check fa-3x" aria-hidden="true"></i></td>
                        <td class="td-laranja" width="15%"><i class="fa fa-check fa-3x" aria-hidden="true"></i></td>
                        <td class="td-nude" width="15%"><i class="fa fa-check fa-3x" aria-hidden="true"></i></td>
                    </tr>

                    <tr class="cabecalho">
                        <td class="td-cinza" width="40%"><button data-toggle="tooltip" title="<?php echo $this->configs['tooltip_acompanhamento'];?>"><i class="fas fa-question-circle"></i> Acompanhamento </button></td>
                        <td class="td-roxo" width="15%"><i class="fa fa-check fa-3x" aria-hidden="true"></i></td>
                        <td class="td-laranja" width="15%"><span></span><i class="fa fa-check fa-3x" aria-hidden="false"></i></td>
                        <td class="td-nude" width="15%"><span></span><i class="fa fa-check fa-3x" aria-hidden="false"></i></td>
                    </tr>

                    <tr class="cabecalho">
                        <td class="td-cinza" width="40%">
                            <button data-toggle="tooltip" title="<?php echo $this->configs['tooltip_diagnostico'];?>"><i class="fas fa-question-circle"></i> Diagnóstico de Classificação</button>
                        </td>
                        <td class="td-roxo" width="15%"><i class="fa fa-check fa-3x" aria-hidden="true"></i></td>
                        <td class="td-laranja" width="15%"><span></span><i class="fa fa-check fa-3x" aria-hidden="true"></i></td>
                        <td class="td-vazio td-vazio-nude" width="15%"><span></span><i class="fa fa-times fa-3x" aria-hidden="true"></i></td>
                    </tr>

                    <tr class="cabecalho">
                        <td class="td-cinza" width="40%">
                            <button data-toggle="tooltip" title="<?php echo $this->configs['tooltip_terceiros'];?>"><i class="fas fa-question-circle"></i> Carta para Terceiros</button>
                        </td>
                        <td class="td-roxo" width="15%"><i class="fa fa-check fa-3x" aria-hidden="true"></i></td>
                        <td class="td-laranja" width="15%">
                            <span></span><i class="fa fa-check fa-3x" aria-hidden="true"></i>
                        </td>
                        <td class="td-vazio td-vazio-nude" width="15%">
                            <span></span><i class="fa fa-times fa-3x" aria-hidden="true"></i>
                        </td>
                    </tr>

                    <tr class="cabecalho">
                        <td class="td-cinza" width="40%">
                            <button data-toggle="tooltip" title="<?php echo $this->configs['tooltip_concluir_registro'];?>"><i class="fas fa-question-circle"></i> Conclusão do Registro</button>
                        </td>
                        <td class="td-roxo" width="15%"><i class="fa fa-check fa-3x" aria-hidden="true"></i></td>
                        <td class="td-laranja" width="15%">
                            <span></span><i class="fa fa-check fa-3x" aria-hidden="true"></i>
                        </td>
                        <td class="td-vazio td-vazio-nude" width="15%">
                            <span></span><i class="fa fa-times fa-3x" aria-hidden="true"></i>
                        </td>
                    </tr>

                    <tr class="cabecalho">
                        <td class="td-cinza td_tag" style="background: #63ec67;color:#fff" width="40%">
                            <button style="color: #9b58b6;" data-toggle="tooltip" title="<?php echo $this->configs['tooltip_garantia'];?>"><i class="fas fa-question-circle"></i> Garantia Mavip</button>
                        </td>
                        <td class="td-roxo" width="15%"><i class="fa fa-check fa-3x" aria-hidden="true"></i></td>
                        <td class="td-laranja" width="15%">
                            <span></span><i class="fa fa-check fa-3x" aria-hidden="true"></i>
                        </td>
                        <td class="td-vazio td-vazio-nude" width="15%">
                            <span></span><i class="fa fa-times fa-3x" aria-hidden="true"></i>
                        </td>
                    </tr>

                    <tr class="cabecalho">
                        <td class="td-cinza td_tag" style="background: #63ec67;color:#fff" width="40%">
                            <button style="color: #9b58b6;" data-toggle="tooltip" title="<?php echo $this->configs['tooltip_busca_name'];?>"><i class="fas fa-question-circle"></i> Busca de Nome (Name)</button>
                        </td>
                        <td class="td-roxo" width="15%"><i class="fa fa-check fa-3x" aria-hidden="true"></i></td>
                        <td class="td-laranja" width="15%">
                            <span></span><i class="fa fa-check fa-3x" aria-hidden="true"></i>
                        </td>
                        <td class="td-vazio td-vazio-nude" width="15%">
                            <span></span><i class="fa fa-times fa-3x" aria-hidden="true"></i>
                        </td>
                    </tr>

                    <tr class="cabecalho">
                        <td class="td-cinza" width="40%">
                            <button data-toggle="tooltip" title="<?php echo $this->configs['tooltip_consultor'];?>"><i class="fas fa-question-circle"></i> Consultor (Vídeo Conferência) </button>
                        </td>
                        <td class="td-roxo" width="15%"><i class="fa fa-check fa-3x" aria-hidden="true"></i></td>
                        <td class="td-vazio" width="15%">
                            <span></span><i class="fa fa-times fa-3x" aria-hidden="true"></i>
                        </td>
                        <td class="td-vazio td-vazio-nude" width="15%">
                            <span></span><i class="fa fa-times fa-3x" aria-hidden="true"></i>
                        </td>
                    </tr>
                    
                    <tr class="cabecalho">
                        <td class="td-cinza" width="40%"><button data-toggle="tooltip" title="<?php echo $this->configs['tooltip_titularidade'];?>"><i class="fas fa-question-circle"></i> Transferência de Titularidade </button></td>
                        <td class="td-roxo" width="15%"><i class="fa fa-check  fa-3x" aria-hidden="true"></i></td>
                        <td class="td-vazio" width="15%"><span></span><i class="fa fa-times  fa-3x" aria-hidden="true"></i></td>
                        <td class="td-vazio td-vazio-nude" width="15%"><span></span><i class="fa fa-times fa-3x" aria-hidden="true"></i></td>
                    </tr>

                    <tr class="cabecalho">
                        <td class="td-cinza td_tag" width="40%" style="background: #63ec67;color:#fff">
                            <button style="color: #9b58b6;" data-toggle="tooltip" title="<?php echo $this->configs['tooltip_rec_administrativo_simples'];?>"><i class="fas fa-question-circle"></i> Recurso Administrativo Simples </button>
                        </td>
                        <td class="td-roxo" width="15%"><i class="fa fa-check fa-3x" aria-hidden="true"></i></td>
                        <td class="td-vazio" width="15%"><span></span><i class="fa fa-times fa-3x" aria-hidden="true"></i></td>
                        <td class="td-vazio td-vazio-nude" width="15%"><span></span><i class="fa fa-times fa-3x" aria-hidden="true"></i></td>
                    </tr>

                     <!--tr class="cabecalho">
                        <td width="40%" style="color:#aaa;font-size: 11px;">Observação: Taxa(s) do Governo de<br>competência do contratante.</td>
                        <td width="15%" class="letter-roxo" style="background: #ddd;padding:10px 0 !important;height:auto !important"><?php echo  $this->exibeValor($this->servico3['valor']);?></td>
                        <td width="15%" class="letter-laranja" style="background: #ddd;padding:10px 0 !important;height:auto !important"><?php echo  $this->exibeValor($this->servico2['valor']);?></td>
                        <td width="15%" class="letter-laranja letter-nude" style="background: #ddd;padding:10px 0 !important;height:auto !important"><?php echo  $this->exibeValor($this->servico1['valor']);?></td>
                    </tr-->

                    <tr class="cabecalho">
                       <td width="40%" style="color:#aaa;font-size: 16px;">Observação: Taxa(s) do Governo de<br>competência do contratante.</td>
                       <td width="15%" class="letter-roxo" style="background: #ddd;padding:10px 0 !important;height:auto !important"><?php echo   str_replace(',00', '', $this->exibeValor($this->servico3['valor']));?></td>
                       <td width="15%" class="letter-laranja" style="background: #ddd;padding:10px 0 !important;height:auto !important"><?php echo   str_replace(',00', '', $this->exibeValor($this->servico2['valor']));?></td>
                       <td width="15%" class="letter-laranja letter-nude" style="background: #ddd;padding:10px 0 !important;height:auto !important"><?php echo   str_replace(',00', '', $this->exibeValor($this->servico1['valor']));?></td>
                   </tr>

                    <tr class="cabecalho cabecalho_contratar">
                        <td width="40%"></td>
                        <td width="15%" class="td-l" style="padding:0;"><a href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => $this->mavip), 'default', true); ?>">Clik para Contratar</a></td>
                        <td width="15%" class="td-r" style="padding:0;"><a href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => $this->mavip_select), 'default', true); ?>">Clik para Contratar</a></td>
                        <td width="15%" class="td-l" style="padding:0;"><a href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => $this->mavip_one), 'default', true); ?>">Clik para Contratar</a></td>
                        
                    </tr>
                    
                </table>
            </div>
            <div class="box__preco-mercado col-xs-12 col-lg-12">
                <h2 class="tit-box">Comparativo de Preços no Mercado</h2>
                <ul>
                    <li class="col-xs-12 col-lg-3"><span class="tit-preco"><?php echo $this->configs['precos_mercado_titulo2'];?></span>  <span><?php echo $this->configs['precos_mercado_valor2'];?></span> <span><?php echo $this->configs['precos_mercado_complemento2'];?></span></li>
                    <li class="col-xs-12 col-lg-3"><span class="tit-preco"><?php echo $this->configs['precos_mercado_titulo3'];?></span> <span><?php echo $this->configs['precos_mercado_valor3'];?></span> <span><?php echo $this->configs['precos_mercado_complemento3'];?></span></li>
                    <li class="col-xs-12 col-lg-6">
                        <div class="col-xs-12"> <span class="tit-preco" style="font-size: 22px; height: 60px;"><?php echo $this->configs['precos_mercado_titulo4'];?></span></div>
                        <div class="col-xs-6">
                            Cerca de
                        </div>
                        <div class="col-xs-6">
                            Cerca de
                        </div>
                        <div class="col-xs-6">
                            <div class="precos-risco"> <?php echo $this->configs['precos_mercado_valor4'];?></div>
                        </div>
                        <div class="col-xs-6">
                            <div class="precos-risco">R$ 100.000</div>
                        </div>
                        <div class="col-xs-6">Custo do processo</div>
                        <div class="col-xs-6"> <?php echo $this->configs['precos_mercado_complemento4'];?></div>
                    </li>
                    <span>Garantimos a mesma segurança por ser cadastrado no INPI e reconhecido pela CGU</span>
                </ul>
            </div>
            <section class="col-md-12 col-lg-offset-1">
                <button id="button-click"  class="btn-collapse-precos collapsed content-link" data-toggle="collapse" href="#toggle-button" role="button" aria-expanded="true" aria-controls="toggle-button">Clique para ver Outros Serviços</button>
            </section>

            <div id="toggle-button" class="collapse">
                <div id="box_free_sec" class="box__servicos-free col-xs-12 col-lg-10 col-lg-offset-1">
                    <h2 class="tit-box-2">Serviços 100% Gratuito</h2>
                    <table class="tabela-desktop table">
                        <tr>
                            <td class="col-xs-12 col-lg-7"></td>
                            <td class="col-xs-12 col-lg-2 td-laranja-tit">Concorrentes</td>
                            <td class="col-xs-12 col-lg-2 td-roxo-tit">MAVIP</td>
                            <td class="col-xs-12 col-lg-2 td-roxo-tit">100% Gratuito</td>
                        </tr>
                        <tr>
                            <td class="col-xs-12 col-lg-7 td-cinza">Pesquisa de Marca</td>
                            <td class="col-xs-12 col-lg-2 td-laranja">mais de R$ 70,00</td>
                            <td class="col-xs-12 col-lg-2 td-roxo">Gratuito</td>
                            <td class="col-xs-12 col-lg-2 td-verde td_link"><a href="<?php echo $this->url(array(), 'pesquisa', true); ?>">Pesquisar</a></td>
                        </tr>
                        <tr>
                            <td class="col-xs-12 col-lg-7 td-cinza">Registro MAVIP SOLIDÁRIO (ONGs)</td>
                            <td class="col-xs-12 col-lg-2 td-laranja">R$ 5.484</td>
                            <td class="col-xs-12 col-lg-2 td-roxo">Gratuito</td>
                            <td class="col-xs-12 col-lg-2 td-verde td_link"><a href="<?php echo $this->url(array('controller' => 'account', 'action' => 'login'), 'default', true); ?>">Aplicar</a></td>
                        </tr>
                    </table>
                    <div class="tabela-mobile row">
                        <ul class="col-xs-12">
                            <li class="col-xs-12">Pesquisa MAVIP</li>
                            <li class="col-xs-6">MAVIP Gratuito</li>
                            <li class="col-xs-6">CONCORRENTES +R$100</li>
                        </ul>
                        <ul class="col-xs-12">
                            <li class="col-xs-12">Registro MAVIP SOLIDÁRIO (ONGs)</li>
                            <li class="col-xs-6">MAVIP Gratuito</li>
                            <li class="col-xs-6">CONCORRENTES R$5.484</li>
                        </ul>
                    </div>
                
                </div>

                <div  class="box__servicos-basicos col-xs-12 col-lg-10 col-lg-offset-1">
                    <h2 class="tit-box-2">Serviços Básicos</h2>
                    <table class="table">
                        <tr>
                            <td class="col-xs-8 col-lg-8 td-cinza">Pedido de Registro</td>
                            <td class="col-xs-4 col-lg-4 td-roxo"><?= $this->exibeValor($this->servicoPedidoRegistro['valor']);?></td>
                            <td class="col-xs-12 col-lg-2 td-azul"><a class="btn-link-contratar"  href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 1), 'default', true); ?>">Contratar</a></td>
                        </tr>
                        <tr>
                            <td class="col-xs-8 col-lg-8 td-cinza">Acompanhamento Anual</td>
                            <td class="col-xs-4 col-lg-4 td-roxo"><?= $this->exibeValor($this->servicoAcompanhamentoAnual['valor']);?></td>
                            <td class="col-xs-12 col-lg-2 td-azul"><a class="btn-link-contratar" href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 2), 'default', true); ?>">Contratar</a></td>
                        </tr>
                        <tr>
                            <td class="col-xs-8 col-lg-8 td-cinza">Registro Online (Prazo Ordinário)</td>
                            <td class="col-xs-4 col-lg-4 td-roxo"><?= $this->exibeValor($this->servicoOnline['valor']);?></td>
                            <td class="col-xs-12 col-lg-2 td-azul">
                                <a class="btn-link-contratar" href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 3), 'default', true); ?>">Contratar</a>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="box__servicos-avancados col-xs-12 col-lg-10 col-lg-offset-1">
                    <h2 class="tit-box-2">Serviços Avançados <span>(Exigidos pelo INPI)</span></h2> 
                    <table class="table">
                        <tr>
                            <td class="col-xs-7 col-lg-8 td-cinza">Registro Online <span>(Prazo Extraordinário)</span></td>
                            <td class="col-xs-5 col-lg-4 td-roxo"><?= $this->exibeValor($this->ro_extraordinario['valor']);?></td>
                            <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar" href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 4), 'default', true); ?>">Contratar</a></td>
                        </tr>
                        <tr>
                            <td style="background: #fff">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="col-xs-7 col-lg-8 td-cinza">Renovação Registro Online (Prazo Ordinário)</td>
                            <td class="col-xs-5 col-lg-4 td-roxo"><?= $this->exibeValor($this->rro_ordinario['valor']);?></td>
                            <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar"  href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 8), 'default', true); ?>">Contratar</a></td>
                        </tr>
                        <tr>
                            <td class="col-xs-7 col-lg-8 td-cinza">Renovação Registro Online (Prazo Extraordinário)</td>
                            <td class="col-xs-5 col-lg-4 td-roxo"><?= $this->exibeValor($this->rro_extraordinario['valor']);?></td>
                            <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar" href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => 4), 'default', true); ?>">Contratar</a></td>
                        </tr>
                        <tr>
                            <td style="background: #fff">&nbsp;</td>
                        </tr>
                         <tr>
                            <td class="col-xs-7 col-lg-8 td-cinza">Manifestação Oposição</td>
                            <td class="col-xs-5 col-lg-4 td-roxo"><?php  echo  $this->exibeValor($this->manif_oposicao['valor']) != "R$ 0,00" ? $this->exibeValor($this->manif_oposicao['valor']) : "a Combinar";    ?> </td>
                            <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar"  href="mailto:atendimento@mavip.com.br">Contratar</a></td>
                        </tr>
                        <tr>
                            <td class="col-xs-7 col-lg-8 td-cinza">Notificação Extrajudicial</td>
                            <td class="col-xs-5 col-lg-4 td-roxo">a Combinar</td>
                            <td class="col-xs-12 col-lg-2 td-laranja"><a class="btn-link-contratar" href="mailto:atendimento@mavip.com.br">Contratar</a></td>
                        </tr>
                    </table>
                </div>

                <div class="col-xs-12 col-lg-10 col-lg-offset-1 box__observacao">
                    <strong>Observações:</strong>
                    <p>
                        * É necessário o pagamento de Guia de Recolhimento da União (GRU) para vários serviços acima listados.
                    </p>
                </div>
            </div>

            <section class="col-xs-12 col-lg-12">
                
                <div class="box_videos_cases">
                    <h3>vídeos cases</h3>
                    <div class="row">
                        <?php echo $this->render('partial/precos-videos.phtml'); ?>
                    </div>
                </div>

            </section>
            
    </section>
    </div>
    </div>
</div>
