<header class="Header Header--about">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml');?>
        <div class="row visible-xs-block">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                <h3 class="Header-title"><?php echo $this->pagina['titulo'];?></h3>
            </div>
        </div>
        <div class="row visible-xs-block">
            <ul class="Header-lead list-unstyled text-center">
                <li class="Header-leadItem col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-3 col-lg-2 col-lg-offset-3"><span class="Header-leadText Icon Icon--magnifierBefore">Pesquise</span></li>
                <li class="Header-leadItem col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-lg-2"><span class="Header-leadText Icon Icon--flagBefore">Registre</span></li>
                <li class="Header-leadItem col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-lg-2"><span class="Header-leadText Icon Icon--boardBefore">Acompanhe</span></li>
            </ul>
        </div>
        <div class="row visible-xs-block">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                <h3 class="Header-title">Comece uma busca 100% gratuita.</h3>
            </div>
        </div>
        <form class="row CallToAction visible-xs-block">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-0">
                <input type="text" placeholder="Digite aqui seu email" class="CallToAction-input">
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-5 col-lg-offset-0">
                <input type="text" placeholder="Digite aqui sua marca - Ex: Nike, Google..." class="CallToAction-input">
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-lg-3 col-lg-offset-0">
                <button type="submit" class="Button Button--full CallToAction-button Icon Icon--magnifierAfter">Pesquisar marca</button>
            </div>
        </form>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">

            <section>
                <div class="About-box">
                    <div class="About-boxContent">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                                <h1 class="Page-title Page-title--small">Sobre a Mavip</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                                <h2 class="Page-subtitle"><?php echo $this->pagina['titulo'];?></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-sm-offset-1 col-lg-6 col-lg-offset-1">
                                <p class="Page-text Page-text--small"><?php echo $this->pagina['texto'];?></p>
                            </div>
                        </div>
                        <!--   <div class="row">
                             <div class="col-xs-12 col-md-6 col-md-offset-3"><a href="javascript:" class="Button Button--full text-center">Veja o que podemos fazer pela sua marca</a></div>
                           </div> -->
                    </div>
                </div>

                <section>
                    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                        <h1 class="Page-title Page-title--small Team-section-title">Equipe</h1>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1">
                            <ul class="Team row row-eq-height list-unstyled">
                                <?php foreach($this->equipes as $equipe):?>
                                <li class="col-xs-12 col-sm-4 text-center">
                                    <figure class="Team-item">
                                        <div class="masked-box">
                                            <img src="<?php echo $this->baseUrl('arqs/equipe/'.$equipe["imagem"]) ?>" alt="Fotografia de <?php echo $equipe["nome"];?>">
                                        </div>
                                        <figcaption>
                                            <h4 class="Team-person"><?php echo $equipe["nome"];?></h4>
                                            <p class="Team-text"><?php echo $equipe["descricao"];?></p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <?php endforeach;?>
                                
                            </ul>
                        </div>
                    </div>
                </section>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1">
                        <ul class="Steps Steps--about row list-unstyled">
                            <li class="Steps-item col-xs-12 col-sm-4 text-center"><i class="Steps-icon Icon Icon--magnifierBefore"></i>
                                <h4 class="Steps-title">Pesquise</h4>
                                <p class="Steps-text">Faça sua busca 100% gratuita</p>
                            </li>
                            <li class="Steps-item col-xs-12 col-sm-4 text-center"><i class="Steps-icon Icon Icon--flagBefore"></i>
                                <h4 class="Steps-title">Registre</h4>
                                <p class="Steps-text">Realize o pagamento e registre sua marca com toda facilidade</p>
                            </li>
                            <li class="col-xs-12 col-sm-4 text-center"><i class="Steps-icon Icon Icon--boardBefore"></i>
                                <h4 class="Steps-title">Acompanhe</h4>
                                <p class="Steps-text">Acompanhe com toda transparência o registro de sua marca</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<section class="We-Believe">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                <h1 class="Page-title Page-title--small We-Believe__section-title">Acreditamos no Bem!</h1>
            </div>
        </div>
    </div>

    <div class="We-Believe__box">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-8 col-lg-offset-1">
                    <p>Se você conhece ou faz parte de uma instituição filantrópica (sem fins lucrativos).</p>
                    <p>Teremos prazer em fazer 01(um) Processo de Registro da Marca Online, com COBRANÇA SIMBÓLICA R$ 10(DEZ) REAIS, pelo serviço de:</p>

                    <ul class="We-Believe__list">
                        <li>Pedido de Registro Online com Supervisão</li>
                        <li>Disponibilizando nossa Ferramenta de Acompanhamento de Processo  o</li>
                        <li>Registo Online (após o deferimento do processo).</li>
                        <li>O único custo será da(s) taxa(s) federaL exigida pelo Governo.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>