<header class="Header Header--login">
      <div class="container">
        <?php echo $this->render('partial/navbar.phtml');?>
        <?php echo $this->render('partial/navbar-home.phtml'); ?>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <section class="Login-box">
            <div class="Register-boxContent">
              <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                  <h1 class="Page-title">Termos de uso da Ferramenta</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-1">
                <!--  <h2 class="Page-subtitle u-mb45">CONTRATO DE PRESTAÇÃO DE SERVIÇOS MAVIP TECNOLOGIA E SERVIÇOS LTDA</h2> -->
                </div>
              </div>
                
                <div class="row">
                    <div class="termosList col-xs-12 col-md-10 col-md-offset-1">
                    <!--
                        <h4>
                            Atualizado em 01 de setembro de 2016 <br>
                            Com vigência a partir de 01 de outubro de 2016
                        </h4>
                    -->    

                    <p class="TermosList-text">
                        DA IDENTIFICAÇÃO DAS PARTES
                        <br><br>
                        CLIENTE<br>
                        Toda pessoa natural ou jurídica, ciente de que estará aceitando os termos e condições para uso da plataforma Mavip Registro de Marcas, informando os dados de identificação e endereço que neste ato caracterizam como cliente.
                        <br><br>
                        FORNECEDOR<br>
                        MAVIP TECNOLOGIA E SERVIÇOS LTDA - ME, pessoa jurídica de direito privado, titular e administradora da marca MAVIP, inscrita no CNPJ sob nº. 03.671.087/0001-17, neste ato denominado fornecedor.
                        <br><br>
                        Pelo presente TERMO DE CADASTRO, têm, entre si, de maneira justa e acordada, o presente TERMO DE CONDIÇÕES, CADASTRO E UTILIZAÇÃO DO PORTAL WWW.MAVIP.COM.BR, ficando desde já aceito pelas cláusulas abaixo descritas:
<br><br>
                        CLÁUSULA 1ª – As partes, acima descritas, têm como objeto desse termo explicitar as condições, cadastro e regras expressas de utilização do portal www.mavip.com.br, obedecendo as cláusulas que seguem.
<br><br>
                        CLÁUSULA 2ª – O Cliente reconhece como autor e desenvolvedor do portal www.mavip.com.br, o Fornecedor. Sendo a marca mista de produto e serviço “MAVIP”, bem como as ferramentas expostas no portal que possibilitam a interação entre as partes, como propriedade intelectual, industrial e direitos de propriedade Fornecedor.
<br><br>
                        CLÁUSULA 3ª – Fornecedor compromete-se, mediante conclusão e aceite do cadastro do CLIENTE, a permitir o acesso na área restrita do portal www.mavip.com.br, oportunizando o uso das ferramentas exclusivas e desenvolvidas pela Mavip Registro de Marcas para o público cadastrado.
<br><br>
                        Parágrafo Único – É de responsabilidade única e exclusiva do cliente comitente prover os meios para garantir o acesso ao portal, obedecendo a instrução das configurações mínimas necessárias para o bom funcionamento e interação no ambiente virtual da MAVIP.
<br><br>
                        CLÁUSULA 4ª – O Cliente compromete-se a fornecer a Razão Social da Empresa, número do CNPJ, domicílio e dado Sócio Administrador, ou ainda, no caso de Pessoa Física nome completo, Estado Civil, Profissão, número do RG e CPF, endereço completo, cópia de documento público com foto onde conste assinatura, ao Fornecedor.
<br><br>
                        CLÁUSULA 5ª – No caso do Cliente não fornecer total ou parcialmente as informações exigidas na cláusula anterior, poderá o Fornecedor exigi-la, o não fornecimento autoriza a suspensão e/ou exclusão do cadastro do Cliente no prazo de até 48(quarenta e oito) horas sem prejuízo a nenhuma das partes.
<br><br>
                        CLÁUSULA 6ª – O Cliente só poderá realizar transações comerciais no portal www.mavip.com.br, mediante aprovação e teste do cadastro.
<br><br>
                        Parágrafo Primeiro – Em função da Ferramenta operar, na emissão de Guias de Recolhimento e Petições, no ambiente destinado ao Empresário/Cliente do Instituto Nacional da Propriedade Industrial (INPI) é necessário que seja informada a Mavip Registro de Marcas seu login e senha, usadas no Órgão.
<br><br>
                        Parágrafo Segundo – O Cliente declara sob as penas da Lei, fazer jus aos benefícios à redução de retribuição, conforme previsto na Resolução INPI Nº 274/2011.
<br><br>
                        CLÁUSULA 8ª – O FORNECEDOR, assim como, o CLIENTE, declara para todos os fins de prova em direito admitidos, selar pelos dos direitos sobre a(s) marca(s) realizadas por meio da Ferramenta Mavip, que poderá publicar em qualquer meio promocional, por meio eletrônico (incluindo a internet), previstos no art. 29 da Lei 9.610/98, entre CLIENTE e FORNECEDOR.
<br><br>
                        CLÁUSULA 9ª – O CLIENTE poderá requerer sua exclusão por meio do e-mail cadastrado na Mavip Registro de Marcas, dirigido ao e-mail call@mavip.com.br, com título EXCLUSÃO DE CADASTRO, identificando no corpo do e-mail os dados do cadastro e um motivo.
<br><br>
                        CLÁUSULA 10ª - DA CLÁUSULA ARBITRAL OU DO FORO
<br><br>
                        Parágrafo primeiro: Fica desde já convencionado que por mera liberalidade das partes que qualquer conflito, controvérsia, reivindicação, execução ou litígio que se origine ou se relacione com este contrato, deverá ser resolvido, de forma definitiva, pela arbitragem prevista na Lei nº. 9.307/96, sendo eleita a “CAPB” – C MARA ARBITRAL DA PARAÍBA, sediada em João Pessoa/PB, cujo regimento interno se encontra registrado sob o Nº 679.833, no Cartório do 2º Ofício de Notas João Pessoa, Toscano de Brito.
<br><br>

                        (X) Concordo.
<br><br>
                        E por estarem as partes em pleno acordo com o disposto neste instrumento particular, assumem o aceite com um (X) em substituição a assinatura tradicional.
<br><br>
                        A data desse Contrato de Uso da Plataforma será a data do aceite.
                        DA IDENTIFICAÇÃO DAS PARTES
<br><br>
                        CLIENTE<br>
                        Toda pessoa natural ou jurídica, ciente de que estará aceitando os termos e condições para uso da plataforma Mavip Registro de Marcas, informando os dados de identificação e endereço que neste ato caracterizam como cliente.
<br><br>
                        FORNECEDOR<br>
                        MAVIP TECNOLOGIA E SERVIÇOS LTDA - ME, pessoa jurídica de direito privado, titular e administradora da marca MAVIP REGISTRO MARCAS, inscrita no CNPJ sob nº. 03.671.087/0001-17, neste ato denominado fornecedor.
<br><br>
                        Pelo presente TERMO DE CADASTRO, têm, entre si, de maneira justa e acordada, o presente TERMO DE CONDIÇÕES, CADASTRO E UTILIZAÇÃO DO PORTAL WWW.MAVIP.COM.BR, ficando desde já aceito pelas cláusulas abaixo descritas:
<br><br>
                        CLÁUSULA 1ª – As partes, acima descritas, têm como objeto desse termo explicitar as condições, cadastro e regras expressas de utilização do portal www.mavip.com.br, obedecendo as cláusulas que seguem.
<br><br>
                        CLÁUSULA 2ª – O Cliente reconhece como autor e desenvolvedor do portal www.mavip.com.br, o Fornecedor. Sendo a marca mista de produto e serviço “MAVIP REGSTRO DE MARCAS”, bem como as ferramentas expostas no portal que possibilitam a interação entre as partes, como propriedade intelectual, industrial e direitos de propriedade Fornecedor.
<br><br>
                        CLÁUSULA 3ª – Fornecedor compromete-se, mediante conclusão e aceite do cadastro do CLIENTE, a permitir o acesso na área restrita do portal www.mavip.com.br, oportunizando o uso das ferramentas exclusivas e desenvolvidas pela Mavip Registro de Marcas para o público cadastrado.
<br><br>
                        Parágrafo Único – É de responsabilidade única e exclusiva do cliente comitente prover os meios para garantir o acesso ao portal, obedecendo a instrução das configurações mínimas necessárias para o bom funcionamento e interação no ambiente virtual da Mavip Registro de Marcas.
<br><br>
                        CLÁUSULA 4ª – O Cliente compromete-se a fornecer a Razão Social da Empresa, número do CNPJ, domicílio e dado Sócio Administrador, ou ainda, no caso de Pessoa Física nome completo, Estado Civil, Profissão, número do RG e CPF, endereço completo, cópia de documento público com foto onde conste assinatura, ao Fornecedor.
<br><br>
                        CLÁUSULA 5ª – No caso do Cliente não fornecer total ou parcialmente as informações exigidas na cláusula anterior, poderá o Fornecedor exigi-la, o não fornecimento autoriza a suspenção e/ou exclusão do cadastro do Cliente no prazo de até 48(quarenta e oito) horas sem prejuízo a nenhuma das partes.
<br><br>
                        CLÁUSULA 6ª – O Cliente só poderá realizar transações comerciais no portal www.mavip.com.br, mediante aprovação e teste do cadastro.
<br><br>
                        Parágrafo Primeiro – Em função da Ferramenta operar, na emissão de Guias de Recolhimento e Petições, no ambiente destinado ao Empresário/Cliente do Instituto Nacional da Propriedade Industrial (INPI) é necessário que seja informada a Mavip Registro de Marcas seu login e senha, usadas no Órgão.
<br><br>
                        Parágrafo Segundo – O Cliente declara sob as penas da Lei, fazer jus aos benefícios à redução de retribuição, conforme previsto na Resolução INPI Nº 274/2011.
<br><br>
                        CLÁUSULA 8ª – O FORNECEDOR, assim como, o CLIENTE, declara para todos os fins de prova em direito admitidos, selar pelos dos direitos sobre a(s) marca(s) realizadas por meio da Ferramenta Mavip, que poderá publicar em qualquer meio promocional, por meio eletrônico (incluindo a internet), previstos no art. 29 da Lei 9.610/98, entre CLIENTE e FORNECEDOR.
<br><br>
                        CLÁUSULA 9ª – O CLIENTE poderá requerer sua exclusão por meio do e-mail cadastrado na Mavip Registro de Marcas, dirigido ao e-mail call@mavip.com.br, com título EXCLUSÃO DE CADASTRO, identificando no corpo do e-mail os dados do cadastro e um motivo.
<br><br>
                        CLÁUSULA 10ª - DA CLÁUSULA ARBITRAL OU DO FORO
<br><br>
                        Parágrafo primeiro: Fica desde já convencionado que por mera liberalidade das partes que qualquer conflito, controvérsia, reivindicação, execução ou litígio que se origine ou se relacione com este contrato, deverá ser resolvido, de forma definitiva, pela arbitragem prevista na Lei nº. 9.307/96, sendo eleita a “CAPB” – C MARA ARBITRAL DA PARAÍBA, sediada em João Pessoa/PB, cujo regimento interno se encontra registrado sob o Nº 679.833, no Cartório do 2º Ofício de Notas João Pessoa, Toscano de Brito.
<br><br>

                        (X) Concordo.
<br><br>
                        E por estarem as partes em pleno acordo com o disposto neste instrumento particular, assumem o aceite com um (X) em substituição a assinatura tradicional.
<br><br>
                        A data desse Contrato de Uso da Plataforma será a data do aceite.
                    </p>  
                                                             
                    </div>
                </div>
            </div>
          </section>
        </div>
      </div>
    </div>