<header class="Header Header--login">
      <div class="container">
        <?php echo $this->render('partial/navbar.phtml');?>
        <?php echo $this->render('partial/navbar-home.phtml'); ?>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <section class="Login-box">
            <div class="Register-boxContent">
              <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                  <h1 class="Page-title">Termos de uso da Ferramenta</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-1">
                <!--  <h2 class="Page-subtitle u-mb45">CONTRATO DE PRESTAÇÃO DE SERVIÇOS MAVIP TECNOLOGIA E SERVIÇOS LTDA</h2> -->
                </div>
              </div>
                
                <div class="row">
                    <div class="termosList col-xs-12 col-md-10 col-md-offset-1">
                    <!--    <h4>Atualizado em 01 de setembro de 2016 <br>
                            Com vigência a partir de 01 de outubro de 2016
</h4>-->    
                        <h4 class="TermosList-title">Atualizado em 01 de setembro de 2016 <br>
                            Com vigência a partir de 01 de outubro de 2016
</h4>
                        <p class="TermosList-text">Obrigado por escolher a Mavip Tecnologia.</p>  
                        <p class="TermosList-text">Este é um Contrato entre você e a Mavip Tecnologia e Serviços Ltda (ou com base em seu local de residência) que descreve os seus direitos de uso do software e serviços identificados na seção 1.1. <b>VOCÊ DEVE LER O CONTRATO NA ÍNTEGRA</b> porque todos os termos são importantes e, juntos, formam um Contrato legal que, uma vez aceito, se aplica a você.</p>  
                        <p class="TermosList-text">1. Objeto do contrato, aceitação e alterações</p>  
                        <p class="TermosList-text">1.1. O objeto deste contrato são utilização das ferramentas desenvolvidas pela Mavip Tecnologia, nos limites e condições especificadas nas cláusulas adiante expostas dos serviços primários que este Contrato engloba. Referimo-nos a esses serviços, bem como a outros softwares, sites e serviços que estão ligados a este Contrato, coletivamente como os “Serviços”. Os Serviços podem não ser compatíveis com softwares ou serviços fornecidos por terceiros. Ao utilizar os Serviços, você deve cumprir este Contrato.</p>  
                        <p class="TermosList-text">1.2. Ao usar ou acessar os Serviços, ou aceitar estes termos, onde essa opção é disponibilizada na interface do usuário, <b>VOCÊ CONCORDA EM OBEDECER A ESSE CONTRATO SEM FAZER MODIFICAÇÕES</b>. Se não concordar, você poderá não usar os Serviços Privados, apenas a área pública.</p>  
                        <p class="TermosList-text">1.3. A Mavip Tecnologia pode alterar ou corrigir este contrato ou termos a qualquer tempo. Se fizermos alguma correção, você será notificado pela interface do usuário, por uma mensagem de e-mail ou por outros meios razoáveis, conferindo o direito em continuar ou não continuar o uso da plataforma. <b>Se você usar os Serviços após a data de início de vigência das alterações será o seu consentimento com os termos alterados. Se não concordar com as alterações, você deverá interromper o uso dos Serviços e cancelar os serviços pagos seguindo as instruções da seção 9.10 e encerrar sua conta da Mavip Tecnologia</b>. Caso contrário, os novos termos se aplicarão a você. </p>  
                        <p class="TermosList-text">1.4. A Tecnologia Mavip está continuamente evoluindo para melhorar os Serviços e podemos alterá-los a qualquer momento. Podemos divulgar os Serviços ou suas características em uma versão beta, o que pode não funcionar corretamente ou, da mesma forma, a versão final pode funcionar. Periodicamente, podemos parar de fornecer partes dos Serviços que dependem do Instituto Nacional da Propriedade Industrial (INPI) para acontecer, ou seja, a Ferramenta de Busca Mavip depende do banco de dados público do INPI para funcionar corretamente. Nós podemos avisá-lo quando o sistema retornar a operação, por exemplo, caso o sistema de busca esteja fora de operação. Bem como, se não for mais viável para nós fornecer um Serviço, com a tecnologia avançando, se o feedback do cliente indicar ser necessária uma mudança, nossos Contratos com terceiros já não nos permitirem tornar o seu material disponível, ou questões externas surgindo que tornem imprudente ou impraticável continuar.</p>  
                        <p class="TermosList-text">1.5. Para utilizar os Serviços, você declara que você atingiu a “maioridade” na forma da lei brasileira, ou tem consentimento válido de pai/mãe ou tutor legal para se comprometer com os termos deste Contrato, ou que possui empresa legalmente constituída em qualquer parte do território brasileiro. <b>SE VOCÊ NÃO SABE SE ATINGIU A MAIORIDADE NO BRASIL, OU NÃO COMPREENDER ESTA SEÇÃO, POR FAVOR, NÃO CRIE UMA CONTA ANTES DE PEDIR AJUDA AO SEU PAI/MÃE OU TUTOR LEGAL</b>. Se você for o pai/mãe ou tutor legal de um menor, que criar uma conta, você aceita este Contrato em nome do menor e é responsável por todo o uso das contas ou Serviços, incluindo compras, se a conta do menor for aberta agora ou criada mais tarde. Se Pessoa Jurídica assim definida em lei, aceita este Contrato em nome do seu representante legal e é responsável por todo o uso das contas ou Serviços, incluindo compras, se a conta da empresa for aberta agora ou criada mais tarde.</p>  
                        <p class="TermosList-text">2. Conta da Mavip</p>  
                        <p class="TermosList-text">2.1. A conta da Mavip é um serviço que permite que você entre nos produtos, sites e serviços da Mavip, bem como naqueles de parceiros selecionados da Mavip. Ao criar uma conta da Mavip, você deve fornecer certas informações, como nome de usuário e senha, data de nascimento, algumas informações demográficas, do seu negócio como Cadastro Nacional de Pessoa Jurídica (CNPJ) e informações de segurança como um endereço de e-mail alternativo, número de telefone, pergunta secreta, e sincronizar através de login e senha do Instituto Nacional da Propriedade Industrial (INPI) caso já tenha cadastro no Órgão. O endereço de e-mail ou nome de usuário que você usar para criar a sua conta da Mavip será exclusivo para você durante o tempo que a sua conta da Mavip ainda estiver ativa. No caso de sua conta da Mavip for fechada por você ou pela Mavip de acordo com os termos deste Contrato, o endereço de e-mail ou o nome de usuário podem ser reciclados em nosso sistema e atribuídos a outro usuário. Titulares de conta da Mavip existentes podem precisar fornecer informações de segurança para continuar usando sua conta da Mavip. Para acessar e gerenciar suas informações de conta e de segurança da Mavip, você pode visitar a página da Web de Informações de segurança (https://www.mavip.com.br/cadastro). Para acessar os Serviços da Mavip, você deve estar logado com uma conta da Mavip. Reveja as Declarações de Privacidade, conforme definido abaixo, para entender como a Mavip recolhe e utiliza a informação associada à sua conta da Mavip. Você é responsável por manter suas informações de conta e senha confidenciais, e é responsável por toda a atividade que ocorrer em sua conta da Mavip. Você pode usar sua conta da Mavip para obter acesso a outros produtos, disponíveis no site ou serviços da Mavip (relacionados a Patente de Invenção, Modelo de Utilidade, Desenho Industrial, Topografia de Circuitos Integrado, Registro de Programa de Computador e Contratos relacionados a Propriedade Industrial e Intelectual). Se o fizer, os termos e condições para esses produtos, sites ou serviços, incluindo as respectivas declarações de privacidade, se diferentes do presente Contrato, podem também se aplicar ao uso desse produto, site ou serviço. Você deve entrar em sua conta da Mavip periodicamente, no mínimo a cada ano, para manter os serviços associados à sua conta da Mavip ativos, salvo disposição em contrário de uma oferta para uma parcela paga dos Serviços. Se você não entrar nesse período, fica facultado a Mavip a manter ou encerrar sua conta (o que significa que você não terá acesso aos Serviços em sua conta, e qualquer outro produto ou serviço que use a conta da Mavip). Se os seus Serviços forem cancelados, excluiremos informações ou Conteúdo (conforme definido abaixo) associados à sua conta da Mavip, ou, caso contrário, iremos dissociá-los de você e de sua conta da Mavip, a menos que a lei nos obrigue a mantê-los.</p>  
                        <p class="TermosList-text">2.2. Caso não consiga acessar sua conta da Mavip, ou você esqueceu sua senha ou de outra forma não puder acessar sua conta da Mavip, poderá recuperar sua conta da Mavip visitando a página da Web Redefinir sua senha (http://www.mavip.com.br/cadstro). Nós vamos fazer o nosso melhor para ajudá-lo a recuperar a sua conta da Mavip; no entanto, não podemos garantir que a sua conta da Mavip seja restaurada ou o seu Conteúdo recuperado.</p>  
                        <p class="TermosList-text">3. Conteúdo</p>  
                        <p class="TermosList-text">3.1. O titular dos processo realizados com o uso da plataforma Mavip ou diretamente no Instituto Nacional da Propriedade Industrial (INPI), é você, pessoa física ou jurídica. Alguns Serviços permitem que você se comunique com outros e compartilhe ou armazene vários tipos de arquivos, como número de processos, instrumento de procuração, declarações e arquivos digitais necessário ao processo de Propriedade Industrial. Esses conteúdos de sua comunicação e seus arquivos são seu “Conteúdo”, e, exceto pelos materiais que licenciamos para você que podem ser incorporados ao seu próprio conteúdo, como petiços elaboradas e outros documentos elaborados pela Mavip, reivindicamos a propriedade do Conteúdo fornecido por nos Serviços. Você é o proprietário do seu Conteúdo, numero de processo de sua titularidade, e é responsável por ele, caso não tenha contratado serviços complementares com acompanhamento de processo. Também não controlamos, verificamos, pagamos, endossamos nem assumimos nenhuma responsabilidade pelo Conteúdo que você e outros disponibilizam nos Serviços. </p>  
                        <p class="TermosList-text">3.2. Apenas o titular da conta (você) pode acessar o conteúdo privado. Você detém o controle inicial sobre quem pode acessar o seu processo. Entretanto, é importante salientar que os processos do Instituto Nacional da Propriedade Industrial (INPI) são públicos e serão disponibilizados nas duas plataformas simultaneamente, após a publicação pelo INPI. Entretanto, as informações completas serão disponíveis pela Mavip, apenas poderão ser acessadas mediante contratação de serviços específico. Você representa e garante que, durante a vigência deste Contrato, você possui (e possuirá) todos os direitos e obrigações necessários sobre o processo que carregar ou compartilhar nos Serviços e que o uso do Conteúdo, conforme contemplado na seção 3.2, não violará nenhuma lei.</p>  
                        <p class="TermosList-text">3.3. O conteúdo que a Mavip recebe quando você transmitir ou enviar Conteúdo para os Serviços, está cedendo o direito da Mavip usar o Conteúdo em todo o mundo, se necessário: fornecer os Serviços a você, protegê-lo e melhorar os produtos e serviços da Mavip. Mavip usa e protege o seu Conteúdo, em servidor terceirizado, protegido e obedecendo a legislação aplicável.</p>  
                        <p class="TermosList-text">3.4. Na busca de tornar público nossos serviços poderemos utilizar como publicidade, Marca e Titular da Empresa usuário da plataforma (http//:www.mavip.com.br), em nossos canais de divulgação, limitando-se a <b>MARCA, TITULAR E REPRESENTANTE DA EMPRESA</b>. Caso não concorde com esta clausula não realize a criação da conta na Mavip, se criar a conta estará autorizando a divulgação das informações em destaque.</p>  
                        <p class="TermosList-text">3.5. A Mavip possui serviços habilitados para atendimento on-line ou por voz. Se você usar um serviço de atendimento remoto, concorda com a gravação e coleta de sua entrada de voz ou dados pela Mavip para utilização da Mavip para melhorar a qualidade e precisão dos serviços habilitados para voz e conforme descrito nas cláusulas anteriores.</p>  
                        <p class="TermosList-text">3.6. Com a finalidade de proteger os nossos clientes e os Serviços, estabelecemos este Código de Conduta que rege a utilização dos Serviços. Não são permitidos conteúdo ou ações que violem este Contrato.</p>  
                        <p class="TermosList-text">i. Não utilize os Serviços para qualquer ato ilegal.</p>  
                        <p class="TermosList-text">ii. Não se envolva em qualquer atividade que explore, prejudique ou corra o risco de prejudicar crianças ou adolescente.</p>  
                        <p class="TermosList-text">iii. Não autorizamos ninguém enviar e-mail em nome da Mavip, desde que não solicitados pela Mavip.</p>  
                        <p class="TermosList-text">iv. Não exiba publicamente imagens impróprias, ou em desacordo com a Lei da Propriedade Industrial.</p>  
                        <p class="TermosList-text">v. Não se envolva em atividades que sejam falsas ou enganosas fazendo uso do nome da Mavip.</p>  
                        <p class="TermosList-text">vi. Não se envolva em atividades que sejam prejudiciais aos Serviços ou outros.</p>  
                        <p class="TermosList-text">vii. Não infrinja os direitos de terceiros resguardados pela Lei de Registro de Computador, Propriedade Industrial e/ou Intelectual.</p>  
                        <p class="TermosList-text">viii. Não atente contra os Órgãos Oficiais como o INPI, Escola de Belas Artes e Cartórios.</p>      
                        <p class="TermosList-text">Em muitos casos, a Mavip é alertada para violações do Código de Conduta através de reclamações de clientes, mas também implantamos tecnologias automatizadas para detectar pornografia infantil ou comportamento abusivo que possa prejudicar o sistema, nossos clientes ou outras pessoas. Ao investigar essas questões, a Mavip ou seus agentes analisarão conteúdos para resolver o problema. Isto é, além dos usos que descrevemos no presente Contrato.</p>  
                        <p class="TermosList-text">3.7. A Mavip irá remover, limitar a distribuição de, ou desabilitar o acesso a seu Conteúdo se acharmos que está violando o presente Contrato, recebermos uma reclamação de outro usuário, recebermos um aviso de violação de propriedade intelectual, ou outra instrução legal para a remoção. Podemos também bloquear ou impedir a entrega de uma comunicação (como e-mail ou mensagem instantânea) de e para os Serviços como parte do nosso esforço de proteger os Serviços ou nossos clientes, ou aplicar os termos deste Contrato.</p>  
                        <p class="TermosList-text">4. Cancelamento dos Serviços</p>  
                        <p class="TermosList-text">4.1. Existindo violação deste Contrato, há uma série de ações que podem levar inclusive à remoção de seu Conteúdo dos Serviços, suspensão ou cancelamento de seu acesso aos Serviços, a desativação ou encerramento de sua conta da Mavip, e/ou referência dessa atividade às autoridades competentes. O Conteúdo excluído pode ser irrecuperável, salvo o conteúdo de responsabilidade de terceiros, como o conteúdo gerado no portal do Instituto Nacional da Propriedade Industrial (INPI), (http//:www.inpi.gov.br).</p>  
                        <p class="TermosList-text">4.2. O acesso pode sofrer restrição caso o usuário deixe de fazer login na sua conta da Mavip pelo menos uma vez a cada ano, significa que você não será capaz de acessar os Serviços e perderá o seu Conteúdo, salvo disposição em contrário em uma oferta de Serviços pagos. Além disso, a Mavip pode parar de fornecer parte dos Serviços, de acordo com a seção 1.4. Se você se inscrever em uma parte paga dos Serviços e não realizar um pagamento no prazo, poderemos suspender ou cancelar esse Serviço, conforme estabelecido na seção 9.1 deste contrato.</p>  
                        <p class="TermosList-text">4.3. Qualquer das partes poderá rescindir os Serviços associados à sua conta da Mavip, a qualquer momento e por qualquer razão, indo para sua página Conta (https://www.mavip.com.br/cadastro). Para cancelar uma parte paga dos Serviços, consulte a seção 9.10. Se você estiver cancelando os seus Serviços, o meio mais rápido de eliminar o seu Conteúdo nos Serviços é removê-los manualmente dos vários componentes dos Serviços (por exemplo, exclua todos os números de processos indicados na sua seção). Observe, no entanto, que, embora o Conteúdo excluído por você na área restrita talvez não possa ser acessado por você, ele ainda poderá continuar nos nossos sistemas durante um período e sempre constará no banco de dados do Instituto Nacional da Propriedade Industrial (INPI).</p>  
                        <p class="TermosList-text">4.4. No caso dos Serviços serem cancelados ou rescindidos, por qualquer das partes, o seu direito de uso dos Serviços será interrompido imediatamente e a sua licença de uso do nosso software ligado aos Serviços será encerrada. Entretanto, Você continuará com acesso ao Instituto Nacional da Propriedade Industrial (INPI), sendo de responsabilidade do titular dos processos o acompanhamento e cumprimento de obrigações impostas pelo Órgão. Se a sua conta da Mavip for cancelada por quaisquer das partes, o direito de utilizar a sua conta da Mavip para imediatamente. Se todos os Serviços forem cancelados ou rescindidos, ou se a sua conta da Mavip estiver fechada, vamos excluir informações ou Conteúdo associado à sua conta da Mavip ou, caso contrário, dissociá-la de você e de sua conta da Mavip, mantendo na integra as informações geradas no INPI. Nós não temos a obrigação de devolver Conteúdo para você ou realizar qualquer serviço na Mavip ou no INPI, sendo de responsabilidade do titular dos processos a vigilância e providências indicadas pelo Órgão e normatizadas na Lei da Propriedade Industrial.</p>  
                        <p class="TermosList-text">5. Privacidade</p>  
                        <p class="TermosList-text">A Mavip Tecnologia descrevemos como usamos e protegemos o seu Conteúdo e as informações que coletamos de você descritas nesse Contrato. Elas são importantes, portanto leia-as com atenção. Este Contrato inclui cláusula privacidade como referência. Ao usar os Serviços ou aceitar estes termos, você concorda com a coleta, uso e divulgação do seu Conteúdo e informações, conforme descrito como regra de privacidade da Mavip.</p>  
                        <p class="TermosList-text">6. Interrupções dos Serviços e backup</p>  
                        <p class="TermosList-text">Trabalhamos para manter os Serviços em funcionamento; entretanto, todos os serviços online sofrem interrupções e paradas ocasionais, e a Mavip não é responsável por nenhuma interrupção ou perda que você possa sofrer em decorrência disso. Você deve cumprir os prazos indicados pelo Instituto Nacional da Propriedade Industrial (INPI), bem como pela Lei da Propriedade Industrial, via de regra 60(dias), com antecedência. Bem como, está ciente que a nossa plataforma em grande parte é dependente da operação regular do banco de dados, Geração de Guia de Recolhimento da União (GRU), entre outros serviços do INPI.</p>  
                        <p class="TermosList-text">7. Ferramenta de Busca de Marca Interpretada</p>  
                        <p class="TermosList-text">7.1. A Ferramenta de Busca de Marca Interpretada Mavip foi desenvolvida e disponibilizada gratuitamente. Contudo, a Mavip se reserva o direito de suspender, interromper ou cancelar o uso de terceiros, ainda que usuários cadastrados, sem prejuízo a qualquer parte por serem os algoritmos e sistemas de propriedade da Mavip Tecnologia. O software, Ferramenta de Busca de Marca Interpretada, poderá ser licenciada, cedida ou vendida, pela Mavip Tecnologia, sendo todos os direitos ao software reservados a Mavip.</p>  
                        <p class="TermosList-text">7.2. Por liberalidade a Ferramenta de Busca de Marca Interpretada Mavip é outorgado ao usuário o direito de usar somente uma marca por vez, mediante seja fornecido e-mail e marca, ou login, senha e marca, como parte do Serviços Gratuitos, mas apenas se você obedecer a todos as outras cláusulas deste Contrato.</p>  
                        <p class="TermosList-text">7.3. Além das outras restrições presentes neste Contrato, o usuário não pode contornar ou burlar nenhuma medida de proteção tecnológica dos softwares ou Serviços, ou relacionada a eles, nem desmontar, descompilar ou fazer engenharia reversa de nenhum software ou outro aspecto dos Serviços incluídos nos Serviços ou que podem ser acessados por meio deles, exceto e somente na medida em que a atividade seja expressamente permitida pela lei de direitos autorais aplicável. Declarando o usuário ter conhecimento os programas de computador da Mavip estão devidamente registrados no Instituto Nacional da Propriedade Industrial (INPI). Ou seja, você não poderá usar os Serviços de maneira não autorizada que possa interferir com o uso dos mesmos por parte de outra pessoa ou com a obtenção de acesso a qualquer serviço, dados, conta ou rede. Você não poderá permitir acesso aos Serviços por aplicativos de terceiros não autorizados.</p>  
                        <p class="TermosList-text">8. Termos adicionais para os Serviços Mavip</p>  
                        <p class="TermosList-text">8.1. Caso seja usuário dos Serviços Mavip, você pode ter acesso a Ferramenta de Busca de Marca Interpretada Mavip, entre outros Serviços pagos. A Mavip concede a você acesso ao número dos processos que você realizou no portal (http//:www.mavip.com.br), sem detalhamento do status atual.</p>  
                        <p class="TermosList-text">9. Se você paga à Mavip, deve obedecer aos termos a seguir</p>  
                        <p class="TermosList-text">9.1. Taxas. Se houver algum encargo associado a uma parte dos Serviços, você concorda em pagar esse encargo. Em se tratando de ações no Instituto Nacional da Propriedade Industrial (INPI), em grande maioria dos casos é necessário pagamento de taxas por meio de pagamento de Guia(s) de Recolhimento da União (GRU), conforme tabela de retribuições informada no link (http://www.inpi.gov.br/arquivos/TabelacompletaPortariaeBrasosemCEDIN.pdf). O preço declarado pelo Serviço será sempre informado, bem como a taxa federal referente ao serviço realizado. Você, na condição de beneficiário é o único responsável pelo pagamento de tais impostos ou outros encargos. Podemos suspender ou cancelar os Serviços se não recebermos o pagamento total no prazo devido. A suspensão ou cancelamento dos Serviços pelo não pagamento pode resultar em perda de acesso e uso da sua conta e cancelamento dos serviços realizados. </p>  
                        <p class="TermosList-text">9.2. Para ter acesso aos Serviços, você será solicitado a fornecer uma forma de pagamento no momento em que você se inscrever no Serviço. Você pode acessar e alterar as informações da sua conta de cobrança e forma de pagamento no site Gerenciamento de contas e de cobrança (https://www.Mavip.com.br). Além disso, você concorda em permitir que a Mavip use quaisquer dados da conta atualizados referentes à sua forma de pagamento oferecida pelo seu banco emissor ou pela rede de pagamento aplicável. Você concorda em sempre manter os dados da sua conta de cobrança atuais. Alterações feitas na sua conta de cobrança não afetarão os encargos que enviamos para a sua conta de cobrança antes que possamos agir de forma razoável em relação à sua conta de cobrança.</p>  
                        <p class="TermosList-text">9.3. Toda Cobrança será realizada mediante o fornecimento de uma modalidade de pagamento à Mavip, você (i) declara estar autorizado a usar essa forma de pagamento fornecida e que todas as informações de pagamento fornecidas são verdadeiras e precisas; (ii) autoriza a Mavip a cobrá-lo pelos Serviços usando a sua forma de pagamento e (iii) autoriza a Mavip a cobrá-lo por todo recurso pago dos Serviços que você optar por assinar ou usar enquanto este Contrato estiver em vigor. Nós podemos cobrá-lo (a) com antecedência; (b) no momento da compra; (c) logo após a compra; ou (d) em uma base recorrente pelos Serviços de inscrição. Além disso, você pode ser cobrado de acordo com o aprovado e, se houver alguma alteração no valor cobrado referente aos Serviços de inscrição recorrentes, nós o notificaremos com antecedência. Você poderá ser cobrado ao mesmo tempo por mais de um dos períodos de cobrança anteriores cujos valores ainda não foram processados.</p>  
                        <p class="TermosList-text">9.4. Sempre que ocorrer Renovação automática, você será informado por e-mail antes da renovação automática dos seus Serviços. Uma vez tendo notificado que os Serviços serão renovados automaticamente, poderemos renová-los automaticamente e cobrar de você o preço atual do prazo da renovação. Você também será lembrado de que usaremos a sua forma de pagamento escolhida para cobrar a renovação dos Serviços, quer estejam arquivados na data de renovação ou fornecidos posteriormente. Nós também forneceremos instruções sobre como cancelar os Serviços. Você deve cancelar os Serviços antes da data de renovação para não ser cobrado por ela.</p>  
                        <p class="TermosList-text">9.5. Em caso de erros, será fornecido um demonstrativo de cobrança online no site Gerenciamento de Contas e de Cobrança (https://www.mavip.com.br), onde você poderá exibir e imprimir o demonstrativo. Essa será a única declaração de cobrança que forneceremos. Você é responsável por imprimir ou salvar uma cópia de cada demonstrativo online e guardá-la. Se houver algum erro na sua fatura, você deverá nos avisar em no máximo 120 dias após tê-lo observado, em respeito ao Código de Defesa do Consumidora. Investigaremos a taxa imediatamente. Se não nos avisar nesse período, você nos isenta de toda a responsabilidade e reivindicações de perda resultantes do erro; e não corrigiremos o erro nem forneceremos reembolso. Se a Mavip identificar um erro na cobrança, corrigiremos esse erro em 90 dias.</p>  
                        <p class="TermosList-text">9.6. Ao solicitar um dos nossos Serviços, o usuário concorda que poderemos começar a fornecê-los imediatamente na quantidade e nos limites da contratação. Você não terá um período de cancelamento ou de "carência", exceto se a legislação exigir um período de carência. Você poderá cancelar Serviços pagos, conforme estabelecido na seção 9.10. Se a sua legislação exigir um período de carência e você cancelar o serviço nesse período, você será reembolsado por todo valor pago dentro de um período razoável.</p>  
                        <p class="TermosList-text">9.7. Ofertas realizadas por meio de Cupom Desconto, serão aceitas nos limites informados em cada cupom, destacando data de inspiração ou período de validade, valor do desconto conferido e número de identificação. A Mavip reserva o direito de cancelar a qualquer tempo os cupons descontos gerados e não utilizados ainda que dentro do período de validade.</p>  
                        <p class="TermosList-text">9.8. Usando da autonomia privada, podemos alterar o preço dos Serviços a qualquer momento e você será notificado por e-mail pelo menos 15 dias antes da alteração de preços. Se você não concordar com a alteração dos preços, deverá cancelar e interromper o uso dos Serviços antes que a alteração do preço entre em vigor. Se houver um preço e um prazo fixos para a oferta de Serviço, esse preço permanecerá vigente durante todo o prazo.</p>  
                        <p class="TermosList-text">9.9. Quanto políticas de reembolso, a menos que estabelecido de outra forma por lei ou em relação a alguma oferta de Serviço específica, todas as compras são finais e não reembolsáveis.</p>  
                        <p class="TermosList-text">9.10. Cancelamento dos Serviços. Você pode cancelar os Serviços a qualquer momento, com ou sem justificativa. As informações e instruções sobre como cancelar os seus Serviços são fornecidas no site de Gerenciamento de contas e de cobrança (https://www.mavip.com.br). A menos que exigido de outra forma pela legislação brasileira, você deve consultar a oferta que descreve os Serviços porque você (i) pode não receber um reembolso no momento do cancelamento; (ii) pode ser obrigado a pagar taxas de cancelamento, se permitido pela lei; (iii) pode ser obrigado a pagar todos os encargos aplicados à sua conta de cobrança pelos Serviços antes da data de cancelamento; (iv) pode perder acesso e uso da sua conta ao cancelar os Serviços. Se você fizer o cancelamento, os seus Serviços terminarão no final do período do seu Serviço atual ou, caso a cobrança na sua conta seja feita periodicamente, no final do período em que você cancelou.</p>  
                        <p class="TermosList-text">9.11. Será de responsabilidade do usuário o pagamento pelas despesas que a Mavip tiver para cobrar os pagamentos atrasados. Estes incluem honorários advocatícios razoáveis e outras taxas e custos legais, até ao limite máximo permitido por lei.</p>  
                        <p class="TermosList-text">9.12. Caso a Mavip precise lhe deva um pagamento, em seguida, você concorda em tempo útil e de forma precisa em nos fornecer qualquer informação que precisemos para fazer esse pagamento a você. Você é responsável pelo pagamento de quaisquer impostos e encargos decorrentes desse pagamento. Além disso, deve estar apto a outras condições para ter o direito de receber o pagamento. Se você receber um pagamento por engano, podemos reverter ou exigir o retorno do pagamento. Você concorda em colaborar conosco em nossos esforços para isso. Também podemos reduzir o valor do seu pagamento sem aviso, a fim de fazer ajustes relacionados a pagamento excessivo anterior.</p>  
                        <p class="TermosList-text">10. SEM GARANTIAS</p>  
                        <p class="TermosList-text"><b>MAVIP NÃO OFERECEM GARANTIAS, CONTRATUAIS OU LEGAIS, OU CONDIÇÕES RELACIONADAS AO SEU USO DOS SERVIÇOS. VOCÊ ESTÁ CIENTE DE QUE O USO DOS SERVIÇOS É DE SUA RESPONSABILIDADE E FORNECEMOS OS SERVIÇOS “NO ESTADO EM QUE SE ENCONTRAM“, “COM EVENTUAIS FALHAS” E “CONFORME DISPONÍVEL”. A MAVIP NÃO GARANTE A EXATIDÃO OU ATUALIZAÇÃO DAS INFORMAÇÕES DISPONÍVEIS NOS SERVIÇOS. ATÉ OS LIMITES PERMITIDOS PELA LEGISLAÇÃO BRASILEIRA, EXCLUÍMOS QUAISQUER GARANTIAS LEGAIS, O QUE INCLUI A GARANTIA DE COMERCIALIZAÇÃO, QUALIDADE SATISFATÓRIA, ADEQUAÇÃO A UMA FINALIDADE ESPECÍFICA, MÃO-DE-OBRA E NÃO VIOLAÇÃO. VOCÊ PODE TER DETERMINADOS DIREITOS DE ACORDO COM A LEGISLAÇÃO LOCAL. NADA NESTE CONTRATO TEM O INTUITO DE AFETAR ESSES DIREITOS, SE ELES FOREM APLICÁVEIS. VOCÊ RECONHECE QUE OS SISTEMAS DE COMPUTADOR E TELECOMUNICAÇÕES NÃO ESTÃO LIVRES DE FALHA, E PODEM OCORRER PERÍODOS EVENTUAIS DE TEMPO DE INATIVIDADE. NÃO GARANTIMOS QUE OS SERVIÇOS SERÃO ININTERRUPTOS, ATUALIZADOS, SEGUROS OU SEM ERROS, OU QUE NÃO OCORRERÁ PERDA DE CONTEÚDO.</b></p>  
                        <p class="TermosList-text">11. Limitação de obrigação</p>  
                        <p class="TermosList-text">Se a Mavip violar este Contrato, você concorda que o seu recurso exclusivo será recuperar, da Mavip os danos diretos equivalentes a um valor igual ao dos seus Serviços mensais, ou até R$ 30,00 (trinta reais), se os Serviços forem gratuitos. <b>NÃO É POSSÍVEL RECUPERAR OUTROS DANOS OU PERDAS, INCLUINDO, SEM LIMITAÇÃO, LUCROS DIRETOS, CONSEQUENCIAIS, CESSANTES, ESPECIAIS, INDIRETOS, INCIDENTAIS OU PUNITIVOS.</b> Essas limitações e exclusões também se aplicam se esse recurso não compensá-lo totalmente por quaisquer perdas ou não cumprir sua finalidade essencial, ou se sabíamos ou deveríamos saber sobre a possibilidade de tais danos. No limite máximo permitido pela legislação, essas limitações e exclusões se aplicam a tudo que se relaciona a este Contrato, como perda de Conteúdo, vírus que afetem o seu uso dos Serviços; atrasos ou falhas ao iniciar ou realizar transmissões ou transações; requerimentos judiciais ou extrajudiciais por violação de contrato, garantia ou condição; responsabilidade objetiva; negligência; falsidade ideológica; transgressão; violação de estatuto ou regulamento; ou enriquecimento sem causa. Algumas ou todas essas limitações ou exclusões poderão não ser aplicáveis se o seu estado, província ou país não permitir a exclusão ou limitação de danos incidentais, consequenciais ou outros.</p>  
                        <p class="TermosList-text">12. A entidade adjudicante da Mavip será Tribunal local e a lei aplicável</p>  
                        <p class="TermosList-text">Este Contrato será regido pelas leis do Brasil, requerimentos judiciais ou extrajudiciais por sua violação e todos os outros requerimentos (incluindo a proteção ao consumidor, concorrência desleal e atos ilícitos extracontratuais), independentemente de conflito de princípios legais, todas as provisões com relação a arbitrariedade. Você, na condição de usuário e a Mavip concordam de forma irrevogável com a jurisdição e o foro exclusivos dos tribunais estaduais e federais do Brasil, para todas as controvérsias que surgirem deste Contrato ou estiverem relacionadas a ele ou outras questões legais entre as partes.</p>  
                        <p class="TermosList-text">13. Sites de terceiros</p>  
                        <p class="TermosList-text">Talvez você possa acessar sites ou serviços de terceiros por meio dos Serviços. Mavip não é responsável por tais sites, serviços ou o conteúdo que possa estar disponível neles. Você é o único responsável pelas suas negociações com terceiros, incluindo o Instituto Nacional da Propriedade Industrial (INPI). O seu uso de sites ou serviços de um terceiro pode estar sujeito aos termos e condições do terceiro.</p>  
                        <p class="TermosList-text">14. Atribuição e transferência</p>  
                        <p class="TermosList-text">Podemos ceder este Contrato, integral ou parcialmente, a qualquer momento, com ou sem aviso prévio. Você não pode ceder este Contrato ou transferir quaisquer direitos para usar os Serviços.</p>  
                        <p class="TermosList-text">15. Avisos</p>  
                        <p class="TermosList-text">Você consente em receber da Mavip notificações sobre os Serviços ou informações que a lei exige que forneçamos por e-mail para o endereço especificado quando você se inscreveu nos Serviços. Os avisos enviados a você serão considerados entregues e recebidos quando o e-mail for enviado. Se você não consentir em receber os avisos de forma eletrônica, deverá interromper o uso dos Serviços. Você pode notificar a Mavip, conforme indicado na área de atendimento ao cliente dos Serviços.</p>  
                        <p class="TermosList-text">16. Qualquer reivindicação deverá ser registrada dentro de um ano</p>  
                        <p class="TermosList-text">Você deve registrar qualquer requerimento judicial ou extrajudicial relacionado a este Contrato ou aos Serviços dentro de um ano da data em que você poderia registrar o requerimento pela primeira vez, exceto se a lei local exigir um prazo maior para registro de requerimentos. Caso não seja registrado nesse período, esse requerimento será excluído permanentemente.</p>  
                        <p class="TermosList-text">17. Interpretação do contrato</p>  
                        <p class="TermosList-text">Este é o Contrato integral entre o Usuário (você) e a Mavip Tecnologia e Serviços Ltda ME, inscrita no CNPJ 03671087000117, a respeito do seu uso dos Serviços. Ele substitui qualquer contrato anterior entre você e a Mavip a respeito do seu uso dos Serviços. Todas as cláusulas deste Contrato aplicam-se até o limite máximo permitido pela lei pertinente. Se um tribunal determinar que não podemos aplicar uma cláusula deste contrato conforme escrita, poderemos substituir esses termos por termos semelhantes na extensão aplicável de acordo com a lei pertinente, mas o restante deste Contrato não será alterado. Os títulos da seção deste Contrato servem somente para referência e não possuem nenhum efeito legal.</p>  
                        <p class="TermosList-text">18. Inexistência de outros beneficiários</p>  
                        <p class="TermosList-text">Este Contrato é exclusivo aos seus e os nossos benefícios. Ele não beneficia nenhuma outra pessoa, exceto os sucessores e cessionários da Mavip.</p>  
                        <p class="TermosList-text">19. Suporte</p>  
                        <p class="TermosList-text">Suporte ao cliente para os Serviços via Mavip (http://www.mavip.com.br).</p>  
                        <p class="TermosList-text">AVISOS</p>  
                        <p class="TermosList-text">Avisos e procedimentos para reclamações por violação de direitos de propriedade intelectual e/ou industrial. Mavip respeita os direitos de propriedade intelectual e industrial de terceiros. Se você deseja enviar um aviso de violação de propriedade intelectual, incluindo alegações de violação de direitos autorais, utilize os nossos procedimentos para a apresentação de denúncias (https://www.mavip.com.br). TODAS AS RECLAMAÇÕES NÃO RELEVANTES AO PROCEDIMENTOS NÃO RECEBERÃO RESPOSTA.</p>  
                        <p class="TermosList-text">Aviso de registro sobre os direitos autorais, software registrados e de marcas registradas de uso exclusivo da Mavip.</p>   

                                         
                    </div>
                </div>
            </div>
          </section>
        </div>
      </div>
    </div>