<header class="Header Header--login">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <section class="Login-box">
                <div class="Register-boxContent">
                    <div class="row">                        
                        <div class="col-xs-12 col-md-4 col-md-offset-4"><!-- data-animation vai de 0-4 -->
                            <div data-animation="<?php echo $this->resultado; ?>" class="Gauge"><img src="<?php echo $this->baseUrl('static/default/images/gauge.png') ?>" alt="" class="img-responsive Gauge-bg"><img src="<?php echo $this->baseUrl('static/default/images/gauge-pointer.png') ?>" alt="" class="Gauge-pointer">
                                <ul class="Gauge-labels list-unstyled">
                                    <li class="Gauge-label Gauge-label--0"><span title="Existe registro ou decisão impeditiva." class="QuestionMark Tooltip">?</span><span class="Gauge-text Gauge-text--0">Inviável</span></li>
                                    <li class="Gauge-label Gauge-label--1"><span title="Alguém anterior a você tem a preferencia pela marca "<?php echo $this->resultado; ?>", você pode não conseguir o Registro" class="QuestionMark Tooltip">?</span><span class="Gauge-text Gauge-text--1">Crítica</span></li>
                                    <li class="Gauge-label Gauge-label--2"><span class="Gauge-text Gauge-text--2">Viável</span><span title="Parabéns! A marca “<?php echo $this->resultado; ?>” tem fortes chances de ser registrada por você!" class="QuestionMark Tooltip">?</span></li>
                                    <li class="Gauge-label Gauge-label--3"><span class="Gauge-text Gauge-text--3">Fator subjetivo</span><span title="Entendimento INPI motivado na lei da propriedade industrial e nas interpretação dos seus analistas." class="QuestionMark Tooltip">?</span></li>
                                </ul>
                            </div>
                            <p class="Gauge-score text-center"><!-- data-number corresponde a chance de aprovação --><span data-number="<?php echo ($this->porcento) ?>" class="Gauge-scoreNumber">0</span><span class="Gauge-scoreUnit">%</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-md-offset-3">
                            <h1 class="Page-title Page-title--small text-center">
                                <?php if ($this->resultado >= 0): ?>
                                    <!--A marca <span class="u-orangeText">"<?php echo $this->marca; ?>"</span> <br />--> 
                                <?php endif; ?>

                                <?php echo $this->exibeMensagemBusca($this->resultado, $this->marca); ?></h1>
                        </div>
                    </div>

                    <!-- <div class="row btn-resultados">
                        <div class="col-xs-12 col-md-4 col-md-offset-1">
                            <button class="Button Button--secondary Button--full u-xs-mb10">
                                <a class="btn-resultados-link" href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Fazer nova pesquisa</a>
                            </button>
                        </div>
                        <div class="col-xs-12 col-md-4 col-md-offset-1">
                            <a href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => '1'), 'default', true); ?>" class="Button Button--full text-center u-mt35">Garanta já sua marca</a>
                        </div>
                    </div> -->

                    <div class="row btn-resultados">

                        
                        <div class="col-xs-12 col-md-4">
                            <button class="Button Button--secondary Button--full u-xs-mb10">
                                <a class="btn-resultados-link" onclick="mensagem();">Desistir da Marca</a>
                            </button>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <a href="<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => '1'), 'default', true); ?>" class="Button Button--full text-center u-mt35">Garanta já sua marca</a>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <a href="" class="Button Button--full text-center u-mt35 buttom_">
                                Banco de marcas
                                <span>Marcas pré-aprovadas</span>
                            </a>
                        </div>
                        
                    </div>

                    <div class="row">
                        <span style="display:block;text-align:center;color:#9b58b6;font-size:12px;margin-top:20px">* Marca sujeita a aprovação pelo INPI.</span>
                        <span style="display:block;text-align:center;color:#9b58b6;font-size:12px">** A pesquisa é realizada no banco de dados do INPI.</span>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>