<header class="Header Header--error">
      <div class="container">
        <?php echo $this->render('partial/navbar.phtml');?>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <section class="error-box">
            <div class="About-boxContent">
              <div class="row">
                <div class="col-xs-12">
                <div class="text-center"><img src="<?php echo $this->baseUrl('static/default/images/error.png')?>" alt="erro"></div>
                  <h1 class="Page-title Page-title--small error-title">Página não encontrada!</h1>
                  <p class="error-text">Este endereço não existe em nosso site.</p>    
                </div>
              </div>

              <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3"><a href="<?php echo $this->baseUrl('')?>" class="Button Button--full text-center">Ir para página inicial</a></div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>