<?php
ini_set('display_errors', 0);
ini_set('display_startup_errors', 0);
error_reporting(0);

?>
<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="<?=$this->url(array('action' => 'list'));?>" class="heading"><?=$this->title?> </a>>></li>
          <li><a href="#" class="heading"> <?=$this->option['page']?></a></li>
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">

        <!-- Row Start -->
        <div class="row">
            <div class="col-md-12 col-lg-12">


                <div class="pull-right ">

                    <?php if ($this->isAllowed($this->resource, 'new')): ?>
                        <a href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'new'), "gerenciador", true); ?>" class="btn btn-default">
                            <i class="fa fa-plus"></i>
                            Adicionar
                        </a>
                    <?php endif; ?>

                </div>


            </div>
        </div>
        <!-- Row End -->
        <hr>

        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                         <?php echo $this->option['page']; ?>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div id="dt_example" class="example_alt_pagination table-responsive">

                            <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">

                                <thead>
                                    <tr>
                                        <?php foreach ($this->grid['columns'] as $col => $inf): ?>
                                            <th style="<?= $inf['style'] ? $inf['style'] : ''?> text-align: center;">
                                                <?php echo $inf['label']; ?>
                                            </th>
                                        <?php endforeach; ?>

                                        <th style="width:20%; text-align: center;">
                                            Ações
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ($this->grid['records'] as $row): ?>
                                        <tr  class="gradeX <?php if (isset($row['ativo']) AND ! $row['ativo']): ?>warning <?php echo $row['ativo']; ?><?php endif ?>">
                                            <?php foreach ($this->grid['columns'] as $col => $inf): ?>
                                                <td class="<? echo $inf['class']; ?>">
                                                    <?php if ($inf['type'] == 'youtube'): ?>
                                                        <iframe width="<? echo $inf['config']['width'] ? $inf['config']['width'] : '420' ?>" height="<? echo $inf['config']['height'] ? $inf['config']['height'] : '315' ?>" src="//www.youtube.com/embed/<? echo $row[$inf['config']['col'] ? $inf['config']['col'] : 'url']; ?>" frameborder="0" allowfullscreen></iframe>
                                                    <?php elseif ($inf['type'] == 'image'): ?>
                                                        <img src="<? echo $this->baseUrl($inf['config']['path'].($row[$col]?$row[$col]:$row['file']));?>">
                                                    <?php elseif ($inf['type'] == 'boolean'): ?>
                                                        <?php echo $row[$col] ? 'Sim' : 'Não'; ?>
                                                    <?php elseif ($inf['type'] == 'date' AND $row[$col]): ?>
                                                        <?php
                                                        $date = new Zend_Date($row[$col]);
                                                        echo $date->get($inf['config']['format'] ? $inf['config']['format'] : 'dd/MM/yyyy');
                                                        ?>
                                                    <?php else: ?>
                                                        <?php echo $row[$col]; ?>
                                                    <?php endif; ?>
                                                </td>
                                            <?php endforeach; ?>

                                            <td class="">

                                                <?php if ($this->isAllowed($this->resource, 'view') && $row['status'] == 'pago'): ?>
                                                    <a class="btn btn-warning btn-xs" href="<?php echo $this->url(array('action' => 'view', 'id' => $row['id'], 'marca' => $row['marcaid'])) ?>" id="notification" data-original-title="" title="">
                                                        Processando
                                                    </a>
                                                <?php endif; ?>

                                                <?php if ($this->isAllowed($this->resource, 'view') && $row['status'] != 'pago'): ?>
                                                    <a class="btn btn-info btn-xs" href="<?php echo $this->url(array('action' => 'view', 'id' => $row['id'],  'marca' => $row['marcaid'])) ?>" id="notification" data-original-title="" title="">
                                                        Visualizar
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($this->isAllowed($this->resource, 'active')): ?>
                                                    <?php if ($row['active']): ?>
                                                        <a class="btn btn-danger btn-xs" href="<?php echo $this->url(array('action' => 'active', 'id' => $row['id'], 'active' => '0')) ?>" id="notification" data-original-title="" title="">
                                                            Inativar
                                                        </a>
                                                    <?php else: ?>
                                                        <a class="btn btn-success btn-xs" href="<?php echo $this->url(array('action' => 'active', 'id' => $row['id'], 'active' => '1')) ?>" id="notification" data-original-title="" title="">
                                                            Ativar
                                                        </a>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                                <?php if ($this->isAllowed($this->resource, 'update')): ?>
                                                    <a class="btn btn-warning btn-xs" href="<?php echo $this->url(array('action' => 'update', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
                                                        Editar
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($this->isAllowed($this->resource, 'senha')): ?>
                                                    <a class="btn btn-warning btn-xs" href="<?php echo $this->url(array('action' => 'senha', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
                                                        Alterar Senha
                                                    </a>
                                                <?php endif; ?>

                                                <?php if ($this->isAllowed($this->resource, 'delete')): ?>
                                                    <a class="btn btn-danger btn-xs confirm" href="<?php echo $this->url(array('action' => 'delete', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
                                                        Excluir
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($this->isAllowed($this->resource, 'pagar')): ?>
                                                    <?php if ($row['status'] == 'novo' || $row['status'] == 'cancelado'): ?>
                                                        <a class="btn btn-success btn-xs confirm" href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'pagar', 'id' => $row['id']), 'gerenciador', true) ?>" id="notification" data-original-title="" title="">
                                                            Dar Baixa
                                                        </a>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                                <?php if ($this->isAllowed($this->resource, 'cancelar')): ?>
                                                    <?php if ($row['status'] == 'novo' || $row['status'] == 'processando'): ?>
                                                        <a class="btn btn-danger btn-xs confirm" href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'cancelar', 'id' => $row['id'], 'marca' => $row['marcaid']), 'gerenciador', true) ?>" id="notification" data-original-title="" title="">
                                                            Cancelar
                                                        </a>
                                                    <?php endif; ?>
                                                <?php endif; ?>

                                            </td>
                                        </tr>
                                    <?php endforeach; ?>

                                </tbody>
                            </table>
                            <div class="clearfix">
                            </div>
                        </div>








                    </div>

                </div>
            </div>
        </div>
        <!-- Row End -->



    </div>
    <!-- Left Sidebar End -->



</div>
<!-- Dashboard Wrapper End -->






<script type="text/javascript">

    //Data Tables
    $(document).ready(function () {
        //$.fn.dataTable.TableTools.defaults.aButtons = [ "copy", "csv", "xls" ];
        $('#data-table').dataTable({
            "order": [[0, "desc"]],
            "columnDefs": [
                { "orderData": [ 0 ],    "targets": [7] },
            ],
            "bPaginate": false,
            "info": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/Portuguese-Brasil.json"
            }
            /*dom: 'T<"clear">lfrtip',
             tableTools: {
             "sSwfPath": "<?php echo $this->baseUrl("static/") ?>js/data-tables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
             }*/
        });
    });

</script>