<style>

    a{
        color: #0f74a8;
        text-decoration: underline;
    }
</style>

<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="<?=$this->url(array('action' => 'list'));?>" class="heading"><?=$this->title?> </a>>></li>
          <li><a href="#" class="heading"> <?=$this->action?></a></li>
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">

        <!-- Row Start -->
        <div class="row">
            <div class="col-md-12 col-lg-12">

                <?php echo $this->showMessenger($this->msg) ?>
            </div>
        </div>
        <!-- Row End -->

        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget no-margin">
                    <div class="widget-header">
                        <div class="title">
                            
                            <?php echo $this->title; ?> nº #<?php echo $this->rows[0]['id']; ?>
                        </div>

                    </div>
                    <div class="widget-body ">
                        <div class="invoice clearfix">

                            <div class="invoice-data-container">
                                <div class="col-sm-5">
                                    <label style="font-size: 16px">Status: </label> <span><?php echo ucfirst($this->rows[0]['status']); ?></span>
                                </div>
                                <div class="col-sm-4">
                                    <label style="font-size: 16px">Data do Pedido: </label> <?php
                                    $data = new Zend_Date($this->rows[0]['data_cadastro']);
                                    echo $data->get("dd/MM/yyyy");
                                    ?>
                                </div>
                                <hr/>
                                <hr/>
                                <?php if ($this->rows[0]['logo']): ?>
                                    <div class="col-sm-12">
                                        <label>Logo: </label> 
                                        <a href="<?php echo $this->baseUrl("arqs/marca/" . $this->rows[0]['logo']); ?>" target="_blank">
                                            <img class="thumbnail" style="width: 150px" src="<?php echo $this->baseUrl("arqs/marca/" . $this->rows[0]['logo']); ?>" />
                                        </a>
                                    </div>
                                <?php endif; ?>
                                <div id="dt_example" class="example_alt_pagination table-responsive">
                                <table class="table table-condensed table-striped table-hover table-bordered pull-left dataTable no-footer ">
                                    <thead>
                                        <tr>
                                            <th style="width:20%;">Marca</th>
                                            <th style="width:20%;">Acompanhamento</th>
                                            <th style="width:20%;">Fim de Acompanhamento</th>
                                            <th style="width:20%;">Urgência</th>
                                            <th>Processo</th>
                                            <th style="width:15%; ">Data de Public do Processo</th>
                                            <th>Nosso numero</th>
                                            <th>Tipo</th>
                                            <th>Estilo</th>
                                            <th>NCL</th>
                                            <th>GRU</th>
                                            <th>Plano Contratado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($this->rows as $ser): $idServico = $ser['id']; ?>
                                            
                                            <tr>
                                                <td class="hidden-phone"> <a href="<?php echo $this->url(array('controller' => 'marca', 'action' => 'view', 'id' =>  $ser["marca_id_"]), "gerenciador", true); ?>" target="_blank"><?php echo $ser["marca"]; ?></a></td>
                                                <td class="hidden-phone"> <?php echo $ser["acompanhamento"] ?  '<b>SIM</b>' : 'Não'; ?> </td>
                                                <td class="hidden-phone">
                                                    <?php
                                                    if($ser['data_acompanhamento']){
                                                        $data = new Zend_Date($ser['data_acompanhamento']);
                                                        echo $data->get("dd/MM/yyyy");
                                                    }
                                                    ?>
                                                </td>
                                                <td class="hidden-phone"> <?php echo $ser["urgencia"] ?  '<b>SIM</b>' : 'Não'; ?> </td>
                                                <td class="hidden-phone"> <?php echo $ser["processo"]; ?> </td>
                                                <td class="hidden-phone">
                                                    <?php
                                                        if($ser['publicacao_inpi']){
                                                            $data = new Zend_Date($ser['publicacao_inpi']);
                                                            echo $data->get("dd/MM/yyyy");
                                                        }
                                                    ?>
                                                </td>
                                                <td class="hidden-phone"> <?php echo $ser["nosso_numero"]; ?> </td>
                                                <td class="hidden-phone"> <?php echo $ser["tipo"]; ?> </td>
                                                <td class="hidden-phone"> <?php echo $ser['estilo'] == 'texto' ? 'nominativa' : ''; ?><?php echo $ser['estilo'] == 'mista' ? 'mista' : ''; ?> </td>
                                                <td class="hidden-phone">  <?php echo $ser['categoria']; ?> (<?php echo $ser['id_inpi']; ?>)</td>
                                                <td class="hidden-phone">
                                                    <?php if ($ser["item_valor_gru"] && $ser["titulo"] !== "Acompanhamento Anual" ): ?>
                                                        <?php echo $this->exibeMoeda($ser["item_valor_gru"]); ?>
                                                    <?php else: ?>
                                                        <?php echo "R$ 0,00";?>
                                                    <?php endif; ?>
                                                </td>
                                                <td class="hidden-phone"> <a href="<?php echo $this->url(array('controller' => 'servico', 'action' => 'update', 'id' =>  $ser["servico_id"]), "gerenciador", true); ?>" target="_blank"><?php echo $ser["servico"]; ?></a></td>
                                            </tr>
                                        <?php endforeach; ?>

                                    </tbody>
                                </table>
                                </div>
<style>
    #totais td{
        width: 30%;
        padding: 5px;
    }
</style>
                                <table id="totais">
                                    <tr>
                                        <td rowspan="4"><b>Detalhes do pedido</b></td>
                                    </tr>
                                    <tr>
                                        <td class="total">Subtotal</td>
                                        <td class="hidden-phone"><?php echo $this->exibeMoeda($this->rows[0]['subtotal']); ?> </td>
                                    </tr>
                                </tr>
                                    <td class="total"> Desconto </td>
                                    <td class="hidden-phone">  <?php echo $this->exibeMoeda($this->rows[0]['desconto']); ?></td>
                                </tr>
                                <tr >
                                    <td class="total success"><b>Total</b></td>
                                    <td class="hidden-phone success"><b> <?php echo $this->exibeMoeda($this->rows[0]['total']); ?></b></td>
                                </tr>
                            </table>

                                <br /><br /><br />      
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>Documentos</h4>
                                    </div>
                                    <?php

                                    $processoModel = new Application_Model_Processo();
                                    $processos = $processoModel->getById($this->rows[0]['marca_id_']);
                                    ?>                                     
                                    <hr />
                                    <?php if (count($processos) <= 100) { ?>
                                        <div class="col-md-12" style="text-align: right;">
                                            <a href="<?php echo $this->url(array('controller' => 'processo', 'action' => 'new', 'pedido' => $this->rows[0]['id'], 'marca' => $this->rows[0]['marca_id_']), "gerenciador", true); ?>" class="btn btn-default">
                                                <i class="fa fa-plus"></i>
                                                Adicionar
                                            </a>
                                        </div>    
                                    <?php } ?>

                                </div>                                
                                <br>

                                <table class="table table-condensed table-striped table-bordered table-hover ">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Descrição</th>
                                            <th>Arquivo</th>
                                            <th>Cadastro</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody
                                    <?php $i = 0; ?>
                                    <?php foreach ($processos as $value) { ?>
                                            <tr>
                                                <td><?php echo ++$i; ?></td>
                                                <td><?php echo $value['descricao']; ?></td>
                                                <td>
                                                    <a href="<?php echo $this->baseUrl('arqs/processo/' . $value['arquivo']); ?>" target="_blank">
                                                        <?php echo $value['arquivo']; ?>
                                                    </a>                                                
                                                </td>
                                                <?php $data = new Zend_Date($value['data_cadastro']); ?>
                                                <td><?php echo $data; ?></td>
                                                <td>           
                                                    <a class="btn btn-danger btn-xs" href="<?php echo $this->url(array('controller' => 'processo', 'action' => 'delete', 'id' => $value['id'], 'pedido' => $this->row['id'])) ?>" id="notification" data-original-title="" title="">
                                                        Excluir
                                                    </a>
                                                </td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>

                                </table>

                                <br /><br /><br />
                                <h4>Dados do Cliente</h4>
                                <hr/>

                                <div class="col-sm-6">
                                    <label>Nome: </label> <a href="<?php echo $this->url(array('controller' => 'cliente', 'action' => 'view', 'id' =>   $this->cliente["cliente_id"]), "gerenciador", true); ?>" target="_blank"><?php echo $this->cliente['nome']; ?></a>
                                </div>
                                <div class="col-sm-6">
                                    <label>CNPJ: </label> <?php echo $this->cliente['cnpj']; ?>
                                </div>
                                <div class="col-sm-6">
                                    <label>E-mail: </label> <?php echo $this->cliente['email']; ?>
                                </div>
                                <div class="col-sm-6">
                                    <label>Telefone: </label> <?php echo $this->cliente['telefone']; ?>
                                </div>
                                <div class="col-sm-12">
                                    <label>Celular: </label> <?php echo $this->cliente['celular']; ?>
                                </div>
                                <br /><br />
                                <?php if ($idServico != 2 && !isset($_GET['processo'])) { ?>
                                <br /><br />
                                
                                <h4>INPI</h4>
                                <hr/>
                                <div class="row">                                
                                    <div class="col-sm-6">
                                        <a class="btn btn-info" target="_blank" href="<?php echo $this->url(array("controller" => "operacao", "action" => "gerarpeticionamento")) ?>">Gerar Peticionamento</a>
                                    </div>
                                </div>
                                <?php } ?>
                                <br /><br />
                                <h4>Informações</h4>
                                <hr/>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Observações</label>
                                        <?php foreach ($this->rows as $obs): ?>
                                            <p>
                                                <ul>
                                                <li  style="margin-left: 50px; list-style: circle"><span><b><?=$obs['marca']?>:</b>  <span> <?= $obs['observacao'] ? $obs['observacao'] :  $obs['marca_obs'] ; ?> </span></li></span>
                                                </ul>
                                            </p>
                                        <?php endforeach; ?>
                                    </div>
                                </div>
                               
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- Left Sidebar End -->

</div>
<!-- Dashboard Wrapper End -->

