<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
  <ul>
    <li><a href="" class="heading">Operação >> Acompanhamentos vencidos</a></li>
  </ul>

</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

  <!-- Left Sidebar Start -->
  <div class="container">

    <!-- Row Start -->
    <div class="row">
      <div class="col-md-12 col-lg-12">

      </div>
    </div>
    <!-- Row End -->
    <hr>

    <!-- Row Start -->
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="widget">
          <div class="widget-header">
            <div class="title" style="margin-right: 50px;">
              <b>Acompanhamentos Vencidos</b>
            </div>
            <button class='btn btn-danger' id='registro-vencido'>Registro vencido</button>
            <button class='btn btn-warning' id='processo-vencido'>Processo vencido</button>
            <button class='btn btn-success' id='clean'>Limpar filtros</button>
          </div>

          <div class="widget-body">
            <div id="dt_example" class="example_alt_pagination table-responsive">
              <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
                <thead>
                  <tr>
                    <th>Cliente</th>
                    <th>CPF/CNPJ</th>
                    <th>Marca</th>
                    <th>Processo</th>
                    <th>Fim de acompanhamento</th>
                    <th>Contato</th>
                    <th>Problema</th>
                    <th style="text-align: center">Ações</th>
                    <th style="display: none;">registro_vencido</th>
                    <th style="display: none;">processo_vencido</th>
                    <th style="display: none;">esconder</th>
                  </tr>
                </thead>
                <tbody>
                  <?php foreach ($this->records as $row) : ?>
                  <tr>
                    <td><?= $row['cliente']; ?></td>
                    <td><?= $row['cnpj']; ?></td>
                    <td style="width: 20%"><?= $row['marca']; ?></td>
                    <td><?= $row['processo']; ?></td>
                    <td>
                      <?php
                        $data = new Zend_Date($row["data_acompanhamento"]);
                        echo $row["data_acompanhamento"] ? $data->get("dd/MM/yyyy") : '';
                        ?>
                    </td>
                    <td>
                      <input type="checkbox" name="contato[<?= $row['id']; ?>]" <?= $row['contato'] ? 'checked' : ''; ?> />
                    </td>
                    <td>
                      <input type="checkbox" name="problema[<?= $row['id']; ?>]" <?= $row['problema'] ? 'checked' : ''; ?> />
                    </td>
                    <td style="width: 20%; text-align: center">
                      <div class="d-flex justify-content-between">
                        <a href="<?= $this->url(array('controller' => 'marca', 'action' => 'view', 'id' => $row['id'])); ?>" class="btn btn-sm btn-primary  w-30">
                        Detalhes do Cliente
                        </a>
                        <button type="button" class="btn btn-warning w-50 btn-sm" data-id="<?= $row['id']; ?>"
                          data-processo="<?= $row['processo']; ?>" data-toggle="modal"
                          data-target="#myModal">Ocultar</button>
                      </div>
                    </td>
                    <td style="display: none;"><?= $row['registro_v']; ?></td>
                    <td style="display: none;"><?= $row['processo_v']; ?></td>
                    <td style="display: none;"><?= $row['esconder']; ?></td>
                  </tr>
                  <?php endforeach; ?>
                </tbody>
              </table>
              <div class="clearfix">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 id="myModalLabel">Confirmação</h4>
          </div>
          <div class="modal-body">
            <span style="font-size: 16px;">Você deseja ocultar o registro do processo <span id='processo-id-modal'
                style='font-weight: bold;'></span>?</span>
            <input type="hidden" id="processo-id" value="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            <button type="button" class="btn btn-danger" id="confirm-hide">Sim, ocultar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Row End -->

  </div>
  <!-- Left Sidebar End -->

</div>
<!-- Dashboard Wrapper End -->
<script type="text/javascript">
//Data Tables
$(document).ready(function() {
  //$.fn.dataTable.TableTools.defaults.aButtons = [ "copy", "csv", "xls" ];
  var table = $('#data-table').DataTable({
    "order": [],
    "bPaginate": true,
    "pageLength": 100,
    "info": true,
    "language": {
      "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/Portuguese-Brasil.json"
    },
    "createdRow": function (row, data, dataIndex) {
      if (data[10] == "1") {
        $(row).css('background-color', 'red');
      } else if (data[10] == "0") {
        $(row).css('background-color', 'blue');
      } else {
        $(row).css('background-color', 'white'); // define a cor de fundo para quando esconder for null
      }
    },
    /*dom: 'T<"clear">lfrtip',
     tableTools: {
     "sSwfPath": "<?php echo $this->baseUrl("static/") ?>js/data-tables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
     }*/
  });

  function filterColumn(col, value) {
    table.column(col).search(value).draw();
  }
  $('input[type=checkbox][name^=contato]').change(function() {
  var id = $(this).attr('name').split('[')[1].split(']')[0]; // Extracts the ID from the checkbox name
  var isChecked = $(this).is(':checked'); // Get the current checkbox state (checked or unchecked)

  $.ajax({
    url: "<?php echo $this->url(array('controller' => 'marca', 'action' => 'contato'), 'gerenciador') ?>",
    type: "POST",
    data: { 
      id: id, 
      checked: isChecked // Send the checkbox state to the server
    },
    success: function(data) {
      if (data == 1) {
        console.log('Contato updated successfully');
      } else {
        console.error('Error updating Contato: ' + data);
      }
    },
  });
  });

  // Event listener for "problema" checkboxes
  $('input[type=checkbox][name^=problema]').change(function() {
    var id = $(this).attr('name').split('[')[1].split(']')[0]; // Extracts the ID from the checkbox name
    var isChecked = $(this).is(':checked'); // Get the current checkbox state (checked or unchecked)

    $.ajax({
      url: "<?php echo $this->url(array('controller' => 'marca', 'action' => 'problema'), 'gerenciador') ?>",
      type: "POST",
      data: { 
        id: id, 
        checked: isChecked // Send the checkbox state to the server
      },
      success: function(data) {
        if (data == 1) {
          console.log('Problema updated successfully');
        } else {
          console.error('Error updating Problema: ' + data);
        }
      },
    });
  });
  // Event listener for "problema" checkboxes
  $('input[type=checkbox][name^=problema]').change(function() {
    var id = $(this).attr('name').split('[')[1].split(']')[0]; // Extracts the ID from the checkbox name
    $.ajax({
      url: "<?php echo $this->url(array('controller' => 'marca', 'action' => 'problema'), 'gerenciador') ?>",
      type: "POST",
      data: { id: id },
      success: function(data) {
        if (data == 1) {
          console.log('Problema updated successfully');
        } else {
          console.error('Error updating Problema: ' + data);
        }
      },
    });
  });
  $('#registro-vencido').on('click', function() {
    filterColumn(6, 'REGISTRO_VENCIDO');
  });
  $('#processo-vencido').on('click', function() {
    filterColumn(7, 'PROCESSO_VENCIDO');
  });
  $('#clean').on('click', function() {
    filterColumn(6, '');
    filterColumn(7, '');
  });

  $('#myModal').on('show.bs.modal', function(e) {
    var processoId = $(e.relatedTarget).data('id');
    var processoNum = $(e.relatedTarget).data('processo');
    $('#processo-id-modal').text(processoNum);
    $('#processo-id').val(processoId);

  });

  $('#confirm-hide').click((e) => {
    e.preventDefault();
    $.ajax({
      url: "<?php echo $this->url(array('controller' => 'marca', 'action' => 'ocultar'), 'gerenciador') ?>",
      type: "POST",
      data: {
        id: $('#processo-id').val()
      },
      success: function(data) {
        if (data == 1) {
          window.location =
            "<?php echo $this->url(array('controller' => 'marca', 'action' => 'acompanhamentos-vencidos'), 'gerenciador', true) ?>";
        } else {
          alert('=====>  ERRO AO OCULTAR MARCA  <=====');
        }
      },
    });
  })
});
</script>