<style type="text/css">
#btn-filtrar{
    margin-top:30px;
}
</style>

<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="" class="heading"><? echo $this->title ?></a></li>


    </ul>

</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">

        <!-- Row Start -->
        <div class="row">
            <div class="col-md-12 col-lg-12">


                <div class="pull-right "> 

                    <?php if ($this->isAllowed($this->resource, 'new')): ?>
                        <a href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'new'), "gerenciador", true); ?>" class="btn btn-default">
                            <i class="fa fa-plus"></i>
                            Adicionar
                        </a>
                    <?php endif; ?>

                </div>


            </div>
        </div>
        <!-- Row End -->
        <hr>



        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            <? echo $this->title ?>
                        </div>
                    </div>

                    <div class="widget-body">
                        <!-- Parâmetro categoria -->
                        <input type="hidden" id="categoria" value="<?php echo $this->categoria; ?>">
                        <!-- filtro de cliente por estado, cidade, processo e registro -->
                        <div class="row" style="margin-top: 2rem; margin-bottom: 1rem">
                            <div class="col-sm-3">
                                <select id="estado" class="form-control">
                                    <option value="">Selecione o estado</option>
                                    <?php foreach ($this->estados as $estado): ?>
                                        <option value="<?php echo $estado['id']; ?>"><?php echo $estado['nome']; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>

                            <div class="col-sm-3">
                                <select id="cidade" class="form-control"><option value="">Selecione a cidade</option></select>
                            </div>
                            <div class="col-sm-3">
                                <select id="registro" name="registro" class="form-control">
                                    <option value="">Registros</option>
                                    <option value="ativos">Ativos</option>
                                    <option value="indeferidos">Indeferidos</option>
                                    <option value="pedidos">Pedidos</option>
                                    <option value="recursos">Recursos</option>
                                    <option value="arquivados">Arquivados</option>
                                    <option value="extintos">Extintos</option>
                                </select>
                            </div>

                            <div class="col-sm-3 col-sm-offset-3">
                                <button id="btn-filtrar" class="btn btn-primary btn-block" type="button">Filtrar</button>
                            </div>
                        </div>
                        <!-- END filtro de cliente por estado, cidade, processo e registro -->
                        <div id="dt_example" class="example_alt_pagination table-responsive">
                            <h3 id="message" style="display: none"></h3>
                            <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">

                                <thead>
                                    <tr>
                                        <?php foreach ($this->grid['columns'] as $col => $inf): ?>
                                            <th style="width:10%">
                                                <?php echo $inf['label']; ?>
                                            </th>
                                        <?php endforeach; ?>

                                        <th style="width:10%" >
                                            Ações

                                        </th>
                                        <th style="width:10%">
                                            <div>
                                                <form>
                                                    <label>Remover marcadores</label>
                                                     <input type="checkbox" name="unselect_all" class="unselect"
                                                      value="0" style="font-size: 20px">
                                                </form>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tbody-marcas">
                                    <?php foreach ($this->grid['records'] as $row): ?>
                                        <tr  class="gradeX <?php if (isset($row['ativo']) AND ! $row['ativo']): ?>warning <?php echo $row['ativo']; ?><?php endif ?>">
                                            <?php foreach ($this->grid['columns'] as $col => $inf): ?>
                                                <td class="">
                                                    <?php if ($inf['type'] == 'youtube'): ?>
                                                        <iframe width="<? echo $inf['config']['width'] ? $inf['config']['width'] : '420' ?>" height="<? echo $inf['config']['height'] ? $inf['config']['height'] : '315' ?>" src="//www.youtube.com/embed/<? echo $row[$inf['config']['col'] ? $inf['config']['col'] : 'url']; ?>" frameborder="0" allowfullscreen></iframe>
                                                    <?php elseif (isset($inf['type']) && $inf['type'] == 'image'): ?>
                                                        <img src="<? echo $this->baseUrl($inf['config']['path'].($row[$col]?$row[$col]:$row['file']));?>">
                                                    <?php elseif ($inf['type'] == 'boolean'): ?>
                                                        <?php echo $row[$col] ? 'Sim' : 'Não'; ?>
                                                    <?php elseif ($inf['type'] == 'color'): ?>
                                                        <div class="col-sm-2" style="border: 1px solid black; height: 15px; background-color: <?=$row[$col]?>"></div>
                                                    <?php elseif ($inf['type'] == 'date' AND $row[$col]): ?>
                                                        <?php
                                                        $date = new Zend_Date($row[$col]);
                                                        echo $date->get($inf['config']['format'] ? $inf['config']['format'] : 'dd/MM/yyyy');
                                                        ?>
                                                    <?php else: ?>
                                                        <?php echo $row[$col]; ?>
                                                    <?php endif; ?>
                                                </td>
                                            <?php endforeach; ?>

                                            <td class="">
                                                
                                                <?php if ($this->isAllowed($this->resource, 'view')): ?>
                                                    <a class="btn btn-info btn-xs" href="<?php echo $this->url(array('action' => 'view', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
                                                        Visualizar
                                                    </a>
                                                <?php endif; ?>   

                                                <?php if ($this->isAllowed($this->resource, 'active')): ?>
                                                    <?php if ($row['active']): ?>
                                                        <a class="btn btn-danger btn-xs" href="<?php echo $this->url(array('action' => 'active', 'id' => $row['id'], 'active' => '0')) ?>" id="notification" data-original-title="" title="">
                                                            Inativar
                                                        </a>
                                                    <?php else: ?>
                                                        <a class="btn btn-success btn-xs" href="<?php echo $this->url(array('action' => 'active', 'id' => $row['id'], 'active' => '1')) ?>" id="notification" data-original-title="" title="">
                                                            Ativar
                                                        </a>
                                                    <?php endif; ?>
                                                <?php endif; ?>

                                                <?php if ($this->isAllowed($this->resource, 'update')): ?>
                                                    <a class="btn btn-warning btn-xs" href="<?php echo $this->url(array('action' => 'update', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
                                                        Editar
                                                    </a>
                                                <?php endif; ?>

                                                <?php if ($this->isAllowed($this->resource, 'senha')): ?>
                                                    <a class="btn btn-warning btn-xs" href="<?php echo $this->url(array('action' => 'senha', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
                                                        Alterar Senha
                                                    </a>
                                                <?php endif; ?>

                                                <?php if ($this->isAllowed($this->resource, 'delete')): ?>
                                                    <a class="btn btn-danger btn-xs confirm" href="<?php echo $this->url(array('action' => 'delete', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
                                                        Excluir
                                                    </a>
                                                <?php endif; ?>

                                                <?php if ($this->isAllowed($this->resource, 'imagem')): ?>
                                                    <?php if ($row['imagem']) { ?>
                                                        <a class="btn btn-primary btn-xs confirm" target="_blank" 
                                                           href="<?php echo $this->baseUrl('arqs/depoimentos/' . $row['imagem']); ?>" 
                                                           id="notification" data-original-title="" title="">
                                                            Imagem
                                                        </a>
                                                    <?php } ?>       
                                                <?php endif; ?>                                                

                                                <?php if ($this->isAllowed($this->resource, 'baixa')): ?>
                                                    <?php if (!$row['pago'] AND $row['status'] == 'novo'): ?>
                                                        <a class="btn btn-success btn-xs confirm" href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'baixa', 'id' => $row['id']), 'gerenciador', true) ?>" id="notification" data-original-title="" title="">
                                                            Dar Baixa
                                                        </a>
                                                    <?php endif; ?>
                                                <?php endif; ?>

                                            </td>
                                            <td>
                                                <center>
                                                    <input type="checkbox" name="marca" class="check_marca"
                                                           value="<?php echo  $row['id']; ?>"  <?php echo $row['editado'] == 1 ? 'checked' : '' ?> />
                                                </center>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>


                                </tbody>
                            </table>
                            <div class="clearfix">
                            </div>
                        </div>








                    </div>

                </div>
            </div>
        </div>
        <!-- Row End -->



    </div>
    <!-- Left Sidebar End -->



</div>
<!-- Dashboard Wrapper End -->



<script type="text/javascript">
    //ao selecionar o estado, retornar todas as cidades desse estado
    $('#estado').change(function () {
        if ($(this).val()) {
            $("#cidade").empty()
            $('#cidade').attr('disabled', true);
            var estado = $(this).val();
            $.ajax({
                type: "POST",
                url: baseUrlDefault + "/account/busca-cidades",
                data: {estado: estado},
            }).done(function (j) {
                var options = '';
                for (var i = 0; i < j.length; i++) {
                    options += '<option value="' + j[i].id + '">' + j[i].nome + '</option>';
                }
                $('#cidade').attr('disabled', false);
                $('#cidade').append(options);
                //$('#cidade').val(cidadeCod);
            });
        } else {
            $('#cidade').append('<option value="">– Escolha um estado –</option>');
        }
    });

    //ao clicar no botão filtrar, filtrar pelos parametros que possui
    $('#btn-filtrar').click(function (){
        let url = ''
        let categoria = $('#categoria').val();
        let estado = $('#estado').val();
        let cidade = $('#cidade').val();
        let registro = $('#registro').val();

        //verificando sem tem algum campo preenchido
        estado ? url+=`&uf=${estado}` : ''
        cidade ? url+=`&cidade=${cidade}` : ''
        registro ? url+=`&registro=${registro}` : ''

        //colocar uma variável page para que o interrogação inicial seja colocado
        url = `${baseUrl}/marca/filter/categoria/${categoria}?page=1${url}`;
        carregando(true, 'Carregando...')
        $('#btn-filtrar').attr('disabled', true)

        $.ajax({
            url,
            type: 'GET',
            success: function (result){
               carregando(false, '');
                $('#btn-filtrar').attr('disabled', false)
                if (result.data.length > 0)
                    $("#tbody-marcas").append(result.data);
                else
                    carregando(true, 'Não há dados a serem exibidos!')
            },

            error: function (e){
                $('#btn-filtrar').attr('disabled', false)
                carregando(false, 'Erro ao acessar os dados!')
                console.log(e)
            }
        }).done(() => {

        })
    })

    function carregando(carregando, message){
        carregando ? $("#tbody-marcas").empty() : '';
        $('#message').text(message)
        carregando && message ? $('#message').css('display', 'block') : $('#message').css('display', 'none')
        carregando && message ? $('#data-table').css('display', 'none') : $('#data-table').css('display', 'table');
    }

    //Data Tables
    $(document).ready(function () {
        $('#cidade').select2()
        $('#estado').select2()
        //$.fn.dataTable.TableTools.defaults.aButtons = [ "copy", "csv", "xls" ];
        $('#data-table').dataTable({
            "order": [[0, "desc"]],
            "columnDefs": [
                {"orderData": [0], "targets": [7, 8, 9]},
            ],
            "bPaginate": false,
            "info": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/Portuguese-Brasil.json"
            }
            /*dom: 'T<"clear">lfrtip',
             tableTools: {
             "sSwfPath": "<?php echo $this->baseUrl("static/") ?>js/data-tables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
             }*/
        });

        $(".check_marca").click(function () {
            let value = 0;
            if ($(this).is(":checked")) {
                value = 1;
            }
                $.ajax({
                    url: "<?php echo $this->url(array('controller' => $this->resource, 'action' => 'editado'), 'gerenciador', true) ?>",
                    type: "POST",
                    data: {marca: $(this).val(), check: value},
                    success: function (data) {
                        //
                    },
                });
        });

        $(".unselect").click(function () {

            if(confirm("Deseja realmente remover os marcadores?")){
                $.ajax({
                    url: "<?php echo $this->url(array('controller' => $this->resource, 'action' => 'editado'), 'gerenciador', true) ?>",
                    type: "POST",
                    data: {unselect: 1},
                    success: function (data) {
                        $('.check_marca').prop('checked', false);
                    },
                });
            }
        });
    });

</script>