<?php
$marcaId = $this->row['id'];
$processoModel = new Application_Model_Processo();
$processos = $processoModel->getById($marcaId);

$pedidoMarca = new Application_Model_PedidoHasMarca();
$pedidoMarca = $pedidoMarca->getByMarca($marcaId);
if($pedidoMarca){
    $pedidoModel = new Application_Model_Pedido();
    $pedido = $pedidoModel->getById($pedidoMarca['pedido_id']);
    $status = $pedidoMarca['status'];

    $dbMarcaHistorico = new Application_Model_DbTable_MarcaHistorico();
    $marcaHistorico = $dbMarcaHistorico->fetchRow(array('marca_id = ?' => $marcaId), 'leitura_id desc');

    if($marcaHistorico){
        $despacho = $marcaHistorico['texto'];
    }
    else{
        $despacho = null;
    }

}
else {
    $pedido = null;
    $status = null;
    $despacho = null;
}
?>

<style>
    .roxo{color: #6a55c2; font-size: 18px; font-weight: bold}
    table#info-marca tr td{border: none; border-right: 1px solid; padding: 5px; text-align: center}
</style>

<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="<?=$this->url(array('action' => 'list'));?>" class="heading"><?=$this->title?> </a>>></li> 
          <li><a href="#" class="heading"> <?=$this->action?></a></li>
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">

        <!-- Row Start -->
        <div class="row">
            <div class="col-md-12 col-lg-12">

                <?php echo $this->showMessenger($this->msg) ?>
            </div>
        </div>
        <!-- Row End -->
        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget no-margin">
                    <div class="widget-header">
                        <div class="title">
                            <?php echo $this->title; ?>:  <?php echo $this->row['marca']; ?>
                        </div>
                        
                    </div>
                    <div class="widget-body ">
                        <div class="invoice clearfix">

                            <div class="invoice-data-container">
                                <h4>Dados Gerais</h4>
                                <hr/>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Marca: </label>
                                        <span class="roxo"><?php echo $this->row['marca']; ?></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Data de Cadastro: </label> <?php echo date("d/m/Y H:i:s", strtotime($this->row['data_cadastro'])); ?>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Processo: </label>
                                        <span class="roxo"><?php echo $this->row['processo']; ?></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="info-marca" style="width: 100%">
                                            <tr>
                                                <td>Classe</td>
                                                <td>Data de Publicação do Processo</td>
                                                <td>Status</td>
                                                <td>Ultima atualização</td>
                                            </tr>
                                            <tr>
                                                <td><?php  echo $this->row['classe']?></td>
                                                <td> <span class="roxo"> <?php echo $this->row['publicacao_inpi'] ? date("d/m/Y", strtotime($this->row['publicacao_inpi'])) : 'Não informado'; ?></span></td>
                                                <td><?= $status ? ucfirst($status) : '' ?></td>
                                                <td><span class="roxo" style="font-size: 14px"><?=$despacho?></span> </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Nosso Número: </label> <?php echo $this->row['nosso_numero']; ?>
                                    </div>
                                </div>
                                <br />
                                <hr/>

                                <div class="col-sm-2">
                                    <label>Registro: </label> <?php echo $this->row['registro']?'Sim':'Não'; ?>
                                </div>
                                <div class="col-sm-2">

                                    <label>Acompanhamento: </label>

                                    <?php if($this->row['acompanhamento']): ?>
                                        <?php  if( $this->row['data_acompanhamento'] >= date('Y-m-d')): ?>
                                            <span style='color:green; font-size:18px'><b>SIM</b></span>
                                        <?php else: ?>
                                            <span style='color:red; font-size:18px'><b>NÃO</b></span>
                                        <?php endif; ?>
                                    <?php else: ?>
                                        Não.
                                    <?php endif; ?>
                                </div>
                                <div class="col-sm-3">
                                    <label>Fim de acompanhamento: </label>
                                <?php if($this->row['acompanhamento'] && $this->row['data_acompanhamento']): ?>
                                        <?php  if( $this->row['data_acompanhamento'] >= date('Y-m-d')): ?>
                                            <span style='color:green; font-size:16px'>
                                            <b> <?php echo date("d/m/Y", strtotime($this->row['data_acompanhamento'])) ?></b>
                                            </span>
                                        <?php else: ?>
                                            <span style='color:red; font-size:16px'>
                                                 <b> <?php echo date("d/m/Y", strtotime($this->row['data_acompanhamento'])) ?></b>
                                            </span>
                                        <?php endif; ?>
                                <?php endif; ?>
                                </div>
                                <div class="col-sm-2">
                                    <label>Urgência: </label> <?php echo $this->row['urgencia']?'Sim':'Não'; ?>
                                </div>
                                <div class="col-sm-2">
                                    <label>Renovacao: </label> <?php echo $this->row['renovacao']?'Sim':'Não'; ?>
                                </div>
                                <div class="col-sm-1">
                                    <label for="esconder">Esconder: </label>
                                    <input type="checkbox" id="esconder" name="esconder" 
                                    <?php echo $this->row['esconder'] == 1 ? 'checked' : ''; ?> onchange="updateEsconder(this, <?php echo $this->row['id']; ?>)">

                                </div>

                                
                                
                                <br /><br /><br />
                                <h4>Dados do Cliente</h4>
                                <hr/>
                                
                                <div class="col-sm-6">
                                    <label>Nome: </label> <?php echo $this->row['cliente']; ?>
                                </div>
                                <div class="col-sm-6">
                                    <label>CNPJ: </label> <?php echo $this->row['cnpj']; ?>
                                </div>
                                <div class="col-sm-6">
                                    <label>E-mail: </label> <?php echo $this->row['email']; ?>
                                </div>
                                <div class="col-sm-6">
                                    <label>Telefone: </label> <?php echo $this->row['telefone']; ?>
                                </div>
                                <div class="col-sm-6">
                                    <label>Celular: </label> <?php echo $this->row['celular']; ?>
                                </div>

                                <br /><br /><br />
                                <br /><br /><br />

                                <div class="row">
                                    <div class="col-sm-2">
                                        <h4>Documentos</h4>
                                    </div>
                                    <?php if ($pedido): ?>
                                        <div class="col-sm-1">
                                            Pedido nº <?=  $pedido['id']?>
                                        </div>
                                    <?php endif; ?>

                                        <?php if ($pedido && $this->isAllowed('operacao', 'gerargru')): ?>
                                            <div class="col-sm-1">
                                                <a class="btn btn-info" target="_blank" href="<?php echo $this->url(array("controller" => "operacao", "action" => "gerargru", "id" => $pedido['id'], "marca" => $this->row['id'])) ?>">Gerar Gru</a>
                                            </div>
                                        <?php endif; ?>
                                        <?php if ($pedido && $this->isAllowed('operacao', 'gerarpeticionamento')): ?>
                                            <div class="col-sm-2 text-right">
                                                <a class="btn btn-info" target="_blank" href="<?php echo $this->url(array("controller" => "operacao", "action" => "gerarpeticionamento", "id" => $pedido['id'], "marca" => $this->row['id'] )) ?>">Gerar Peticionamento</a>
                                            </div>
                                        <?php endif; ?>

                                        <div class="col-sm-3 text-right">
                                            <?php  if($this->isAllowed('marca', 'update')): ?>
                                                <a class="btn btn-warning text-right" href="<?=$this->url(array('action' => 'update', 'id' => $this->row['id']));?>" >
                                                    <i class="fa fa-edit"></i> Editar Marca</a>
                                            <?php endif; ?>
                                        </div>

                                    <?php if ($pedido && $this->isAllowed('cliente', 'view')): ?>
                                        <div class="col-sm-1 text-right">
                                            <a href="<?php echo $this->url(array('controller' => 'cliente', 'action' => 'view', 'id' =>  $this->row['cliente_id']), "gerenciador", true); ?>" class="btn btn-success">
                                                <i class="fa fa-user-o"></i>
                                                Cliente
                                            </a>
                                        </div>
                                    <?php endif; ?>
                                        <?php if ($pedido && $this->isAllowed('processo', 'new')): ?>
                                            <div class="col-sm-2 text-right">
                                                <a href="<?php echo $this->url(array('controller' => 'processo', 'action' => 'new', 'pedido' => $pedido['id'], 'marca' => $this->row['id'],  'view' => 'marca'), "gerenciador", true); ?>" class="btn btn-default">
                                                    <i class="fa fa-plus"></i>
                                                    Add Documento
                                                </a>
                                            </div>
                                        <?php endif; ?>
                                    <?php if(!$pedido): ?>
                                        <div class="col-sm-8">
                                            Sem pedidos para a marca.
                                        </div>
                                    <?php endif; ?>
                                    <hr />
                                </div>
                                <br>

                                <table class="table table-condensed table-striped table-bordered table-hover ">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Descrição</th>
                                        <th>Arquivo</th>
                                        <th>Cadastro</th>
                                        <th></th>
                                    </tr>
                                    </thead>

                                    <tbody
                                    <?php $i = 0; ?>
                                    <?php foreach ($processos as $value) { ?>
                                        <tr>
                                            <td><?php echo ++$i; ?></td>
                                            <td><?php echo $value['descricao']; ?></td>
                                            <td>
                                                <a href="<?php echo $this->baseUrl('arqs/processo/' . $value['arquivo']); ?>" target="_blank">
                                                    <?php echo $value['arquivo']; ?>
                                                </a>
                                            </td>
                                            <?php $data = new Zend_Date($value['data_cadastro']); ?>
                                            <td><?php echo $data; ?></td>

                                            <?php

                                            if($this->isAllowed('processo', 'delete')): ?>
                                            <td>
                                                <a class="btn btn-danger btn-xs" href="<?php echo $this->url(array('controller' => 'processo', 'action' => 'delete', 'id' => $value['id'], 'marca' => $this->row['id'], 'view' => 'marca')) ?>" id="notification" data-original-title="" title="">
                                                    Excluir
                                                </a>
                                            </td>
                                            <?php endif; ?>
                                        </tr>
                                    <?php } ?>
                                    </tbody>

                                </table>



                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!-- Left Sidebar End -->



</div>
<!-- Dashboard Wrapper End -->

<script>
   function updateEsconder(element, id) {
    let isChecked = element.checked ? 1 : 0;

    $.ajax({
        url: "<?php echo $this->url(array('controller' => 'marca', 'action' => 'esconder'), 'gerenciador') ?>",
        type: "POST",
        data: {
            id: id,
            esconder: isChecked
        }
    });
}
</script>

