extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'about'

block header
  header.Header.Header--about
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade
      .row.visible-xs-block
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
          h3.Header-title A forma fácil de registrar uma marca.
      .row.visible-xs-block
        ul.Header-lead.list-unstyled.text-center
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-3.col-lg-2.col-lg-offset-3
            span.Header-leadText.Icon.Icon--magnifierBefore Pesquise
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--flagBefore Registre
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--boardBefore Acompanhe
      .row.visible-xs-block
        .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
          h3.Header-title Comece uma busca 100% gratuita.
      form.row.CallToAction.visible-xs-block
        div.col-xs-12.col-sm-8.col-sm-offset-2.col-lg-4.col-lg-offset-0
          input.CallToAction-input(type="text", placeholder="Digite aqui seu email")
        div.col-xs-12.col-sm-8.col-sm-offset-2.col-lg-5.col-lg-offset-0
          input.CallToAction-input(type="text", placeholder="Digite aqui sua marca - Ex: Nike, Google...")
        div.col-xs-12.col-sm-4.col-sm-offset-4.col-lg-3.col-lg-offset-0
          button.Button.Button--full.CallToAction-button.Icon.Icon--magnifierAfter(type="submit") Pesquisar marca

block content

  .container
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        section.About-box
          .About-boxContent
            .row
              .col-xs-12.col-sm-6.col-sm-offset-1
                h1.Page-title.Page-title--small Sobre o Mavip
            .row
              .col-xs-12.col-sm-5.col-sm-offset-1
                h2.Page-subtitle A forma mais fácil de registrar uma marca
            .row
              .col-xs-12.col-sm-6.col-sm-offset-1.col-lg-7.col-lg-offset-1
                p.Page-text.Page-text--small Buscando melhoria no processo de registro de marcas, decidimos aplicar todo nosso conhecimento para ajudar as pessoas comuns a terem sucesso com a exclusividade sobre a marca de sua empresa, com informações transparentes capazes de afastar a “cultura do medo” imposta pelo mercado de empresas que atuam oferecendo serviços de registrar marca.
            .row
              .col-xs-12.col-sm-12.col-lg-10.col-lg-offset-1
                ul.Steps.Steps--about.row.list-unstyled
                  li.Steps-item.col-xs-12.col-sm-4.text-center
                    i.Steps-icon.Icon.Icon--magnifierBefore
                    h4.Steps-title Pesquise
                    p.Steps-text Faça sua busca 100% gratuita.
                  li.Steps-item.col-xs-12.col-sm-4.text-center
                    i.Steps-icon.Icon.Icon--flagBefore
                    h4.Steps-title Registre
                    p.Steps-text Realize o pagamento e registre sua marca com toda facilidade.
                  li.Steps-item.col-xs-12.col-sm-4.text-center
                    i.Steps-icon.Icon.Icon--boardBefore
                    h4.Steps-title Acompanhe
                    p.Steps-text Acompanhe com toda transparência o registro de sua marca.
            .row
              .col-xs-12.col-md-6.col-md-offset-3
                a.Button.Button--full.text-center(href="javascript:") Veja o que podemos fazer pela sua marca

