extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'login'

block header
  header.Header.Header--login
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade
      .row
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
          h3.Header-title A forma fácil de registrar uma marca.
      .row
        ul.Header-lead.list-unstyled.text-center
          li.Header-leadItem.col-xs-9.col-xs-offset-3.col-sm-2.col-sm-offset-3.col-lg-2.col-lg-offset-3
            span.Header-leadText.Icon.Icon--magnifierBefore Pesquise
          li.Header-leadItem.col-xs-9.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--flagBefore Registre
          li.Header-leadItem.col-xs-9.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--boardBefore Acompanhe

block content

  .container
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        section.Login-box
          .Register-boxContent
            .row
              .col-xs-12
                img.img-responsive.center-block(src="/images/confirmation.png", alt="Pagamento confiramdo")
            .row
              .col-xs-12.col-md-8.col-md-offset-2
                h1.Page-title.Page-title--small.text-center Pagamento realizado com sucesso. Enviamos um email com mais detalhes.
            .row.u-mt35
              .col-xs-12.col-md-5.col-md-offset-1
                button.Button.Button--secondary.Button--full.u-xs-mb10 Fazer nova pesquisa
              .col-xs-12.col-md-5
                button.Button.Button--full Ver minha conta

