extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'contact'

block header
  header.Header.Header--contact
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade
      .row
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
          h3.Header-title A forma fácil de registrar uma marca.
      .row
        ul.Header-lead.list-unstyled.text-center
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-3.col-lg-2.col-lg-offset-3
            span.Header-leadText.Icon.Icon--magnifierBefore Pesquise
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--flagBefore Registre
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--boardBefore Acompanhe

block content
  main.Contact
    .container
      .row
        .col-xs-12.text-center
          h1.Page-title Contato
      form.Contact-form.Form
        .Contact-step.Contact-step--1
          .row
            .col-xs-12.text-center
              h2.Contact-title Olá, qual é o seu nome?
          .row
            .col-xs-12.col-md-8.col-md-offset-2
              input(type="text" name="name").Form-input
            .col-xs-12.col-md-1
              i.Icon.Icon--arrowRightBefore.Contact-next(data-step="2")
          .row
            .col-xs-12.col-md-4.col-md-offset-4
              .Progress
                p.Progress-label <strong>1</strong> de 4
                .Progress-bar.Progress-bar--1
        .Contact-step.Contact-step--2.hidden
          .row
            .col-xs-12.text-center
              h2.Contact-title <strong class="Contact-username">#Nomedousuario</strong>, agora queremos saber o seu e-mail.
          .row
            .col-xs-12.col-md-8.col-md-offset-2
              input(type="text" name="name").Form-input
            .col-xs-12.col-md-1
              i.Icon.Icon--arrowRightBefore.Contact-next(data-step="3")
          .row
            .col-xs-12.col-md-4.col-md-offset-4
              .Progress
                p.Progress-label <strong>2</strong> de 4
                .Progress-bar.Progress-bar--2
            .col-xs-12.col-md-1
              a.Contact-back(href="javascript:", data-step="1") Voltar
        .Contact-step.Contact-step--3.hidden
          .row
            .col-xs-12.col-md-4.col-md-offset-4.text-center
              h2.Contact-title <strong class="Contact-username">#Nomedousuario</strong>, selecione o assunto do qual você deseja tratar.
          .row
            .col-xs-12.col-md-8.col-md-offset-2
              input(type="text" name="name").Form-input
            .col-xs-12.col-md-1
              i.Icon.Icon--arrowRightBefore.Contact-next(data-step="4")
          .row
            .col-xs-12.col-md-4.col-md-offset-4
              .Progress
                p.Progress-label <strong>3</strong> de 4
                .Progress-bar.Progress-bar--3
            .col-xs-12.col-md-1
              a.Contact-back(href="javascript:", data-step="2") Voltar
        .Contact-step.Contact-step--4.hidden
          .row
            .col-xs-12.col-md-4.col-md-offset-4.text-center
              h2.Contact-title <strong  class="Contact-username">#Nomedousuario</strong>, escreva sua mensagem.
          .row
            .col-xs-12.col-md-8.col-md-offset-2
              textarea(type="text" name="name").Form-textarea
          .row
            .col-xs-12.col-md-4.col-md-offset-4
              button.Button.Button--full.u-mt35.u-mb35 Enviar mensagem
          .row
            .col-xs-12.col-md-4.col-md-offset-4
              .Progress
                p.Progress-label <strong>4</strong> de 4
                .Progress-bar.Progress-bar--4
            .col-xs-12.col-md-1
              a.Contact-back(href="javascript:", data-step="3") Voltar
