extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'edit_account'

block header
  header.Header.Header--editAccount
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade
      .row
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
          h3.Header-title A forma fácil de registrar uma marca.
      .row
        ul.Header-lead.list-unstyled.text-center
          li.Header-leadItem.col-xs-9.col-xs-offset-3.col-sm-2.col-sm-offset-3.col-lg-2.col-lg-offset-3
            span.Header-leadText.Icon.Icon--magnifierBefore Pesquise
          li.Header-leadItem.col-xs-9.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--flagBefore Registre
          li.Header-leadItem.col-xs-9.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--boardBefore Acompanhe

block content
  form.Register(action="index.html")
    #step2.container
      .row
        .col-xs-12
          section.Register-box.u-mb45
            .Register-boxContent
              .row
                .col-xs-12.text-center
                  h1.Page-title.Page-title--small.u-mb45 Editar conta
              .row
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Natureza Jurídica
                    span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                  select.Form-select
                    option(value="") Escolha a Natureza Jurídica
                    option(value="1") Valor 1
                    option(value="2") Valor 2
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label CNPJ
                    span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                  input.Form-input(type="text")
              .row
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Razão Social (Nome Empresarial)
                    span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label País
                  select.Form-select
                    option(value="") Brasil
                    option(value="1") Valor 1
                    option(value="2") Valor 2
              .row
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Estado
                  select.Form-select
                    option(value="") Selecione seu Estado
                    option(value="1") Valor 1
                    option(value="2") Valor 2
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Cidade
                  select.Form-select
                    option(value="") Selecione sua Cidade
                    option(value="1") Valor 1
                    option(value="2") Valor 2
              .row
                .Form-container.col-xs-12.col-sm-7
                  label.Form-label Endereço
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-5
                  label.Form-label CEP
                  input.Form-input(type="text")
              .row
                .Form-container.col-xs-12.col-sm-4
                  label.Form-label Telefone
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-4
                  label.Form-label Celular
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-4
                  label.Form-label Fax
                  input.Form-input(type="text")
              .row
                .Form-container.col-xs-12
                  label.Form-label Nome completo
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Email
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Login
                    span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Senha
                    span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Confirmar Senha
                    span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Pergunta secreta
                    span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Resposta secreta
                    span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                  input.Form-input(type="text")
      .row
        .col-xs-12.col-md-4.col-md-offset-4
          button.Button.Button--full.u-mb45 Salvar alterações
