extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'home2'

block header
  header.Header.Header--home2
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade
      .row
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
          h3.Header-title A forma fácil de registrar uma marca.
      .row
        .col-xs-12
          h4.Header-subtitle.visible-xs-block.text-center Comece agora sua pesquisa
      .row
        ul.Header-lead.list-unstyled.text-center.hidden-xs
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-3.col-lg-2.col-lg-offset-3
            span.Header-leadText.Icon.Icon--magnifierBefore Pesquise
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--flagBefore Registre
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--boardBefore Acompanhe

block content
  form.HomeForm
    section.Section.Section--userData
      .container
        .row
          .SubSection.SubSection--userData.col-xs-10.col-xs-offset-1.col-md-3.col-md-offset-2.col-lg-3.col-lg-offset-3
            <!-- Inserir os valores do get nesses dois inputs -->
            h1.Page-title.u-noMarginBottom Seu e-mail
            p.Page-text email@email.com.br
            input.CallToAction-input.ChangeData-input.hidden(type="email", name="email")
          .SubSection.SubSection--userData.col-xs-10.col-xs-offset-1.col-md-5.col-md-offset-0.col-lg-4
            h1.Page-title.u-noMarginBottom Nome da sua marca
            p.Page-text #Nome da marca
            input.CallToAction-input.ChangeData-input.hidden(type="text", name="brandName")
          .SubSection.SubSection--userData.col-xs-10.col-xs-offset-1.col-md-2.col-md-offset-0.col-lg-2.col-lg-offset-0
            a.ChangeData(href="javascript:")
              span.ChangeData-icon &times;
              span.ChangeData-text Alterar Dados
    section.Section.Section--intro
      .container
        .row
          .col-xs-10.col-xs-offset-1
            h1.Page-title.Page-title--home2
              span Como é sua marca?
              span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
        .row
          .col-xs-10.col-xs-offset-1.InputWrapper
            .InputContainer
              input.Input-radio(type="radio" name="brandType" value="nome" id="nome")
              label.Input-label(for="nome")
                .Input-check
                span.Input-labelText Somente o nome (<i>ex: mavip</i>)
            .InputContainer
              input.Input-radio(type="radio" name="brandType" value="logo" id="logo")
              label.Input-label(for="logo")
                .Input-check
                span.Input-labelText Nome e logotipo (<i>ex:</i> <img src="/images/small-logo.png" alt="mavip">)
        .row
          .col-xs-10.col-xs-offset-1
            h1.Page-title.Page-title--home2 Qual tipo de marca?
        .row
          .col-xs-10.col-xs-offset-1.InputWrapper.u-mb75
            .InputContainer
              input.Input-radio(type="radio" name="brandCategory" value="produto" id="produto")
              label.Input-label(for="produto")
                .Input-check
                span.Input-labelText Produto
            .InputContainer
              input.Input-radio(type="radio" name="brandCategory" value="servico" id="servico")
              label.Input-label(for="servico")
                .Input-check
                span.Input-labelText Serviço/Comércio
            .InputContainer
              input.Input-radio(type="radio" name="brandCategory" value="todos" id="todos")
              label.Input-label(for="todos")
                .Input-check
                span.Input-labelText Produto/Serviço/Comércio
         .row
          .col-xs-10.col-xs-offset-1
            h1.Page-title.Page-title--home2.u-noMargin
              span Selecione a categoria - <b>Produto</b>
              span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
    section.Section.Section--category
      .container
        .row
          .col-md-1.hidden-sm.hidden-xs
            a.Category-arrow.Category-arrow--prev.Icon.Icon--arrowLeftBefore(href="javascript:", data-reference="0")
          .col-xs-10.col-xs-offset-1.col-md-10.col-md-offset-0
            #carousel1.Category
              .Category-item
                input.Category-radio(type="radio" name="type" value="bebidas1" id="bebidas1")
                label.Category-label.Tooltip.Tooltip--category(for="bebidas1", title="Teste!") Bebidas
              .Category-item
                input.Category-radio(type="radio" name="type" value="pao1" id="pao1")
                label.Category-label.Tooltip.Tooltip--category(for="pao1", title="Teste!") Pão e Massas
              .Category-item
                input.Category-radio(type="radio" name="type" value="quimica1" id="quimica1")
                label.Category-label.Tooltip.Tooltip--category(for="quimica1", title="Teste!") Substância Química
              .Category-item
                input.Category-radio(type="radio" name="type" value="comuns1" id="comuns1")
                label.Category-label.Tooltip.Tooltip--category(for="comuns1", title="Teste!") Materiais comuns e suas ligas
              .Category-item
                input.Category-radio(type="radio" name="type" value="cirurgicos1" id="cirurgicos1")
                label.Category-label.Tooltip.Tooltip--category(for="cirurgicos1", title="Teste!") Aparelhos cirúrgicos
              .Category-item
                input.Category-radio(type="radio" name="type" value="bebidas2" id="bebidas2")
                label.Category-label.Tooltip.Tooltip--category(for="bebidas2", title="Teste!") Bebidas
              .Category-item
                input.Category-radio(type="radio" name="type" value="pao2" id="pao2")
                label.Category-label.Tooltip.Tooltip--category(for="pao2", title="Teste!") Pão e Massas
              .Category-item
                input.Category-radio(type="radio" name="type" value="quimica2" id="quimica2")
                label.Category-label.Tooltip.Tooltip--category(for="quimica2", title="Teste!") Substância Química
              .Category-item
                input.Category-radio(type="radio" name="type" value="comuns2" id="comuns2")
                label.Category-label.Tooltip.Tooltip--category(for="comuns2", title="Teste!") Materiais comuns e suas ligas
              .Category-item
                input.Category-radio(type="radio" name="type" value="cirurgicos2" id="cirurgicos2")
                label.Category-label.Tooltip.Tooltip--category(for="cirurgicos2", title="Teste!") Aparelhos cirúrgicos
          .col-md-1.hidden-sm.hidden-xs
            a.Category-arrow.Category-arrow--next.Icon.Icon--arrowRightBefore(href="javascript:", data-reference="0")
    section.Section.Section--categoryTitle
      .container
        .row
          .col-xs-10.col-xs-offset-1
            h1.Page-title.Page-title--home2.u-noMargin
              span Selecione a categoria - <b>Serviço</b>
              span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
    section.Section.Section--category
      .container
        .row
          .col-md-1.hidden-sm.hidden-xs
            a.Category-arrow.Category-arrow--prev.Icon.Icon--arrowLeftBefore(href="javascript:", data-reference="1")
          .col-xs-10.col-xs-offset-1.col-md-10.col-md-offset-0
            #carousel2.Category
              .Category-item
                input.Category-radio(type="radio" name="type2" value="bebidas3" id="bebidas3")
                label.Category-label.Tooltip.Tooltip--category(for="bebidas3", title="Teste!") Bebidas
              .Category-item
                input.Category-radio(type="radio" name="type2" value="pao3" id="pao3")
                label.Category-label.Tooltip.Tooltip--category(for="pao3", title="Teste!") Pão e Massas
              .Category-item
                input.Category-radio(type="radio" name="type2" value="quimica3" id="quimica3")
                label.Category-label.Tooltip.Tooltip--category(for="quimica3", title="Teste!") Substância Química
              .Category-item
                input.Category-radio(type="radio" name="type2" value="comuns3" id="comuns3")
                label.Category-label.Tooltip.Tooltip--category(for="comuns3", title="Teste!") Materiais comuns e suas ligas
              .Category-item
                input.Category-radio(type="radio" name="type2" value="cirurgicos3" id="cirurgicos3")
                label.Category-label.Tooltip.Tooltip--category(for="cirurgicos3", title="Teste!") Aparelhos cirúrgicos
              .Category-item
                input.Category-radio(type="radio" name="type2" value="bebidas4" id="bebidas4")
                label.Category-label.Tooltip.Tooltip--category(for="bebidas4", title="Teste!") Bebidas
              .Category-item
                input.Category-radio(type="radio" name="type2" value="pao4" id="pao4")
                label.Category-label.Tooltip.Tooltip--category(for="pao4", title="Teste!") Pão e Massas
              .Category-item
                input.Category-radio(type="radio" name="type2" value="quimica4" id="quimica4")
                label.Category-label.Tooltip.Tooltip--category(for="quimica4", title="Teste!") Substância Química
              .Category-item
                input.Category-radio(type="radio" name="type2" value="comuns4" id="comuns4")
                label.Category-label.Tooltip.Tooltip--category(for="comuns4", title="Teste!") Materiais comuns e suas ligas
              .Category-item
                input.Category-radio(type="radio" name="type2" value="cirurgicos4" id="cirurgicos4")
                label.Category-label.Tooltip.Tooltip--category(for="cirurgicos4", title="Teste!") Aparelhos cirúrgicos
          .col-md-1.hidden-sm.hidden-xs
            a.Category-arrow.Category-arrow--next.Icon.Icon--arrowRightBefore(href="javascript:", data-reference="1")
    section.Section.Section--submit
      .container
        .row
          .col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
            button.Button.Button--full.Button--home2.CallToAction-button.Icon.Icon--magnifierAfter(type="submit") Pesquisar marca
