extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'home'

block header
  header.Header.Header--home
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade
      .row
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
          h3.Header-title A forma fácil de registrar uma marca.
      .row
        ul.Header-lead.list-unstyled.text-center
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-3.col-lg-2.col-lg-offset-3
            span.Header-leadText.Icon.Icon--magnifierBefore Pesquise
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--flagBefore Registre
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--boardBefore Acompanhe
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
          h3.Header-title Comece uma busca 100% gratuita.
      form.row.CallToAction
        div.col-xs-12.col-sm-8.col-sm-offset-2.col-lg-4.col-lg-offset-0
          input.CallToAction-input(type="text", placeholder="Digite aqui seu email")
        div.col-xs-12.col-sm-8.col-sm-offset-2.col-lg-5.col-lg-offset-0
          input.CallToAction-input(type="text", placeholder="Digite aqui sua marca - Ex: Nike, Google...")
        div.col-xs-12.col-sm-4.col-sm-offset-4.col-lg-3.col-lg-offset-0
          button.Button.Button--full.CallToAction-button.Icon.Icon--magnifierAfter(type="submit") Pesquisar marca


block content
  section.Section
    .container
      .row
        .col-xs-12.col-sm-12.col-lg-8.col-lg-offset-2
          ul.Steps.row.list-unstyled
            li.Steps-item.col-xs-12.col-sm-4.text-center
              i.Steps-icon.Icon.Icon--magnifierBefore
              h4.Steps-title Pesquise
              p.Steps-text Faça sua busca 100% gratuita.
            li.Steps-item.col-xs-12.col-sm-4.text-center
              i.Steps-icon.Icon.Icon--flagBefore
              h4.Steps-title Registre
              p.Steps-text Realize o pagamento e registre sua marca com toda facilidade.
            li.Steps-item.col-xs-12.col-sm-4.text-center
              i.Steps-icon.Icon.Icon--boardBefore
              h4.Steps-title Acompanhe
              p.Steps-text Acompanhe com toda transparência o registro de sua marca.
          ul.Achievements.row.list-unstyled
            .col-xs-12.col-sm-4
              li.Achievements-item.text-center
                p.Achievements-number + <span class="Achievements-numberSpan" data-number="1000">1.000</span>
                p.Achievements-text Cadastros de marcas já realizados
            .col-xs-12.col-sm-4
              li.Achievements-item
                p.Achievements-number <span class="Achievements-numberSpan" data-number="99">99</span>%
                p.Achievements-text Satisfação garantida por quem já utilizou o serviço
            .col-xs-12.col-sm-4
              li.Achievements-item
                p.Achievements-number <span class="Achievements-numberSpan" data-number="100">100</span>%
                p.Achievements-text De transparência nas informações de busca de marcas
      .row
        .col-xs-12
          h1.Page-title.Page-title--testimonials.text-center Depoimentos

  section.Section.Section--testemonials
    .container
      .row
        .Testimonial-arrowContainer.Testimonial-arrowContainer--left.col-xs-2.col-md-1
          a.Testimonial-arrow.Testimonial-arrow--prev.Icon.Icon--arrowLeftBefore(href="javascript:")
        .col-xs-12.col-md-8.col-md-offset-1
          #carousel.Testimonial.owl-carousel.owl-theme
            .Testimonial-item
              .col-xs-12.col-md-3
                figure.Testimonial-figure
                  img.Testmonial-image.img-responsive.center-block(src="/images/testimonial.png", alt="Elon musk")
              .col-xs-12.col-md-9
                .Testimonial-content
                  p.Testimonial-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  p.Testimonial-name Elon Musk
                  p.Testimonial-job CEO Tesla
            .Testimonial-item
              .col-xs-12.col-md-3
                figure.Testimonial-figure
                  img.Testmonial-image.img-responsive.center-block(src="/images/testimonial.png", alt="Elon musk")
              .col-xs-12.col-md-9
                .Testimonial-content
                  p.Testimonial-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  p.Testimonial-name Elon Musk
                  p.Testimonial-job CEO Tesla
            .Testimonial-item
              .col-xs-12.col-md-3
                figure.Testimonial-figure
                  img.Testmonial-image.img-responsive.center-block(src="/images/testimonial.png", alt="Elon musk")
              .col-xs-12.col-md-9
                .Testimonial-content
                  p.Testimonial-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  p.Testimonial-name Elon Musk
                  p.Testimonial-job CEO Tesla
        .Testimonial-arrowContainer.Testimonial-arrowContainer--right.col-xs-2.col-md-1.col-md-offset-1
          a.Testimonial-arrow.Testimonial-arrow--next.Icon.Icon--arrowRightBefore(href="javascript:")
  section.Section.Section--homeSponsors
    .container
      .row
        .col-xs-12.col-sm-12.col-lg-8.col-lg-offset-2
          ul.row.Sponsors.list-unstyled
            li.Sponsors-item.col-xs-12.col-sm-3.text-center
              img(src="/images/logo-inpi.png", alt="Instituto Nacional da Propriedade Industrial")
            li.Sponsors-item.col-xs-12.col-sm-3.text-center.u-noPadding
              img(src="/images/logo-sebrae.png", alt="SEBRAE")
            li.Sponsors-item.col-xs-12.col-sm-3.text-center
              img(src="/images/logo-iel.png", alt="IEL")
            li.Sponsors-item.col-xs-12.col-sm-3.text-center
              img(src="/images/logo-fiep.png", alt="FIEP")
