extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'login'

block header
  header.Header.Header--login
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade
      .row
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
          h3.Header-title A forma fácil de registrar uma marca.
      .row
        ul.Header-lead.list-unstyled.text-center
          li.Header-leadItem.col-xs-9.col-xs-offset-3.col-sm-2.col-sm-offset-3.col-lg-2.col-lg-offset-3
            span.Header-leadText.Icon.Icon--magnifierBefore Pesquise
          li.Header-leadItem.col-xs-9.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--flagBefore Registre
          li.Header-leadItem.col-xs-9.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--boardBefore Acompanhe

block content

  .container
    .row
      .col-xs-12.col-lg-10.col-lg-offset-1
        section.Login-box
          .Register-boxContent
            .row
              .col-xs-12.col-md-5.col-md-push-6
                form.Login(action="index.html")
                  h1.Page-title.text-center Faça seu Login
                  .Form-container.u-mt35
                    input.Form-input(type="text", placeholder="Email")
                  .Form-container
                    input.Form-input(type="password", placeholder="Senha")
                  .Form-container
                    a.Login-forgotPassword(href="javascript") Esqueci minha senha
                  .Form-container.text-center
                    button.Button.Button--login Fazer login
              .col-xs-12.col-md-5.col-md-pull-5.text-center
                h1.Page-title.u-mb45 Crie sua conta
                p.Login-text Registre sua marca com toda facilidade.
                p.Login-text Acompanhe com toda transparência <br /> o registro de sua marca.
                p.Login-text Satisfação garantida <br /> por quem já utilizou o serviço.
                a(href="/register.html").Button.Button--login Quero criar minha conta

