extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'order'

block header
  header.Header.Header--order.Header--inside
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade

block content
  .container
    .row
      .col-xs-12.col-lg-10.col-lg-offset-1
        .Content.Content--order
          header.Content-header.Content-header--order.col-xs-12
            ul.Breadcrumbs.list-inline
              li.Breadcrumbs-item
                a.Breadcrumbs-link(href="javascript:") Home
              li.Breadcrumbs-item
                a.Breadcrumbs-link.active(href="javascript:") Pedido
          .col-xs-12
            h1.Page-title Pedido
          .Order
            header.Order-header.col-xs-12
              h2.Order-title.pull-left Item
              h2.Order-title.pull-right Valor
            main.Order-content.col-xs-12
              .row
                h3.Order-subtitle.col-xs-8 Pedido de registro da marca Qualitare
              .row
                .col-xs-12
                  ul.Order-items.list-unstyled
                    li.Order-item
                      .col-xs-12
                        .Order-itemContent
                          p.Order-description.pull-left Serviço de registro
                          p.Order-price.pull-right R$ 1.000,00
                    li.Order-item
                      .col-xs-12
                        .Order-itemContent
                          p.Order-description.pull-left Taxa de Guia de Recolhimento da União (GRU)
                          p.Order-price.pull-right R$ 320,00
                  .Subtotal
                    span.Subtotal-text Subtotal:
                    span.Subtotal-value R$ 1.320,00
              .row
                .col-xs-12
                  p.Order-addServices Adicionar Serviços
              .row
                .col-xs-12
                  ul.Services.u-noMarginBottom.list-unstyled
                    li.Service.row
                      .col-xs-12.col-md-3.Service-nameContainer
                        p.Service-name Acompanhamento de marca
                      .col-xs-12.col-md-6.Service-descriptionContainer
                        h4.Service-descriptionTitle Contrate o serviço com <strong> 20% de Desconto </strong>
                        p.Service-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non lorem facilisis
                      .col-xs-12.col-md-3.Service-buttonContainer
                        button.Service-button(data-price="30075" data-description="Acompanhamento de marca") Adicionar Serviço
                    li.Service.row
                      .col-xs-12.col-md-3.Service-nameContainer
                        p.Service-name Renovação de marca
                      .col-xs-12.col-md-6.Service-descriptionContainer
                        h4.Service-descriptionTitle Contrate o serviço com <strong> 20% de Desconto </strong>
                        p.Service-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non lorem facilisis
                      .col-xs-12.col-md-3.Service-buttonContainer
                        button.Service-button(data-price="100095" data-description="Renovação de marca") Adicionar Serviço
            footer.Order-footer.col-xs-12
              .row
                .col-xs-12.col-md-4.col-md-offset-1
                  h3.Order-footerTitle Cupom de desconto:
                .col-xs-12.col-md-4
                  input.Input-text.Order-footerInput(type="text")
                .col-xs-12.col-md-3
                  button.DiscountButton Aplicar desconto
              .Total.row.text-right
                .col-xs-12
                  span.Total-text Total:
                  span.Total-value R$ 1.320,00
              .row
                .col-xs-12.col-sm-4.col-sm-offset-8
                  button.Order-submit Finalizar compra

  script(type="template" id="orderItemTemplate")
    li.Order-item
      .col-xs-12
        .Order-itemContent
          p.Order-description.pull-left {{description}}
          p.Order-price.pull-right {{price}}

