extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'result'

block header
  header.Header.Header--login
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade

block content

  .container
    .row
      .col-xs-12.col-lg-10.col-lg-offset-1
        section.Login-box
          .Register-boxContent
            .row
              .col-xs-12.col-md-4.col-md-offset-4
                <!-- data-animation vai de 0-4 -->
                .Gauge(data-animation="2")
                  img.img-responsive.Gauge-bg(src="/images/gauge.png", alt="")
                  img.Gauge-pointer(src="/images/gauge-pointer.png", alt="")
                  ul.Gauge-labels.list-unstyled
                    li.Gauge-label.Gauge-label--0
                      span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                      span.Gauge-text.Gauge-text--0 Inviável
                    li.Gauge-label.Gauge-label--1
                      span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                      span.Gauge-text.Gauge-text--1 Crítica
                    li.Gauge-label.Gauge-label--2
                      span.Gauge-text.Gauge-text--2 Viável
                      span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                    li.Gauge-label.Gauge-label--3
                      span.Gauge-text.Gauge-text--3 Fator subjetivo
                      span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                p.Gauge-score.text-center
                  <!-- data-number corresponde a chance de aprovação -->
                  span.Gauge-scoreNumber(data-number="75") 75
                  span.Gauge-scoreUnit %
            .row
              .col-xs-12.col-md-6.col-md-offset-3
                h1.Page-title.Page-title--small.text-center A marca <span class="u-orangeText">"#nome"</span> <br /> tem grandes chances de ser registrada!
            .row
              .col-xs-12.col-md-4.col-md-offset-4
                a.Button.Button--full.text-center.u-mt35(href="javascript:") Garanta já sua marca
