extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'services'

block header
  header.Header.Header--login
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade
      .row
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
          h3.Header-title A forma fácil de registrar uma marca.
      .row
        ul.Header-lead.list-unstyled.text-center
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-3.col-lg-2.col-lg-offset-3
            span.Header-leadText.Icon.Icon--magnifierBefore Pesquise
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--flagBefore Registre
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--boardBefore Acompanhe

block content

  .container
    .row
      .col-xs-12.col-lg-10.col-lg-offset-1
        section.Login-box
          .Register-boxContent
            .row
              .col-xs-12.col-md-10.col-md-offset-1
                h1.Page-title Nossos Serviços
            .row
              .col-xs-12.col-md-8.col-md-offset-1
                h2.Page-subtitle.u-mb45 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
            .row
              .col-xs-12.col-md-10.col-md-offset-1
                ul.ServiceList.list-unstyled
                  li.ServiceList-item
                    h4.ServiceList-title Registro de marca
                    p.ServiceList-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  li.ServiceList-item
                    h4.ServiceList-title Acompanhamento de marca
                    p.ServiceList-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  li.ServiceList-item
                    h4.ServiceList-title Desenho Industrial
                    p.ServiceList-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
