extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'service_panel'

block header
  header.Header.Header--servicePanel
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade

block content
  .container
    .row
      .col-xs-12.col-lg-10.col-lg-offset-1
        .Content.Content--order
          header.Content-header.Content-header--servicePanel.col-xs-12
            ul.Breadcrumbs.list-inline
              li.Breadcrumbs-item
                a.Breadcrumbs-link(href="javascript:") Home
              li.Breadcrumbs-item
                a.Breadcrumbs-link.active(href="javascript:") Minha conta
            .row
              .Content-headerContainer.col-xs-12.col-md-6
                h2.Content-headerTitle.u-noMarginTop Olá, #NomeDoUsuário
              .col-xs-12.col-md-6
                ul.Content-options.list-inline
                  li.Content-option
                    a.Content-optionLink(href="javascript:") Editar meus dados
                  li.Content-option
                    a.Content-optionLink(href="javascript:") Sair
          .row
            .col-xs-12
                h1.Page-title.col-xs-12 Serviços
          main.Content-main.col-xs-12
            .ServiceItem
              header.ServiceItem-header.row
                .col-xs-12.col-md-4.col-lg-3
                  h3.ServiceItem-headerTitle Pedido de registro de marca
                .hidden-xs.col-md-2
                  h3.ServiceItem-headerTitle.text-center Nº do pedido
                .hidden-xs.col-md-2
                  h3.ServiceItem-headerTitle.text-center Data do pedido
                .hidden-xs.col-md-2
                  h3.ServiceItem-headerTitle.text-center Status
              .ServiceItem-headerInfo.row
                .ServiceItem-headerInfoContainer.col-xs-12.col-md-4.col-lg-3
                  p.ServiceItem-infoText.text-bold
                    strong Qualitare
                  ul.ServiceItem-xs-info.visible-xs-block.list-unstyled
                    li.ServiceItem-xs-infoItem
                      p.ServiceItem-xs-infoTitle Nº do pedido
                      p.ServiceItem-xs-infoText 12334599
                    li.ServiceItem-xs-infoItem
                      p.ServiceItem-xs-infoTitle Data do pedido
                      p.ServiceItem-xs-infoText 12/10/16
                    li.ServiceItem-xs-infoItem
                      p.ServiceItem-xs-infoTitle Status
                      p.ServiceItem-xs-infoText Pagamento aprovado
                .ServiceItem-headerInfoContainer.hidden-xs.col-md-2
                  p.ServiceItem-infoText.text-center 12334599
                .ServiceItem-headerInfoContainer.hidden-xs.col-md-2
                  p.ServiceItem-infoText.text-center 12/10/16
                .ServiceItem-headerInfoContainer.hidden-xs.col-md-2
                  p.ServiceItem-infoText.text-center Pagamento aprovado
                .ServiceItem-headerInfoContainer.hidden-xs.col-md-2.col-lg-3.text-center
                  button.Button.Button--small.ServiceItem-toggleDetails.u-buttonPadding Ocultar detalhes
              .ServiceItem-details.row
                ul.ServiceItem-technicalDetails.list-inline.col-xs-12
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName Apresentação:
                    p.ServiceItem-technicalValue Mista
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName Natureza:
                    p.ServiceItem-technicalValue Marca de Produto
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName Elemento Nominativo:
                    p.ServiceItem-technicalValue #NomedaMarca
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName CFE:
                    p.ServiceItem-technicalValue 27.5.1
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName MCL:
                    p.ServiceItem-technicalValue 16
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName Especicacao:
                    p.ServiceItem-technicalValue Etiquetas para código de barras
                .ServiceItem-history.col-xs-12
                  h2.Page-title.Page-title--small Histórico

                  ul.ServiceItem-historyItems.list-unstyled
                    li.ServiceItem-historyItem.Color--10
                      span.ServiceItem-historyDate 10/12/16
                      span.ServiceItem-historyText Pedido de Registro Publicado
                    li.ServiceItem-historyItem.Color--21
                      span.ServiceItem-historyDate 10/10/16
                      span.ServiceItem-historyText Pedido de Registro Indeferido
                    li.ServiceItem-historyItem.Color--30
                      span.ServiceItem-historyDate 10/10/16
                      span.ServiceItem-historyText Pedido de Registro Deferido
              footer.ServiceItem-footer.row
                .col-xs-12.col-md-10.col-lg-9
                  span.ServiceItem-footerActionName Adicionar Serviço
                  label.ServiceItem-label.u-mb35(for="marca")
                    input.ServiceItem-checkbox(type="checkbox", name="marca", value="renovar")
                    span.ServiceItem-labelText Renovação da marca
                  span.QuestionMark.QuestionMark--dark.Tooltip.Tooltip--dark(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                .col-xs-12.col-md-2.col-lg-3.text-center
                  button.Button.Button--small.u-buttonPadding Adicionar serviço
                .row.visible-xs-block
                  .col-xs-12.text-center.ServiceItem-toggleDetailsContainer
                      button.Button.Button--small.ServiceItem-toggleDetails.u-buttonPadding Ocultar detalhes
            .ServiceItem
              header.ServiceItem-header.row
                .col-xs-12.col-md-4.col-lg-3
                  h3.ServiceItem-headerTitle Pedido de registro de marca
                .hidden-xs.col-md-2
                  h3.ServiceItem-headerTitle.text-center Nº do pedido
                .hidden-xs.col-md-2
                  h3.ServiceItem-headerTitle.text-center Data do pedido
                .hidden-xs.col-md-2
                  h3.ServiceItem-headerTitle.text-center Status
              .ServiceItem-headerInfo.row
                .ServiceItem-headerInfoContainer.col-xs-12.col-md-4.col-lg-3
                  p.ServiceItem-infoText.text-bold
                    strong Qualitare
                  ul.ServiceItem-xs-info.visible-xs-block.list-unstyled
                    li.ServiceItem-xs-infoItem
                      p.ServiceItem-xs-infoTitle Nº do pedido
                      p.ServiceItem-xs-infoText 12334599
                    li.ServiceItem-xs-infoItem
                      p.ServiceItem-xs-infoTitle Data do pedido
                      p.ServiceItem-xs-infoText 12/10/16
                    li.ServiceItem-xs-infoItem
                      p.ServiceItem-xs-infoTitle Status
                      p.ServiceItem-xs-infoText Pagamento aprovado
                .ServiceItem-headerInfoContainer.hidden-xs.col-md-2
                  p.ServiceItem-infoText.text-center 12334599
                .ServiceItem-headerInfoContainer.hidden-xs.col-md-2
                  p.ServiceItem-infoText.text-center 12/10/16
                .ServiceItem-headerInfoContainer.hidden-xs.col-md-2
                  p.ServiceItem-infoText.text-center Pagamento aprovado
                .ServiceItem-headerInfoContainer.hidden-xs.col-md-2.col-lg-3.text-center
                  button.Button.Button--small.ServiceItem-toggleDetails.u-buttonPadding Ocultar detalhes
              .ServiceItem-details.row
                ul.ServiceItem-technicalDetails.list-inline.col-xs-12
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName Apresentação:
                    p.ServiceItem-technicalValue Mista
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName Natureza:
                    p.ServiceItem-technicalValue Marca de Produto
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName Elemento Nominativo:
                    p.ServiceItem-technicalValue #NomedaMarca
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName CFE:
                    p.ServiceItem-technicalValue 27.5.1
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName MCL:
                    p.ServiceItem-technicalValue 16
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName Especicacao:
                    p.ServiceItem-technicalValue Etiquetas para código de barras
                .ServiceItem-history.col-xs-12
                  h2.Page-title.Page-title--small Histórico

                  ul.ServiceItem-historyItems.list-unstyled
                    li.ServiceItem-historyItem.Color--10
                      span.ServiceItem-historyDate 10/12/16
                      span.ServiceItem-historyText Pedido de Registro Publicado
                    li.ServiceItem-historyItem.Color--21
                      span.ServiceItem-historyDate 10/10/16
                      span.ServiceItem-historyText Pedido de Registro Indeferido
                    li.ServiceItem-historyItem.Color--30
                      span.ServiceItem-historyDate 10/10/16
                      span.ServiceItem-historyText Pedido de Registro Deferido
              footer.ServiceItem-footer.row
                .col-xs-12.col-md-10.col-lg-9
                  span.ServiceItem-footerActionName Adicionar Serviço
                  label.ServiceItem-label(for="marca")
                    input.ServiceItem-checkbox(type="checkbox", name="marca", value="renovar")
                    span.ServiceItem-labelText Renovação da marca
                  span.QuestionMark.QuestionMark--dark.Tooltip.Tooltip--dark(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                .col-xs-12.col-md-2.col-lg-3.text-center
                  button.Button.Button--small.u-buttonPadding Adicionar serviço
                .row.visible-xs-block
                  .col-xs-12.text-center.ServiceItem-toggleDetails
                      button.Button.Button--small.ServiceItem-toggleDetails.u-buttonPadding Ocultar detalhes
