
<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="<?=$this->url(array('controller' => 'planos', 'action' => 'list'), "gerenciador", true);?>" class="heading"><? echo $this->title?></a></li>
        <li class="hidden-sm hidden-xs">
            <a href="#" class="selected">Novo</a>
        </li>
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">

        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            <?php echo $this->title?>
                            <span class="mini-title">
                                <?php echo $this->title?>
                            </span>
                        </div>
                    </div>
                    <div class="widget-body">
                        
                        <form class="form-horizontal no-margin row" action="" method="post" enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('titulo');?>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('servico_id');?>
                                        </div>
                                    </div>
                                </div>

                            </div>   
                            <div class="row"> 
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('cor_id');?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                          
                            <div class="row"> 
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                    <label> Características </label>
                                        <div class="form-group" style="padding-left:30px">
                                            <div class="checkbox" style="font-size:15px;">
                                            <?php  foreach($this->itens as $item): ?>
                                                <label style="margin-bottom:10px;">
                                                    <input type="checkbox" name="plano_itens[]" value="<?=$item['id']?>" <?php echo  array_keys(array_column($this->planoItens, 'item_id'), $item['id']) ? 'checked' : ''?>>
                                                    <?=$item['descricao'];?>
                                                </label><br>
                                            <?php endforeach; ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-info btn-block pull-left">Salvar</button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Left Sidebar End -->
</div>
<!-- Dashboard Wrapper End -->