.About{
  &-box{
    border: 1px solid $color01;
    border-radius: 4px;
    background-color: $colorff;
    margin-bottom: 100px;
    background-image: url('../images/bg-macbook.png');
    background-repeat: no-repeat;
    background-position: 100% 20px;
  }
}

@media screen and (max-width: $screen-sm - 1){
  .About{
    &-box{
      border: none;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 55px;
      padding-bottom: 200px;
      background-position: 100% 400px;
      background-size: 100% auto;
    }
  }
}

@media screen and (min-width: $screen-sm){
  .About{
    &-box{
      margin-top: -350px;
      padding-top: 125px;
      padding-bottom: 55px;
    }
  }
}
