.Achievements{
  margin-bottom: 50px;
  &-item{
    background-image: url('../images/bg-hexagon.png');
    background-size: 100% 100%;
    // width: 266px;
    // height: 300px;
    text-align: center;
    // margin-left: 10px;
    margin-bottom: 10px;
    padding-top: 65px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 56px;
    max-height: 260px;
  }

  &-number{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: -5px;

    background: -webkit-linear-gradient(#b6555c, #9c58b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    color: $color10;
  }

  &-text{
    font-size: 18px;
    font-family: $bree;
    color: $color03;
  }
}

@media screen and (max-width: $screen-sm - 1){
  .Achievements{
    &-item{
      max-height: 330px;
      padding-bottom: 125px;
    }
  }
}

@media screen and (min-width: $screen-sm) and (max-width: $screen-lg){
  .Achievements{
    &-item{
      max-height: 330px;
      padding-bottom: 125px;
    }
  }
}

@media screen and (min-width: $screen-lg){
  .Achievements{
    &-item{
      max-height: 330px;
      padding-bottom: 120px;
    }
  }
}
