.Breadcrumbs{
  margin-top: 15px;
  margin-bottom: 25px;


  &-link{
    transition: color 0.4s;
    font-size: 14px;
    color: $color03;
    &.active{
      color: $color30;
      font-weight: bold;
    }
    &:hover{
      text-decoration: none;
      color: lighten($color03,10%);
      &.active{
        color: lighten($color30,10%);
      }
    }

    &:after{
      content: '>';
      margin-left: 5px;
      margin-right: -10px;
    }
  }
  // Removing the '>' on the last child
  &-item:last-child > &-link:after{
    display: none;
  }
}
