.Button{
  transition: background-color 0.4s;
  background-color: $color30;
  color: $colorff;
  border: 2px solid $color01;
  border-radius: 4px;
  height: 80px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: $bree;
  display: inline-block;

  &:hover, &:active{
    background-color: lighten($color30, 5%);
    text-decoration: none;
    color: $colorff;
  }

  &.Button--secondary{
    color: $color10;
    background-color: $colorff;
    border-color: $color10;

    &:hover{
      color: $colorff;
      background-color: $color10;
    }
  }

  &.Button--small{
    height: 55px;
  }

  &.Button--full{
    width: 100%;
  }

  &.Button--login{
    padding-left: 35px;
    padding-right: 35px;
  }


}

a.Button{
  padding-top: 25px;
}

@media screen and (max-width: $screen-sm - 1){
  a.Button{
    padding-top: 10px;
  }
  .Button{
    &.Button--home2{
      font-size: 22px;

      &:after{
        margin-left: 0 !important;
      }
    }
  }
}
