.CallToAction{
  margin-top: 15px;
  &-input{
    width: 100%;
    height: 80px;
    padding: 30px;
    border: 3px solid $color01;
    border-radius: 3px;
    font-size: 22px;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $color03;
      font-style: italic;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $color03;
      font-style: italic;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $color03;
      font-style: italic;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $color03;
      font-style: italic;
    }
  }

  &-button{
    &:after{
      display: inline-block;
      vertical-align: sub;
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
      margin-left: 10px !important;
    }
  }
}

@media screen and (max-width: $screen-lg - 1){
  .CallToAction{
    margin-top: -10px;

    &-input{
      margin-bottom: 35px;
    }

    &-button{
      margin-bottom: 60px;
      font-size: 22px;
    }
  }
}

@media screen and (max-width: $screen-sm - 1){
  .CallToAction{
    margin-top: -15px;

    &-input{
      margin-bottom: 10px;
    }

    &-button{
      margin-top: 10px;
      margin-bottom: 25px;
      font-size: 22px;
    }
  }
}
