.Category{
  &-radio{
    display: none;
  }

  &-radio:checked + &-label{
    background-color: $color10;
    border: 2px solid $colorff;
    color: $colorff;
  }

  &-label{
    padding-top: 70px;
    padding-bottom: 70px;
    width: 220px;
    text-align: center;
    border: 2px solid $color01;
    border-radius: 3px;
    background-color: $colorff;
    &:hover{
      border: 2px solid $color10;
    }
  }

  &-arrow{
    margin-top: 50px;
    display: block;
    &:hover, &:active, &:focus{
      text-decoration: none;
    }
    &:before{
      color: $color10;
      font-size: 50px;
    }
  }
}
