.ChangeData{
  display: block;
  transition: all 0.4s;

  &:hover{
    text-decoration: none;

    .ChangeData-icon{
      background-color: lighten($color30,10%);
    }

    .ChangeData-text{
      color: lighten($color30,10%);
    }
  }

  &-icon{
    background-color: $color30;
    display: inline-block;
    text-align: center;
    color: $colorff;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    font-size: 30px;
    margin-right: 10px;
    vertical-align: middle;
    line-height: 26px;
    padding-top: 5px;
  }

  &-text{
    color: $color30;
  }
}

@media screen and (min-width: $screen-sm){
  .ChangeData{
    margin-top: 20px;
  }
}
