.Content{
  border: 1px solid $color01;
  border-radius: 4px;
  background-color: $colorff;
  overflow: hidden;

  &.Content--order{
    margin-bottom: 45px;
  }

  &-header{
    &.Content-header--order, &.Content-header--servicePanel{
      border-bottom: 1px solid $color01;
    }
  }

  &-headerTitle{
    font-family: $bree;
    font-size: 24px;
    color: $color06;
  }

  &-options{
    text-align: right;
    margin-bottom: 0;
  }

  &-option{
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    &:first-of-type{
      border-right: 1px solid $color01;
    }
  }

  &-optionLink{
    transition: color 0.4s;
    font-size: 14px;
    color: $color30;
    font-weight: bold;
    &:hover, &:active{
      text-decoration: none;
      color: lighten($color30,10%);
    }
  }
}

@media screen and (max-width: $screen-sm - 1){
  .Content{
    &.Content--order{
      margin-top: -135px;
    }

    &-options{
      text-align: left;
    }

    &-option:first-of-type{
      padding-left: 5px !important;
    }

    &-headerContainer{
      border-bottom: 1px solid $color01;
    }
  }
}

@media screen and (min-width: $screen-sm){
  .Content{
    &.Content--order{
      margin-top: -230px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

@media screen and (min-width: $screen-lg){
  .Content{
    &.Content--order{
      margin-top: -230px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
