.Contact{
  margin-bottom: 110px;
  &-title{
    color: $color03;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 20px;
  }

  &-next{
    margin-top: 10px;
    display: block;
    &:before{
      font-size: 40px;
      line-height: 60px;
      color: $color10;
    }
  }

  &-back{
    display: block;
    line-height: 70px;
    color: $color03;
    font-weight: bold;
  }
}

@media screen and (max-width: $screen-sm - 1){
  .Contact{
    margin-bottom: 55px;
    &-next{
      float: right;
    }

    &-back{
      float: right;
      line-height: 14px;
      margin-top: 10px;
    }
  }
}
