.DiscountButton{
  text-align: center;
  padding: 20px 30px;
  margin-bottom: 15px;
  background-color: $color30;
  color: $colorff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;

  transition: background-color 0.4s;
  &:hover{
    background-color: lighten($color30, 10%);
  }
}

@media screen and (max-width: $screen-sm - 1){
  .DiscountButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: $screen-sm){
  .DiscountButton{
    float: right;
  }
}
