.Footer{
  background-color: $color02;
  margin-top: 60px;
  border-top: 2px solid $color01;

  &-logo{
    margin-top: -60px;
    margin-bottom: 60px;
  }

  &-links{
    margin-bottom: 60px;
  }

  &-linksItem{
    &:after{
      content: '';
      display: inline-block;
      width: 2px;
      height: 15px;
      background-color: $color03;
      margin-top: 5px;
    }

    &:last-of-type{
      &:after{
        display: none;
      }
      .Footer-link{
        margin-right: 0;
      }
    }
  }

  &-link{
    transition: color 0.4s;
    color: $color03;
    margin-top: -5px;
    vertical-align: text-bottom;
    margin-right: 15px;
    &:hover, &:active{
      color: lighten($color03, 10%);
      text-decoration: none;
    }
  }
}


@media screen and (max-width: $screen-sm - 1){
  .Footer{
    &-link{
      margin-right: 0;
    }
    &-linksItem{
      display: block !important;
      text-align: center;
      margin-bottom: 10px;
      &:after{
        display: none;
      }
    }
  }
}
