.Form{
  &-container{

  }

  &-label{
    color: $color10;
    font-family: $bree;
    font-size: 18px;
  }

  &-input{
    display: block;
    border: 1px solid $color01;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  &-textarea{
    resize: none;
    width: 100%;
    height: 110px;
    border: 1px solid $color01;
  }

  &-checkInput{
    display: none;
  }

  &-checkbox{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid $color01;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;

    .Form-checkInput:checked + &:before{
      position: relative;
      top: 2px;
      left: 5px;
      content: '\2713';
      display: block;
      width: 12px;
      height: 12px;
      // background-color: $color10;
      color: $color10;
      font-size: 18px;
    }
  }

  &-checkLabel{
    margin-bottom: 30px;
  }

  &-checkContainer{
    width: 40px;
    float: left;
  }

  &-textContainer{
    margin-left: 60px;
  }

  &-select{
    display: block;
    width: 100%;
    border: 1px solid $color01;
    height: 60px;
    background: transparent;
    background-image: url('../images/select-arrow.jpg');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-size: auto 100%;
    -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 300;
    color: $color03;
  }
}

@media screen and (max-width: $screen-sm - 1){
  .Form{
    &-input{
      padding-left: 10px;
      font-size: 12px;
    }
    &-select{
      padding-left: 10px;
      font-size: 12px;
    }
  }
}
