.Gauge{
  position: relative;

  &-pointer{
    // padding-top: 100px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -15px;
    transform-origin: bottom;
    transform: rotate(-90deg);
    transition: transform 1s ease;

    &.Gauge-pointer--animation1{
      transform: rotate(-45deg);
    }

    &.Gauge-pointer--animation2{
      transform: rotate(45deg);
    }

    &.Gauge-pointer--animation3{
      transform: rotate(90deg);
    }
  }

  &-label{
    position: absolute;

    &.Gauge-label--0{
      left: -110px;
      bottom: -5px;
    }

    &.Gauge-label--1{
      top: 0;
      left: -25px;
    }

    &.Gauge-label--2{
      top: 0;
      right: -15px;
    }

    &.Gauge-label--3{
      right: -145px;
      bottom: -5px;
    }
  }

  &-text{
    &.Gauge-text--0, &.Gauge-text--1{
      margin-left: 10px;
    }
  }

  &-score{
    font-size: 60px;
    font-family: $bree;
    color: $color20;
    transition: color 1s ease;
    border-bottom: 2px solid $color04;

    &.Gauge-score--color0{
      color: $color20;
    }
    &.Gauge-score--color1{
      color: $color31;
    }
    &.Gauge-score--color2{
      color: $color41;
    }
    &.Gauge-score--color3{
      color: $color010;
    }
  }
}

@media screen and (min-width: $screen-sm) and (max-width: $screen-lg){
  .Gauge{
    &-pointer{
      width: 35px;
    }
  }
}

@media screen and (max-width: $screen-sm - 1){
  .Gauge{
    &-pointer{
      width: 25px;
    }

    &-label{
      &.Gauge-label--0{
        left: -20px;
        bottom: -30px;
      }

      &.Gauge-label--1{
        top: -20px;
        left: -20px;
      }

      &.Gauge-label--2{
        top: -20px;
        right: -10px;
      }

      &.Gauge-label--3{
        right: -10px;
        bottom: -30px;
      }
    }
  }
}
