.Header{
  background-image: url('../images/header-bg-1600.jpg');
  background-size: cover;
  // min-height: 587px;
  padding-bottom: 25px;
  &-title{
    color: $colorff;
    margin-bottom: 40px;
    margin-top: 0;
    font-size: 36px;
    font-family: $bree;
  }

  &-subtitle{
    color: $colorff;
    font-size: 16px;
  }

  &-lead{
    margin-top: -10px;
  }

  &-leadText{
    font-size: 22px;
    color: $color31;
    font-family: $bree;
    text-transform: uppercase;

    &:before{
      vertical-align: middle;
      margin-right: 15px !important;
    }
  }
}

@media screen and (max-width: $screen-sm - 1){
  .Header{

    &.Header--home2{
      padding-bottom: 100px;
    }

    &.Header--order{
      min-height: 280px;
    }

    &.Header--register{
      padding-bottom: 295px;
    }

    &.Header--login{
      padding-bottom: 300px;
    }

    &.Header--servicePanel{
      padding-bottom: 200px;
    }

    &.Header--editAccount{
      padding-bottom: 300px;
    }

    &-title{
      font-size: 17px;
      margin-bottom: 20px;
    }

    &-lead{
      margin-top: 10px;
    }

    &-leadItem{
      text-align: left;
      margin-bottom: 15px;
    }
  }
}

@media screen and (min-width: $screen-sm){
  .Header{
    padding-bottom: 65px;

    &.Header--order{
      min-height: 480px;
    }

    &.Header--login{
      padding-bottom: 185px;
    }

    &.Header--about{
      padding-bottom: 435px;
    }

    &.Header--servicePanel{
      padding-bottom: 230px;
    }

    &-lead{
      margin-bottom: 70px;
    }
  }
}


@media screen and (min-width: $screen-lg){
  .Header{
    padding-bottom: 100px;

    &.Header--home2{
      padding-bottom: 0;
    }

    &.Header--about{
      padding-bottom: 420px;
    }

    &.Header--servicePanel{
      padding-bottom: 260px;
    }
  }
}
