.InputContainer{
  display: inline-block;

  &:last-of-type .Input-labelText{
    margin-right: 0;
  }


  &.InputContainer--payment{
    display: block;
    border: 1px solid $color01;
    border-radius: 4px;
    padding: 30px 60px 25px;
  }
}


@media screen and (max-width: $screen-sm - 1){
  .InputContainer{
    margin-bottom: 10px;

    .Input-label{
      width: 100%;
    }

    .Input-check.Input-check--payment{
      display: block;
        margin: 0 auto 20px;
    }

    .Input-labelText.Input-labelText--payment{
      display: block;
      margin-bottom: 25px;
      text-align: center;
    }
  }
}
