.Input{
  &-check{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $color01;
    vertical-align: middle;
    margin-right: 10px;

    .Input-radio:checked + .Input-label > &:before{
      position: absolute;
      top: 7px;
      left: 7px;
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $color10;
    }
  }
  &-radio{
    display: none;
  }
  &-labelText{
    margin-right: 30px;
    font-size: 18px;
    color: $color03;
    font-weight: 300;
  }
}

@media screen and (max-width: $screen-sm - 1){
  .Input{
    &-labelText{
      font-size: 15px;
      margin: 0;
      display: inline-block;
    }
  }
}
