.Login{
  &-box{
    border: 1px solid $color01;
    border-radius: 4px;
    background-color: $colorff;
    // overflow: hidden;
    margin-bottom: 100px;
  }

  &-text{
    margin-bottom: 25px;
    font-size: 16px;
    color: $color03;
    font-weight: 300;

    &:last-of-type{
      margin-bottom: 60px;
    }
  }

  &-forgotPassword{
    color: $color10;
    font-style: italic;
    display: block;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 45px;
  }
}


@media screen and (max-width: $screen-sm - 1){
  .Login{
    &-box{
      margin-top: -255px;
      margin-bottom: 65px;
      padding-top: 15px;
      padding-bottom: 30px;
    }
  }
}

@media screen and (min-width: $screen-sm){
  .Login{
    &-box{
      margin-top: -140px;
      padding-top: 55px;
      padding-bottom: 30px;
    }
    &-stepText{
      font-size: 18px;
    }
  }
}
