.navbar{
  &-brand{
   padding: 30px 15px;
  }

  &-logo{
    max-width: 100%;
  }

  &-toggle{
    margin-top: 18px;
    margin-bottom: 18px;
    margin-right: 0;

    .icon-bar{
      width: 50px;

      & + .icon-bar{
        margin-top: 7px;
      }
    }
  }
}

.navbar-nav > li > a{
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: 700;
  &:hover{
    border: 1px solid $colorff;
  }
}

@media screen and (min-width: $screen-sm){
  .navbar-nav > li{
    padding: 40px 0;
  }
  .navbar-nav > li > a{
    padding: 15px 15px;
  }

}

@media screen and (max-width: $screen-sm - 1){
  .navbar{
    min-height: 0;
    margin-bottom: 0;
  }
  .navbar-brand{
    padding: 10px 0px;
    width: 125px;
    height: 50px;
  }
}
