.NotificationCart{
  position: relative;
  margin-top: -7px;



  &.NotificationCart--outside{
    margin-top: 20px;
    margin-left: 45px;
    width: 45px;

    .NotificationCart-number{
      top: -15px;
    }
  }

  &:hover, &:active{
    border: 1px solid transparent !important;
    text-decoration: none;
  }
  &-number{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: $colorff;
    color: $color10;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
  }
  &-icon{
    &:before{
      color: $colorff;
      font-size: 30px;
    }
  }
}
