.Order{
  &-header{
    background-color: $color10;
  }

  &-title{
    color: $colorff;
    font-weight: 300;
    font-size: 14px;
  }

  &-subtitle{
    color: $color00;
    font-size: 16px;
  }

  &-content{
    background-color: $color02;
  }

  &-items{
    overflow: hidden;
    position: relative;
    &:before{
      content: '';
      width: 1px;
      height: calc(100% - 70px);
      position: absolute;
      top: 30px;
      left: 9px;
      background-color: $color10;
    }
  }

  &-item{
    position: relative;
    overflow: hidden;
    padding-left: 20px;
    &:before{
      content: '';
      width: 10px;
      height: 10px;
      background-color: $color10;
      border-radius: 50%;
      position: absolute;
      top: 25px;
      left: 5px;
      z-index: 99;
    }
  }

  &-price{
    font-size: 24px;
    font-weight: bold;
    color: $color10;
  }

  &-itemContent{
    border-bottom: 1px solid $color00;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 20px;
  }

  &-description{
    margin-bottom: 0;
    font-family: $bree;
    display: inline-block;
    max-width: 50%;
  }

  &-addServices{
    color: $color06;
    font-size: 18px;
    font-family: $bree;
    margin-bottom: 30px;
  }

  &-footerInput{
    display: block;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid $color01;
    border-radius: 4px;
  }

  &-footerTitle{
    font-family: $bree;
  }

  &-submit{
    text-align: center;
    padding: 20px 30px;
    margin-top: 5px;
    margin-bottom: 45px;
    background-color: $color30;
    color: $colorff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    width: 100%;

    transition: background-color 0.4s;
    &:hover{
      background-color: lighten($color30, 10%);
    }
  }
}

@media screen and (max-width: $screen-sm - 1){
  .Order{
    &-subtitle{
      font-size: 16px;
      margin-bottom: 25px;
    }

    &-price{
      font-size: 12px;
    }

    &-dot{
      // margin-right: 15px;
    }
  }
}

@media screen and (min-width: $screen-sm){
  .Order{
    &-title{
      font-size: 24px;
    }

    &-footer{
      padding-top: 45px;
    }

    &-footerTitle{
      margin-top: 10px;
      text-align: right;
    }
  }
}
