.Page{
  &-title{
    font-size: 36px;
    font-family: $bree;
    color: $color10;

    &.Page-title--home2{
      text-align: center;
    }

    &.Page-title--testimonials{
      margin-bottom: 50px;
    }

    &.Page-title--small{
      font-size: 30px;
    }
  }

  &-subtitle{
    font-family: $bree;
    color: $color30;
    font-size: 36px;
  }

  &-text{
    font-size: 18px;
    color: $color03;

    &.Page-text--small{
      font-size: 14px;
    }
  }
}

@media screen and (max-width: $screen-sm - 1){
  .Page{
    &-title{
      font-size: 24px;

      &.Page-title--home2{
        text-align: left;
        margin-bottom: 40px;
      }

      &.Page-title--small{
        font-size: 20px;
      }
    }
    &-subtitle{
      font-size: 24px;
    }
  }
}
