.PaymentIcon{
  margin-right: 5px;

  &-container{
    display: inline-block;
    margin-left: 100px;
  }
}

@media screen and (max-width: $screen-sm - 1){
  .PaymentIcon{

    &-container{
      text-align: center;
      display: block;
      margin-left: 0px;
    }
  }
}
