.Progress{
  &-label{
    color: $color03;
  }

  &-bar{
    position: relative;
    width: 100%;
    height: 10px;
    background-color: $color08;

    &:before{
      content: '';
      position: absolute;
      z-index: 99;
      top: 0;
      left: 0;
      height: 10px;
      background-color: $color10;
    }

    &.Progress-bar--1:before{
      width: 25%;
    }

    &.Progress-bar--2:before{
      width: 50%;
    }

    &.Progress-bar--3:before{
      width: 75%;
    }

    &.Progress-bar--4:before{
      width: 100%;
    }
  }
}
