.QuestionMark{
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: $color02;
  font-weight: bold;
  font-size: 18px;
  color: $color09;
  text-align: center;
  margin-left: 15px;

  &.QuestionMark--dark{
    background-color: $color09;
    color: $colorff;
  }
}

@media screen and (max-width: $screen-sm - 1){
  .QuestionMark{
    display: none;
  }
}
