.Register{
  &-box{
    border: 1px solid $color01;
    border-radius: 4px;
    background-color: $colorff;
    overflow: hidden;
  }

  &-boxContent{
    padding-left: 15px;
    padding-right: 15px;
  }

  &-header{
    margin-top: 50px;
  }

  &-step{
    position: relative;
    text-align: center;
    vertical-align: top;

    &:last-of-type:after{
      display: none;
    }

    &:after{
      content: '';
      position: absolute;
      height: 4px;
      width: 100%;
      left: 50%;
      background-color: $color08;
      top: 30px;
      transform: translateY(-50%);
      z-index: 0;
    }
  }

  &-stepNumber{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid $color08;
    background-color: $colorff;
    color: $color10;
    font-family: $bree;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    z-index: 10;

    &.active{
      color: $colorff;
      background-color: $color10;
      border: 4px solid $color10;
    }
  }

  &-stepText{
    color: $color03;
  }
}

@media screen and (max-width: $screen-sm - 1){
  .Register{
    &-box{
      margin-top: -260px;
      padding-bottom: 30px;
    }
  }
}

@media screen and (min-width: $screen-sm){
  .Register{
    &-box{
      margin-top: -80px;
      padding-bottom: 90px;
    }
    &-stepText{
      font-size: 18px;
    }
  }
}
