.Section{

  &.Section--homeSponsors{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &.Section--testemonials{
    background-color: $color04;
    padding: 45px 0;
    border-top: 2px solid $color01;
    border-bottom: 2px solid $color01;
    position: relative;
  }

  &.Section--userData{
    background-color: $color02;
    // padding-bottom: 10px;
  }

  &.Section--category{
    background-color: $color02;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    margin-bottom: 110px;
    border-top: 2px solid $color01;
    border-bottom: 2px solid $color01;
  }

  &.Section--intro{
    padding-top: 50px;
  }
}

@media screen and (max-width: $screen-sm - 1){
  .Section{
    &.Section--userData{
      background-color: transparent;
      margin-top: -60px;
    }

    &.Section--intro{
      padding-top: 25px;
    }
  }
}
