.ServiceList{

  &-item{
    padding-bottom: 35px;
    margin-bottom: 30px;
    border-bottom: 1px solid $color07;
  }

  &-title{
    font-family: $bree;
    font-size: 24px;
    margin-bottom: 30px;
    color: $color10;
  }

  &-text{
    margin-bottom: 0;
    font-weight: 300;
    color: $color03;
    font-size: 16px;
  }
}

@media screen and (max-width: $screen-sm - 1){
  .ServiceList{

    &-item{
      padding-bottom: 50px;
      margin-bottom: 60px;
    }
  }
}
