.Service{
  margin-bottom: 20px;
  &-nameContainer{
    background-color: $color10;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &-name{
    color: $colorff;
    font-size: 24px;
    font-family: $bree;
    line-height: 24px;
    margin-bottom: 0;
  }

  &-text{
    color: $color00;
  }

  &-descriptionContainer{
    background-color: $colorff;
  }

  &-buttonContainer{
    background-color: $colorff;
  }

  &-descriptionTitle{
    color: $color30;
    font-size: 18px;
    margin-bottom: 20px;
  }

  &-button{
    text-align: center;
    padding: 20px 30px;
    margin-bottom: 15px;
    background-color: $color30;
    color: $colorff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.4s;
    &:hover{
      background-color: lighten($color30, 10%);
    }
  }

  &:last-of-type{
    margin-bottom: 45px;
  }
}

@media screen and (max-width: $screen-sm - 1){
  .Service{
    &-button{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media screen and (min-width: $screen-md){
  .Service{
    margin-bottom: 5px;
    &-nameContainer, &-descriptionContainer, &-buttonContainer{
      height: 90px;
    }

    &-buttonContainer{
      padding-top: 20px;
      text-align: right;
    }

    &-descriptionTitle{
      margin-bottom: 5px;
    }
  }
}

