.ServicePanel{
  &-box{
    border: 1px solid $color01;
    border-radius: 4px;
    background-color: $colorff;
    margin-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: $screen-sm - 1){
  .ServicePanel{
    &-box{
      border: none;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 55px;
      padding-bottom: 200px;
    }
  }
}

@media screen and (min-width: $screen-sm){
  .ServicePanel{
    &-box{
      margin-top: -350px;
      padding-top: 125px;
      padding-bottom: 55px;
    }
  }
}
