.ServiceItem{
  margin-bottom: 20px;
  &-header{
    background-color: $color10;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &-headerInfo, &-details, &-history, &-footer{
    background-color: $color02;
  }

  &-headerInfo, &-technicalDetails, &-history, &-footer{
    padding-left: 30px;
  }

  &-details{
    overflow-x: hidden;
    padding-top: 30px;
  }

  &-headerTitle{
    color: $colorff;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
  }

  &-headerInfo{
    border-bottom: 1px solid $color07;
  }

  &-headerInfoContainer{
    padding-top: 40px;
    padding-bottom: 40px;
    border-right: 1px solid $color07;

    &:last-of-type{
      padding-top: 20px;
      padding-bottom: 0;
      border-right: none;
    }
  }

  &-infoText{
    margin: 0;
  }

  &-technicalDetails{
    border-bottom: 1px solid $color07;
    padding-bottom: 10px;
  }

  &-technicalDetail{
    margin-right: 40px;
  }

  &-technicalName{
    color: $color10;
    font-family: $fira;
    font-weight: bold;
    font-size: 14px;
  }

  &-technicalValue{
    color: $color00;
  }

  &-historyItems{
    position: relative;
    padding-left: 30px;
    margin-top: 30px;
    &:before{
      content: '';
      width: 1px;
      height: calc(100% - 40px);
      position: absolute;
      top: 15px;
      left: 15px;
      background-color: $color10;
      z-index: 98;
    }
  }

  &-historyItem{
    position: relative;
    &:before{
      content: '';
      width: 10px;
      height: 10px;
      background-color: $color00;
      border-radius: 50%;
      position: absolute;
      top: 15px;
      left: -20px;
      z-index: 99;
    }

    &.Color--10{
      &:before{
        background-color: $color10;
      }

      .ServiceItem-historyDate{
        background-color: $color10;

        &:before{
          border-right-color: $color10;
        }
      }
    }

    &.Color--21{
      &:before{
        background-color: $color21;
      }

      .ServiceItem-historyDate{
        background-color: $color21;

        &:before{
          border-right-color: $color21;
        }
      }
    }

    &.Color--30{
      &:before{
        background-color: $color30;
      }

      .ServiceItem-historyDate{
        background-color: $color30;

        &:before{
          border-right-color: $color30;
        }
      }
    }
  }

  &-historyDate{
    display: inline-block;
    font-family: $bree;
    font-size: 14px;
    color: $colorff;
    background-color: $color00;
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    vertical-align: bottom;

    &:before{
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid $color00;
      bottom: 20px;
      content: '';
      left: 3px;
      position: absolute;
      z-index: 9999;
    }
  }

  &-historyText{
    font-family: $bree;
    font-size: 16px;
  }

  &-footer{
    border-top: 1px solid $color07;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  &-footerActionName{
    margin-right: 10px;
    line-height: 55px;
    font-family: $bree;
    font-size: 18px;
    color: $color06;
  }

  &-label{
    font-family: $bree;
    font-size: 16px;
    color: $color10;
  }

  &-checkbox{
    margin: 0 11px 0 15px !important;
    vertical-align: middle;
  }

  &-xs-info{
    margin-top: 15px;
  }

  &-xs-infoTitle{
    color: $color10;
  }

  &-xs-infoText{
    color: $color03;
  }
}

@media screen and (max-width: $screen-sm - 1){
  .ServiceItem{
    &-headerInfo, &-technicalDetails, &-history{
      padding-left: 15px;
    }

    &-headerInfoContainer{
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &-details{
      padding-top: 15px;
    }

    &-footer{
      padding-left: 0;
    }

    &-headerInfoContainer{
      padding-left: 0;
    }

    &-historyItems{
      padding-left: 15px;

      &:before{
        top: 32px;
        left: 0;
        height: calc(100% - 64px);
      }
    }

    &-historyItem{
      &:before{
        top: 32px;
      }
    }

    &-historyText{
      display: inline-block;
      max-width: 100px;
    }

    &-toggleDetailsContainer{
      padding-top: 10px;
      padding-bottom: 20px;
      margin-top: 10px;
      border-top: 1px solid $color07;
    }

    &-checkbox{
      margin-left: 0 !important;
    }
  }
}
