.Sponsors{
  &-item{
    padding-top: 25px;
  }
}

@media screen and (max-width: $screen-sm - 1){
  .Sponsors{
    &-item{
      margin-bottom: 40px;

      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }
}
