.Steps{
  padding-top: 70px;
  padding-bottom: 65px;
  &.Steps--about{
    margin-top: 50px;
  }

  &-icon:before{
    font-size: 90px;
    background: -webkit-linear-gradient(#b6555c, #9c58b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    color: $color10;
  }

  &-title{
    font-size: 30px;
    color: $color10;
    font-family: $bree;
  }

  &-text{
    font-size: 17px;
    color: $color03;
    font-family: $bree;
  }
}

@media screen and (max-width: $screen-sm - 1){
  .Steps{
    &.Steps--about{
      margin-top: 360px;
    }
  }
}
