.Subtotal{
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  &-text{
    font-size: 18px;
    font-weight: bold;
    margin-right: 40px;
  }

  &-value{
    font-size: 24px;
    font-weight: bold;
    color: $color10;
  }
}

@media screen and (max-width: $screen-sm - 1){
  .Subtotal{
    float: none;
    padding-left: 35px;
    margin-bottom: 20px;
    &-text{
      margin-right: 0;
    }

    &-value{
      display: inline-block;
      text-align: right;
      float: right;
      font-size: 12px;
    }
  }
}
