.SubSection{
  &.SubSection--userData{
    background-color: $color02;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: $screen-sm - 1){
  .SubSection{
    &.SubSection--userData{
      &:first-of-type{
        border-bottom: 2px solid $color05;
        border-radius: 3px 3px 0 0;

      }

      &:last-of-type{
        border-radius: 0 0 3px 3px;
        padding-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: $screen-sm){
  .SubSection{
    &.SubSection--userData{
      &:first-of-type{
        border-right: 2px solid $color05;
      }
      &:nth-child(2){
        padding-left: 50px;
      }
    }
  }
}
