.Terms{
  background-color: $color02;
  padding: 35px 60px;
  &-text{
    overflow-y: scroll;
  }
}

@media screen and (max-width: $screen-sm - 1){
  .Terms{
    padding: 35px 20px;
    &-text{
      max-height: 200px;
    }
  }
}

@media screen and (min-height: $screen-sm){
  .Terms{
    &-text{
      max-height: 250px;
    }
  }
}
