.Testimonial{

  &-text{
    color: $color03;
    font-family: $bree;
    font-size: 23px;
    font-style: italic;
    margin-bottom: 20px;
  }

  &-name{
    color: $color10;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: -5px;
  }

  &-job{
    color: $color10;
    font-size: 16px;
    font-style: italic;
  }

  &-arrow{
    margin-top: 80px;
    display: block;
    &:hover, &:active, &:focus{
      text-decoration: none;
    }
    &:before{
      color: $color10;
      font-size: 50px;
    }
  }
}


@media screen and (max-width: $screen-sm - 1){
  .Testimonial{
    text-align: center;
    &-figure{
      padding-bottom: 50px;
      border-bottom: 1px solid $color01;
    }

    &-content{
      margin-top: 25px;
    }

    &-arrowContainer{
      position: absolute !important;
      top: 25px;
      z-index: 9999;

      &.Testimonial-arrowContainer--left{
        left: -5px;
      }

      &.Testimonial-arrowContainer--right{
        right: 25px;
      }
    }
  }
}

@media screen and (min-width: $screen-lg){
  .Testimonial{
    &-content{
      margin-top: 40px;
    }
  }
}
