.Tooltip{
  cursor: pointer;
  position: relative;
  &:hover{
    &:after{
      content: attr(title);
      position: absolute;
      z-index: 9998;
      width: 200px;
      // max-height: 200px;
      padding: 20px;
      background-color: $color02;
      color: $color09;
      left: calc(100% + 15px);
      top: -50px;
      border: 1px solid $color01;
      border-radius: 4px;
      text-align: left;
      font-size: 12px;
      font-weight: bold;
      line-height: 16px;
      // overflow-y: scroll;
    }

    &:before{
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid $color02;
      bottom: 20px;
      content: "";
      left: calc(100% + 2px);
      position: absolute;
      z-index: 9999;
    }
  }

  &.Tooltip--dark{
    &:hover{
      &:before{
        border-right-color: $color09;
      }

      &:after{
        background-color: $color09;
        color: $colorff;
      }

    }
  }

  &.Tooltip--category{
    &:hover{
      &:before{

      }

      &:after{
        top: 10px;
        left: calc(50% - 50px);
      }

    }
  }
}
