.Total{
  border-top: 1px solid $color07;
  border-bottom: 1px solid $color07;
  padding-top: 40px;
  padding-bottom: 35px;
  margin-bottom: 35px;

  &-text{
    font-size: 24px;
    font-weight: bold;
    color: $color00;
    margin-right: 25px;
  }

  &-value{
    font-size: 24px;
    font-weight: bold;
    color: $color10;
  }
}
