<div class="row">
    <div class="col-xs-12">
        <!-- Static navbar-->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button><a href="<?php echo $this->url(array(), 'default', true); ?>" class="navbar-brand"><img src="<?php echo $this->baseUrl('static/default/images/logo-nav.png') ?>" alt="mavip" class="navbar-logo"></a>
                <a href="<?php echo $this->url(array('controller' => 'order', 'action' => 'index'), 'default', true); ?>" class="visible-xs-inline-block NotificationCart NotificationCart--outside">
                    <?php
                    if ($this->order_session->servico) {
                        if ($this->order_session->servico == 1) {
                            $num = 1;
                        } else {
                            $num = 1;
                        }
                        if ($this->order_session->acompanhamento) {
                            $num = $num + 1;
                        }
                        ?>
                        <span class="NotificationCart-number"><?php echo $num;?></span>
                    <?php } ?>
                    <i class="NotificationCart-icon Icon Icon--cartBefore"></i>
                </a>

                <a style="width: 40px" href="<?php echo $this->url(array(), 'precos', true); ?>" class="visible-xs-inline-block coin">
                    <img src="<?php echo $this->baseUrl('static/default/images/coin.svg') ?>" alt="">
                </a>

                <a href="https://api.whatsapp.com/send?phone=5511988021158" target="_blank" class="visible-xs-inline-block coin">
                    <img src="<?php echo $this->baseUrl('static/default/images/whatsapp.png') ?>" alt="">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right nav-menu">
                    <li><a class="sobre-o-mavip" href="<?php echo $this->url(array(), 'sobre', true); ?>">Sobre a mavip</a></li>
                    <li><a class="precos" href="<?php echo $this->url(array(), 'precos', true); ?>">Preços</a></li>
                    <li><a class="servicosmarcas" href="<?php echo $this->url(array(), 'servicos', true); ?>">Serviços</a></li>
                  
                  <?php /*
                    <li class="item-desk item_banco_marcas">
                        <a class="bancodemarcas" href="<?php echo $this->url(array('controller' => 'bancodemarcas', 'action' => 'index'), 'default', true); ?>">
                            Banco de marcas
                        </a>
                    </li>
                  */  ?>
                     <?php if ($this->auth->hasIdentity()): ?>
                       <li><a class="historico" href="<?php echo $this->url(array(), 'historico', true); ?>">Histórico de Pesquisa</a></li>
                    <?php endif; ?>
                        
                        <li class="item-desk"><a class="faQ" href="<?php echo $this->url(array(), 'faq', true); ?>">FAQ</a></li> 
                    <li class="item-desk"><a class="blog" href="<?php echo $this->url(array(), 'blogs', true); ?>">blog</a></li> 
                    <?php if ($this->auth->hasIdentity()): ?>
                        <li><a class="minha-conta" href="<?php echo $this->url(array('controller' => 'account', 'action' => 'index'), 'default', true); ?>">Minha Conta</a></li>
                    <?php else: ?>
                    <li><a class="register" href="<?php echo $this->url(array('controller' => 'account', 'action' => 'register'), 'default', true); ?>">Crie sua conta</a></li>
                        <li><a class="login" href="<?php echo $this->url(array('controller' => 'account', 'action' => 'login'), 'default', true); ?>">Login</a></li>
                    <?php endif; ?>
                    <li class="hidden-xs">
                        <a href="<?php echo $this->url(array('controller' => 'order', 'action' => 'index'), 'default', true); ?>" class="NotificationCart">
                            <?php
                            if ($this->order_session->servico) {
                                ?>
                                <span class="NotificationCart-number">
                                    <?php
                                    if ($this->order_session->servico == 1) {
                                        $num = 1;
                                    } else {
                                        $num = 1;
                                    }

                                    if ($this->order_session->acompanhamento) {
                                        $num = $num + 1;
                                    }



                                    echo $num;
                                } else {
                                    ?>
                                    <span class="">    
                                    <?php } ?>
                                </span>
                                <i class="NotificationCart-icon Icon Icon--cartBefore"></i>
                        </a>
                    </li>
                    <li class="hidden-xs d-flex"><a class="link-whatsapp" target="_blank" href="https://api.whatsapp.com/send?phone=5511988021158"><img class="img-whatsapp" src="<?php echo $this->baseUrl('static/default/images/whatsapp.png') ?>"><p>(11) 988021158</p></a></li>
                </ul>
            </div>
            <!-- /.nav-collapse-->
        </nav>
        <!-- /.container-fluid-->
    </div>
</div>