<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2 ">
        <h3 class="Header-title">São 04 passos: Pesquisa, Pedido de Registro, Acompanhamento e Registro da Marca.</h3>
    </div>
</div>

<!-- <div class="row">
    <ul class="Header-lead list-unstyled text-center">
        <li class="Header-leadItem col-xs-6  col-sm-3 col-md-3  col-lg-2 col-lg-offset-1"><span class="Header-leadText Icon Icon--magnifierBefore"><a href="<?php echo $this->url(array(),'servicos',true);?>#servico5" title="" target="">Pesquise</a></span></li>
        <li class="Header-leadItem col-xs-6  col-sm-3 col-md-4 col-lg-3 "><span class="Header-leadText Icon Icon--list"><a href="<?php echo $this->url(array(),'servicos',true);?>#servico1" title="" target="" class="pedido-registro">Pedido de <span>Registro</span></a></span></li>
        <li class="Header-leadItem col-xs-6  col-sm-3 col-md-2 col-lg-2"><span class="Header-leadText Icon Icon--boardBefore"><a href="<?php echo $this->url(array(),'servicos',true);?>#servico2" title="" target="">Acompanhe</a></span></li>
        <li class="Header-leadItem col-xs-6  col-sm-3 col-md-2 col-lg-2"><span class="Header-leadText Icon Icon--reg-topBefore"><a href="<?php echo $this->url(array(),'servicos',true);?>#servico3" title="" target="">Registre</a></span></li>
    </ul>
</div> -->