<?php if ($this->pageCount): ?>

    <div class="col-md-12">
    <ul class="pagination_two">
        <li>
            <?php if (isset($this->previous)): ?>
                <a href="<?php echo $this->url(array('page' => $this->previous)); ?>">
                    &lt; Anterior
                </a>
            <?php endif; ?>
        </li>

        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
            <li>
                <a href="<?php echo $this->url(array('page' => $page)); ?>">
                    <?php echo $page; ?>
                </a>
            </li>
                <?php else: ?>

               <li class="active">   <a href=""><?php echo $page; ?></a> </li>

            <?php endif; ?>
        <?php endforeach; ?>

        <!-- Next page link -->
        <?php if (isset($this->next)): ?>
        <li>   <a href="<?php echo $this->url(array('page' => $this->next)); ?>">
                Proximo &gt;
            </a> </li>

        <?php endif; ?>
    </div>
    </ul>
</div>
<?php endif; ?>