<script>

$(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    $(".scroll").click(function(event){        
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top}, 800);
    });

    $('.datepicker').datetimepicker({
        locale: 'pt-BR',
        format: 'DD/MM/YYYY'
    });

    $('.datetimepicker').datetimepicker({
        locale: 'pt-BR',
        format: 'DD/MM/YYYY HH:mm'
    });
});
</script>
        <script>
            $(".cmxform").validate();
            $(".Register").validate();

            // <![CDATA[
            $.mask.definitions['~'] = '[+-]';
            //Inicio Mascara Telefone
            $('#celular,#fax').focusout(function () {
                var phone, element;
                element = $(this);
                element.unmask();
                phone = element.val().replace(/\D/g, '');
                if (phone.length > 10) {
                    element.mask("(99) 99999-999?9");
                } else {
                    element.mask("(99) 9999-9999?9");
                }
            }).trigger('focusout');
            //Fim Mascara Telefone

            if ($("#cnpj-alt").html() == "CNPJ") {
                $("#cnpj").mask("99.999.999/9999-99");
            } else {
                $("#cnpj").mask("999.999.999-99");
            }
            $("#cep").mask("99999-999");
            //$("#telefone").mask("(99) 99999-9999");


            $('#telefone,#conf_telefone').focusout(function () {
                var phone, element;
                element = $(this);
                element.unmask();
                phone = element.val().replace(/\D/g, '');
                if (phone.length > 10) {
                    element.mask("(99) 99999-999?9");
                } else {
                    element.mask("(99) 9999-9999?9");
                }
            }).trigger('focusout');

            $('#fechar').on('click', function () {
                console.log("ok");
            });

            $( document ).ready(function() {
                $("#cpf_pessoa_juridica").mask("999.999.999-99");
                if ($("#natureza").val() == '1' || $("#natureza").val() == '2'){
                    $('.label-rg').show();
                }else{
                    $('.label-rg').hide();

                    $('.label_juridico_cpf').hide(); 
                }
            });

            $("#natureza").change(function (event) {

                if ($(this).val() == '2') {
                    $('.label_cnpj').hide();
                    $('.label_cpf').show();
                    $("#cnpj").mask("999.999.999-99");
                    $(".ctn-atividade").show();
                    $("#cnpj-alt").html("CPF");
                    $("#cnpj").attr('placeholder', 'Digite o CPF');

                    $('.label-razao').hide();
                    $('.label-nome').show();
                    $('.label_juridico_cpf').hide();
                   
                    
                } else {
                 
                    if ($(this).val() == '1') {
                        $('.label_juridico_cpf').show();
                   
                    }else{
                        $('.label_juridico_cpf').hide(); 
                    }
                  
                    $('.label_cnpj').show();
                    $('.label_cpf').hide();
                    $("#cnpj").mask("99.999.999/9999-99");
                    $(".ctn-atividade").hide();
                    $("#cnpj-alt").html("CNPJ");
                    $("#cnpj").attr('placeholder', 'Digite o CNPJ');

                    $('.label-razao').show();
                    $('.label-nome').show();
                }
                if ($(this).val() == '1' || $(this).val() == '2'){
                    $('.label-rg').show();
                }else{
                    $('.label-rg').hide();
                }
            });
            $('._pergunta').val('nome da Empresa?');
            $('._resposta').val('Mavip<?php echo $this->user['id']; ?>')
            // ]]>
            if (page == 'blog') {
                console.log('entrou');
                setTimeout(function () {
                    $('html, body').stop().animate({
                        scrollTop: $("#conteudo-blog").offset().top
                    }, 1000);
                }, 600);
            }

            $('#form_categoria').on('change', function () {
                $('#form_categoria').submit();
            });

            function fechar() {
                location.href = '<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>';
            }

            function garantir() {
                location.href = '<?php echo $this->url(array('controller' => 'order', 'action' => 'add-cart', 'service' => '1'), 'default', true); ?>';
            }

            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#logradouro").val("");
                $("#bairro").val("");
                $("#cidade").val("");
                $("#estado").val("");
                $("#ibge").val("");
            }

            //Quando o campo cep perde o foco.
            $("#cep").blur(function () {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if (validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#logradouro").val("...");
                        $("#bairro").val("...");
                        $("#cidade").val("...");
                        $("#estado").val("...");
                        $("#ibge").val("...");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {


                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#logradouro").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                                setEstado(dados.uf);
                                setTimeout(function(){ setCidade(dados.localidade); }, 1000);
                                $('#pais').val("26");
                                $("#ibge").val(dados.ibge);
                                $('#pais').removeClass('error');
                                $('#estado').removeClass('error');
                                $('#cidade').removeClass('error');




                            
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });

            function setEstado(estado) {
                if (estado == 'AC') {
                    var uf = 1;
                }
                if (estado == 'AL') {
                    var uf = 2;
                }
                if (estado == 'AM') {
                    var uf = 3;
                }
                if (estado == 'AP') {
                    var uf = 4;
                }
                if (estado == 'BA') {
                    var uf = 5;
                }
                if (estado == 'CE') {
                    var uf = 6;
                }
                if (estado == 'DF') {
                    var uf = 7;
                }
                if (estado == 'ES') {
                    var uf = 8;
                }
                if (estado == 'GO') {
                    var uf = 9;
                }
                if (estado == 'MA') {
                    var uf = 10;
                }
                if (estado == 'MG') {
                    var uf = 11;
                }
                if (estado == 'MS') {
                    var uf = 12;
                }
                if (estado == 'MT') {
                    var uf = 13;
                }
                if (estado == 'PA') {
                    var uf = 14;
                }
                if (estado == 'PB') {
                    var uf = 15;
                }
                if (estado == 'PE') {
                    var uf = 16;
                }
                if (estado == 'PI') {
                    var uf = 17;
                }
                if (estado == 'PR') {
                    var uf = 18;
                }
                if (estado == 'RJ') {
                    var uf = 19;
                }
                if (estado == 'RN') {
                    var uf = 20;
                }
                if (estado == 'RO') {
                    var uf = 21;
                }
                if (estado == 'RR') {
                    var uf = 22;
                }
                if (estado == 'RS') {
                    var uf = 23;
                }
                if (estado == 'SC') {
                    var uf = 24;
                }
                if (estado == 'SE') {
                    var uf = 25;
                }
                if (estado == 'SP') {
                    var uf = 26;
                }
                if (estado == 'TO') {
                    var uf = 27;
                }
                $("#estado").val(uf).change();
            }

            function setCidade(cidade) {
                $("#cidade option").filter(function () {
                    if(this.text == cidade)
                        $("#cidade").val(this.value).change()
                });
            }


        </script>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/5811ec02277fb7280daa2439/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        
        </script>
<script>
    
$(document).ready(function() {
    Tawk_API.onChatStarted = function () {
        gtag_report_conversion();
    }
        $('.content-link').click(function(e) {
            e.preventDefault();
            setTimeout(function(){ 
                $('html, body').animate({
                    scrollTop: $('#box_free_sec').offset().top
                }, 500);
                //console.log('Scroll TESTE')
            }, 500);
        });
});

</script>