<script>
    page = 'blog';
</script>

<header class="Header Header--home">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
        <?php echo $this->render('partial/navbar-blog.phtml'); ?>
       
    </div>
</header>
<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="Content Content--articles Register-box" style="padding-top:20px;">
                <div class="row" id="conteudo-blog">
                    <div class="col-xs-12">
                        <header class="Content-header Content-header--articles">
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-md-offset-1">
                                    <div class="col-xs-12 col-md-8">
                                        <ul class="Breadcrumbs Breadcrumbs--articles list-inline">
                                            <li class="Breadcrumbs-item"><a href="<?php echo $this->url(array(), "default", true); ?>" class="Breadcrumbs-link">Home</a></li>
                                            <li class="Breadcrumbs-item"><a href="<?php echo $this->url(array(), "blogs", true); ?>" class="Breadcrumbs-link active">Blog</a></li>
                                        </ul>
                                        <h1 class="Page-title">Blog Mavip</h1>
                                    </div>
                                    <!--<div class="col-xs-12 col-md-4">
                                        <form class="Search" action="<?php echo $this->url(array(), 'blogs', true); ?>">
                                            <input type="text" placeholder="Pesquise" class="Search-input" name="buscar">
                                            <button type="submit" class="Search-submit"><i class="Icon Icon--magnifierAfter Search-icon"></i></button>
                                        </form>
                                    </div>-->
                                </div>
                            </div>
                        </header>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                        <main class="Articles-main col-xs-12 col-md-7">
                            <div class="row">
                                <?php //print_r($this->blogs); ?>
                                <?php foreach ($this->blogs as $blo): ?>
                                    <?php if ($blo['categoria_blog_id'] != 1 && $blo['active'] == 1) { ?>
                                        <?php if (!$this->auth->hasIdentity()) { ?>
                                            <?php if ($blo['categoria_blog_id'] != "1") { ?> 
                                                <div class="col-xs-12">
                                                    <a title="<?php echo $blo["legenda"]; ?>" href="<?php echo $this->url(array('id' => $this->exibeIdAmigavel($blo['titulo'], $blo['id'])), 'blog-interna', true) ?>" class="Article">
                                                        <h2 class="Article-title">
                                                            <?php echo $blo['titulo'] ?>
                                                        </h2>
                                                        <p class="Article-date">
                                                            <?php
                                                            $data = new Zend_Date($blo['data_inicio']);
                                                            echo $data->get('dd/MM/yyyy');
                                                            ?>
                                                        </p>
                                                        <?php if ($blo["imagem"]): ?>
                                                            <img src="<?php echo $this->baseUrl("arqs/blog/" . $blo["imagem"]); ?>" alt="<?php echo $blo["legenda"]; ?>" class="Article-image img-responsive">
                                                        <?php endif; ?>
                                                        <span class="Article-text"><?php echo $blo['resumo'] ?></span><p class="reading">Continue lendo <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
                                                    </a>
                                                    <hr class="Article-separator">
                                                </div>                      
                                            <?php } ?>
                                        <?php } else { ?>
                                            <div class="col-xs-12">
                                                <a href="<?php echo $this->url(array('id' => $this->exibeIdAmigavel($blo['titulo'], $blo['id'])), 'blog-interna', true) ?>" class="Article">
                                                    <h2 class="Article-title">
                                                        <?php echo $blo['titulo'] ?>
                                                    </h2>
                                                    <p class="Article-date">
                                                        <?php
                                                        $data = new Zend_Date($blo['data_inicio']);
                                                        echo $data->get('dd/MM/yyyy');
                                                        ?>
                                                    </p>
                                                    <?php if ($blo["imagem"]): ?>
                                                        <img src="<?php echo $this->baseUrl("arqs/blog/" . $blo["imagem"]); ?>" alt="" class="Article-image img-responsive">
                                                    <?php endif; ?>
                                                    <span class="Article-text"><?php echo $blo['resumo'] ?></span><p class="reading">Continue lendo <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
                                                </a>
                                                <hr class="Article-separator">
                                            </div>
                                        <?php } ?>
                                    <?php } ?>
                                <?php endforeach; ?>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <?= $this->paginationControl($this->blogs, 'Sliding', 'blog/partial/paginacao.phtml') ?>
                                </div>
                            </div>
                        </main>
                        <aside class="Articles-aside col-xs-12 col-md-4 col-md-offset-1">


                            <div class="row">
                                <div class="col-xs-12">
                                    <h3 class="Articles-asideTitle text-center">Categorias</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="MoreArticles list-unstyled">
                                        <?php foreach ($this->categorias as $cat): ?> 
                                            <?php if (strtoupper($cat['nome']) != "RASCUNHO") { ?>
                                                <?php if (!$this->auth->hasIdentity()) { ?>
                                                    <?php if ($cat['nome'] != "Cliente") { ?>
                                                        <li class="MoreArticle article-li">
                                                            <a href="<?php echo $this->url(array('c' => $cat['id'])) ?>" class="MoreArticle-link link-article"><?php echo $cat['nome'] ?> (<?php echo $cat['quant'] ?>)</a>
                                                        </li>
                                                    <?php } ?>
                                                <?php } else { ?>
                                                    <li class="MoreArticle article-li">
                                                        <a href="<?php echo $this->url(array('c' => $cat['id'])) ?>" class="MoreArticle-link link-article"><?php echo $cat['nome'] ?> (<?php echo $cat['quant'] ?>)</a>
                                                    </li>
                                                <?php } ?>
                                            <?php } ?>    
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-xs-12">
                                    <h3 class="Articles-asideTitle text-center">Mais Lidas</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="MoreArticles list-unstyled">
                                        <?php foreach ($this->maisLidas as $blo): ?> 



                                            <li class="MoreArticle">
                                                <p class="MoreArticle-date">
                                                    <?php
                                                    $data = new Zend_Date($blo['data_inicio']);
                                                    echo $data->get('dd/MM/yyyy');
                                                    ?>
                                                </p>
                                                <a href="<?php echo $this->url(array('id' => $this->exibeIdAmigavel($blo['titulo'], $blo['id'])), 'blog-interna', true) ?>" class="MoreArticle-link">
                                                    <?php echo $blo['titulo'] ?>
                                                </a>
                                            </li>




                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            </div>
                            <?php if ($this->publicidade): ?>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <a class="banner-right" href="<?php echo $this->publicidade["url"] ?>">
                                            <img src="<?php echo $this->baseUrl('arqs/banner/' . $this->publicidade["arquivo"]); ?>" />
                                        </a>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
