<script>
    var page = 'blog';
</script>
<header class="Header Header--home">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>


        <?php echo $this->render('partial/navbar-blog.phtml'); ?>

        <!--<div id="container">
            <div id="flutuante" onclick="fechar()">
                    <a href="void:javascript" title="Banner"><img src="<?php echo $this->baseUrl('static/default/images/banner.png') ?>" alt="70% de desconto! Use o código #Promo70%"></a>
            </div>
        </div>-->
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-12 col-lg-offset-0">
                <h3 class="Header-title-busca">Pesquise gratuitamente se sua marca está disponível!</h3>
            </div>
        </div>
        <form class="row CallToAction" action="<?php echo $this->url(array(), 'busca', true); ?>" method="post" id="form-busca">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-0">
                <span class="email alert-campos">E-mail informado incorretamente ou vazio</span>
                <span class="email radio-red">X</span>
                <input type="email" placeholder="Digite aqui seu email" name="email" class="CallToAction-input" id="email">

            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-5 col-lg-offset-0">
                <span class="marca alert-campos">Campo obrigatório. Preencha corretamente.</span>
                <span class="marca radio-red">X</span>
                <input type="text" placeholder="Digite aqui sua marca - Ex: Nike, Google..." name="marca" class="CallToAction-input" id="marca">

            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 col-lg-3 col-lg-offset-0 div-load">
                <div class='uil-facebook-css' style='-webkit-transform:scale(0.68)'><div style="background:#fec901;top:10px;"></div><div style="background:#fec901;top:10px;"></div><div style="top:10px;background:#fec901;"></div></div>
                <button type="submit" class="Button-pesquisa Button--full CallToAction-button">Pesquisar no INPI</button>
            </div>
        </form>
        <figure><img src="<?php echo $this->baseUrl('static/default/images/logos.png') ?>" alt=""></figure>
    </div>
</header>

<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="Content Content--articles" style="padding-top:20px;">
                <div class="row" id="conteudo-blog">
                    <div class="col-xs-12">
                        <header class="Content-header Content-header--articles">
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-md-offset-1">
                                    <div class="col-xs-12 col-md-8">
                                        <ul class="Breadcrumbs Breadcrumbs--articles list-inline">
                                            <li class="Breadcrumbs-item"><a href="<?php echo $this->url(array(), "default", true); ?>" class="Breadcrumbs-link">Home</a></li>
                                            <li class="Breadcrumbs-item"><a href="<?php echo $this->url(array(), "blogs", true); ?>" class="Breadcrumbs-link active">Blog</a></li>
                                        </ul>
                                        <h1 class="Page-title">Blog Mavip</h1>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <form class="Search" action="<?php echo $this->url(array(), 'blogs', true); ?>">
                                            <input type="text" placeholder="Pesquise" class="Search-input" name="buscar">
                                            <button type="submit" class="Search-submit"><i class="Icon Icon--magnifierAfter Search-icon"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </header>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-md-offset-1">

                        <main class="Articles-main col-xs-12 col-md-7">
                            <div class="row">
                                <div class="col-xs-12">
                                    <a class="Article">
                                        <h2 class="Article-title">
                                            <?php echo $this->post["titulo"]; ?>
                                        </h2>
                                        <p class="Article-date">
                                            <?php
                                            $data = new Zend_Date($this->post['data_inicio']);
                                            echo $data->get('dd/MM/yyyy');
                                            ?>
                                        </p>
                                        <?php if ($this->post["imagem"]): ?>
                                        <img src="<?php echo $this->baseUrl("arqs/blog/" . $this->post["imagem"]); ?>" alt="<?php echo $this->post["legenda"]; ?>" class="Article-image img-responsive">
                                        <?php endif; ?>
                                        <span class="Article-text">
                                            <?php echo $this->post["texto"]; ?>
                                        </span>
                                    </a>
                                    <hr class="Article-separator">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12"><a href="<?php echo $this->url(array(), 'blogs', true); ?>" class="Article-back Icon Icon--arrowLeftBefore">Ver outros posts</a></div>
                            </div>
                        </main>

                        <aside class="Articles-aside col-xs-12 col-md-4 col-md-offset-1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3 class="Articles-asideTitle text-center">Mais Lidas</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="MoreArticles list-unstyled">
                                        <?php foreach ($this->maisLidas as $blo): ?> 
                                            <li class="MoreArticle">
                                                <p class="MoreArticle-date"><?php
                                                    $data = new Zend_Date($blo['data_inicio']);
                                                    echo $data->get('dd/MM/yyyy');
                                                    ?></p><a href="<?php echo $this->url(array('id' => $this->exibeIdAmigavel($blo['titulo'], $blo['id'])), 'blog-interna', true) ?>" class="MoreArticle-link"><?php echo $blo['titulo'] ?></a>
                                            </li>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>