// Fonts
$fontastic: 'mavip';
$fira: 'fira';
$bree: 'bree';

// Color
$color00:                                   #2c2c2c; // Black
$color01:                                   #d8d8d8; // Grey
$color02:                                   #ebeff0;
$color03:                                   #7e8b8d;
$color04:                                   #f8f8f8;
$color05:                                   #d6d6d6;
$color06:                                   #869294;
$color07:                                   #bec1c3;
$color08:                                   #ebeeee;
$color09:                                   #879395;
$color010:                                  #666666;
$colorff:                                   #ffffff; // White
$color10:                                   #9b58b6; // Blue
$color11:                                   #000066; // Dark Blue
$color20:                                   #e62121; // Red
$color21:                                   #e74b3b; // Dark Red
$color30:                                   #d25300;
$color31:                                   #ffcc00;
$color32:                                   #fd5f01;
$color40:                                   #5b851e;
$color41:                                   #228a1f;

// Basics of a navbar
$navbar-height:                    140px !default;
$navbar-default-color:             $colorff !default;
$navbar-default-bg:                transparent !default;
$navbar-default-link-color:                $colorff !default;
$navbar-default-link-hover-color:          $colorff !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           transparent !default;
$navbar-default-toggle-icon-bar-bg:        #fff !default;
$navbar-default-toggle-border-color:       transparent !default;
