<header class="Header Header--home">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
        <span class="spaco_div"></span>
    </div>
</header>
<section id="depoimento-form" class="faq-content">
    <div class="faq">
        <div class="container">
            <div class="row faqs">
                <div class="col-xs-12 col-md-10 col-md-offset-1 faqs-tit">
                    <ul class="Breadcrumbs Breadcrumbs--articles list-inline">
                        <li class="Breadcrumbs-item"><a href="<?php echo $this->url(array(), "default", true); ?>" class="Breadcrumbs-link">Home</a>
                        </li>
                        <li class="Breadcrumbs-item"><a href="<?php echo $this->url(array(), "depoimento", true); ?>" class="Breadcrumbs-link active">Depoimento</a></li>
                    </ul>
                    <h1 class="Page-title">DEPOIMENTO</h1>
                    <!--                    <form action="" class="search">
                                            <fieldset>
                                                <input type="text" placeholder="Pesquise" id="searchFaq" />
                                                <i class="lupa-faq"></i>
                                            </fieldset>
                                        </form>-->
                </div>

                <div class="form-faq col-md-12">
                    <form action="" method="POST" id="formFaq" class="col-md-10 col-md-offset-1" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="Form-label">Nome</label>
                            <?php echo $this->form->getElement('nome'); ?>
                        </div>
                        <div class="form-group">
                            <label class="Form-label">Foto - JPG ou PNG</label><br />
                            <input type="file" name="imagem" id="file-1" class="inputfile inputfile-1" accept="image/x-png,image/jpeg,image/png" > 
                            <label for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg> <span>Selecionar Arquivo</span></label>
                        </div>

                        <div class="form-group">
                            <label class="Form-label">Digite seu depoimento</label>                      
                            <?php echo $this->form->getElement('depoimento'); ?>
                        </div>
                     
<!--                        <input type="text" placeholder="Nome" id="nome" name="nome" class="col-md-8 Form-input">
                        <input type="file" placeholder="imagem" id="imagem" name="imagem" class="col-md-8 Form-input">
                        <textarea name="depoimento" id="depoimento" cols="30" rows="50" class="col-md-8 Form-input" placeholder="Depoimento"></textarea>-->
                       
                        <a href="<?php echo $this->url(array(), 'default', true); ?>" class="col-xs-12 col-sm-3 col-md-2">< Voltar</a>
                        <button type="submit" class="col-xs-12 col-sm-3 col-sm-offset-6 col-md-3 col-md-offset-7">Enviar</button>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


