<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="" class="heading"><? echo $this->title?></a></li>
        <li class="hidden-sm hidden-xs">
            <a href="#" class="selected">Novo</a>
        </li>
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">
        




        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            <?php echo $this->title?>
                            <span class="mini-title">
                                <?php echo $this->title?>
                            </span>
                        </div>
                    </div>
                    <div class="widget-body">
                        
                        <form class="form-horizontal no-margin row" action="" method="post" enctype="multipart/form-data">

                            <h5>
                                Dados de Acesso
                            </h5>
                            <hr/>

                            <div class="col-sm-6">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <?php echo $this->form->getElement('descricao');?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <?php echo $this->form->getElement('titulo');?>
                                    </div>
                                </div>
                            </div>
                            
                            <?php if($this->row['vendavel']):?>
                            <div class="col-sm-6">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <?php echo $this->form->getElement('termo');?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <?php echo $this->form->getElement('valor');?>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-2">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <?php echo $this->form->getElement('valor_gru');?>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-2">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <?php echo $this->form->getElement('valor_gru_pj');?>
                                    </div>
                                </div>
                            </div>
                            <?php endif;?>

                            <div class="col-sm-6" style="margin-top: 40px">
                                <div class="col-sm-12">
                                    <div class="form-group" style="text-align: center;font-size: 16px">
                                        <?php echo $this->form->getElement('acompanhamento');?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <?php echo $this->form->getElement('ordem');?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <?php echo $this->form->getElement('contrato');?>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12" style="padding-top: 20px">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <?php echo $this->form->getElement('contrato_pdf'); ?>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <?php if($this->row['contrato_pdf']): ?>
                                        <a class="btn btn-default btn-primary" href="<?php echo $this->baseUrl('/arqs/contrato/').$this->row['contrato_pdf']; ?>" target="_blank">Ver Contrato Anexado</a>
                                    <?php endif; ?>
                                </div>
                            </div>
  
                            <div class="col-sm-12 ">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-info pull-right">Salvar</button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row End -->



    </div>
    <!-- Left Sidebar End -->



</div>
<!-- Dashboard Wrapper End -->






<script type="text/javascript">

    //Data Tables
    $(document).ready(function () {
        //$.fn.dataTable.TableTools.defaults.aButtons = [ "copy", "csv", "xls" ];
        $('#data-table').dataTable({
            "bPaginate": false,
            "info": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/Portuguese-Brasil.json"
            }
            /*dom: 'T<"clear">lfrtip',
             tableTools: {
             "sSwfPath": "<?php echo $this->baseUrl("static/") ?>js/data-tables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
             }*/
        });
    });

</script>