<?php if ($this->pageCount > 1): ?> 
<ul class="Paginator list-inline">
    <?php if (isset($this->previous)): ?>
    <li class="Paginator-item">
        <a href="<?= $this->url(array('pag' => $this->previous)); ?>" class="Paginator-link Paginator-link--arrow">
            <i class="Icon Icon--arrowLeftBefore Paginator-arrow"></i>
        </a>
    </li>
    <?php endif; ?>
    <?php foreach ($this->pagesInRange as $page): ?>
    <li class="Paginator-item"><a href="<?php echo $this->url(array('pag' => $page)); ?>" class="Paginator-link <?php if ($page == $this->current): ?>active<?php endif; ?>"><?php echo $page; ?></a></li>
    <?php endforeach; ?>
    
    <?php if (isset($this->next)): ?>
    <li class="Paginator-item">
        <a href="<?= $this->url(array('pag' => $this->next)); ?>" class="Paginator-link Paginator-link--arrow">
            <i class="Icon Icon--arrowRightBefore Paginator-arrow"></i>
        </a>
    </li>
    <?php endif; ?>
</ul>

<?php endif; ?>


