<header class="Header Header--login">
      <div class="container">
        <?php echo $this->render('partial/navbar.phtml');?>
      </div>
    </header>
    <div class="container box-assinatura">
      <div class="row">
        <div class="col-xs-12 col-md-8">
            <ul class="Breadcrumbs Breadcrumbs--articles list-inline">
                <li class="Breadcrumbs-item"><a href="<?php echo $this->url(array(), "default", true); ?>" class="Breadcrumbs-link">Home</a></li>
                <li class="Breadcrumbs-item"><a href="<?php echo $this->url(array(), "blogs", true); ?>" class="Breadcrumbs-link active">Assinatura Mavip</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-lg-10 col-lg-offset-1 col-off">
          <section class="assinatura">
                <h2 class="tit-assinatura">Asinatura Mavip</h2>
                <div class="box-desk">
                    <p>A Consultoria de Registro da Marca com a Mavip mudou minha vida. Cuidaram da minha Marca e me ajudaram a empreender no meu negócio. <br><strong>Muxito</strong></p>
                    <img src="<?php echo $this->baseUrl('static/default/images/img-example.png')?>" alt="">
                </div>
                <div class="box-mob">
                    <img src="<?php echo $this->baseUrl('static/default/images/img-example.png')?>" alt="">
                    <p>A Consultoria de Registro da Marca com a Mavip mudou minha vida. Cuidaram da minha Marca e me ajudaram a empreender no meu negócio. <br><strong>Muxito</strong></p>
                </div>
                <div class="box-preco">
                    <div class="preco-assinatura">
                        <h3><span>R$</span>99<span>,97 <span>por mês</span></span></h3>
                        <a href="#">ASSINE AGORA</a>
                        <span>Entrada R$ 199,97</span>
                    </div>
                    <div class="texto-assinatura">
                        <ul>
                            <li>Taxa Federal (ME ou Pessoa Física)</li>
                            <li>Pedido de Registro do INPI</li>
                            <li>Acompanhamento or todo período</li>
                            <li>Taxa Federal 10 anos (ME ou Pessoa Física)</li>
                            <li>Registro 10 anos</li>
                        </ul>
                    </div>
                </div>
                <div class="boxs-info">
                    <h2 class="tit-assinatura">O que os assantes mais perguntam:</h2>
                    <div class="box-info">
                        <p>Por que devo contratar a Assinatura Mavip?</p>
                        <p>Para não ser enganado e ter certeza que seu pedido de registro está correto</p>
                        <div>Quase todas as empresas falam do Registro de marcas como se fosse uma caixa de chocolate que pegamos, pagamos e passamos a ter todo o direito sobre a caixa.<br/>
                            <br>Para se alcançar o Registro de sua marca é necessário 4 etapas <br>Pesquisa – Pedido de Registro – Acompanhamento - Registro <br />
                            <span>Somos transparentes com as informações. Com a Assinatura Mavip você contrata Todos os Serviços Básicos já com a taxa federal incluída.</span>
                        </div>
                    </div>
                </div>
                <div class="boxs-info">
                    <div class="box-info">
                        <p>Quanto tempo vou ter que pagar R$ 99,97 por mês?</h2>
                        <p>O INPI é quem determina quanto leva o exame do pedido de registro</p>
                        <div>
                            O Instituto Nacional da Propriedade Industrial - INPI <br>Tenta reduzir para 14 meses <br>Na prática 24 Meses <br>
                            <span>Pela Mavip você deixa de pagar por uma das três condições: <br> - Com o Registro da Marca <br> - Pela desistência do Pedido de Registro <br> - Pagando 48 mensalidades</span></p>
                        </div>
                    </div>
                </div>

                <div class="sua-marca">
                    <h2>SUA MARCA PROTEGIDA</h2>
                    <div>
                        <h3><span>R$</span>99<span>,97 <span>por mês</span></span></h3>
                        <a href="#">ASSINE AGORA</a>
                    </div>
                </div>

                <div class="depoimentos">
                    <h2>Opinião de quem já comprou</h2>
                    <ul>
                        <li>
                            <img src="<?php echo $this->baseUrl('static/default/images/img-example.png')?>" alt="">
                            <p><span>Qualitare</span>A Consultoria de Registro da Marca com a Mavip mudou minha vida. Cuidaram da minha Marca e me ajudaram a empreender no meu negócio. </p>
                        </li>
                        <li>
                            <img src="<?php echo $this->baseUrl('static/default/images/img-example.png')?>" alt="">
                            <p><span>Qualitare</span>A Consultoria de Registro da Marca com a Mavip mudou minha vida. Cuidaram da minha Marca e me ajudaram a empreender no meu negócio. </p>
                        </li>
                        <li>
                            <img src="<?php echo $this->baseUrl('static/default/images/img-example.png')?>" alt="">
                            <p><span>Qualitare</span>A Consultoria de Registro da Marca com a Mavip mudou minha vida. Cuidaram da minha Marca e me ajudaram a empreender no meu negócio. </p>
                        </li>
                    </ul>
                </div>
          </section>
        </div>
      </div>
    </div>
