<?php 
$loremIpsum = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit';
?>
<header class="Header Header--editAccount">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
        <?php echo $this->render('partial/navbar-home.phtml'); ?>
    </div>
</header>

<form onsubmit="$('#natureza').prop('disabled', false);" action="" class="Register" method="post">
    <div id="step2" class="container">
        <div class="row">
            <div class="col-xs-12">
                <section class="Register-box u-mb45">
                    <div class="Register-boxContent">

                    <ul class="Breadcrumbs list-inline">
                        <li class="Breadcrumbs-item" style="margin-right: 5px;"><a href="<?php echo $this->url(array('controller' => 'index'), 'default', true) ?>" class="Breadcrumbs-link">Home</a></li>
                        <li class="Breadcrumbs-item" style="width: 105px;"><a href="<?php echo $this->url(array('controller' => 'account'), 'default', true) ?>" class="Breadcrumbs-link">Minha conta</a></li>
                        <li class="Breadcrumbs-item"><a href="javascript:" class="Breadcrumbs-link active">Editar</a></li>             </ul>

                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <h1 class="Page-title Page-title--small u-mb45">Editar conta</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label">Natureza Jurídica<span title="<?php echo $this->tooltips['natureza_juridica'] ? $this->tooltips['natureza_juridica'] : $loremIpsum; ?>" class="QuestionMark Tooltip">?</span></label>
                                <?php echo $this->form->getElement('natureza'); ?>
                            </div>
                            <div class="Form-container col-xs-12 col-sm-6">
                                <?php
                                if ($this->user['cliente_natureza_id'] == 2):
                                    $label = "CPF";
                                else:
                                    $label = "CNPJ";
                                endif;
                                ?>
                                <label class="Form-label"> <span id="cnpj-alt"><?php echo $label; ?></span> <span title="<?php echo   $this->tooltips['cnpj'] ?  $this->tooltips['cnpj'] : $loremIpsum; ?>" class="QuestionMark Tooltip">?</span></label>

                                <?php echo $this->form->getElement('cnpj'); ?>
                                </div>

                                
                            </div>
                           <div class="row">
                            <div class="label_juridico_cpf">     
                                <div class="Form-container col-xs-6 col-sm-6">
                                    <label class="Form-label"> <span id="cpf-alt">CPF</span><span title="<?php echo   $this->tooltips['cnpj'] ?  $this->tooltips['cnpj'] : $loremIpsum; ?>" class="QuestionMark Tooltip">?</span> </label>
                                    <?php echo $this->form->getElement('cpf_pessoa_juridica'); ?>
                                </div>
                            </div>
                           
                        <div class="label-rg">     
                            <div class="Form-container col-xs-6 col-sm-6">
                                    <label class="Form-label"> <span id="rg-alt">RG</span> <span title="<?php echo $this->tooltips['rg'] ? $this->tooltips['rg'] : $loremIpsum; ?>" class="QuestionMark Tooltip">?</span></label>
                                    <?php echo $this->form->getElement('rg'); ?>
                                </div>
                        </div>
                        </div>
                        <div class="row label-nome">
                            <div class="Form-container col-xs-12">
                                <label class="Form-label">Nome completo</label>
                                <?php echo $this->form->getElement('nome'); ?>
                            </div>
                        </div>

                        <div class="row label-nome">
                            <div class="Form-container col-xs-12">
                                <label class="Form-label">Outro responsável</label>
                                <?php echo $this->form->getElement('nome2'); ?>
                            </div>
                        </div>

                        <?php if ($this->user['cliente_natureza_id'] != 2) { ?>
                            <div class="row label-razao">
                                <div class="Form-container col-xs-12">
                                    <label class="Form-label">Razão Social (Nome Empresarial)<span title="<?php echo $this->tooltips['razao_social'] ? $this->tooltips['razao_social'] : $loremIpsum; ?>" class="QuestionMark Tooltip">?</span></label>
                                    <?php echo $this->form->getElement('razao'); ?>
                                </div>
                            </div>
                        <?php } ?>

                        <div class="row">
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label">CEP</label>
                                <?php echo $this->form->getElement('cep'); ?>
                            </div>
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label">País</label>
                                <?php echo $this->form->getElement('pais'); ?>
                            </div>                            
                        </div>

                        <div class="row">
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label">Estado</label>
                                <?php echo $this->form->getElement('estado'); ?>
                            </div>
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label">Cidade</label>
                                <?php echo $this->form->getElement('cidade'); ?>
                            </div>
                        </div>


                        <div class="row">
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label">Logradouro</label>
                                <?php echo $this->form->getElement('logradouro'); ?>
                            </div>
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label">Bairro</label>
                                <?php echo $this->form->getElement('bairro'); ?>
                            </div>
                        </div>
                        <div class="row">
                            <div class="Form-container col-xs-12 col-sm-12">
                                    <label class="Form-label">No / Complemento</label>
                                    <?php echo $this->form->getElement('complemento'); ?>
                            </div>
                        </div>

                        <div class="row">
                            <div class="Form-container col-xs-12 col-sm-3">
                                <label class="Form-label">Telefone</label>
                                <?php echo $this->form->getElement('telefone'); ?>
                            </div>
                            <div class="Form-container col-xs-12 col-sm-3">
                                <label class="Form-label">Celular</label>
                                <?php echo $this->form->getElement('celular'); ?>
                            </div>
                            <div class="Form-container col-xs-12 col-sm-3">
                                <label class="Form-label">Email</label>
                                <?php echo $this->form->getElement('email'); ?>
                            </div>
                            <div class="Form-container col-xs-12 col-sm-3">
                                <label class="Form-label">Login</label><br>
                                <input class="Form-input" type="text" value="<?=$this->user['login']?>" disabled /> 
                            </div>
                            <!--<div class="Form-container col-xs-12 col-sm-4">-->
                            <!--<label class="Form-label">Fax</label>-->
                            <?php //echo $this->form->getElement('fax');?>
                            <!--</div>-->
                        </div>
                        <div class="row">

                            <div class="Form-container col-xs-12 col-sm-12">
                                <label class="Form-checkLabel">
                                    <div class="Form-checkContainer">
                                        <input type="checkbox" class="Form-checkInput checkLoginSenha"><span class="Form-checkbox"></span>
                                    </div>
                                    <span class="texto-inip"> Alterar Senha</span>
                                </label>
                            </div>
                            <div class="login-senhas" style="display: none;">
                                <div class="Form-container col-xs-12 col-sm-6">
                                    <label class="Form-label">Senhas<span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span></label>
                                    <?php echo $this->form->getElement('senha'); ?>
                                </div>
                                <div class="Form-container col-xs-12 col-sm-6">
                                    <label class="Form-label">Confirmar Senha<span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span></label>
                                    <?php echo $this->form->getElement('senha_confirm'); ?>
                                </div>
                            </div>


                            <?php //if (!$this->user['cliente_natureza_id']): ?>
                            <div class="Form-container col-xs-12 col-sm-12">
                                <label class="Form-checkLabel">
                                    <div class="Form-checkContainer">
                                        <input type="checkbox" name="inipi" value="2" class="Form-checkInput checkLoginInpi"><span class="Form-checkbox"></span>
                                    </div>
                                    <span class="texto-inip"> Já tenho conta no INPI</span>
                                </label>
                            </div>

                            <div class="login-inip">
                                <div class="Form-container  col-xs-12 col-sm-6" style="width: 50%">
                                    <label class="Form-label">Login no INPI<span title="Utilize seu login no INPI." class="QuestionMark Tooltip">?</span></label>
                                    <?php echo $this->form->getElement('inpi_login'); ?>
                                    <span class="inpi_login alert-campos campos2">Campo obrigatório. Preencha corretamente.</span>
                                    <span class="inpi_login radio-red radio2">X</span>
                                    <span class="inpi_logininvalido alert-campos campos2">Login ou senha do INPI não confere.</span>
                                    <span class="inpi_logininvalido radio-red radio2">X</span>
                                </div>
                                <div class="Form-container  col-xs-12 col-sm-6" style="width: 50%">
                                    <label class="Form-label">Senha do INPI<span title="Utilize sua senha do INPI" class="QuestionMark Tooltip">?</span></label>
                                    <?php echo $this->form->getElement('inpi_senha'); ?>
                                    <span class="inpi_senha alert-campos campos2">Campo senha vazio ou diferente.</span>
                                    <span class="inpi_senha radio-red radio2">X</span>
                                </div>
                                <div class="Form-container  col-xs-12 col-sm-12"><a href="https://gru.inpi.gov.br/e-inpi/senha/PesquisarPorCpfCnpj.jsp" target="_blank" class="Login-forgotPassword">Esqueci login ou senha do INPI</a></div>
                            </div>
                            <?php //endif; ?>



                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <button class="Button Button--full u-mb45">Salvar alterações</button>
            </div>
        </div>

        <div class="row container-contato-account">
            <h3 class="title-duvidas-account">Dúvidas ?</h3>
            <h5 class="fone-mavip-account">Telefone: (11) 3042-3321</h5>
            <a href="javascript:void(Tawk_API.toggle())" class="btn-falar-com-mavip">Falar com a mavip <i class="fa fa-comment" aria-hidden="true"></i></a>
        </div> 
    </div>

    <div class="Form-container col-xs-12 col-sm-6" style="visibility: hidden;">
        <label class="Form-label">Pergunta secreta<span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span></label>
        <?php echo $this->form->getElement('pergunta'); ?>
    </div>
    <div class="Form-container col-xs-12 col-sm-6" style="visibility: hidden;">
        <label class="Form-label">Resposta secreta<span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span></label>
        <?php echo $this->form->getElement('resposta'); ?>
    </div>

</form>