<header class="Header Header--servicePanel__headerAccount">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
    </div>
</header>

<?php /*
<?php if (count($this->banner) > 0) { ?>
<div class="container container-banner-rotativo">
    <div class="container-full-rotativo">
        <ul class="bannerotativo list-unstyled">
            <?php foreach ($this->banner as $value) { ?>
            <li class="bannerotativo-item text-center">
                <img src="<?php echo $this->baseUrl('arqs/banner/' . $value['arquivo']) ?>" alt="banner rotativo">
            </li>
            <?php } ?>
        </ul>
    </div>
    <div class="owl-controls">
        <div class="owl-dots"></div>
    </div>
</div>
<?php } ?>
*/ ?>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="Content-account Content Content--order">
                <header class="Content-header Content-header--servicePanel col-xs-12">
                    <ul class="Breadcrumbs list-inline">
                        <li class="Breadcrumbs-item"><a href="<?php echo $this->url(array('controller' => 'index'), 'default', true) ?>" class="Breadcrumbs-link">Home</a></li>
                        <li class="Breadcrumbs-item"><a href="javascript:" class="Breadcrumbs-link active">Minha conta</a></li>
                    </ul>
                    <div class="row">
                        <div class="Content-headerContainer col-xs-12 col-md-6">
                            <h2 class="Content-headerTitle u-noMarginTop">Olá, <?php echo $this->user['nome']; ?> </h2>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <ul class="Content-options list-inline">
                                <li class="Content-option"><a href="<?php echo $this->url(array('controller' => 'account', 'action' => 'edit'), 'default', true) ?>" class="Content-optionLink">Editar meus dados</a></li>
                                <li class="Content-option"><a href="<?php echo $this->url(array('controller' => 'account', 'action' => 'logout'), 'default', true) ?>" class="Content-optionLink">Sair</a></li>
                            </ul>
                        </div>
                    </div>
                </header>

                <div class="row container-contato-account">
                    <h3 class="title-duvidas-account">Dúvidas ?</h3>
                    <h5 class="fone-mavip-account">Telefone: (11) 3042-3321</h5>
                    <a href="javascript:void(Tawk_API.toggle())" class="btn-falar-com-mavip">Falar com a mavip <i class="fa fa-comment" aria-hidden="true"></i></a>
                </div>
                <?php foreach ($this->marcas as $mar) : ?>
                    <div class="row top-content">
                        <div class="col-xs-6 col-md-9" style="color: #9b58b6">
                            <p class="ServiceItem-infoText text-bold tit-marca">
                            <div class="col-md-5" style="padding-top: 10px">
                                <strong class="tit-marca">
                                    <?php echo $mar['marca']; ?>
                                    <?php
                                    $marcaHistórico = new Application_Model_Marca();
                                    $verificaRegistro = $marcaHistórico->getHistorico($mar['marca_id']);
                                    foreach ($verificaRegistro as $vr) : ?>
                                        <?php if ($vr['codigo_despacho'] == 'IPAS158') : ?>
                                            <img src="<?= $this->baseUrl('static/default/images/rm.png') ?>" width="15px" style="padding-bottom: 25px" alt='' />
                                        <?php endif; ?>
                                    <? endforeach; ?>
                                    <?php echo $mar['processo'] ? ' - ' . number_format($mar['processo'], 0, null, ".") : ''; ?>
                                </strong>
                            </div>
                            <div class="col-md-7">
                                <?php
                                $acomp = false;
                                if ($mar['acompanhamento'] && $mar['data_acompanhamento']) : ?>
                                    <?php
                                    $data = new Zend_Date($mar['data_acompanhamento']);
                                    $dataAcomp =  $data->get('dd/MM/yyyy');

                                    $dataAtual = date('y-m-d');
                                    $dtAcomp = $data->get('yyyy-MM-dd');
                                    if (strtotime($dtAcomp) >=  strtotime($dataAtual)) {
                                        $acomp = true;
                                    }
                                    ?>


                                    <strong>Fim da Proteção <img src="<?= $this->baseUrl('static/default/images/acompanhamento.png') ?>" width="15px" style="padding-bottom: 25px" alt='' /> <span style="color: red; padding-left: 5px"> <?= $dataAcomp ?> </span></strong>
                                <?php endif; ?>
                            </div>
                            </p>

                        </div>

                        <?php if ((($mar['estilo'] == 'mista' and !$mar['logo']))) : ?>
                            <div class="formulario-descricao">
                                <span class="modal-descricao"></span>

                                <form action="<?php echo $this->url(array('action' => 'atualiza-marca')); ?>" id="descricao__marca" method="post" enctype="multipart/form-data">
                                    <span class="fechar-form">x</span>
                                    <input type="hidden" name="marca" value="<?php echo $mar['marca_id']; ?>">
                                    <fieldset style="position: relative; <?php if (!($mar['estilo'] == 'mista' and !$mar['logo'])) : ?>display: none;<?php endif; ?>">
                                        <label class="Button">Selecionar seu logotipo</label>
                                        <input type="file" name="logo" accept="image/*">
                                    </fieldset>

                                    <fieldset>
                                        <input type="submit" class="Button enviar-desc" value="Enviar">
                                        <label style="display: block; width: 100%; margin-top:5px;text-align: center;font-size: 12px;color:#fff;">*:O processo só será iniciado após o preenchimento deste formulário.</label>
                                    </fieldset>
                                </form>
                            </div>
                        <?php endif; ?>
                        <div class="ServiceItem-headerInfoContainer col-xs-6 col-md-3 text-center">
                            <button class="Button Button--small ServiceItem-toggleDetails u-buttonPadding bt-ocultar bt-ativo" data-id="<?php echo $mar['id']; ?>">Mostrar detalhes</button>
                        </div>
                    </div>

                    <main class="Content-main col-xs-12 container-historico">

                        <div class="ServiceItem" id="marca_<?php echo $mar['id']; ?>" style="display: none;">

                            <header class="ServiceItem-header row">
                                <div class="col-xs-12 col-md-3 col-lg-3">
                                    <h3 class="ServiceItem-headerTitle">Serviço</h3>
                                </div>
                                <div class="col-xs-12 col-md-3 col-lg-3">
                                    <h3 class="ServiceItem-headerTitle">Descrição da marca</h3>
                                </div>
                                <div class="hidden-xs col-md-2">
                                    <h3 class="ServiceItem-headerTitle text-center">Controle</h3>
                                </div>
                                <div class="hidden-xs col-md-2">
                                    <h3 class="ServiceItem-headerTitle text-center">Data do pedido</h3>
                                </div>
                                <div class="hidden-xs col-md-2">
                                    <h3 class="ServiceItem-headerTitle text-center">Status</h3>
                                </div>
                            </header>


                            <div class="ServiceItem-headerInfo row" style="">

                                <div class="ServiceItem-headerInfoContainer hidden-xs col-md-3 col-lg-3">
                                    <p class="ServiceItem-infoText text-center">
                                        <?php
                                        echo $mar["titulo"];
                                        $texto = $mar["titulo"];
                                        $red = ($mar['mar'] == 22) ? 'red' : '';
                                        ?>
                                    </p>
                                </div>

                                <div class="ServiceItem-headerInfoContainer hidden-xs col-md-3">
                                    <p class="ServiceItem-infoText text-center"><?php // echo $mar['descricao']; 
                                                                                ?></p>
                                </div>

                                <div class="ServiceItem-headerInfoContainer hidden-xs col-md-2">
                                    <p class="ServiceItem-infoText text-center">MBR<?php echo $mar['id_pedido'] ?></p>
                                </div>

                                <div class="ServiceItem-headerInfoContainer hidden-xs col-md-2">
                                    <p class="ServiceItem-infoText text-center"><?php
                                                                                $data = new Zend_Date($mar['data_pedido']);
                                                                                echo $data->get('dd/MM/yyyy');
                                                                                ?></p>
                                </div>

                                <div class="ServiceItem-headerInfoContainer hidden-xs col-md-2">
                                    <p class="text-center" style="font-size: 18px">
                                        <?php if ($mar['acompanhamento'] && !$acomp) {
                                            echo "<span style='color: red; font-size: 12px'>Acomp. Expirado</span>";
                                        } else {
                                            echo $mar['status'];
                                        }
                                        ?>
                                </div>

                            </div>


                            <div class="ServiceItem-details row">

                                <?php if ($mar['acompanhamento'] && $acomp) : ?>
                                    <?php
                                    $marcaHistórico = new Application_Model_Marca();
                                    $historico = $marcaHistórico->getHistorico($mar['marca_id']);
                                    $his = null;
                                    $data = null;
                                    ?>
                                    <div class="ServiceItem-history col-xs-12">
                                        <h2 class="Page-title Page-title--small">Histórico</h2>
                                        <ul class="ServiceItem-historyItems list-unstyled">
                                            <?php $registro = array(); ?>
                                            <?php foreach ($historico as $his) : ?>

                                                <li class="ServiceItem-historyItem <?php echo $this->colorHistorico($his['codigo_despacho']); ?>"><span class="ServiceItem-historyDate">
                                                        <?php
                                                        if ($his['data'])
                                                            $data = new Zend_Date($his['data']);
                                                        else
                                                            $data = new Zend_Date($mar['data_pedido']);

                                                        echo $data->get('dd/MM/yyyy'); ?>
                                                    </span><span class="ServiceItem-historyText"><?php echo $his['texto']; ?></span></li>
                                            <?php endforeach; ?>

                                        </ul>
                                    </div>

                                <?php elseif ($mar['acompanhamento'] && !$acomp) : ?>
                                    <div class="ServiceItem-history col-xs-12" style="display: flex">
                                        <h2 class="Page-title Page-title--small">Histórico</h2>
                                        <span style="padding-left: 40%; color: red; padding-top: 30px; font-weight: 600"> - Bloqueado - </span>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>


                        <footer class="ServiceItem-footer row">
                            <?php if ($acomp) : ?>
                                <span class="ServiceItem-footerActionName">Última atualização:
                                    <span class="aviso-data">
                                        <span><?php echo $data ? $data->get('dd/MM/yyyy') :  "";  ?></span>
                                        <strong style="color:red;"><?php echo $texto ? $texto : 'Sem informativos'; ?></strong>
                                    </span>
                                    <span title="Segundo o INPI o acompanhamento é de responsabilidade do Empresário titular da marca. Contrate o acompanhamento Mavip e fique tranquilo, nós te enformaremos o que está acontecendo com teu(s) processo(s)." class="QuestionMark QuestionMark--dark Tooltip Tooltip--dark">?</span></span>

                                <?php
                                $processoMapper = new Application_Model_Processo();
                                $processos = $processoMapper->getById($mar["marca_id"]);
                                $i = 1;
                                ?>

                                <div class="box_arquivos_download">
                                    <span class="ServiceItem-footerActionName">Acompanhamento <br>
                                        <?php if ($mar['publicacao_inpi']) : ?>
                                            <?php $dataPublicacao = new Zend_Date($mar['publicacao_inpi']); ?>
                                            <span style="padding-left: 20px;"> <img src="<?= $this->baseUrl('static/default/images/rm.png') ?>" width="15px" style="padding-bottom: 15px; margin-right: 5px" alt='' />Registro Início: <span style="color: #9b58b6; font-weight: 400;"><?php echo $dataPublicacao->get('dd/MM/yyyy') ?></span></span>
                                            <span style="padding-left: 15px;">Fim: <span style="color: #9b58b6; font-weight: 400"><?php echo date('d/m/Y', strtotime('+10 years', strtotime($mar['publicacao_inpi']))); ?></span></span>
                                            <br>
                                        <?php endif;  ?>

                                        <span style="padding-left: 20px;"> <img src="<?= $this->baseUrl('static/default/images/acompanhamento.png') ?>" width="15px" style="padding-bottom: 15px; margin-right: 5px" alt='' /> Data de Expiração: </span>
                                        <span style="color: red !important; font-size: 14px"><?= $dataAcomp ?></span>

                                    </span>
                                </div>
                            <?php endif; ?>

                            <?php if (!empty($processos)) : ?>
                                <?php $tam = count($processos); ?>
                                <div class="box_arquivos_download">
                                    <span class="ServiceItem-footerActionName">Arquivos Download:</span>
                                    <ul class="list_arquivos_download">
                                        <?php foreach ($processos as $value) : ?>
                                            <li>
                                                <a target="_blank" href="<?php echo $this->baseUrl('arqs/processo/' . $value['arquivo']); ?>" class="btn btn-default">
                                                    <?php echo $value['descricao']; ?>
                                                </a>
                                                <?php if ($i != $tam) : ?>
                                                    ,
                                                <?php endif;
                                                $i++; ?>
                                            </li>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            <?php endif; ?>
                            <hr>
                            <p style="text-align: left; float: left;  width: 100%;">
                                <?php if ($mar['acompanhamento'] &&  !$acomp) : ?>
                                    <a href="<?php echo $this->url(array(), 'servicos', true); ?>" class="Button Button--small" style="padding: 13px; height: 75px !important; width: 300px; text-align: center; margin-left: 33%"> Contratar <br> Acompanhamento</a>
                                <? elseif ($mar['observacao']) : ?>
                                    <span class="ServiceItem-footerActionName" style="margin-left: 20px">Observações: <span style="color: #9b58b6;"><?= $mar['observacao'] ?></span> </span>
                                <? endif; ?>
                            </p>
                        </footer>
                    </main>

                <?php endforeach; ?>

            </div>

            <?php    if (count($this->espelhamentos)) : ?>

                   <div class="row container-contato-account Content-account Content Content--order">
                        <h3 style="color: #ff6806; font-weight: 600 !important;"> Processos de interesse </h3>

                <?php foreach ($this->espelhamentos as $mar) : ?>
                    <div class="row top-content">
                        <div class="col-xs-6 col-md-9" style="color: #9b58b6">
                            <p class="ServiceItem-infoText text-bold tit-marca">
                            <div class="col-md-5" style="padding-top: 10px">
                                <strong class="tit-marca">
                                    <?php echo $mar['marca']; ?>
                                    <?php
                                    $marcaHistórico = new Application_Model_Marca();
                                    $verificaRegistro = $marcaHistórico->getHistorico($mar['marca_id']);
                                    foreach ($verificaRegistro as $vr) : ?>
                                        <?php if ($vr['codigo_despacho'] == 'IPAS158') : ?>
                                            <img src="<?= $this->baseUrl('static/default/images/rm.png') ?>" width="15px" style="padding-bottom: 25px" alt='' />
                                        <?php endif; ?>
                                    <? endforeach; ?>
                                    <?php echo $mar['processo'] ? ' - ' . number_format($mar['processo'], 0, null, ".") : ''; ?>
                                </strong>
                            </div>
                            <div class="col-md-7">
                                <?php
                                $acomp = false;
                                if ($mar['acompanhamento'] && $mar['data_acompanhamento']) : ?>
                                    <?php
                                    $data = new Zend_Date($mar['data_acompanhamento']);
                                    $dataAcomp =  $data->get('dd/MM/yyyy');

                                    $dataAtual = date('y-m-d');
                                    $dtAcomp = $data->get('yyyy-MM-dd');
                                    if (strtotime($dtAcomp) >=  strtotime($dataAtual)) {
                                        $acomp = true;
                                    }
                                    ?>


                                    <strong>Fim da Proteção <img src="<?= $this->baseUrl('static/default/images/acompanhamento.png') ?>" width="15px" style="padding-bottom: 25px" alt='' /> <span style="color: red; padding-left: 5px"> <?= $dataAcomp ?> </span></strong>
                                <?php endif; ?>
                            </div>
                            </p>

                        </div>

                        <?php if ((($mar['estilo'] == 'mista' and !$mar['logo']))) : ?>
                            <div class="formulario-descricao">
                                <span class="modal-descricao"></span>

                                <form action="<?php echo $this->url(array('action' => 'atualiza-marca')); ?>" id="descricao__marca" method="post" enctype="multipart/form-data">
                                    <span class="fechar-form">x</span>
                                    <input type="hidden" name="marca" value="<?php echo $mar['marca_id']; ?>">
                                    <fieldset style="position: relative; <?php if (!($mar['estilo'] == 'mista' and !$mar['logo'])) : ?>display: none;<?php endif; ?>">
                                        <label class="Button">Selecionar seu logotipo</label>
                                        <input type="file" name="logo" accept="image/*">
                                    </fieldset>

                                    <fieldset>
                                        <input type="submit" class="Button enviar-desc" value="Enviar">
                                        <label style="display: block; width: 100%; margin-top:5px;text-align: center;font-size: 12px;color:#fff;">*:O processo só será iniciado após o preenchimento deste formulário.</label>
                                    </fieldset>
                                </form>
                            </div>
                        <?php endif; ?>
                        <div class="ServiceItem-headerInfoContainer col-xs-6 col-md-3 text-center">
                            <button class="Button Button--small ServiceItem-toggleDetails u-buttonPadding bt-ocultar bt-ativo" data-id="<?php echo $mar['id']; ?>">Mostrar detalhes</button>
                        </div>
                    </div>

                    <main class="Content-main col-xs-12 container-historico">

                        <div class="ServiceItem" id="marca_<?php echo $mar['id']; ?>" style="display: none;">

                            <header class="ServiceItem-header row">
                                <div class="col-xs-12 col-md-3 col-lg-3">
                                    <h3 class="ServiceItem-headerTitle">Serviço</h3>
                                </div>
                                <div class="col-xs-12 col-md-3 col-lg-3">
                                    <h3 class="ServiceItem-headerTitle">Descrição da marca</h3>
                                </div>
                                <div class="hidden-xs col-md-2">
                                    <h3 class="ServiceItem-headerTitle text-center">Controle</h3>
                                </div>
                                <div class="hidden-xs col-md-2">
                                    <h3 class="ServiceItem-headerTitle text-center">Data do pedido</h3>
                                </div>
                                <div class="hidden-xs col-md-2">
                                    <h3 class="ServiceItem-headerTitle text-center">Status</h3>
                                </div>
                            </header>


                            <div class="ServiceItem-headerInfo row" style="">

                                <div class="ServiceItem-headerInfoContainer hidden-xs col-md-3 col-lg-3">
                                    <p class="ServiceItem-infoText text-center">
                                        <?php
                                        echo $mar["titulo"];
                                        $texto = $mar["titulo"];
                                        $red = ($mar['mar'] == 22) ? 'red' : '';
                                        ?>
                                    </p>
                                </div>

                                <div class="ServiceItem-headerInfoContainer hidden-xs col-md-3">
                                    <p class="ServiceItem-infoText text-center"><?php // echo $mar['descricao']; 
                                                                                ?></p>
                                </div>

                                <div class="ServiceItem-headerInfoContainer hidden-xs col-md-2">
                                    <p class="ServiceItem-infoText text-center">MBR<?php echo $mar['id_pedido'] ?></p>
                                </div>

                                <div class="ServiceItem-headerInfoContainer hidden-xs col-md-2">
                                    <p class="ServiceItem-infoText text-center"><?php
                                                                                $data = new Zend_Date($mar['data_pedido']);
                                                                                echo $data->get('dd/MM/yyyy');
                                                                                ?></p>
                                </div>

                                <div class="ServiceItem-headerInfoContainer hidden-xs col-md-2">
                                    <p class="text-center" style="font-size: 18px">
                                        <?php if ($mar['acompanhamento'] && !$acomp) {
                                            echo "<span style='color: red; font-size: 12px'>Acomp. Expirado</span>";
                                        } else {
                                            echo $mar['status'];
                                        }
                                        ?>
                                </div>

                            </div>


                            <div class="ServiceItem-details row">

                                <?php if ($mar['acompanhamento'] && $acomp) : ?>
                                    <?php
                                    $marcaHistórico = new Application_Model_Marca();
                                    $historico = $marcaHistórico->getHistorico($mar['marca_id']);
                                    $his = null;
                                    $data = null;
                                    ?>
                                    <div class="ServiceItem-history col-xs-12">
                                        <h2 class="Page-title Page-title--small">Histórico</h2>
                                        <ul class="ServiceItem-historyItems list-unstyled">
                                            <?php $registro = array(); ?>
                                            <?php foreach ($historico as $his) : ?>

                                                <li class="ServiceItem-historyItem <?php echo $this->colorHistorico($his['codigo_despacho']); ?>"><span class="ServiceItem-historyDate">
                                                        <?php
                                                        if ($his['data'])
                                                            $data = new Zend_Date($his['data']);
                                                        else
                                                            $data = new Zend_Date($mar['data_pedido']);

                                                        echo $data->get('dd/MM/yyyy'); ?>
                                                    </span><span class="ServiceItem-historyText"><?php echo $his['texto']; ?></span></li>
                                            <?php endforeach; ?>

                                        </ul>
                                    </div>

                                <?php elseif ($mar['acompanhamento'] && !$acomp) : ?>
                                    <div class="ServiceItem-history col-xs-12" style="display: flex">
                                        <h2 class="Page-title Page-title--small">Histórico</h2>
                                        <span style="padding-left: 40%; color: red; padding-top: 30px; font-weight: 600"> - Bloqueado - </span>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>


                        <footer class="ServiceItem-footer row">
                            <?php if ($acomp) : ?>
                                <span class="ServiceItem-footerActionName">Última atualização:
                                    <span class="aviso-data">
                                        <span><?php echo $data ? $data->get('dd/MM/yyyy') :  "";  ?></span>
                                        <strong style="color:red;"><?php echo $texto ? $texto : 'Sem informativos'; ?></strong>
                                    </span>
                                    <span title="Segundo o INPI o acompanhamento é de responsabilidade do Empresário titular da marca. Contrate o acompanhamento Mavip e fique tranquilo, nós te enformaremos o que está acontecendo com teu(s) processo(s)." class="QuestionMark QuestionMark--dark Tooltip Tooltip--dark">?</span></span>

                                <?php
                                $processoMapper = new Application_Model_Processo();
                                $processos = $processoMapper->getById($mar["marca_id"]);
                                $i = 1;
                                ?>

                                <div class="box_arquivos_download">
                                    <span class="ServiceItem-footerActionName">Acompanhamento <br>
                                        <?php if ($mar['publicacao_inpi']) : ?>
                                            <?php $dataPublicacao = new Zend_Date($mar['publicacao_inpi']); ?>
                                            <span style="padding-left: 20px;"> <img src="<?= $this->baseUrl('static/default/images/rm.png') ?>" width="15px" style="padding-bottom: 15px; margin-right: 5px" alt='' />Registro Início: <span style="color: #9b58b6; font-weight: 400;"><?php echo $dataPublicacao->get('dd/MM/yyyy') ?></span></span>
                                            <span style="padding-left: 15px;">Fim: <span style="color: #9b58b6; font-weight: 400"><?php echo date('d/m/Y', strtotime('+10 years', strtotime($mar['publicacao_inpi']))); ?></span></span>
                                            <br>
                                        <?php endif;  ?>

                                        <span style="padding-left: 20px;"> <img src="<?= $this->baseUrl('static/default/images/acompanhamento.png') ?>" width="15px" style="padding-bottom: 15px; margin-right: 5px" alt='' /> Data de Expiração: </span>
                                        <span style="color: red !important; font-size: 14px"><?= $dataAcomp ?></span>

                                    </span>
                                </div>
                            <?php endif; ?>

                            <?php if (!empty($processos)) : ?>
                                <?php $tam = count($processos); ?>
                                <div class="box_arquivos_download">
                                    <span class="ServiceItem-footerActionName">Arquivos Download:</span>
                                    <ul class="list_arquivos_download">
                                        <?php foreach ($processos as $value) : ?>
                                            <li>
                                                <a target="_blank" href="<?php echo $this->baseUrl('arqs/processo/' . $value['arquivo']); ?>" class="btn btn-default">
                                                    <?php echo $value['descricao']; ?>
                                                </a>
                                                <?php if ($i != $tam) : ?>
                                                    ,
                                                <?php endif;
                                                $i++; ?>
                                            </li>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            <?php endif; ?>
                            <hr>
                            <p style="text-align: left; float: left;  width: 100%;">
                                <?php if ($mar['acompanhamento'] &&  !$acomp) : ?>
                                    <a href="<?php echo $this->url(array(), 'servicos', true); ?>" class="Button Button--small" style="padding: 13px; height: 75px !important; width: 300px; text-align: center; margin-left: 33%"> Contratar <br> Acompanhamento</a>
                                <? elseif ($mar['observacao']) : ?>
                                    <span class="ServiceItem-footerActionName" style="margin-left: 20px">Observações: <span style="color: #9b58b6;"><?= $mar['observacao'] ?></span> </span>
                                <? endif; ?>
                            </p>
                        </footer>
                    </main>

                <?php endforeach; ?>

            </div>

            <?php endif; ?>

        </div>
    </div>
</div>