<style>

.bootstrap-datetimepicker-widget {
  margin-bottom: -530px !important;
  margin-left: 45px !important;
}
</style>



<header class="Header Header--register">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
        <?php echo $this->render('partial/navbar-home.phtml'); ?>
    </div>
</header>
<form action="" class="Register" id="form_new" method="post">
    <div id="step1" class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                <section class="Register-box">
                    <div class="Register-boxContent">
                    <ul class="Breadcrumbs list-inline">
                      <li class="Breadcrumbs-item" style="margin-right: 5px;"><a href="<?php echo $this->url(array('controller' => 'index'), 'default', true) ?>" class="Breadcrumbs-link">Home</a></li>
                      <li class="Breadcrumbs-item" style="width: 105px;"><a href="<?php echo $this->url(array('controller' => 'account'), 'default', true) ?>" class="Breadcrumbs-link">Minha conta</a></li>
                      <li class="Breadcrumbs-item"><a href="javascript:" class="Breadcrumbs-link active">Informações da marca</a></li>
                    </ul>
                        <header class="Register-header">
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-md-offset-3">
                                    <ul class="Register-steps list-inline row">
                                        <li class="Register-step col-xs-12"><span class="step-n1 step-active  Register-stepNumber">1</span><span class="Register-stepText">Informações da marca</span></li>


                                    </ul>
                                </div>
                            </div>
                        </header>
                        <div class="row form">

                            <div class="Form-container">
                                <label class="Form-label">Marca<span title="Nome da marca registrada no INPI" class="QuestionMark Tooltip">?</span></label>
                                <?php echo $this->form->getElement('marca'); ?>
                                <span class="marca alert-campos campos2">Campo senha vazio ou diferente.</span>
                                <span class="marca radio-red radio2">X</span>
                            </div>
                            <?php if ($this->servico == 19) { ?>

                            <?php } else if ($this->servico == 20) { ?>

                            <?php } else { ?>
                                <div class="Form-container">
                                    <label class="Form-label">Número do Processo<span title="número do processo junto ao INPI" class="QuestionMark Tooltip">?</span></label>
                                    <?php echo $this->form->getElement('marca_processo'); ?>
                                    <span class="marca alert-campos campos2">Campo senha vazio ou diferente.</span>
                                    <span class="marca radio-red radio2">X</span>
                                    <span>Insira aqui o número do processo ou deixe em branco.</span>
                                </div>
                            <?php }
                            
                             if ($this->servico == 2 ||$this->servico == 8 || $this->servico == 9) { ?>
                                <div class="Form-container">
                                    <div class="form-group">
                                        <label class="Form-label">Data da Publicação do Processo<span title="Data da publicação do processo"></span></label>
                                        <?php echo $this->form->getElement('data_publicacao_processo'); ?>
                                        <span class="marca alert-campos campos2">Campo senha vazio ou diferente.</span>
                                        <span class="marca radio-red radio2">X</span>
                                    </div>

                                </div>

                          <?php  } ?>
                           
                        </div>
                    </div>
                </section>


                <section class="Next Next--one">
                    <div class="">
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-md-offset-4">
                                <button data-step="1" type="submit" class="Button Button--full  text-center">Prosseguir</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


</form>
