<header class="Header Header--register">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
        <?php echo $this->render('partial/navbar-register.phtml'); ?>
    </div>
</header>
<form action="" class="Register" id="form_register" method="post">
    <div id="step1" class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                <section class="Register-box">
                    <div class="Register-boxContent">
                        <header class="Register-header">
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-md-offset-3">
                                    <ul class="Register-steps list-inline row">
                                        <li class="Register-step col-xs-6"><span class="step-n1 step-active  Register-stepNumber">1</span><span class="Register-stepText">Informações Pessoais</span></li>
                                        <li class="Register-step col-xs-6"><span class="step-n2 Register-stepNumber">2</span><span class="Register-stepText">Informações da Empresa</span></li>

                                    </ul>
                                </div>
                            </div>
                        </header>
                        <div class="row form">
                            <div class="Form-container col-xs-12">
                                <label class="Form-label">Nome do Responsável</label>
                                <?php echo $this->form->getElement('nome'); ?>
                                <span class="nome alert-campos campos2">Campo obrigatório. Preencha corretamente.</span>
                                <span class="nome radio-red radio2">X</span>
                            </div>
                            <div class="Form-container col-xs-12">
                                <label class="Form-label">Outro Responsável</label>
                                <?php echo $this->form->getElement('nome2'); ?>
                                <span class="nome radio-red radio2">X</span>
                            </div>
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label">E-mail</label>
                                <?php echo $this->form->getElement('email'); ?>
                                <span class="email alert-campos campos2">E-mail informado incorretamente ou vazio</span>
                                <span class="email radio-red radio2">X</span>
                            </div>
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label">Login<span title="Crie um usuário para ferramenta Mavip que será o mesmo do INPI." class="QuestionMark Tooltip">?</span></label>
                                <?php echo $this->form->getElement('login'); ?>
                                <span class="login alert-campos campos2">Campo obrigatório. Preencha corretamente.</span>
                                <span class="login radio-red radio2">X</span>
                                <span class="logininvalido alert-campos campos2">Login já existente, escolha um outro.</span>
                                <span class="logininvalido radio-red radio2">X</span>
                            </div>
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label">Senha<span title="Utilize no mínimo 8 caracteres, sendo número(s), maiúscula(s), minúscula(s) e caracteres especiais. Para aumentar sua própria segurança. A senha é pessoal e intransferível." class="QuestionMark Tooltip">?</span></label>
                                <?php echo $this->form->getElement('senha'); ?>
                                <span class="senha alert-campos campos2">Campo senha vazio ou diferente.</span>
                                <span class="senha radio-red radio2">X</span>
                            </div>
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label">Confirmar Senha<span title="Repetir a senha conforme foi digitada no campo de senha" class="QuestionMark Tooltip">?</span></label>
                                <?php echo $this->form->getElement('senha_confirm'); ?>
                                <span class="confirmar-senha alert-campos campos2">Campo senha vazio ou diferente.</span>
                                <span class="confirmar-senha radio-red radio2">X</span>
                            </div>
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label">Pergunta secreta<span title="Crie uma pergunta secreta para identificarmos você quando houver necessidade." class="QuestionMark Tooltip">?</span></label>
                                <?php echo $this->form->getElement('pergunta'); ?>
                                <span class="pergunta alert-campos campos2">Campo obrigatório. Preencha corretamente.</span>
                                <span class="pergunta radio-red radio2">X</span>
                            </div>
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label">Resposta secreta<span title="A Resposta Secreta deve ser simples e fácil de memorizar por Você." class="QuestionMark Tooltip">?</span></label>
                                <?php echo $this->form->getElement('resposta'); ?>
                                <span class="perg-secreta alert-campos campos2">Campo obrigatório. Preencha corretamente.</span>
                                <span class="perg-secreta radio-red radio2">X</span>
                            </div>

                            <?php if ($this->servico AND $this->servico != 1): ?>
                            
                            <input type="hidden" name="inpi" id="inpi-selecionado" value="2" />
                            <div class="col-md-12">
                                <div class="Form-container">
                                    <label class="Form-label">Login no INPI<span title="Utilize seu login no INPI." class="QuestionMark Tooltip">?</span></label>
                                    <?php echo $this->form->getElement('inpi_login'); ?>
                                    <span class="inpi_login alert-campos campos2">Campo obrigatório. Preencha corretamente.</span>
                                    <span class="inpi_login radio-red radio2">X</span>
                                    <span class="inpi_logininvalido alert-campos campos2">Login ou senha do INPI não confere.</span>
                                    <span class="inpi_logininvalido radio-red radio2">X</span>
                                </div>
                                <div class="Form-container">
                                    <label class="Form-label">Senha do INPI<span title="Utilize sua senha do INPI" class="QuestionMark Tooltip">?</span></label>
                                    <?php echo $this->form->getElement('inpi_senha'); ?>
                                    <span class="inpi_senha alert-campos campos2">Campo senha vazio ou diferente.</span>
                                    <span class="inpi_senha radio-red radio2">X</span>
                                </div>
                                <div class="Form-container"><a href="https://gru.inpi.gov.br/e-inpi/senha/PesquisarPorCpfCnpj.jsp" target="_blank" class="Login-forgotPassword">Esqueci login ou senha do INPI</a></div>
                            </div>
                            <?php endif; ?>

                            <?php if (!$this->servico || $this->servico == 1): ?>

                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-checkLabel">
                                    <div class="Form-checkContainer">
                                        <input type="checkbox" name="inipi" value="2" class="Form-checkInput checkLoginInpi"><span class="Form-checkbox"></span>
                                    </div>
                                    <span class="texto-inip"> Já tenho conta no INPI</span>
                                </label>
                            </div>
                            
                            <div class="col-md-12 login-inip">
                                <div class="Form-container">
                                    <label class="Form-label">Login no INPI<span title="Utilize seu login no INPI." class="QuestionMark Tooltip">?</span></label>
                                    <?php echo $this->form->getElement('inpi_login'); ?>
                                    <span class="inpi_login alert-campos campos2">Campo obrigatório. Preencha corretamente.</span>
                                    <span class="inpi_login radio-red radio2">X</span>
                                    <span class="inpi_logininvalido alert-campos campos2">Login ou senha do INPI não confere.</span>
                                    <span class="inpi_logininvalido radio-red radio2">X</span>
                                </div>
                                <div class="Form-container">
                                    <label class="Form-label">Senha do INPI<span title="Utilize sua senha do INPI" class="QuestionMark Tooltip">?</span></label>
                                    <?php echo $this->form->getElement('inpi_senha'); ?>
                                    <span class="inpi_senha alert-campos campos2">Campo senha vazio ou diferente.</span>
                                    <span class="inpi_senha radio-red radio2">X</span>
                                </div>
                                <div class="Form-container"><a href="https://gru.inpi.gov.br/e-inpi/senha/PesquisarPorCpfCnpj.jsp" target="_blank" class="Login-forgotPassword">Esqueci login ou senha do INPI</a></div>
                            </div>
                            <?php endif; ?>


                        </div>
                    </div>
                </section>
                <section class="TermsTitle">
                    <div class="">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="Page-title text-center">Termos de uso da ferramenta</h3>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="Terms">
                    <p class="Terms-text">
                     <br/><br/>  
                        <strong>DA IDENTIFICA&Ccedil;&Atilde;O DAS PARTES</strong><br/>
                        <br/>
                        <strong>CLIENTE</strong><br/>

                       <strong>Toda pessoa natural ou jur&iacute;dica</strong>, ciente de que estar&aacute; aceitando os termos e condi&ccedil;&otilde;es para uso da plataforma Mavip Registro de Marcas, informando os dados de identifica&ccedil;&atilde;o e endere&ccedil;o que neste ato caracterizam como <strong>cliente</strong>.<br/>
                        <br/>

                        <strong>FORNECEDOR</strong><br/>

                        <strong>MAVIP TECNOLOGIA E SERVI&Ccedil;OS LTDA - ME</strong>, pessoa jur&iacute;dica de direito privado, titular e administradora da marca MAVIP REGISTRO MARCAS, inscrita no CNPJ sob n&ordm;. 03.671.087/0001-17, neste ato denominado fornecedor.<br/><br/>

                        Pelo presente <strong>TERMO DE CADASTRO</strong>, t&ecirc;m, entre si, de maneira justa e acordada, o presente <strong>TERMO DE CONDI&Ccedil;&Otilde;ES, CADASTRO E UTILIZA&Ccedil;&Atilde;O DO PORTAL WWW.MAVIP.COM.BR</strong>, ficando desde j&aacute; aceito pelas cl&aacute;usulas abaixo descritas:<br/><br/>

                        <strong>CL&Aacute;USULA 1&ordf;</strong> &ndash; As partes, acima descritas, t&ecirc;m como objeto desse termo explicitar as condi&ccedil;&otilde;es, cadastro e regras expressas de utiliza&ccedil;&atilde;o do portal www.mavip.com.br, obedecendo as cl&aacute;usulas que seguem.<br/><br/>

                        <strong>CL&Aacute;USULA 2&ordf; </strong>&ndash; O Cliente reconhece como autor e desenvolvedor do portal www.mavip.com.br, o Fornecedor. Sendo a marca mista de produto e servi&ccedil;o &ldquo;MAVIP REGSTRO DE MARCAS&rdquo;, bem como as ferramentas expostas no portal que possibilitam a intera&ccedil;&atilde;o entre as partes, como propriedade intelectual, industrial e direitos de propriedade Fornecedor.<br/><br/>

                        <strong>CL&Aacute;USULA 3&ordf;</strong> &ndash; Fornecedor compromete-se, mediante conclus&atilde;o e aceite do cadastro do CLIENTE, a permitir o acesso na &aacute;rea restrita do portal www.mavip.com.br, oportunizando o uso das ferramentas exclusivas e desenvolvidas pela Mavip Registro de Marcas para o p&uacute;blico cadastrado.<br/><br/>

                        <strong>Par&aacute;grafo &Uacute;nico &ndash;</strong> &Eacute; de responsabilidade &uacute;nica e exclusiva do cliente comitente prover os meios para garantir o acesso ao portal, obedecendo a instru&ccedil;&atilde;o das configura&ccedil;&otilde;es m&iacute;nimas necess&aacute;rias para o bom funcionamento e intera&ccedil;&atilde;o no ambiente virtual da Mavip Registro de Marcas.<br/><br/>

                        <strong>CL&Aacute;USULA 4&ordf;</strong> &ndash; O Cliente compromete-se a fornecer a Raz&atilde;o Social da Empresa, n&uacute;mero do CNPJ, domic&iacute;lio e dado S&oacute;cio Administrador, ou ainda, no caso de Pessoa F&iacute;sica nome completo, Estado Civil, Profiss&atilde;o, n&uacute;mero do RG e CPF, endere&ccedil;o completo, c&oacute;pia de documento p&uacute;blico com foto onde conste assinatura, ao Fornecedor.<br/><br/>

                        <strong>CL&Aacute;USULA 5&ordf;</strong> &ndash; No caso do Cliente n&atilde;o fornecer total ou parcialmente as informa&ccedil;&otilde;es exigidas na cl&aacute;usula anterior, poder&aacute; o Fornecedor exigi-la, o n&atilde;o fornecimento autoriza a suspen&ccedil;&atilde;o e/ou exclus&atilde;o do cadastro do Cliente no prazo de at&eacute; 48(quarenta e oito) horas sem preju&iacute;zo a nenhuma das partes.<br/><br/>

                        <strong>CL&Aacute;USULA 6&ordf;</strong> &ndash; O Cliente s&oacute; poder&aacute; realizar transa&ccedil;&otilde;es comerciais no portal www.mavip.com.br, mediante aprova&ccedil;&atilde;o e teste do cadastro.<br/><br/>

                        <strong>Par&aacute;grafo Primeiro &ndash;</strong> Em fun&ccedil;&atilde;o da Ferramenta operar, na emiss&atilde;o de Guias de Recolhimento e Peti&ccedil;&otilde;es, no ambiente destinado ao Empres&aacute;rio/Cliente<strong> do Instituto Nacional da Propriedade Industrial (INPI) &eacute; necess&aacute;rio que seja informada a Mavip Registro de Marcas seu </strong><strong>login</strong><strong> e </strong><strong>senha, usadas no &Oacute;rg&atilde;o</strong>.<br/><br/>

                        <strong>Par&aacute;grafo Segundo &ndash;</strong> O Cliente declara sob as penas da Lei, fazer jus aos benef&iacute;cios &agrave; redu&ccedil;&atilde;o de retribui&ccedil;&atilde;o, conforme previsto na Resolu&ccedil;&atilde;o INPI N&ordm; 274/2011.<br/><br/>

                        <strong>CL&Aacute;USULA 8&ordf;</strong> &ndash; O FORNECEDOR, assim como, o CLIENTE, declara para todos os fins de prova em direito admitidos, selar pelos dos direitos sobre a(s) marca(s) realizadas por meio da Ferramenta Mavip, que poder&aacute; publicar em qualquer meio promocional, por meio eletr&ocirc;nico (incluindo a internet), previstos no art. 29 da Lei 9.610/98, entre CLIENTE e FORNECEDOR.<br/><br/>

                        <strong>CL&Aacute;USULA 9&ordf;</strong> &ndash; O CLIENTE poder&aacute; requerer sua exclus&atilde;o por meio do e-mail cadastrado na Mavip Registro de Marcas, dirigido ao e-mail call@mavip.com.br, com t&iacute;tulo EXCLUS&Atilde;O DE CADASTRO, identificando no corpo do e-mail os dados do cadastro e um motivo.<br/><br/>

                        <strong>CL&Aacute;USULA 10&ordf;</strong> - DA CL&Aacute;USULA ARBITRAL OU DO FORO<br/><br/>

                        Par&aacute;grafo primeiro: Fica desde j&aacute; convencionado que por mera liberalidade das partes que qualquer conflito, controv&eacute;rsia, reivindica&ccedil;&atilde;o, execu&ccedil;&atilde;o ou lit&iacute;gio que se origine ou se relacione com este contrato, dever&aacute; ser resolvido, de forma definitiva, pela arbitragem prevista na Lei n&ordm;. 9.307/96, sendo eleita a &ldquo;CAPB&rdquo; &ndash; C&Acirc;MARA ARBITRAL DA PARA&Iacute;BA, sediada em Jo&atilde;o Pessoa/PB, cujo regimento interno se encontra registrado sob o N&ordm; 679.833, no Cart&oacute;rio do 2&ordm; Of&iacute;cio de Notas Jo&atilde;o Pessoa, Toscano de Brito.<br/><br/>
                        
                        <br/>
                        <strong>(X) Concordo.</strong><br/><br/>

                        E por estarem as partes em pleno acordo com o disposto neste instrumento particular, assumem o aceite com um (X) em substitui&ccedil;&atilde;o a assinatura tradicional.<br/><br/>

                        A data desse Contrato de Uso da Plataforma ser&aacute; a data do aceite.<br/>


                    </p>

                </section>
                <section class="TermsAccept">
                    <div class="">
                        <div class="row">
                            <div class="col-xs-12 col-md-10 col-md-offset-1">
                                <label class="Form-checkLabel">
                                    <div class="Form-checkContainer">
                                        <input type="checkbox" name="terms1" value="1" class="Form-checkInput"><span class="Form-checkbox"></span>

                                    </div>
                                    <div class="Form-textContainer"><span class="Form-checkText">Declaro, sob as penas da Lei, fazer jus aos benefícios à redução de retribuição, conforme previsto na  <a class="Form-checkLink" href="http://localhost/mavip_sistema/public_html/static/default/downloads/resolucao-INPI-n274-2011.pdf" target="_blank"> Resolução INPI Nº 274/2011.</a></span>
                                        <span class="terms1 alert-campos campos2">Campo obrigatório.</span>

                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-10 col-md-offset-1">
                                <label class="Form-checkLabel">
                                    <div class="Form-checkContainer">
                                        <input type="checkbox" name="terms2" value="2" class="Form-checkInput"><span class="Form-checkbox"></span>
                                    </div>
                                    <div class="Form-textContainer"><span class="Form-checkText">Declaro, sob as penas da Lei, que aceito os termos da ferramenta Mavip</span>
                                        <span class="terms1 alert-campos campos2">Campo obrigatório.</span></div>
                                </label>
                            </div>
                        </div>
                    </div>`
                </section>
                <section class="Next Next--one">
                    <div class="">
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-md-offset-4">
                                <button data-step="1" type="button" class="Button Button--full Next-button text-center">Próxima etapa</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div id="step2" class="container hidden">
        <div class="row">
            <div class="col-xs-12">
                <section class="Register-box u-mb45">
                    <div class="Register-boxContent col-lg-10 col-lg-offset-1">
                        <header class="Register-header">
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-md-offset-3">
                                    <ul class="Register-steps list-inline row">
                                        <li class="Register-step col-xs-6"><span class="step-check Register-stepNumber">1</span><span class="Register-stepText">Informações Pessoais</span></li>
                                        <li class="Register-step col-xs-6"><span class="step-active Register-stepNumber">2</span><span class="Register-stepText">Informações da Empresa</span></li>

                                    </ul>
                                </div>
                            </div>
                        </header>
                        <div class="row">
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label">Natureza Jurídica<span title="Responda como você está identificado no seu Cadastro de Pessoa Jurídica." class="QuestionMark Tooltip">?</span></label>
                                <?php echo $this->form->getElement('natureza'); ?>
                                <span class="natureza alert-campos campos2">Campo obrigatório. Preencha corretamente.</span>

                            </div>
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label label_cnpj" >CNPJ<span title="Digite apenas os números do seu Cartão de Cadastro de Pessoa Jurídica." class="QuestionMark Tooltip">?</span></label>
                                <label class="Form-label label_cpf "  style="display: none">CPF<span title="Digite apenas os números do seu CPF." class="QuestionMark Tooltip">?</span></label>

                                <?php echo $this->form->getElement('cnpj'); ?>
                                <span class="cnpj alert-campos campos2">Campo obrigatório. Preencha corretamente.</span>
                                <span class="cnpj radio-red radio2">X</span>
                            </div>
                        </div>
                        <div class="row ctn-atividade" style="display: none">
                            <div class="Form-container col-xs-12 col-sm-12">
                                <label class="Form-label">Atividade (opcional)</label>
                                <?php echo $this->form->getElement('atividade'); ?>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label label_cnpj" >Razão Social (Nome Empresarial)<span title="Nome Empresarial identificado no seu Cartão de Cadastro de Pessoa Jurídica." class="QuestionMark Tooltip">?</span></label>
                                <label class="Form-label label_cpf" style="display: none">Nome<span title="Nome Empresarial." class="QuestionMark Tooltip">?</span></label>
                                <?php echo $this->form->getElement('razao'); ?>
                                <span class="razao alert-campos campos2">Campo obrigatório. Preencha corretamente.</span>
                                <span class="razao radio-red radio2">X</span>
                            </div>
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label">CEP</label>
                                <?php echo $this->form->getElement('cep'); ?>
                                <span class="cep alert-campos campos2">Campo obrigatório. Preencha corretamente.</span>
                                <span class="cep radio-red radio2">X</span>
                            </div>
                        </div>
                        <div class="row row_estado">
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label">Estado</label>
                                <?php echo $this->form->getElement('estado'); ?>
                                <span class="estado alert-campos campos2">Campo obrigatório. Preencha corretamente.</span>
                                <span class="estado radio-red radio2">X</span>
                            </div>
                            <div class="Form-container col-xs-12 col-sm-6">
                                <label class="Form-label">Cidade</label>
                                <?php echo $this->form->getElement('cidade'); ?>
                                <span class="cidade alert-campos campos2">Campo obrigatório. Preencha corretamente.</span>
                                <span class="cidade radio-red radio2">X</span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="Form-container col-xs-12 col-sm-7">
                                <label class="Form-label">Endereço</label>
                                <?php echo $this->form->getElement('endereco'); ?>
                                <span class="endereco alert-campos campos2">Campo obrigatório. Preencha corretamente.</span>
                                <span class="endereco radio-red radio2">X</span>

                            </div>
                            <div class="Form-container col-xs-12 col-sm-5">
                                <label class="Form-label">País</label>
                                <?php echo $this->form->getElement('pais'); ?>
                                <span class="pais alert-campos campos2">Campo obrigatório. Preencha corretamente.</span>
                                <span class="pais radio-red radio2">X</span>

                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="Form-container col-xs-12 col-sm-4">
                                <label class="Form-label">Telefone</label>
                                <?php echo $this->form->getElement('telefone'); ?>
                                <span class="telefone alert-campos campos2">Campo obrigatório. Preencha corretamente.</span>
                                <span class="telefone radio-red radio2">X</span>
                            </div>
                            <div class="Form-container col-xs-12 col-sm-4">
                                <label class="Form-label">Celular</label>
                                <?php echo $this->form->getElement('celular'); ?>
                                <span class="celular alert-campos campos2">Campo obrigatório. Preencha corretamente.</span>
                                <span class="celular radio-red radio2">X</span>
                            </div>
                            <div class="Form-container col-xs-12 col-sm-4">
                                <label class="Form-label">Fax</label>
                                <?php echo $this->form->getElement('fax'); ?>
                                <span class="fax alert-campos campos2">Campo obrigatório. Preencha corretamente.</span>
                                <span class="fax radio-red radio2">X</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="Next Next--two col-xs-12 col-sm-4 col-sm-offset-4">
                                <button  type="submit" class="Button Button--full text-center">Finalizar Cadastro</button>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>

</form>

