<header class="Header Header--login">
      <div class="container">
        <?php echo $this->render('partial/navbar.phtml');?>
        <?php echo $this->render('partial/navbar-home.phtml'); ?>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <section class="Login-box">
            <div class="Register-boxContent">
              <div class="row">
                <div class="col-xs-12 col-md-5 col-md-push-6">
                    <form action="" class="Login" method="post">
                    <h1 class="Page-title text-center">Recuperar senha</h1>
                    <div class="Form-container u-mt35">
                      <input type="text" placeholder="Digite aqui seu login" name="login" class="Form-input">
                    </div>
                    <div class="Form-container u-mt35">
                      <input type="text" placeholder="Digite aqui seu email" name="email" class="Form-input">
                    </div>
                    
                    <div class="Form-container text-center">
                      <button class="Button Button--login">Recuperar Senha</button>
                    </div>
                  </form>
                </div>
                <div class="col-xs-12 col-md-5 col-md-pull-5 text-center left-form">
                  <h1 class="Page-title u-mb45">Crie sua conta</h1>
                  <p class="Login-text">Registre sua marca com toda facilidade.</p>
                  <p class="Login-text">Acompanhe com toda transparência <br /> o registro de sua marca.</p>
                  <p class="Login-text">Satisfação garantida <br /> por quem já utilizou o serviço.</p><a href="<?php echo $this->url(array('controller'=>'account','action'=>'register'),'default',true);?>" class="Button Button--login">Quero criar minha conta</a>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>