





<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="" class="heading"><?php echo $this->title ?></a></li>
        <li class="hidden-sm hidden-xs">
            <a href="#" class="selected">Novo</a>
        </li>

    </ul>

</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">





        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            <?php echo $this->title ?>
                            <span class="mini-title">
                                <?php echo $this->title ?> independente
                            </span>
                        </div>
                    </div>
                    <div class="widget-body">

                        <form class="form-horizontal no-margin row form_validacao"  method="post">

                            <h5>
                                Dados de Acesso
                            </h5>
                            <hr/>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="col-sm-12">

                                        <?php echo $this->form->getElement('name'); ?>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <?php echo $this->form->getElement('role_id'); ?>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 20px">
                                <div class="col-sm-3">
                                    <div class="col-sm-12">
                                        <?php echo $this->form->getElement('email'); ?>
                                    </div>
                                </div>
                            <div class="col-sm-3">
                                <div class="col-sm-12">
                                    <?php echo $this->form->getElement('login'); ?>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="col-sm-12">
                                    <?php echo $this->form->getElement('password'); ?>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-12">

                                    <?php echo $this->form->getElement('password_repetir'); ?>

                                </div>
                            </div>
</div>


                            <br class="clear" />
                                <div class="row">
                                <div class="col-sm-12 ">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <button type="submit" class="btn btn-info btn-block">Salvar</button>
                                        </div>

                                    
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row End -->



    </div>
    <!-- Left Sidebar End -->



</div>
<!-- Dashboard Wrapper End -->






<script type="text/javascript">

    //Data Tables
    $(document).ready(function () {
        //$.fn.dataTable.TableTools.defaults.aButtons = [ "copy", "csv", "xls" ];
        $('#data-table').dataTable({
            "bPaginate": false,
            "info": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/Portuguese-Brasil.json"
            }
            /*dom: 'T<"clear">lfrtip',
             tableTools: {
             "sSwfPath": "<?php echo $this->baseUrl("static/") ?>js/data-tables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
             }*/
        });
    });

</script>