

<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">

        <div class="row">
            <div class="widget">
                <div class="widget-header">
                    <div class="title">
                        Alterar Senha 

                    </div>
                </div
                <div class="widget-body">
                    <form role="form" id="form_alterar_senha" action="" method="post" class="clearfix">

                        <br class="clear">

                        <div class="row">
                            <div class="col-sm-12  ">
                                <div class="col-sm-6  ">
                                    <div class="form-group ">
                                        <?php echo $this->form->getElement("senha"); ?>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-6">
                            <div class="form-group ">
                                <?php echo $this->form->getElement("nova_senha"); ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <?php echo $this->form->getElement("senha_confirm"); ?>
                            </div>
                        </div>


                        <div class=" col-sm-12">
                            <div class="form-group ">
                                <button type="submit" class="btn btn-info">Editar</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>




