<?php
$db = Zend_Db_Table::getDefaultAdapter();
$select = $db->select()->from('mavipse_permissoes', 'count(id) as quant')->where('status = ?', 0);
$solicitacoesMavipSe = $db->fetchRow($select);
?>
<!DOCTYPE html>
<html>
    <head>
        <title>Gerenciador de Conteúdo - Mavip</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Bootstrap Gallery" />
        <link rel="shortcut icon" href="<?php echo $this->baseUrl("static/gerenciador/") ?>img/favicon.ico">

        <script>
            baseUrl = "<?php echo $this->baseUrl('gerenciador'); ?>"
            baseUrlDefault = '<?php echo $this->baseUrl(); ?>';
        </script>

        <link href="<?php echo $this->baseUrl("static/gerenciador/css/bootstrap.min.css") ?>" rel="stylesheet">
        <link href="<?php echo $this->baseUrl("static/gerenciador/css/new.css") ?>" rel="stylesheet">
        <link href="<?php echo $this->baseUrl("static/gerenciador/css/charts-graphs.css") ?>" rel="stylesheet">
        <link href="<?php echo $this->baseUrl("static/gerenciador/css/datepicker.css") ?>" rel="stylesheet">
        <link href="<?php echo $this->baseUrl("static/gerenciador/css/alertify.core.css") ?>" rel="stylesheet">

        

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="<?php echo $this->baseUrl("static/gerenciador/") ?>js/data-tables/extensions/TableTools/css/dataTables.tableTools.css" rel="stylesheet">

        <link href="<?php echo $this->baseUrl("static/") ?>plugins/daterpiker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

        <link href="<?php echo $this->baseUrl("static/gerenciador/") ?>css/wysi/bootstrap-wysihtml5.css" rel="stylesheet">

        <link href="<?php echo $this->baseUrl("static/gerenciador/") ?>css/barIndicator.css" rel="stylesheet" />

        <link href="<?php echo $this->baseUrl("static/") ?>plugins/dropzone/dropzone.css" rel="stylesheet">

        <link href="<?php echo $this->baseUrl("static/") ?>plugins/select2/select2.css" rel="stylesheet">
        <link href="<?php echo $this->baseUrl("static/") ?>plugins/select2/select2-bootstrap.css" rel="stylesheet">


        <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="<?php echo $this->baseUrl("static/gerenciador/js/html5shiv.js") ?>"></script>
          <script src="<?php echo $this->baseUrl("static/gerenciador/js/respond.min.js") ?>"></script>
        <![endif]-->

        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/jquery.js"></script>

        <style>
        .current{
            background-color: #98988f !important;
            color: white !important;
            font-weight: bold !important;
        }

        .alert{
            color:red;
            text-transform:uppercase;

        }

        table, th, td {
            border: 1px solid black;
}
    </style>
    </head>

    <body>
    <?php /* if ($this->isAllowed('pedido', 'list') || $this->isAllowed('cliente', 'list') || $this->isAllowed('marca', 'list')): ?>
            <div class="container" style="background-color:white">
                    <?php 
                    $modelPedidos = new Application_Model_Pedido();
                    $records = $modelPedidos->getVencimentos();  ?>
                    <span>VENCIMENTO DE MARCAS COM PRAZO DE 60 DIAS</span>
                    <table style="font-size:16px">
                    <tr>
                        <th style="text-align:center;">Marca</th>
                        <th style="text-align:center;">Nº Processo</th> 
                        <th style="text-align:center;">IPAS</th>
                        <th style="text-align:center;">Revista</th>
                        <th style="text-align:center;">Data da leitura</th>
                    </tr>
                    <?php  foreach($records as $row): 
                        if($row['prazo'] == 60 && $row['leitura'] == 60): ?>
                    <tr>
                        <td><span class="alert"><?=$row['marca']?></span></td>
                        <td><span class="alert"><?=$row['processo']?></span> </td> 
                        <td> <span class="alert"><?=$row['despacho']?></span></td>
                        <td> <span class="alert"><?=$row['revista']?></span></td>
                        <td> <span class="alert"><?php 
                                 $data = new Zend_Date($row['data_leitura']);
                                 echo $data->get('dd/MM/yyyy');
                            ?></span></td>
                    </tr>       
                <?php   endif;
                    endforeach; ?>
                                   
                    </table>
            </div>              
            <?php endif; */ ?>
        <!-- Header Start -->
        <header class="hidden-print">

        
            <a href="index.html" class="logo hidden-print">
                <img src="<?php echo $this->baseUrl("static/gerenciador/") ?>img/logo-og.png" alt="Logo"/>
            </a>
        

            <div class="pull-right hidden-print">
                <ul id="mini-nav" class="clearfix">

                    <li class="list-box user-profile">
                        <a id="drop7" href="#" role="button" class="dropdown-toggle user-avtar" data-toggle="dropdown">
                            <img src="<?php echo $this->baseUrl("static/gerenciador/") ?>img/profile.png" alt="Bluemoon User">
                        </a>
                        <ul class="dropdown-menu server-activity">
                            <li>
                                <p> <a href="<?php echo $this->url(array('controller' => 'users', 'action' => 'password'), "gerenciador", true); ?>"><i class="fa fa-cog text-info"></i> Alterar Senha</a></p>
                            </li>

                            <li>
                                <div class="demo-btn-group clearfix">
                                    <a href="<?php echo $this->url(array('controller' => 'conta', 'action' => 'logout'), 'gerenciador', true) ?>" class="btn btn-danger">
                                        Sair
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <!-- Header End -->

        <!-- Main Container start -->
        <div class="dashboard-container">

            <div class="container">
                <!-- Top Nav Start -->
                <div id="cssmenu" class="hidden-print">
                    <ul>
                        <?php if ($this->isAllowed('painel', 'list')): ?>
                            <li class="<?php echo $this->menu == "painel" ? 'active' : '' ?>">
                                <a href="<?php echo $this->url(array('controller' => 'painel'), "gerenciador", true); ?>" >
                                    <i class="fa fa-dashboard"></i>
                                    Painel
                                </a>
                            </li>
                        <?php endif; ?>
                        <?php if ($this->isAllowed('users', 'list')): ?>
                            <li class="<?php echo $this->menu == "users" ? 'active' : '' ?>">
                                <a href="<?php echo $this->url(array('controller' => 'users'), "gerenciador", true); ?>" >
                                    <i class="fa fa-user"></i>
                                    Usuários
                                </a>
                            </li>
                        <?php endif; ?>

                        <?php if ($this->isAllowed('servico', 'list')): ?>
                            <li class="<?php echo $this->menu == "servico" ? 'active' : '' ?>">
                                <a href="<?php echo $this->url(array('controller' => 'servico'), "gerenciador", true); ?>" >
                                    <i class="fa fa-wrench"></i>
                                    Serviços
                                </a>

                            </li>
                        <?php endif; ?>

                        <?php if ($this->isAllowed('blog', 'list') || $this->isAllowed('pagina', 'update') || $this->isAllowed('faq', 'list') || ($this->isAllowed('options', 'list'))): ?>
                            <li class="<?php echo $this->menu == "blog" ? 'active' : '' ?>">
                                <a href="#" >
                                    <i class="fa fa-newspaper-o"></i>
                                    Conteúdos
                                </a>
                                <ul>
                                
                                    <?php if ($this->isAllowed('banner', 'list')): ?>
                                        <li class="<?php echo $this->menu == "banner" ? 'active' : '' ?>">
                                            <a href="<?php echo $this->url(array('controller' => 'banner'), "gerenciador", true); ?>" >
                                                <i class="fa fa-picture-o"></i>
                                                Banners
                                            </a>
                                        </li>
                                    <?php endif; ?>

                                    <?php if ($this->isAllowed('blog', 'list')): ?>
                                        <li class="<?php echo $this->menu == "blog" ? 'active' : '' ?>">
                                            <a href="<?php echo $this->url(array('controller' => 'blog'), "gerenciador", true); ?>" >
                                                <i class="fa fa-newspaper-o"></i>
                                                Blog
                                            </a>
                                        </li>
                                    <?php endif; ?>
                                    

                                    <?php if ($this->isAllowed('categoriablog', 'list')): ?>
                                        <li class="<?php echo $this->menu == "blog" ? 'active' : '' ?>">
                                            <a href="<?php echo $this->url(array('controller' => 'categoriablog'), "gerenciador", true); ?>" >
                                                <i class="fa fa-newspaper-o"></i>
                                                Categorias Blog
                                            </a>
                                        </li>
                                    <?php endif; ?>

   <!--                                 <?php /*if ($this->isAllowed('cores', 'list')): */?>
                                        <li class="<?php /*echo $this->menu == "cores" ? 'active' : '' */?>">
                                            <a href="<?php /*echo $this->url(array('controller' => 'cores'), "gerenciador", true); */?>" >
                                                <i class="fa fa-th"></i>
                                                Cores
                                            </a>
                                        </li>
                                    --><?php /*endif; */?>

                                    <?php if ($this->isAllowed('depoimento', 'list')): ?>
                                        <li class="<?php echo $this->menu == "blog" ? 'active' : '' ?>">
                                            <a href="<?php echo $this->url(array('controller' => 'depoimento'), "gerenciador", true); ?>" >
                                                <i class="fa fa-newspaper-o"></i>
                                                Depoimentos
                                            </a>
                                        </li>
                                    <?php endif; ?>

                                    <?php  if ($this->isAllowed('equipe', 'list')): ?>
                                        <li class="<?php echo $this->menu == "equipe" ? 'active' : '' ?>">
                                            <a href="<?php echo $this->url(array('controller' => 'equipe'), "gerenciador", true); ?>" >
                                                <i class="fa fa-address-book-o"></i>
                                                Equipe
                                            </a>
                                        </li> 
                                    <?php endif;  ?>

                                    <?php if ($this->isAllowed('faq', 'list')): ?>
                                        <li class="<?php echo $this->menu == "faq" ? 'active' : '' ?>">
                                            <a href="<?php echo $this->url(array('controller' => 'faq'), "gerenciador", true); ?>" >
                                                <i class="fa fa-question"></i>
                                                FAQ
                                            </a>
                                        </li>
                                    <?php endif; ?>

                                    
<!--                                    <?php /*if ($this->isAllowed('planos', 'list')): */?>
                                        <li class="<?php /*echo $this->menu == "planos" ? 'active' : '' */?>">
                                            <a href="<?php /*echo $this->url(array('controller' => 'planos'), "gerenciador", true); */?>" >
                                                <i class="fa fa-check-square-o"></i>
                                                Planos
                                            </a>
                                        </li>
                                    <?php /*endif; */?>

                                    <?php /*if ($this->isAllowed('itens', 'list')): */?>
                                        <li class="<?php /*echo $this->menu == "itens" ? 'active' : '' */?>">
                                            <a href="<?php /*echo $this->url(array('controller' => 'itens'), "gerenciador", true); */?>" >
                                                <i class="fa fa-check-square-o"></i>
                                                Planos - Características
                                            </a>
                                        </li>
                                    --><?php /*endif; */?>

                                    <?php if ($this->isAllowed('pagina', 'precos')): ?>
                                        <li class="<?php echo $this->menu == "pagina" ? 'active' : '' ?>">
                                            <a href="<?php echo $this->url(array('controller' => 'pagina', 'action' => 'precos'), "gerenciador", true); ?>" >
                                                <i class="fa fa-dollar"></i>
                                               Quadro Comparativo
                                            </a>
                                        </li>
                                    <?php endif; ?>


                                    <?php if ($this->isAllowed('pagina', 'update')): ?>
                                        <li class="<?php echo $this->menu == "pagina" ? 'active' : '' ?>">
                                            <a href="<?php echo $this->url(array('controller' => 'pagina', 'action' => 'update', 'id' => '1'), "gerenciador", true); ?>" >
                                                <i class="fa fa-home"></i>
                                                Quem Somos
                                            </a>
                                        </li>
                                    <?php endif; ?>

                                    <?php if ($this->isAllowed('options', 'list')): ?>
                                        <li class="<?php echo $this->menu == "textos" ? 'active' : '' ?>">
                                            <a href="<?php echo $this->url(array('controller' => 'options'), "gerenciador", true); ?>" >
                                                <i class="fa fa-file-text"></i>
                                                Textos
                                            </a>
                                        </li>
                                    <?php endif; ?>

                                    <?php if ($this->isAllowed('textobotao', 'list')): ?>
                                        <li class="<?php echo $this->menu == "textobotao" ? 'active' : '' ?>">
                                            <a href="<?php echo $this->url(array('controller' => 'textobotao'), "gerenciador", true); ?>" >
                                                <i class="fa fa-file-text"></i>
                                                Texto Botão
                                            </a>
                                        </li>
                                    <?php endif; ?>


                                    <?php if ($this->isAllowed('televenda', 'list')): ?>
                                        <li class="<?php echo $this->menu == "televenda" ? 'active' : '' ?>">
                                            <a href="<?php echo $this->url(array('controller' => 'televenda'), "gerenciador", true); ?>" >
                                                <i class="fa fa-phone"></i>
                                                Televenda
                                            </a>
                                        </li>
                                    <?php endif; ?>                   

                                    <?php if ($this->isAllowed('pagina', 'tooltips-account')): ?>
                                        <li class="<?php echo $this->menu == "tooltips" ? 'active' : '' ?>">
                                        <a href="<?php echo $this->url(array('controller' => 'pagina', 'action' => 'tooltips-account'), "gerenciador", true); ?>" >
                                        <i class="fa fa-question"></i>
                                                Tooltips Account
                                            </a>
                                        </li>
                                    <?php endif; ?>


                                    <?php //if ($this->isAllowed('processo', 'list')): ?>
            <!--                                        <li class="<?php echo $this->menu == "processo" ? 'active' : '' ?>">
                                                        <a href="<?php echo $this->url(array('controller' => 'processo'), "gerenciador", true); ?>" >
                                                            <i class="fa fa-file-text-o"></i>
                                                            Processos
                                                        </a>
                                                    </li>-->
                                    <?php //endif; ?>
                                </ul>
                            </li>
                        <?php endif; ?>


                        <?php if ($this->isAllowed('cupom', 'list')): ?>
                            <li class="<?php echo $this->menu == "cupom" ? 'active' : '' ?>">
                                <a href="<?php echo $this->url(array('controller' => 'cupom'), "gerenciador", true); ?>" >
                                    <i class="fa fa-ticket"></i>
                                    Cupom
                                </a>
                            </li>
                        <?php endif; ?>

                        <?php if ($this->isAllowed('pedido', 'list')): ?>
                            <li class="<?php echo $this->menu == "pedido" ? 'active' : '' ?>">
                                <a href="<?php echo $this->url(array('controller' => 'pedido'), "gerenciador", true); ?>" >
                                    <i class="fa fa-shopping-bag"></i>
                                    Pedido
                                </a>
                                <ul>
                                    <?php if ($this->isAllowed('pedido', 'list')): ?>
                                        <li><a href="<?php echo $this->url(array('controller' => 'pedido'), "gerenciador", true); ?>" >Pedidos Abertos</a></li>
                                        <!--   <li><a href="<?php /*echo $this->url(array('controller' => 'pedido', 'status' => 'concluido'), "gerenciador", true); */?>" >Pedidos Concluídos</a></li>-->
                                        <li><a href="<?php echo $this->url(array('controller' => 'pedido', 'status' => 'cancelado'), "gerenciador", true); ?>" >Pedidos Cancelados</a></li>
                                    <?php endif; ?>
                                </ul>
                            </li>
                        <?php endif; ?>

                        <?php if ($this->isAllowed('busca', 'list') || $this->isAllowed('categoria', 'list') || $this->isAllowed('buscatermo', 'list') || $this->isAllowed('buscaexcecao', 'list') || $this->isAllowed('blacklist', 'list')): ?>
                            <li class="<?php echo $this->menu == "busca" ? 'active' : '' ?>">
                                <a href="<?php echo $this->url(array('controller' => 'busca'), "gerenciador", true); ?>" >
                                    <i class="fa fa-search"></i>
                                    Pesquisa
                                </a>
                                <ul>
                                    <?php if ($this->isAllowed('busca', 'list')): ?>
                                        <li><a href="<?php echo $this->url(array('controller' => 'busca'), "gerenciador", true); ?>" >Listar Pesquisas</a></li>
                                    <?php endif; ?>
                                    <?php if ($this->isAllowed('categoria', 'list')): ?>
                                        <li><a href="<?php echo $this->url(array('controller' => 'categoria'), "gerenciador", true); ?>" >Categorias</a></li>
                                    <?php endif; ?>
                                    <?php if ($this->isAllowed('buscatermo', 'list')): ?>
                                        <li><a href="<?php echo $this->url(array('controller' => 'buscatermo'), "gerenciador", true); ?>" >Exceção de Pesquisa</a></li>
                                    <?php endif; ?>
                                    <?php if ($this->isAllowed('buscaexcecao', 'list')): ?>
                                        <li><a href="<?php echo $this->url(array('controller' => 'buscaexcecao'), "gerenciador", true); ?>" >Impedimento</a></li>
                                    <?php endif; ?>
                                    <?php if ($this->isAllowed('blacklist', 'list')): ?>
                                        <li><a href="<?php echo $this->url(array('controller' => 'blacklist'), "gerenciador", true); ?>" ><i class="fa fa-user-times"></i> Black List</a></li>
                                    <?php endif; ?>
                                </ul>
                            </li>
                        <?php endif; ?>

                        <?php if ($this->isAllowed('mavipse', 'list')): ?>
                            <li class="<?php echo $this->menu == "Mavipse" ? 'active' : '' ?>">
                                <a href="<?php echo $this->url(array('controller' => 'mavipse'), "gerenciador", true); ?>" >
                                    <?php if($solicitacoesMavipSe['quant'] > 0): ?>
                                        <span style="color: white; background-color: red; padding: 5px; border-radius: 1em; position: absolute; right: 5px">
                                            <?php echo $solicitacoesMavipSe['quant']; ?>
                                        </span>
                                    <?php endif; ?>

                                    <i class="fa fa-life-ring"></i>
                                    MavipSE
                                </a>
                            </li>
                        <?php endif; ?>

                        <?php if ($this->isAllowed('cliente', 'list') || $this->isAllowed('marca', 'list')): ?>
                            <li class="<?php echo $this->menu == "clientes" ? 'active' : '' ?>">
                                <a href="<?php echo $this->url(array('controller' => 'cliente','action' => 'list', 'categoria' => 'com-processo'), "gerenciador", true); ?>" >
                                    <i class="fa fa-users"></i>
                                    Clientes
                                </a>
                              <ul>
                            <li>
                                        <a href="#" >+</a>
                                        <ul>
                                            <li><a href="<?php echo $this->url(array('controller' => 'cliente', 'action' => 'list'), "gerenciador", true); ?>" >Todos</a></li>
                                            <li><a href="<?php echo $this->url(array('controller' => 'cliente','action' => 'list', 'categoria' => 'cnpj'), "gerenciador", true); ?>" >Com CNPJ</a></li>
                                            <li><a href="<?php echo $this->url(array('controller' => 'cliente','action' => 'list', 'categoria' => 'sem-cnpj'), "gerenciador", true); ?>" >Sem CNPJ</a></li>
                                        </ul>
                                    </li>

                                    <?php if ($this->isAllowed('marca', 'list')): ?>
                                        <li>
                                            <a href="<?php echo $this->url(array('controller' => 'marca' , 'action' => 'list', 'categoria' => 'contratadas'), "gerenciador", true); ?>" >Marcas</a>
                                            <ul>
                                                    <li><a href="<?php echo $this->url(array('controller' => 'marca', 'action' => 'list'), "gerenciador", true); ?>" >Todas</a></li>
                                                    <li><a href="<?php echo $this->url(array('controller' => 'marca','action' => 'list', 'categoria' => 'externas'), "gerenciador", true);  ?>" >Sem contrato</a></li>
                                            </ul>
                                        </li>
                                    <?php endif; ?>
                                    <?php if ($this->isAllowed('parceiro', 'list')): ?>
                                        <li class="<?php echo $this->menu == "parceiro" ? 'active' : '' ?>">
                                            <a href="<?php echo $this->url(array('controller' => 'parceiro'), "gerenciador", true); ?>" >
                                                Convênios
                                            </a>
                                            <ul>
                                                <?php if ($this->isAllowed('parceiro', 'list')): ?>
                                                    <li><a href="<?php echo $this->url(array('controller' => 'parceiro'), "gerenciador", true); ?>" >Listar</a></li>
                                                <?php endif; ?>
                                                <?php if ($this->isAllowed('parceirocategoria', 'list')): ?>
                                                    <li><a href="<?php echo $this->url(array('controller' => 'parceirocategoria'), "gerenciador", true); ?>" >Categorias</a></li>
                                                <?php endif; ?>
                                            </ul>
                                        </li>
                                    <?php endif; ?>
                                </ul>
                            </li>
                        <?php endif; ?>

                        <?php if ($this->isAllowed('marca', 'acompanhamentos-vencidos')): ?>
                            <li class="<?php echo $this->menu == "acompanhamentos-vencidos" ? 'active' : '' ?>">
                                <a style="font-size: 90%;" href="<?php echo $this->url(array('controller' => 'marca', 'action' => 'acompanhamentos-vencidos'), "gerenciador", true); ?>" >
                                    <i class="fa fa-calendar"></i>   
                                    Vencidos
                                </a>
                            </li>
                        <?php endif; ?>

                        <?php if ($this->isAllowed('operacao', 'list')): ?>
                            <li class="<?php echo $this->menu == "operacao" ? 'active' : '' ?>">
                                <a href="<?php echo $this->url(array('controller' => 'operacao'), "gerenciador", true); ?>" >
                                    <i class="fa fa-cogs"></i>
                                    Operacao
                                </a>
                                <ul>
                                    <li><a href="<?php echo $this->url(array('controller' => 'operacao'), "gerenciador", true); ?>" >Contratações</a></li>
                                    <?php if ($this->isAllowed('operacao', 'list-concluido')): ?>
                                        <li><a href="<?php  echo $this->url(array('controller' => 'operacao', 'action' => 'list-concluido'), "gerenciador", true); ?>" >Contratações Concluídas</a></li>
                                    <?php endif; ?>
                                    <li><a href="<?php  echo $this->url(array('controller' => 'operacao', 'status' => 'concedido'), "gerenciador", true); ?>" >Concessões de registro</a></li>
                                </ul>
                            </li>
                        <?php endif; ?>

                        <?php if ($this->isAllowed('operacao', 'list')): ?>
                            <li class="<?php echo $this->menu == "operacao" ? 'active' : '' ?>">
                                <a href="<?php echo $this->url(array('controller' => 'operacao', 'status' => 'prazo'), "gerenciador", true); ?>" >
                                    <i class="fa fa-clock-o"></i>
                                    Prazos
                                </a>
                                <ul>
                                    <li><a href="<?php echo $this->url(array('controller' => 'operacao', 'status' => 'prazo'), "gerenciador", true); ?>" >Prazos</a></li>
                                    <?php if ($this->isAllowed('operacao', 'list-ocultos')): ?>
                                        <li><a href="<?php echo $this->url(array('controller' => 'operacao', 'action' => 'ocultos'), "gerenciador", true); ?>" >Prazos concluidos</a></li>
                                    <?php endif; ?>
                                    <?php if ($this->isAllowed('operacao', 'decenio')): ?>
                                        <li><a href="<?php echo $this->url(array('controller' => 'operacao', 'action' => 'decenio'), "gerenciador", true); ?>" >Decênios</a></li>
                                        <li><a href="<?php echo $this->url(array('controller' => 'operacao', 'action' => 'decenio', 'status' => 'concluido'),"gerenciador", true ); ?>" >Decênios concluídos</a></li>
                                    <?php endif; ?>
                                </ul>
                            </li>
                        <?php endif; ?>


                        <?php if ($this->isAllowed('leitura', 'list')): ?>
                            <li class="<?php echo $this->menu == "leitura" ? 'active' : '' ?>">
                                <a href="<?php echo $this->url(array('controller' => 'leitura'), "gerenciador", true); ?>" >
                                    <i class="fa fa-search-plus"></i>
                                    Leitura
                                </a>
                                <ul>
              <!--         <?php //          <li><a href="<?php echo $this->url(array('controller' => 'leitura', 'action' => 'pre-venda'), "gerenciador", true); ?>" >Leitura pré-venda</a></li> ?> -->
                           
                                    <li><a href="<?php echo $this->url(array('controller' => 'leitura'), "gerenciador", true); ?>" >Listar Leituras</a></li>
                                    <?php if ($this->isAllowed('marcahistoricomensagem', 'list')): ?>
                                        <li>
                                            <a href="<?php echo $this->url(array('controller' => 'marcahistoricomensagem'), "gerenciador", true); ?>" >Mensagens de Retorno</a>
                                        </li>
                                    <?php endif; ?>
                                    <?php if ($this->isAllowed('empresa', 'list')): ?>
                                        <li>
                                            <a href="<?php echo $this->url(array('controller' => 'empresa'), "gerenciador", true); ?>" >Empresas Encontradas</a>
                                        </li>
                                    <?php endif; ?> 
                                    <?php if ($this->isAllowed('bancodemarcas', 'list')): ?>
                                        <li><a href="<?php echo $this->url(array('controller' => 'bancodemarcas', "action" => 'list', 'tipo' => 'produto'), "gerenciador", true); ?>" >Banco de Marcas Produtos</a></li>
                                        <li><a href="<?php echo $this->url(array('controller' => 'bancodemarcas', "action" => 'list', 'tipo' => 'servico'), "gerenciador", true); ?>" >Banco de Marcas Serviços</a></li>
                                    <?php endif; ?>
                                </ul>
                            </li>
                        <?php endif; ?>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- Top Nav End -->
                <?php echo $this->layout()->content; ?>

                <footer>
                    <p></p>
                </footer>

            </div>
        </div>
        <!-- Main Container end -->



        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/wysi/wysihtml5-0.3.0.min.js"></script>

        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/bootstrap.min.js"></script>

        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/wysi/bootstrap3-wysihtml5.js"></script>

        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/jquery.scrollUp.js"></script>

        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/data-tables/media/js/jquery.dataTables.js"></script>

        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/data-tables/extensions/TableTools/js/dataTables.tableTools.js"></script>
        <!--script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/data-tables-filter/jquery-ui.js"></script>
        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/data-tables-filter/jquery.dataTables.columnFilter.js"></script-->



        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/alertify.min.js"></script>
        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/validator.js"></script>
        <script src="<?php echo $this->baseUrl("static/") ?>ckeditor/ckeditor.js"></script>
        <script src="<?php echo $this->baseUrl("static/") ?>ckeditor/adapters/jquery.js"></script>




        <!-- Flot Charts -->
        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/flot/jquery.flot.js"></script>
        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/flot/jquery.flot.orderBar.min.js"></script>
        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/flot/jquery.flot.stack.min.js"></script>
        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/flot/jquery.flot.pie.min.js"></script>
        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/flot/jquery.flot.tooltip.min.js"></script>
        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/flot/jquery.flot.resize.min.js"></script>

        <script src="<?php echo $this->baseUrl('static/gerenciador/js/jquery.mask.min.js') ?>"></script>

        <!-- Highcharts JS -->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>

        <!-- Sparkline JS -->
        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/sparkline.js"></script>

        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/jquery.easing.1.3.js"></script>
        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/jquery-barIndicator.js"></script>


        <!-- Custom JS -->
        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/menu.js"></script>
        <!--script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/custom-index2.js"></script--->

        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/jquery.maskMoney.js"></script>
        <script src="<?php echo $this->baseUrl("static/") ?>plugins/daterpiker/js/moment-with-locales.js"></script>
        <script src="<?php echo $this->baseUrl("static/") ?>plugins/daterpiker/js/bootstrap-datetimepicker.min.js"></script>

        <script src="<?php echo $this->baseUrl("static/") ?>plugins/dropzone/dropzone.js"></script>
        <script src="<?php echo $this->baseUrl("static/") ?>plugins/select2/select2.min.js"></script>

        <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/custom.js"></script>



        <script type="text/javascript">
            //ScrollUp
            $(function () {

                $('.ckeditor').ckeditor({
                    filebrowserBrowseUrl: '<?php echo $this->baseUrl("static/") ?>/ckfinder/ckfinder.html',
                    filebrowserImageBrowseUrl: '<?php echo $this->baseUrl("static/") ?>/ckfinder/ckfinder.html?type=Images',
                    filebrowserFlashBrowseUrl: '<?php echo $this->baseUrl("static/") ?>/ckfinder/ckfinder.html?type=Flash',
                    filebrowserUploadUrl: '<?php echo $this->baseUrl("static/") ?>/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files&currentFolder=<? echo $this->baseUrl()?>/arqs/ckfinder/',
                    filebrowserImageUploadUrl: '<?php echo $this->baseUrl("static/") ?>/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images&currentFolder=<? echo $this->baseUrl()?>/arqs/ckfinder/',
                    filebrowserFlashUploadUrl: '<?php echo $this->baseUrl("static/") ?>/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash',
                });



                $.scrollUp({
                    scrollName: 'scrollUp', // Element ID
                    topDistance: '300', // Distance from top before showing element (px)
                    topSpeed: 300, // Speed back to top (ms)
                    animation: 'fade', // Fade, slide, none
                    animationInSpeed: 400, // Animation in speed (ms)
                    animationOutSpeed: 400, // Animation out speed (ms)
                    scrollText: 'Top', // Text for element
                    activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
                });
            });
        </script>

        <script type="text/javascript">
            //ScrollUp
            $(function () {

<?php if ($this->msg): ?>
                    alertify.set({
                        delay: 10000
                    });
    <?php if ($this->msg[0][1] == 1): ?>
                        alertify.success("<?php echo $this->msg[0][0]; ?>");
    <?php elseif ($this->msg[0][1] == 0): ?>
                        alertify.error("<?php echo $this->msg[0][0]; ?>");
    <?php else: ?>
                        alertify.log("<?php echo $this->msg[0][0]; ?>");
    <?php endif; ?>

<?php endif; ?>

            });
        </script>

    </body>
</html>
