<!DOCTYPE html>
<html>
  <head>
    <title>Gerenciador de Conteúdo</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Bootstrap Gallery" />
    <link rel="shortcut icon" href="<?php echo $this->baseUrl("static/gerenciador/") ?>img/favicon.ico">
    
    <link href="<?php echo $this->baseUrl("static/gerenciador/") ?>css/bootstrap.min.css" rel="stylesheet">

    <link href="<?php echo $this->baseUrl("static/gerenciador/") ?>css/new.css" rel="stylesheet">
    <!-- Important. For Theming change primary-color variable in main.css  -->

    <link href="<?php echo $this->baseUrl("static/gerenciador/") ?>fonts/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/html5shiv.js"></script>
      <script src="<?php echo $this->baseUrl("static/gerenciador/") ?>js/respond.min.js"></script>
    <![endif]-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-40304444-1', 'iamsrinu.com');
      ga('send', 'pageview');

    </script>
  </head>

  <body class="login">

    <?php echo $this->layout()->content; ?>

  </body>
</html>