<!DOCTYPE html>
<html lang="pt-br" class="no-js">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, user-scalable=0" name="viewport">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta property="og:title" content="Faça seu registro com profissionais com mais de 25 anos de experiência!" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="https://mavip.com.br/" />
    <meta property="og:image" content="https://www.mavip.com.br/static/default/images/mavip_facebook.jpg" />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <link href="<?php echo $this->baseUrl("static/") ?>plugins/daterpiker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KJ7JCCN');
    </script>

    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W5B7XQV');
    </script>
    <!-- End Google Tag Manager -->


    <!-- colocando o google ads  -->
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'AW-863619205');
    </script>

    <!-- Event snippet for TAWK.TO conversion page In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
        function gtag_report_conversion(url) {
            var callback = function() {
                if (typeof(url) != 'undefined') {
                    window.location = url;
                }
            };
            gtag('event', 'conversion', {
                'send_to': 'AW-863619205/lKwLCLzFy4oDEIWR55sD',
                'event_callback': callback
            });
            return false;
        }
    </script>

    <!-- fim google ads  -->

    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager -->
    <!--
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-N7RJ9PP');
        </script>

        -->




    <!-- End Google Tag Manager -->
    <?php /*
        <!-- Start of Woopra Code -->

        <script>  (function(){    var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call","trackForm","trackClick"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)  })("woopra");
                    woopra.config({      domain: 'mavip.com.br'  });  woopra.track();
        </script><!-- End of Woopra Code -->
        */ ?>
    <!-- Facebook Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '239991940195236');
        fbq('track', 'PageView');
    </script><noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=239991940195236&ev=PageView&noscript=1" /></noscript><!-- End Facebook Pixel Code -->

    <?php
    $this->headTitle('MAVIP - A forma fácil de registrar sua marca');
    $this->headTitle()->setSeparator(' - ');

    $this->headLink()->headLink(array('rel' => 'shortcut icon', 'href' => $this->baseUrl() . '/static/favicon.png', 'type' => 'image/x-icon'), 'PREPEND');
    $this->headLink()->appendStylesheet($this->baseUrl() . '/static/default/styles/build.css?v=9');
    $this->headLink()->appendStylesheet($this->baseUrl() . '/static/default/styles/ajustes.css');
    echo $this->headTitle();
    echo $this->headMeta();
    echo $this->headScript();
    echo $this->headStyle();
    echo $this->headLink();
    ?>
    <!--[if lt IE 9]>
                <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <script>
        baseUrl = '<?php echo $this->baseUrl(); ?>';
        var page;
    </script>
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->


    <!-- Hotjar Tracking Code for https://www.mavip.com.br/ -->
    <script>
        (function(h, o, t, j, a, r) {
            h.hj = h.hj || function() {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {
                hjid: 1046834,
                hjsv: 6
            };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

    <?php echo $this->render('browser.phtml'); ?>

    <?php
    $browser = new Browser();
    if ($browser->getBrowser() == Browser::BROWSER_SAFARI) {
        echo '
                    <style>
                        .nav{
                            max-width: 860px;
                        }
                        .nav li a{
                            font-size: 11px;
                        }
                    </style>
                ';
    }
    ?>

</head>
<link rel="stylesheet" href="">
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-89963629-1', 'auto');
    ga('send', 'pageview');

    ga('create', 'UA-3081546-70', 'auto', 'clientTracker');
    ga('clientTracker.send', 'pageview');

    var player;

    function onYouTubePlayerAPIReady() {
        // create the global player from the specific iframe (#video)
        player = new YT.Player('myVideo', {
            events: {
                // call this function when player is ready to use
                'onReady': onPlayerReady
            }
        });
    }

    function onPlayerReady(event) {

        // bind events
        var playButton = document.getElementById("play-button");
        playButton.addEventListener("click", function() {
            player.playVideo();
        });

        var pauseButton = document.getElementById("pause-button");
        pauseButton.addEventListener("click", function() {
            player.pauseVideo();
        });
    }

    // Inject YouTube API script
    var tag = document.createElement('script');
    tag.src = "//www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>
<style>
    .grid-item {
        width: 25%;
    }

    .grid-item--width2 {
        width: 50%;
    }
</style>

<body class="<?php echo $this->classe; ?>" id="site_top">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KJ7JCCN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W5B7XQV" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->



    <!-- Google Tag Manager (noscript) -->
    <!---

        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7RJ9PP"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
         -->
    <!-- End Google Tag Manager (noscript) -->

    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 863619205;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>

    <!-- START RD Station -->
    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/3cb4baef-60a3-44bb-a86c-6ecd2cffc46c-loader.js"></script>
    <!-- END RD Station -->

    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/863619205/?guid=ON&amp;script=0" />
        </div>
    </noscript>
    <!--[if (lt IE 9) & (!IEMobile)]> <p class="browsehappy">Você está usando um <strong>navegador antigo</strong>. Por favor <a href="http://browsehappy.com/">atualize o seu navegador</a> para uma boa experiência.</p> <![endif]-->
    <?php echo $this->layout()->content ?>
    <footer class="Footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center"><img src="<?php echo $this->baseUrl('static/default/images/logo-footer.png') ?>" alt="mavip" class="Footer-logo"></div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <ul class="Footer-links list-unstyled list-inline">
                        <li class="Footer-linksItem"><a href="<?php echo $this->url(array(), 'termos', true); ?>" class="Footer-link">Termos de uso da Ferramenta</a></li>
                        <li class="Footer-linksItem"><a href="<?php echo $this->url(array(), 'legislacao', true); ?>" class="Footer-link">Legislação</a></li>

                        <li class="Footer-linksItem"><a href="<?php echo $this->url(array('controller' => 'account', 'action' => 'register'), 'default', true); ?>
                            " class="Footer-link">Criar sua conta</a></li>

                        <li class="Footer-linksItem"><a href="<?php echo $this->url(array(), 'sobre', true); ?>" class="Footer-link">Empresa</a></li>
                        <li class="Footer-linksItem"><a href="<?php echo $this->url(array(), 'servicos', true); ?>" class="Footer-link">Serviços</a></li>
                        <li class="Footer-linksItem"><a href="<?php echo $this->url(array(), 'faq', true); ?>" class="Footer-link">FAQ</a></li>
                        <li class="Footer-linksItem"><a href="<?php echo $this->url(array(), 'blogs', true); ?>" class="Footer-link">Blog</a></li>

                    </ul>
                </div>
                <div class="col-xs-12 text-center">
                    <?php if ($this->classe == 'home' || $this->classe == 'precos' || $this->classe == 'services' || $this->classe == 'register') { ?>
                        <p class="Footer-rodape" style="margin-bottom: 5px"><?php echo $this->televenda['texto']; ?>: <?php echo $this->televenda['telefone']; ?></p>
                    <?php } ?>
                    <p class="Footer-rodape">Telefone: (11) 30423321 | CNPJ: 03.671.087/0001-17<br />
                        <strong> Programa de Computador Reg. nº BR 51 2017 000268 1</strong>
                    </p>
                </div>
                <div class="col-xs-12 text-center menu-social">
                    <center>
                        <a href="https://www.youtube.com/channel/UCNW1PACpdf61gRvkHwG83Mg" target="_blank">
                            <div id="social-yt" class="social-icon"></div>
                        </a>
                        <a href="https://www.instagram.com/mavipregistrodemarcas/" target="_blank">
                            <div id="social-inst" class="social-icon"></div>
                        </a>
                        <a href="https://www.facebook.com/mavipregistrodemarcas/" target="_blank">
                            <div id="social-fb" class="social-icon"></div>
                        </a>
                    </center>
                </div>
            </div>
        </div>

        <a href="#site_top" class="back_top scroll">
            <img src="<?php echo $this->baseUrl('static/default/images/up-arrow.svg') ?>" alt="">
        </a>

    </footer>

    <div class="what-button">
<!--            <button class="close" style="padding: .5rem;">x</button>-->
<!--            <div class="quadrado">-->
<!--                <span>Registre sua marca agora com um especialista!</span>-->
<!--            </div>-->
            <a href="https://api.whatsapp.com/send?phone=5511988021158" target="_blank">
                    <img src="<?php echo $this->baseUrl('static/default/images/whatsapp.png') ?>" alt="">
            </a>
        </div>


    <div id="modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content whatsapp-modal">
                <div class="modal-header header-modal-mavip">
                    <h4 class="close" onclick="fecharModal()">X</h4>
                    <h1>Quero registrar minha marca</h1>
                </div>
                <div class="whatsapp-button">
                    <a id="whatsapp-ancora" href="https://api.whatsapp.com/send?phone=5511988021158" target="_blank">
                        <img src="<?php echo $this->baseUrl('static/default/images/whatsapp.png') ?>" alt="">
                    </a>
                </div>
                <div class="modal-body">
                    <div class="quadrado-roxo">
                        <button onclick="irSite()">Falar com consultor<br> <span class="btn-text">Clique aqui</span></button>
                        <div class="site-seguro">
                            <p>site verificado<br> 100% seguro</p>
                            <img src="<?php echo $this->baseUrl('static/default/images/cadeado.png') ?>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="<?php echo $this->baseUrl('static/default/scripts/jquery.js?v=2') ?>"></script>
    <script src="<?php echo $this->baseUrl('static/default/scripts/bootstrap.js?v=2') ?>"></script>
    <script>
        jQuery.noConflict();
    </script>
    <script src="<?php echo $this->baseUrl('static/default/scripts/vendors.min.js?v=2') ?>"></script>
    <script src="<?php echo $this->baseUrl('static/default/scripts/scripts.js?v=3') ?>"></script>
    <script src="<?php echo $this->baseUrl('static/default/scripts/owl.carousel.js?v=2') ?>"></script>
    <script src="<?php echo $this->baseUrl('static/default/scripts/blurt.min.js?v=2') ?>"></script>
    <script src="<?php echo $this->baseUrl('static/default/scripts/jquery.maskedinput.min.js?v=2') ?>"></script>
    <script src="<?php echo $this->baseUrl('static/default/scripts/jquery.validate.min.js?v=2') ?>"></script>
    <script src="<?php echo $this->baseUrl('static/default/scripts/custom-input-file.js?v=2') ?>"></script>
    <script src="<?php echo $this->baseUrl('static/default/scripts/bootstrap-3.js?v=2') ?>"></script>

    <script src="<?php echo $this->baseUrl("static/") ?>plugins/daterpiker/js/moment-with-locales.js"></script>
    <script src="<?php echo $this->baseUrl("static/") ?>plugins/daterpiker/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        abrirModal();
        $('.what-button .close').on('click', () => {
            $('.what-button .quadrado').remove();
            $('.what-button .close').remove();
        })

        $('#whatsapp-ancora').click(function(e){
            e.preventDefault();
            gtag_report_conversion();
            window.open($(this).attr('href'), '_blank');
        });

        function irSite() {
            window.open('https://api.whatsapp.com/send?phone=5511988021158', '_blank')
        }

        function fecharModal() {
            // $('#modal').removeClass("show");
        }

        function abrirModal() {
            let path = window.location.href.split('/');
            let lastPart = path[path.length - 1];

            if (lastPart == "" || lastPart == "servicosmarcas" || lastPart == "precos") {
                // $('#modal').addClass("show");
            }
        }
    </script>

    <?php echo $this->render('partial/scripts-layout.phtml'); ?>
    <!--End of Tawk.to Script-->
    <?= $this->exibeErro($this->msg) ?>
</body>

</html>
