<?php
ini_set('display_errors', 1);
ini_set('display_startup_errors', 1);
error_reporting(E_ALL);
?>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://rawgit.com/unconditional/jquery-table2excel/master/src/jquery.table2excel.js"></script>

<style type="text/css">

.pagination_two {
    list-style: none;
    padding: 0;
    display: inline-block;
    float: right;
    -webkit-font-smoothing: antialiased;
    font-family: "OpenSans";
    font-weight: 500;
}
.pagination_two li.active a {
    background: #eb0037;
    color: white;
}

.pagination_two li a {
    display: block;
    padding: 5px 10px;
    color: #ff003c;
    border: 1px solid #ff003c;
    margin-left: 10px;
}
.pagination_two li {
    float: left;
    display: list-item;
    text-align: -webkit-match-parent;
    font-size:14px;
    padding:2px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
</style>

<?php date_default_timezone_set('America/Sao_Paulo'); ?>
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="" class="heading"><?php echo $this->title ?></a></li>
    </ul>
</div>

<div class="dashboard-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="col-md-8 col-lg-8 col-md-offset-1 col-lg-offset-1">
                    <?php // if ($this->isAllowed($this->resource, 'export')): ?>
                    <form class="form-horizontal"  action="<?php  echo $this->url(array('controller' => $this->resource, 'action' => 'alertas'), "gerenciador", true); ?>" method="post">
                              <input type="hidden" name="filtro" /> 
                     <div class="form-group">
                        <div class="form-group">
                              <span class="col-md-4 control-label" style="font-size:16px"><b>EXIBIR POR IPAS:</b></span>
                                <div class="col-md-4">
                                <select class="form-control" name="ipas">
                                    <option selected>Selecione...</option>
                                    <option value="IPAS029">IPAS 029 - até 90 dias</option>
                                    <option value="ipas404">IPAS 404 - até 60 dias</option>
                                    <option value="IPAS106">IPAS 106 - até 60 dias</option>
                                    <option value="IPAS139">IPAS 139 - até 60 dias</option>
                                    <option value="IPAS157">IPAS 157 - até 60 dias</option>
                                    <option value="IPAS161">IPAS 161 - até 60 dias</option>
                                    <option value="IPAS024">IPAS 024 - até 60 dias</option>
                                    <option value="IPAS423">IPAS 423 - até 60 dias</option>
                                    <option value="IPAS359">IPAS 359 - até 5 dias</option>
                                    <option value="IPAS005">IPAS 005 - Marcas extintas</option>
                                    <option value="IPAS304">IPAS 304 - Marcas extintas por CADUCIDADE</option>
                                    <option value="IPAS414">IPAS 414 - Marcas extintas por FALTA DE PROCURADOR</option>
                                    <option value="IPAS033">IPAS 033 - Pedidos de registros INEXISTÊNTES</option>
                                    <option value="IPAS047">IPAS 047 - Pedidos de registros INEXISTÊNTES PAGO</option>
                                    <option value="IPAS091">IPAS 091 - Pedidos de registros INEXISTÊNTE PAGO</option>
                                    <option value="IPAS112">IPAS 112 - Pedidos de registros INEXISTÊNTE PAGO</option>
                                    <option value="IPAS113">IPAS 113 - Pedidos de registros para OPOSIÇÃO</option>
                                    <option value="IPAS009">IPAS 009 - Pedidos de registros PUBLICADO PARA OPOSIÇÃO</option>
                                    <option value="IPAS135">IPAS 135 - Pedidos de registros PUBLICADO PARA OPOSIÇÃO</option>
                                    <option value="IPAS421">IPAS 421 - Pedidos de registros PUBLICADO PARA OPOSIÇÃO</option>
                                    <option value="IPAS142">IPAS 142 - SOBRESTAMENTO do exame do pedido</option>
                                </select>
                            </div>
                              <button type="submit" class="btn btn-primary">
                              <span class="glyphicon glyphicon-filter pull-left"></span> Filtrar
                              </button>
                              <a href="<?php  echo $this->url(array('controller' => $this->resource, 'action' => 'alertas'), "gerenciador", true); ?>"
                                        class="btn btn-danger"  style="margin-left:1%">Exibir todos</a>
                    </div>
                </div>
             </form>
              <?php // endif; ?>
                </div>
            </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            <?php echo $this->title ?>
                        </div>
                        <?php //  if($this->records): ?>
                          <a  class="btn btn-success" style="margin-left:5%" id="export-btn">Exportar xls</a>
                        <?php // endif;  ?>
                    </div>

                    <div class="widget-body">
                        <div id="dt_example" class="example_alt_pagination table-responsive">
          
                 <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
                                <thead>
                                    <tr class="noExport">
                                         <th>ID</th>
                                         <th>PRAZO</th>
                                        <th>IPAS</th>
                                        <th style="min-width:30px;">Nº PROCESSO</th>
                                         <th style="width:20%;">EMAIL</th>
                                        <th style="min-width:170px;">RAZÃO SOCIAL</th>
                                        <th style="width:180px;">PERIDIOCIDADE</th>
                                     </tr>
                                </thead>
                                <tbody>
                              <?php if (sizeof($this->paginator)): ?>
                                    <?php foreach ($this->paginator as $row): ?>
                                    <tr>
                        			<td><?php echo $row['id']; ?> </td>
                        			<td><?php echo $this->prazo ?> </td>
                        			<td><?php echo $row['ipas']; ?> </td>
                                    <td><?php echo $row['processo']; ?> </td>
                        			<td><?php echo $row['email']; ?> </td>
                        			<td><?php echo $row['marca']; ?> </td>
                        			<td><?php echo $this->perid;  ?> </td>
                         		</tr>
                                    <?php endforeach; ?>
                            <?php  else:  ?>
                               <tr>
                               		<td> - </td>
                               		<td> - </td>
                               		<td> - </td>
                               		<td> - </td>
                               		<td> - </td>
                               		<td> - </td>
                           		</tr>
                           <?php  endif; ?>
                    			
                                </tbody>
                            </table>
                           
                            <div class="clearfix">
                             <?php echo $this->paginator; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
$("#export-btn").click(function(){

  $("#data-table").table2excel({
    exclude: ".noExport",
    name: "Worksheet Name",
    filename: "dados" //do not include extension
  });

});
</script>