<!-- Sub Nav End -->



<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="<?=$this->url(array('action' => 'list'));?>" class="heading"><?=$this->title?> </a> >></li> 
        <li><a href="<?=$this->url(array('action' => 'list', 'status' => 'prazo'));?>" class="heading"><?=$this->page?> </a> >></li> 
            <li><a href="#" class="heading"> <?=$this->action?></a></li>
    </ul>
</div>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">

        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget no-margin">
                    <div class="widget-header">
                        <div class="title">
                           <span><?php echo "Pedido"; ?> nº #<?php echo $this->row['id']; ?> </span>  | <span><?php echo $this->row['marca']; ?> </span>
                        </div>

                    </div>
                    <div class="widget-body ">
                        <div class="invoice clearfix">

                            <div class="invoice-data-container">
                                <u><h4>Dados Gerais</h4></u>
                                <hr/>
                                <div class="col-sm-3">
                                    <label>Status: </label> <?php echo $this->row['status']; ?>
                                </div>
                                <br /><br /><br />
                                <u><h4>Dados da Marca</h4></u>
                                <hr/>

                                <div class="col-sm-3">
                                    <label>Marca: </label> <?php echo $this->row['marca']; ?> (ID: <?php echo $this->row['marca_id']; ?>)
                                </div>
                                <div class="col-sm-3">
                                    <label>Tipo: </label> <?php echo $this->row['tipo']; ?>
                                </div>
                                <div class="col-sm-3">
                                    <label>Estilo: </label> <?php echo $this->row['estilo'] == 'texto' ? 'nominativa' : ''; ?><?php echo $this->row['estilo'] == 'mista' ? 'mista' : ''; ?>
                                </div>
                                <div class="col-sm-3">
                                    <label>NCL: </label> <?php echo $this->row['categoria_produto_id']; ?> <?php echo $this->row['categoria_servico_id']; ?>
                                </div><br><br>
                                <div class="col-sm-12">
                                    <label>Observações: </label> <?php echo $this->row['observacao']; ?>
                                </div>

                                <?php if ($this->row['logo']): ?>
                                    <div class="col-sm-12">
                                        <label>Logo: </label> 
                                        <a href="<?php echo $this->baseUrl("arqs/marca/" . $this->row['logo']); ?>" target="_blank">
                                            <img class="thumbnail" style="width: 150px" src="<?php echo $this->baseUrl("arqs/marca/" . $this->row['logo']); ?>" />
                                        </a>
                                    </div>
                                <?php endif; ?>

                                <br /><br /><br />

                                <table class="table table-condensed table-striped table-bordered table-hover ">
                                    <thead>
                                        <tr>
                                            <th style="width:80%" colspan="4">
                                                Serviço
                                            </th>

                                            <th style="width:20%" class="hidden-phone">
                                                Contratado?
                                            </th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php
                                        $marcaModel = new Application_Model_Marca();
                                        $servicos = $marcaModel->getServicosByMarca($this->row['marca_id']);

                                      //  echo "<pre>"; print_r($servicos); exit;

                                     //   $pedidoModel = new Application_Model_Pedido();
                                        $exibirGru = false;
                                        ?>
                                        <?php foreach ($servicos as $ser): ?>
                                            <?php
                                            if ($ser["id"] != 2) {
                                                $exibirGru = true;
                                            }
                                            ?>
                                            <tr>
                                                <td class="hidden-phone" colspan="4">
                                                    <?php echo $ser["titulo"]; ?>
                                                </td>
                                                <td class="hidden-phone" >
                                                    <?php echo $this->exibeMoeda($ser["item_valor"]); ?>
                                                </td>
                                            </tr>
                                            <?php if ($ser["item_valor_gru"]): ?>
                                                <tr>
                                                    <td class="hidden-phone" colspan="4">
                                                        GRU
                                                    </td>
                                                    <td class="hidden-phone" >
                                                        <?php echo $this->exibeMoeda($ser["item_valor_gru"]); ?>
                                                    </td>
                                                </tr>
                                            <?php endif; ?>
                                        <?php endforeach; ?>


                                        <tr>
                                            <td class="total" colspan="3">

                                            </td>
                                            <td class="total"style="width:20%" >
                                                Subtotal
                                            </td>
                                            <td class="hidden-phone">
                                                <?php echo $this->exibeMoeda($this->row['subtotal']); ?>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="" colspan="3">

                                            </td>
                                            <td class="total">
                                                Desconto
                                            </td>
                                            <td class="hidden-phone">
                                                <?php echo $this->exibeMoeda($this->row['desconto']); ?>
                                            </td>
                                        </tr>
                                        <tr >
                                            <td class="" colspan="3">

                                            </td>
                                            <td class="total success">
                                                Total
                                            </td>
                                            <td class="hidden-phone success">
                                                <?php echo $this->exibeMoeda($this->row['total']); ?>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <br /> 

                                <hr/>

                                <u><h4>Dados do Cliente</h4></u>
                                <hr/>

                                <div class="col-sm-6">
                                    <label>Nome: </label> <?php echo $this->row['cliente']; ?>
                                </div>
                                <div class="col-sm-6">
                                    <label>CNPJ: </label> <?php echo $this->row['cnpj']; ?>
                                </div>
                                <div class="col-sm-6">
                                    <label>E-mail: </label> <?php echo $this->row['email']; ?>
                                </div>
                                <div class="col-sm-6">
                                    <label>Telefone: </label> <?php echo $this->row['telefone']; ?>
                                </div>
                                <div class="col-sm-12">
                                    <label>Celular: </label> <?php echo $this->row['celular']; ?>
                                </div>
                                <br /><br /><br /><br /><br />
                                <?php if ($exibirGru): ?>
                                    <u> <h4>INPI</h4></u>
                                    <hr/>
                                    <div class="col-sm-6">
                                        <a class="btn btn-info" target="_blank" href="<?php echo $this->url(array("controller" => "operacao", "action" => "gerargru")) ?>">Gerar Gru</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="btn btn-info" target="_blank" href="<?php echo $this->url(array("controller" => "operacao", "action" => "gerarpeticionamento")) ?>">Gerar Peticionamento</a>

                                    </div>
                                <?php endif; ?>
                                <br /><br /><br />

                                <form class="form-horizontal no-margin row" action="" method="post" enctype="multipart/form-data">
                                    
                                    <h4>
                                        Atualizar Informações
                                    </h4>
                                    <hr/>

                                    <div class="col-md-8">
                                        <div class="row">

                                            <div class="col-md-11">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label>Marca</label>
                                                        <input type="text" class="form-control" value="<?php echo $this->row['marca'] ?>">
                                                    </div>
                                                </div>                                                
                                            </div>
                                                                                        
                                            <div class="col-md-1">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label style="visibility: hidden;">Editar</label>
                                                        <!--<button type="submit" class="btn btn-info pull-right">Salvar</button>-->
                                                        <a href="<?php echo $this->url(array('controller' => 'marca', 'action' => 'update', 'id' => $this->row['marca_id']), "gerenciador", true); ?>?op=<?= $this->row['id'] ?>" class="btn btn-info pull-right">                                                            
                                                            Editar
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-6">

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <?php echo $this->form->getElement('gru_paga'); ?>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-6">

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <?php echo $this->form->getElement('categoria_id'); ?>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6">
                                                <input type="hidden" name="marca_id" value="<?=$this->row['marca_id']?>">

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <?php echo $this->form->getElement('processo'); ?>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-6">

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <?php echo $this->form->getElement('nosso_numero'); ?>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-6">

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label><input type="checkbox" id="pub-inpi" value="1"> Informar data de registro (decênio)</label>
                                                        <?php echo $this->form->getElement('publicacao_inpi'); ?>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>


                                    </div>

                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <?php echo $this->form->getElement('observacao'); ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 ">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <!--<button type="submit" class="btn btn-info pull-right">Salvar</button>-->
                                                        <button name="atualizar" value="1" type="submit" class="btn btn-info pull-right btn-block">Salvar</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 ">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <!--<button type="submit" class="btn btn-info pull-right">Salvar</button>-->
                                                        <a href="<?php echo $this->url(array('controller' => 'processo', 'action' => 'new', 'operacao' => $this->row['id'], 'marca' => $this->row['marca_id']), "gerenciador", true); ?>" class="btn btn-info pull-right">
                                                            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                                            Anexar
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <!--<button type="submit" class="btn btn-info pull-right">Salvar</button>-->
                                                        <button type="submit" class="btn btn-success pull-right btn-block">Concluir Processo</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <?php
                                $processoModel = new Application_Model_Processo();
                                $processos = $processoModel->getById($this->row['marca_id']);
                                ?> 

                                <?php if (!empty($processos)) { ?>                                                                  
                                    <hr/>
                                    <table class="table table-condensed table-striped table-bordered table-hover ">
                                        
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Descrição</th>
                                                <th>Arquivo</th>
                                                <th>Cadastro</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody
                                        <?php $i = 0; ?>
                                        <?php foreach ($processos as $value) { ?>
                                                <tr>
                                                    <td><?php echo ++$i; ?></td>
                                                    <td><?php echo $value['descricao']; ?></td>
                                                    <td>
                                                        <a href="<?php echo $this->baseUrl('arqs/processo/' . $value['arquivo']); ?>" target="_blank">
                                                            <?php echo $value['arquivo']; ?>
                                                        </a>                                                
                                                    </td>
                                                    <?php $data = new Zend_Date($value['data_cadastro']); ?>
                                                    <td><?php echo $data; ?></td>
                                                    <td>           
                                                        <a class="btn btn-danger btn-xs" href="<?php echo $this->url(array('controller' => 'processo', 'action' => 'delete', 'id' => $value['id'], 'pedido' => $this->row['id'], 'origem' => 'operacao', 'tipo' => 'concluir')) ?>" id="notification" data-original-title="" title="">
                                                            Excluir
                                                        </a>
                                                    </td>
                                                </tr>
                                            <?php } ?>
                                        </tbody>

                                    </table>

                                <?php } ?>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Left Sidebar End -->

</div>
<!-- Dashboard Wrapper End -->

<script type="text/javascript">

    //Data Tables
    $(document).ready(function () {

        var value =  $("input[name=publicacao_inpi]").val();

        if(value == ''){
            $("#publicacao_inpi").hide();
        }
        else {
            $("#pub-inpi").prop( "checked", true );
        }

        $("#pub-inpi").change( function (){

            if(this.checked) {
                $("#publicacao_inpi").show();
            }
            else {
                $("#publicacao_inpi").hide();
            }

        });
    });

</script>