<?php date_default_timezone_set('America/Sao_Paulo'); ?>
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="<?=$this->url(array('action' => 'list'));?>" class="heading"><?=$this->title?> </a> >></li> 
          <li><a href="#" class="heading"> <?=$this->decenio?></a></li>
    </ul>
</div>

<div class="dashboard-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="pull-left ">
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title" style="font-size: 14px">
                            <?php if($this->status == "andamento"): ?>
                            <span style="background: orange; padding: 5px; text-align: center">&nbsp</span> Decênio Ordinário
                            <span style="background: #fe0000; padding: 5px; text-align: center; margin-left: 10px">&nbsp</span> Decênio ExtraOrdinário
                            <?php else: ?>
                                <span>  Decênios Concluídos </span>
                            <?php endif; ?>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div id="dt_example" class="example_alt_pagination table-responsive">

                            <style>
                                .backred {
                                    background-color: #a94442;
                                    color: #f2dede ;
                                }
                                
                                .backgreen {
                                    background-color: #009900;
                                    color: #f2dede ;
                                }

                                .novocon {
                                    background-color: #31708f;
                                    color: #d9edf7;
                                }

                                .falta3 {
                                    /* RESTANDO APENAS 3 DIAS */
                                    background-color: red;
                                    color: white;
                                }

                                .falta7 {
                                    /* RESTANDO APENAS 7 DIAS */
                                    background-color: yellow;
                                    color: black;
                                }

                                .faltamuito {
                                    /* RESTANDO MAIS DE 10 DIAS */
                                    background-color: #74FF5B;
                                    color: black;
                                }
                            </style>

    <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">

                                <thead>
                                    <tr>
                                         <th>ID</th>
                                         <th>MARCA</th>
                                    <?php if($this->status == 'andamento'): ?>
                                        <th>TEMPO</th>
                                    <?php endif; ?>
                                         <th>CLIENTE</th>
                                        <th>N PROCESSO</th>
                                        <th>NCL</th>
                                        <th>RESPONSÁVEL</th>
                                        <th>DATA DE PUBLICAÇÃO</th>
                                        <th>AÇÃO</th>
                                    </tr>
                                </thead>
                                <tbody>

                                <?php
                                foreach ($this->records as $row):
                                    $pub_inpi = new DateTime( $row['publicacao_inpi'] );
                                    $dateAtual = date('Y-m-d');
                                    $dataHoje = new DateTime( $dateAtual );
                                    $intervalo = $pub_inpi->diff( $dataHoje );
                                    $data_pub = date("d/m/Y", strtotime($row['publicacao_inpi']));

                                    $cor = '';
                                     if($intervalo->y < '10' &&  !$row['ocultar_decenio']){
                                         $cor = 'orange';
                                     }
                                     else if(!$row['ocultar_decenio']) {
                                         $cor = '#fe0000';
                                     }


                                    echo "<tr style='background: {$cor}; font-weight: 700'>";
                                            echo "<td>".$row['id']."</td>";
                                            echo "<td>".$row['marca']."</td>";?>

                                <?php if($this->status == 'andamento'): ?>
                                            <?php echo "<td>{$intervalo->y} anos, {$intervalo->m} meses e {$intervalo->d} dia(s)</td>"; ?>
                                <?php endif;
                                            echo "<td>".$row['cliente']."</td>";
                                            echo "<td>".$row['processo']."</td>";
                                            echo "<td>".$row['categoria']." (".$row['id_inpi'].")". "</td>";
                                            echo "<td>".$row['name']."</td>";
                                            echo "<td>".$data_pub."</td>";
                                    ?>
                                          <?php  echo "<td><a href='".$this->url(array('controller' => 'marca', 'action' => 'view', 'id'  => $row['id']))."'
                                                class='btn btn-sm btn-success'>Visualizar</a>";
                                          ?>
                                            <?php if(!$row['ocultar_decenio']): ?>
                                                <?php echo "<a href='".$this->url(array('controller' => 'operacao', 'action' => 'ocultar-decenio', 'id'  => $row['id']))."'
                                                class='btn btn-sm btn-danger'  id='btn-ocultar'>Ocultar</a> 
                                                </td>"; ?>
                                          <?php endif; ?>
                          <?php   echo "</tr>";
                                endforeach;
                                ?>

                                </tbody>
                            </table>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#btn-ocultar').click(function (event) {
            if (confirm('Você tem certeza que deseja fazer isso?') === false) {
                    event.preventDefault();
                    return false
            }
        });
   });

</script>