
<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="<?=$this->url(array('action' => 'list'));?>" class="heading"><?=$this->title?> </a> >></li> 
          <li><a href="#" class="heading"> <?=$this->action?></a></li>
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">
    <!-- Left Sidebar Start -->
    <div class="container">
        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget no-margin">
                    <div class="widget-header">
                        <div class="title">
                            <?php echo $this->action; ?>  
                        </div>
                    </div>
                    <div class="widget-body ">
                        <div class="invoice clearfix">
                            <div class="invoice-data-container">
                                    <div class="col-sm-12">
                                    <label>Documentos: </label> 
                                </div>
                                 <hr/><br />
                            <div class="col-sm-8">
                                 <?php if($this->records): ?>
                                <table  class="table table-condensed table-striped table-hover table-bordered pull-left"
                                   id="data-table">
                                    <thead>
                                        <tr style="font-weight: bold; text-align: center;">
                                        <th>Descrição</th>
                                        <th>Arquivo</th>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($this->records as $row): ?>
                                        <tr>    
                                            <td><?= $row['descricao'] ?></td>
                                            <td style="width: 5%"><a class="btn btn-default" target="_blank"
                                                   href="<?= $this->baseUrl("/arqs/processo/{$row['arquivo']}"); ?>">Ver</a></td>
                                        </tr>    
                                            <?php endforeach; ?>
                                    </tbody>
                                </table>   
                            <?php else: ?>
                                 Processo sem documentos.
                                <?php endif; ?>
                            </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Left Sidebar End -->
</div>
<!-- Dashboard Wrapper End -->

