<form id="form_gru" action="https://gru.inpi.gov.br/emarcas/autenticar" method="post">
    <input type="hidden" name="usuario.login" value="<?php echo $this->row['inpi_login']?>">
    <input type="hidden" name="usuario.senha" value="<?php echo $this->row['inpi_senha']?>">
    
    <input type="hidden" name="browser" id="_browser" value="chrome/54.0.2840.71">
    </form>

<script type="text/javascript">

    //Data Tables
    $(document).ready(function () {
        $('#form_gru').submit();
    });

</script>

