
<form id="form_gru" action="https://meu.inpi.gov.br/pag/autenticar" method="post" name="F_LoginCliente">
    <input type="hidden" name="usuario.login" value="<?php echo $this->row['inpi_login']?>">
    <input type="hidden" name="usuario.senha" value="<?php echo $this->row['inpi_senha']?>">
    <input type="hidden" name="usuario.browser" value="chrome/60.0.3112.78">
    <input id="botaoLogin" type="submit" name="Submit" value=" Acessar >> " class="button">
    </form>

<script type="text/javascript">

    //Data Tables
    $(document).ready(function () {
        $('#form_gru').submit();
    });

</script>