<style>
    /* Operação -> Prazos */
    /*  20 dias = Verde
    21 dias = Amarelo
    41 à 60 = Vermelho
*/
    .backred {
        background-color: #a94442;
        color: #f2dede;
    }

    .backgreen {
        background-color: #009900;
        color: #f2dede;
    }

    .novocon {
        background-color: #31708f;
        color: #d9edf7;
    }

    .falta3 {
        /* RESTANDO APENAS 3 DIAS */
        background-color: red;
        color: white;
    }

    .falta7 {
        /* RESTANDO APENAS 7 DIAS */
        background-color: yellow;
        color: black;
    }

    .faltamuito {
        /* RESTANDO MAIS DE 10 DIAS */
        background-color: #74FF5B;
        color: black;
    }

    .tres_dias_extras {
        transform: scale(1.8);
        width: 25px;
    }

    .class_item_ocultar {
        transform: scale(1.8);
        width: 35px;
    }
</style>
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="<?= $this->url(array('action' => 'list')); ?>" class="heading"><?= $this->title ?> </a> >></li>
        <li><a href="#" class="heading"> <?= $this->action ?></a></li>
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="pull-right ">
                    <?php if ($this->isAllowed($this->resource, 'new')) : ?>
                        <a href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'new'), "gerenciador", true); ?>"
                           class="btn btn-default">
                            <i class="fa fa-plus"></i>
                            Adicionar
                        </a>
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div id="ocultado-sucesso" class='alert alert-success text-center'
                     style='display:none; color:black;font-weight:bold'>Prazo(s) Ocultado(s) com sucesso. Aguarde,
                    atualizando sua página...
                </div>
                <div id="ocultado-erro" class='alert alert-danger text-center'
                     style='display:none; color:black;font-weight:bold'>Ops! ERRO ao ocultar processo.  DETALHES: <br><span id="erro-processo"></span>
                </div>
                <?= isset($_GET['novo_prazo']) ? "<div class='alert alert-success text-center' style='color:black;font-weight:bold'>Prazo(s) concedido(s) com sucesso.</div>" : '' ?>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            <?php echo $this->option['page']; ?>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div id="dt_example" class="example_alt_pagination table-responsive">
                            <table class="table table-condensed table-striped table-hover table-bordered pull-left"
                                   id="data-table">
                                <thead>
                                <tr>
                                    <?php foreach ($this->grid['columns'] as $col => $inf) : ?>
                                        <th style="width:10%">
                                            <?php if ($inf['label'] != "Prazo" && $inf['label'] != "Tempo" && $this->option['page'] == 'Contratações') : ?>
                                                <?php echo $inf['label']; ?>
                                            <?php elseif ($this->option['page'] != 'Contratações') : ?>
                                                <?php echo $inf['label']; ?>
                                            <?php endif; ?>
                                        </th>
                                    <?php endforeach; ?>

                                    <th style="width:10%">
                                        Ações

                                        <?php if ($this->option['page'] == "Contratações" &&  $this->isAllowed($this->resource, 'novo-prazo') ): ?>

                                            <div class="pull-right">
                                                <form id="form_tres_dias" action="#" method="POST">
                                                    <div class="row pull-right">
                                                        <div class="col-md-10">
                                                            <input id="submit_button_days"
                                                                   class="btn btn-warning btn-md" type="submit"
                                                                   value="+ 3 dias">
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>

                                        <?php endif; ?>

                                        <?php if ($this->option['page'] == "Prazos"): ?>

                                            <div class="pull-left">
                                                <form id="form_ocultar_prazos" action="#" method="POST">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <input id="submit_button_ocultar"
                                                                   class="btn btn-primary btn-sm" type="submit"
                                                                   value="Ocultar prazos selecionados">
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>

                                        <?php endif; ?>

                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <!-- DADOS -->
                                <!-- LOOP 1 de 2  DADOS DE PRAZO 3 DIAS EXTRAS CONCEBIDOS -->
                                <?php foreach ($this->grid['records'] as $key => $row) :

                                    if (!$row['ocultar']
                                        && $row['novo_prazo']
                                        && $row['data_prazo']
                                    ) : ?>

                                        <tr class="gradeX <?php if (isset($row['ativo']) and !$row['ativo']) : ?>warning <?php echo $row['ativo']; ?><?php endif ?> ">

                                            <?php foreach ($this->grid['columns'] as $col => $inf) : ?>
                                            <td class="<?php echo $inf['class'];
                                            if (($row['prazo']) > 0) {
                                                $leitura = $row['data_leitura'];
                                                $hoje = date('Y-m-d');
                                                $diferenca = strtotime($hoje) - strtotime($leitura);
                                                $dias = floor($diferenca / (60 * 60 * 24));
                                                $d = $row['prazo'] - $dias;

                                                if (($d >= 1 && $d <= 3)) {
                                                    echo 'falta3';
                                                } else if ($d >= 4 && $d <= 15) {
                                                    echo 'falta7';
                                                } else if ($d >= 16) {
                                                    echo 'faltamuito';
                                                }
                                            }

                                            if ($row['diff'] <= 3 || $row['novo_prazo']) {
                                                echo 'backgreen';
                                                if ($row['status'] == 'processando') {
                                                    try {
                                                        $pedidoMapper = new Application_Model_DbTable_PedidoHasMarca();
                                                        $bd = $pedidoMapper->fetchRow(array('pedido_id = ?' => $row['id']  , 'marca_id = ?' => $row['marca_id']));
                                                        $bd->status = 'liberado';
                                                        $bd->save();
                                                        $row['status'] = 'liberado';
                                                    } catch (Exception $e) {
                                                        exit("ERRO. Entre em contato com a equipe de suporte.");
                                                    }
                                                }
                                            } elseif ($row['diff'] <= 7) {
                                                echo 'novocon';
                                            }
                                            ?>">
                                                <!--td-->

                                                <?php /* echo "Loop 1 ". $row['novo_prazo']; */
                                                if ($row['novo_prazo'] && $inf['type'] == 'diff') {
                                                    $data_prazo = new Zend_Date($row['data_prazo'], 'dd/MM/yyyy');
                                                    $data = explode(" ", $data_prazo);
                                                    $dia = explode("/", $data_prazo);
                                                    $dtp2 = explode(" ", $row['data_prazo']);
                                                    $hoje = date('Y-m-d');
                                                    $data_inicio = new DateTime($hoje);
                                                    $data_fim = new DateTime($dtp2[0]);

                                                    // Resgata diferença entre as datas
                                                    $dateInterval = $data_inicio->diff($data_fim);
                                                    if (($dateInterval->days <= 3) && ($dateInterval->days >= 0)) {
                                                        $prazo_extra = 3 - $dateInterval->days;
                                                        echo "<br><small><b>+3</b></small><small> em: " . $data[0] . "</small>";
                                                        echo "<br><small>resta(m) $prazo_extra dia(s)";
                                                        "</small>";
                                                    } // se passar o prazo, setar o novo prazo como 0
                                                    else {
                                                        $pedidoMapper = new Application_Model_DbTable_PedidoHasMarca();
                                                        $bd = $pedidoMapper->fetchRow(array('pedido_id = ?' => $row['id'] , 'marca_id = ?' => $row['marca_id']));
                                                        $bd->novo_prazo = '0';
                                                        $bd->save();
                                                    }
                                                }
                                                ?>
                                                <?php if ($inf['type'] == 'youtube') : ?>
                                                    <iframe width="<?php echo $inf['config']['width'] ? $inf['config']['width'] : '420' ?>"
                                                            height="<?php echo $inf['config']['height'] ? $inf['config']['height'] : '315' ?>"
                                                            src="//www.youtube.com/embed/<?php echo $row[$inf['config']['col'] ? $inf['config']['col'] : 'url']; ?>"
                                                            frameborder="0" allowfullscreen></iframe>
                                                <?php elseif ($inf['type'] == 'image') : ?>
                                                    <img src="<?php echo $this->baseUrl($inf['config']['path'] . ($row[$col] ? $row[$col] : $row['file'])); ?>">
                                                <?php elseif ($inf['type'] == 'boolean') : ?>
                                                    <?php echo $row[$col] ? 'Sim' : 'Não'; ?>
                                                <?php elseif ($inf['type'] == 'date' and $row[$col]) : ?>
                                                    <?php
                                                    $date = new Zend_Date($row[$col]);
                                                    echo $date->get($inf['config']['format'] ? $inf['config']['format'] : 'dd/MM/yyyy');
                                                    ?>
                                                <?php elseif ($inf['type'] == 'diff' and $row[$col]) :

                                                    $leitura = $row[$col];
                                                    $hoje = date('Y-m-d');
                                                    $diferenca = strtotime($hoje) - strtotime($leitura);
                                                    $dias = floor($diferenca / (60 * 60 * 24));
                                                    $d = $row['prazo'] - $dias;
                                                    if ($row['novo_prazo']) {
                                                        $row['prazo'] = $row['prazo'] + 3;
                                                    }
                                                    $d = $row['prazo'] - $dias;


                                                    if (($dias < 60) and ($dias >= 0) && $row['prazo'] == '60') {
                                                        echo ($row['prazo'] - $d) . " dia(s) passaram, resta(m) $d dia(s)";
                                                    }

                                                    if (($dias > 60) and ($dias < 91) && $row['prazo'] == '60') {
                                                        echo ($row['prazo'] - $d) . "<br>";
                                                        echo "<small>+ 30 dias extraordinário</small>";
                                                        $extra30 = 60 - $row['prazo'] - $d;
                                                        echo "<br><small>" . $extra30 . " dias passaram</small>";
                                                        echo "<br><small style='color:red;'>resta(m): " . (30 - $extra30) . " dia(s)</small>";
                                                    }

                                                    if ($dias > 90 && $row['prazo'] == '60') {
                                                        try {
                                                            $pedidoMapper = new Application_Model_DbTable_PedidoHasMarca();
                                                            $bd = $pedidoMapper->fetchRow(array('pedido_id = ?' => $row['id']  , 'marca_id = ?' => $row['marca_id']));
                                                            if ($bd->status == 'concluido' && $row['texto'] == 'Deferimento do pedido') {
                                                                $bd->status = 'perdeu';
                                                                $bd->save();
                                                                $row['status'] = 'perdeu';
                                                            }
                                                        } catch (Exception $e) {
                                                            exit("ERRO. Entre em contato com a equipe de suporte.");
                                                        }
                                                    } ?>
                                                <?php else : ?>
                                                    <?php echo $row[$col]; ?>
                                                    </td> <!-- fim td -->
                                                <?php endif; ?>
                                            <?php endforeach; ?>

                                            <!-- ACOES -->
                                            <td class="col-md-2" style="text-align: center">

                                                <?php if ($this->isAllowed($this->resource, 'ocultar') && $this->option['page'] == "Prazos") : ?>
                                                    <!--              <a class="btn btn-xs confirm" href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'ocultar', 'pr' => $row['processo'])) ?>" id="notification" data-original-title="" title="" style="background-color: #330000; color:white; font-weight: 300;">
                                                            Ocultar
                                                        </a> -->
                                                    <div class="pull-left">
                                                        <input type="checkbox" name="item_ocultar"
                                                               class="class_item_ocultar"
                                                               value="<?php echo $row['revista'] . "-" . $row['marca_id']; ?>"/>Ocultar
                                                        |
                                                    </div>
                                                <?php endif; ?>

                                                <?php /* if ($this->option['page'] != "Prazos"): ?>

                                            <button type="button" class="btn btn-warning btn-xs " data-toggle="modal" data-target="#myModal<?= $key ?>">
                                                Trocar Status
                                            </button>
                                            <div class="modal fade" id="myModal<?= $key ?>" tabindex="-1" role="dialog">
                                                <div class="modal-dialog" role="document" style="margin-top:100px">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title">#<?php echo $row["id"]."  -  ". $row["marca"]; ?></h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="" method="post" style="padding-bottom:50px;">
                                                                <label>Status:</label>
                                                                <select>
                                                                    <option value="<?= $row["status"] ?>" selected><?= $row["status"] ?></option>
                                                                    <option value="processando">Processando</option>
                                                                    <option value="assumido - processando ">Assumido - processando</option>
                                                                    <option value="concluido">Concluído</option>

                                                                </select>
                                                            </form>

                                                            <button type="button" class="btn btn-success" style="margin-right:30px !important;">Trocar</button>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

                                                        </div>
                                                        <div class="modal-footer">
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div><!-- /.modal -->
                                            </div><!-- /.modal -->
                                            <?php endif; */ ?>

                                                <?php if ($this->isAllowed($this->resource, 'view')) : ?>
                                                    <a class="btn btn-info btn-xs"
                                                       href="<?php echo $this->url(array('action' => 'view', 'id' => $row['id'], 'marca' => $row['marca_id'])) ?>"
                                                       id="notification" data-original-title="" title="">
                                                        Visualizar
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($this->isAllowed($this->resource, 'active')) : ?>
                                                    <?php if ($row['active']) : ?>
                                                        <a class="btn btn-danger btn-xs"
                                                           href="<?php echo $this->url(array('action' => 'active', 'id' => $row['id'], 'marca' => $row['marca_id'],  'active' => '0')) ?>"
                                                           id="notification" data-original-title="" title="">
                                                            Inativar
                                                        </a>
                                                    <?php else : ?>
                                                        <a class="btn btn-success btn-xs"
                                                           href="<?php echo $this->url(array('action' => 'active', 'id' => $row['id'], 'marca' => $row['marca_id'], 'active' => '1')) ?>"
                                                           id="notification" data-original-title="" title="">
                                                            Ativar
                                                        </a>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                                <?php if ($this->isAllowed($this->resource, 'update')) : ?>
                                                    <a class="btn btn-warning btn-xs"
                                                       href="<?php echo $this->url(array('action' => 'update', 'id' => $row['id'], 'marca' => $row['marca_id'])) ?>"
                                                       id="notification" data-original-title="" title="">
                                                        Editar
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($this->isAllowed($this->resource, 'senha')) : ?>
                                                    <a class="btn btn-warning btn-xs"
                                                       href="<?php echo $this->url(array('action' => 'senha', 'id' => $row['id'])) ?>"
                                                       id="notification" data-original-title="" title="">
                                                        Alterar Senha
                                                    </a>
                                                <?php endif; ?>

                                                <?php if ($this->isAllowed($this->resource, 'delete')) : ?>
                                                    <a class="btn btn-danger btn-xs confirm"
                                                       href="<?php echo $this->url(array('action' => 'delete', 'id' => $row['id'], 'marca' => $row['marca_id'])) ?>"
                                                       id="notification" data-original-title="" title="">
                                                        Excluir
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($this->isAllowed($this->resource, 'assumir')) : ?>
                                                    <?php if ($row['status'] == 'pago') : ?>
                                                        <a class="btn btn-info btn-xs confirm"
                                                           href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'assumir', 'id' => $row['id'], 'marca' => $row['marca_id']), 'gerenciador', true) ?>"
                                                           id="notification" data-original-title="" title="">
                                                            Assumir Processo
                                                        </a>
                                                    <?php endif; ?>
                                                <?php endif; ?>

                                                <?php if ($this->isAllowed($this->resource, 'concluir')) : ?>
                                                    <?php if ($row['status'] == 'processando' || $row['status'] == 'liberado' || $row['status'] == 'assumido - processando') : ?>
                                                        <a class="btn btn-success btn-xs"
                                                           href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'concluir', 'id' => $row['id'], 'marca' => $row['marca_id']), 'gerenciador', true) ?>"
                                                           id="notification" data-original-title="" title="">
                                                            Concluir
                                                        </a>
                                                        -
                                                        <a class="btn btn-danger btn-xs confirm"
                                                           href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'cancelar', 'id' => $row['id'], 'marca' => $row['marca_id']), 'gerenciador', true) ?>"
                                                           id="notification" data-original-title="" title="">
                                                            Cancelar
                                                        </a>

                                                    <?php endif; ?>
                                                <?php endif; ?>

                                                <?php if (($this->option['page'] != 'Prazos') && $row['status'] != 'pago' && !$row['novo_prazo']) : ?>

                                                    - <a class="btn btn-info btn-xs confirm"
                                                         href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'novo-prazo', 'id' => $row['id'], 'marca' => $row['marca_id']), 'gerenciador', true) ?>"
                                                         id="notification" data-original-title="" title="">
                                                        + 3
                                                    </a>
                                                <?php endif; ?>
                                            </td>
                                        </tr>

                                    <?php endif; ?>
                                    <!-- fim row ocultar -->

                                <?php endforeach; ?>
                                <!-- FIM LOOP  DADOS COM NOVO PRAZO  -->

                                <!-- LOOP 2 de 2  RESTANTE DOS DADOS -->
                                <?php foreach ($this->grid['records'] as $key => $row) :
                                    if (!$row['ocultar'] && !$row['novo_prazo']) : ?>

                                        <tr class="gradeX <?php if (isset($row['ativo']) and !$row['ativo']) : ?>warning <?php echo $row['ativo']; ?><?php endif ?> ">

                                            <?php foreach ($this->grid['columns'] as $col => $inf) : ?>
                                                <?php if ($this->option['prazo'] == '1') {
                                                    if (($row['prazo']) > 0) {
                                                        $leitura = $row['data_leitura'];
                                                        $hoje = date('Y-m-d');
                                                        $diferenca = strtotime($hoje) - strtotime($leitura);
                                                        $dias = floor($diferenca / (60 * 60 * 24));
                                                        $d = $row['prazo'] - $dias;
                                                        switch ($d) {
                                                            case (($d >= 1 && $d <= 19) || ($row['despacho'] == 'IPAS029') && ($inf['type'] == 'diff' || $inf['type'] == 'processo')):
                                                                $cor = 'falta3'; // vermelho
                                                                break;
                                                            case ($d >= 21 && $d <= 40):
                                                                $cor = 'falta7'; // amarelo
                                                                break;
                                                            case ($d >= 41 && $d <= 60):
                                                                $cor = 'faltamuito'; // verde
                                                                break;
                                                            default:
                                                                $cor = '';
                                                        }
                                                    }
                                                } else {  // se nao for prazo
                                                    $cor = '';
                                                    if ($row['diff'] <= 7) {
                                                        $cor = 'novocon';
                                                    }
                                                    if ($row['diff'] <= 3) {
                                                        $cor = 'backgreen';

                                                    }
                                                }
                                                ?>
                                                <td class="<?php echo $inf['class'] . " $cor"; ?>">
                                                <!--td-->

                                                <?php if ($inf['type'] == 'youtube') : ?>
                                                    <iframe width="<?php echo $inf['config']['width'] ? $inf['config']['width'] : '420' ?>"
                                                            height="<?php echo $inf['config']['height'] ? $inf['config']['height'] : '315' ?>"
                                                            src="//www.youtube.com/embed/<?php echo $row[$inf['config']['col'] ? $inf['config']['col'] : 'url']; ?>"
                                                            frameborder="0" allowfullscreen></iframe>
                                                <?php elseif ($inf['type'] == 'image') : ?>
                                                    <img src="<?php echo $this->baseUrl($inf['config']['path'] . ($row[$col] ? $row[$col] : $row['file'])); ?>">
                                                <?php elseif ($inf['type'] == 'boolean') : ?>
                                                    <?php echo $row[$col] ? 'Sim' : 'Não'; ?>
                                                <?php elseif ($inf['type'] == 'date' and $row[$col]) : ?>
                                                    <?php
                                                    $date = new Zend_Date($row[$col]);
                                                    echo $date->get($inf['config']['format'] ? $inf['config']['format'] : 'dd/MM/yyyy');
                                                    ?>
                                                <?php elseif ($inf['type'] == 'diff' and $row[$col]) :

                                                    $leitura = $row[$col];
                                                    $hoje = date('Y-m-d');
                                                    $diferenca = strtotime($hoje) - strtotime($leitura);
                                                    $dias = floor($diferenca / (60 * 60 * 24));
                                                    $d = $row['prazo'] - $dias;
                                                    if ($row['novo_prazo']) {
                                                        $row['prazo'] = $row['prazo'] + 3;
                                                    }
                                                    $d = $row['prazo'] - $dias;


                                                    if (($dias < 60) and ($dias >= 0) && $row['prazo'] == '60') {
                                                        echo ($row['prazo'] - $d) . " dias passaram, resta(m) $d dia(s)";
                                                    }

                                                    if (($dias > 60) and ($dias < 91) && $row['prazo'] == '60') {
                                                        echo ($row['prazo'] - $d) . "<br>";
                                                        echo "<small>+ 30 dias extraordinário</small>";
                                                        $extra30 = 60 - $row['prazo'] - $d;
                                                        echo "<br><small>" . $extra30 . " dias passaram</small>";
                                                        echo "<br><small style='color:red;'>resta(m): " . (30 - $extra30) . " dia(s)</small>";
                                                    }

                                                    if ($dias > 90 && $row['prazo'] == '60') {

                                                        try {
                                                            $pedidoMapper = new Application_Model_DbTable_PedidoHasMarca();
                                                            $bd = $pedidoMapper->fetchRow(array('pedido_id = ?' => $row['id']  , 'marca_id = ?' => $row['marca_id']));
                                                            if ($bd->status == 'concluido' && $row['texto'] == 'Deferimento do pedido') {
                                                                $bd->status = 'perdeu';
                                                                $bd->save();
                                                                $row['status'] = 'perdeu';
                                                            }
                                                        } catch (Exception $e) {
                                                            exit("ERRO. Entre em contato com a equipe de suporte.");
                                                        }
                                                    }
                                                    ?>
                                                <?php else : ?>

                                                    <?php echo $row[$col]; ?>
                                                    </td> <!-- fim td -->
                                                <?php endif; ?>
                                            <?php endforeach; ?>

                                            <!-- ACOES -->
                                            <td class="col-md-2" style="text-align: center">

                                                <?php if ($this->isAllowed($this->resource, 'ocultar') && $this->option['page'] == "Prazos") : ?>


                                                    <?php $gru = $row['info_gru']; ?>
                                                    <form action="<?php echo $this->url(array('action' => 'gru')) ?>"
                                                          method="POST"
                                                          style="border: solid #5F9EA0 1px; padding:3px; margin-top:3px; display: flex;align-items: center; justify-content: space-between;">

                                                        <div class="col">

                                                            <a class="btn btn-xs" href="<?php echo $this->url(array(
                                                                'controller' => 'pedido',
                                                                'action' => 'view', 'id' => $row['id'], 'marca' => $row['marca_id']
                                                            )) ?>"
                                                               style="width: 38px; height: 38px; background-image: url(https://www.mavip.com.br/static/default/images/icons/lupa-gr.jpg);">
                                                            </a>
                                                            <!--                        <a class="btn btn-xs confirm" href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'ocultar', 'pr' => $row['processo'])) ?>" id="notification" data-original-title="" title="" style="width: 38px;height:38px; background-image: url(https://www.mavip.com.br/static/default/images/icons/close-gr.jpg); }"></a>
                                                  -->
                                                            <div class="pull-left">
                                                                <input type="checkbox" name="item_ocultar"
                                                                       class="class_item_ocultar"
                                                                       value="<?php echo $row['revista'] . "-" . $row['marca_id']; ?>"/>Ocultar
                                                                |
                                                            </div>
                                                        </div>

                                                        <div class="col" style="text-align: left">
                                                            <input type="hidden" name="marca_id"
                                                                   value="<?= $row['marca_id']; ?>">
                                                            <input style="float: left;margin-right: 5px;"
                                                                   type="checkbox" name="gru"
                                                                   value="1" <?php echo $gru == (1 || 2) ? 'checked' : '' ?>>GRU
                                                            <br>
                                                            <input style="float: left;margin-right: 5px;"
                                                                   type="checkbox" name="gru_pgo"
                                                                   value="1" <?php echo $gru == 2 ? 'checked' : '' ?>>
                                                            GRU PGO
                                                        </div>
                                                        <div class="col">
                                                            <input class="btn btn-default btn-sm" type="submit" value=""
                                                                   style="width:38px;height: 38px; background-image: url(https://www.mavip.com.br/static/default/images/icons/check-gr.jpg); border: 0;"/>
                                                        </div>
                                                    </form>
                                                <?php endif; ?>

                                                <?php /* if ($this->option['page'] != "Prazos"): ?>

                                            <button type="button" class="btn btn-warning btn-xs " data-toggle="modal" data-target="#myModal<?= $key ?>">
                                                Trocar Status
                                            </button>
                                            <div class="modal fade" id="myModal<?= $key ?>" tabindex="-1" role="dialog">
                                                <div class="modal-dialog" role="document" style="margin-top:100px">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title">#<?php echo $row["id"]."  -  ". $row["marca"]; ?></h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="" method="post" style="padding-bottom:50px;">
                                                                <label>Status:</label>
                                                                <select>
                                                                    <option value="<?= $row["status"] ?>" selected><?= $row["status"] ?></option>
                                                                    <option value="processando">Processando</option>
                                                                    <option value="assumido - processando ">Assumido - processando</option>
                                                                    <option value="concluido">Concluído</option>

                                                                </select>
                                                            </form>

                                                            <button type="button" class="btn btn-success" style="margin-right:30px !important;">Trocar</button>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

                                                        </div>
                                                        <div class="modal-footer">
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div><!-- /.modal -->
                                            <?php endif; */ ?>

                                                <?php if ($this->isAllowed($this->resource, 'view')) : ?>
                                                    <a class="btn btn-info btn-xs"
                                                       href="<?php echo $this->url(array('action' => 'view', 'id' => $row['id'], 'marca' => $row['marca_id'])) ?>"
                                                       id="notification" data-original-title="" title="">
                                                        Visualizar
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($this->isAllowed($this->resource, 'active')) : ?>
                                                    <?php if ($row['active']) : ?>
                                                        <a class="btn btn-danger btn-xs"
                                                           href="<?php echo $this->url(array('action' => 'active', 'id' => $row['id'], 'marca' => $row['marca_id'], 'active' => '0')) ?>"
                                                           id="notification" data-original-title="" title="">
                                                            Inativar
                                                        </a>
                                                    <?php else : ?>
                                                        <a class="btn btn-success btn-xs"
                                                           href="<?php echo $this->url(array('action' => 'active', 'id' => $row['id'] , 'marca' => $row['marca_id'], 'active' => '1')) ?>"
                                                           id="notification" data-original-title="" title="">
                                                            Ativar
                                                        </a>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                                <?php if ($this->isAllowed($this->resource, 'update')) : ?>
                                                    <a class="btn btn-warning btn-xs"
                                                       href="<?php echo $this->url(array('action' => 'update', 'id' => $row['id'], 'marca' => $row['marca_id'])) ?>"
                                                       id="notification" data-original-title="" title="">
                                                        Editar
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($this->isAllowed($this->resource, 'senha')) : ?>
                                                    <a class="btn btn-warning btn-xs"
                                                       href="<?php echo $this->url(array('action' => 'senha', 'id' => $row['id'])) ?>"
                                                       id="notification" data-original-title="" title="">
                                                        Alterar Senha
                                                    </a>
                                                <?php endif; ?>

                                                <?php if ($this->isAllowed($this->resource, 'delete')) : ?>
                                                    <a class="btn btn-danger btn-xs confirm"
                                                       href="<?php echo $this->url(array('action' => 'delete', 'id' => $row['id'], 'marca' => $row['marca_id'])) ?>"
                                                       id="notification" data-original-title="" title="">
                                                        Excluir
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($this->isAllowed($this->resource, 'assumir')) : ?>
                                                    <?php if ($row['status'] == 'pago') : ?>
                                                        <a class="btn btn-info btn-xs confirm"
                                                           href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'assumir', 'id' => $row['id'], 'marca' => $row['marca_id']), 'gerenciador', true) ?>"
                                                           id="notification" data-original-title="" title="">
                                                            Assumir Processo
                                                        </a>
                                                    <?php endif; ?>
                                                <?php endif; ?>

                                                <?php if ($this->isAllowed($this->resource, 'concluir')) : ?>
                                                    <?php if ($row['status'] == 'processando' || $row['status'] == 'liberado' || $row['status'] == 'assumido - processando') : ?>
                                                        <a class="btn btn-success btn-xs"
                                                           href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'concluir', 'id' => $row['id'], 'marca' => $row['marca_id']), 'gerenciador', true) ?>"
                                                           id="notification" data-original-title="" title="">
                                                            Concluir
                                                        </a>
                                                        -
                                                        <a class="btn btn-danger btn-xs confirm"
                                                           href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'cancelar', 'id' => $row['id'], 'marca' => $row['marca_id']), 'gerenciador', true) ?>"
                                                           id="notification" data-original-title="" title="">
                                                            Cancelar
                                                        </a>

                                                    <?php endif; ?>
                                                <?php endif; ?>
                                                <?php
                                                ?>
                                                <?php if ($this->option['page'] != 'Prazos'): ?>

                                                    <?php if ($row['status'] != 'pago' && $row['status'] != 'concedido') : ?>
                                                        <div class="pull-right">
                                                            <input type="checkbox" name="pedido_extras"
                                                                   class="tres_dias_extras" value="<?= $row['marca_id'] ?>"/>
                                                            + 3
                                                        </div>
                                                    <?php endif; ?>

                                                <?php endif; ?>


                                            </td>
                                        </tr>
                                    <?php endif; ?>
                                    <!-- fim row ocultar -->
                                <?php endforeach; ?>

                                </tbody>
                            </table>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    //Data Tables
    $(document).ready(function () {
        //$.fn.dataTable.TableTools.defaults.aButtons = [ "copy", "csv", "xls" ];
        $('#data-table').dataTable({
            "bPaginate": false,
            "info": false,
            "ordering": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/Portuguese-Brasil.json"
            }
            /*dom: 'T<"clear">lfrtip',
             tableTools: {
             "sSwfPath": "<?php //  echo $this->baseUrl("static/") ?>js/data-tables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
             }*/
        });
    });

    $('#submit_button_days').click(function (event) {
        event.preventDefault();

        var dados = []
        $('input[name="pedido_extras"]:checked').each(function () {
            dados.push($(this).val())
        });

        if (dados.length < 1) {
            alert("Assinale ao menos 1 item");
            return false;
        }

        if (confirm('Você tem certeza que deseja fazer isso?')) {
            $.ajax({
                url: "<?php echo $this->url(array('controller' => $this->resource, 'action' => 'novo-prazo'), 'gerenciador', true) ?>",
                type: "POST",
                data: {dados: dados },
                success: function (data) {
                    console.log(data)
                    if (data == 1) {
                          window.location = "<?php echo $this->url(array('controller' => $this->resource, 'action' => 'list'), 'gerenciador', true) ?>/?novo_prazo";
                    }else{
                        alert('=====>  ERRO AO CONCEDER PRAZO  <=====');
                    }
                },
            });
        }
    });

    $('#submit_button_ocultar').click(function (event) {
        event.preventDefault();

        var dados = []
        $('input[name="item_ocultar"]:checked').each(function () {
            dados.push($(this).val())
        });

        if (dados.length < 1) {
            alert("Assinale ao menos 1 item");
            return false;
        }

        if (confirm('Você tem certeza que deseja fazer isso?')) {
            $.ajax({
                url: "<?php echo $this->url(array('controller' => $this->resource, 'action' => 'ocultar'), 'gerenciador', true) ?>",
                type: "POST",
                data: {dados},
                success: function (data) {
                    console.log(data);
                    if(data == 'true'){
                        $('#ocultado-erro').hide();
                        $('#ocultado-sucesso').show();
                        setTimeout(
                            function () {
                                location.reload();
                            }, 0500);
                    }
                    else {
                        $('#ocultado-sucesso').hide();
                        $('#erro-processo').append(data);
                        $('#ocultado-erro').show();
                    }

                },
            });
        }


    });

</script>