<?php

ini_set('display_errors', 0);
ini_set('display_startup_errors', 0);
error_reporting(0);

?>
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="<?=$this->url(array('action' => 'list'));?>" class="heading"><?=$this->title?> </a> >></li> 
          <li><a href="#" class="heading"> <?=$this->page?></a></li>
    </ul>
</div>

<div class="dashboard-wrapper">
    <div class="container">
    <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="pull-right ">
              
                </div>
            </div>
        </div>

         <div class="row">
        <div class="widget">
          <hr />
         <div class="widget-header">
                        <div class="title">
                            <?=$this->page?>
                        </div>
                    </div>
                   
            <div class="widget-body">
                <div id="dt_example" class="example_alt_pagination table-responsive">
                    <table id="example" class="display table table-condensed table-striped table-hover table-bordered" style="width:100%">
                        <thead>
                      <tr>
                                        <th style="width:10%">#</th>
                                        <th style="width:5%">Tempo</th>
                                        <th style="width:10%">Despacho</th>
                                        <th style="width:5%">Prazo</th>
                                        <th style="width:10%">Cliente</th>
                                        <th style="width:10%">Marca</th>
                                        <th style="width:10%">N Processo</th>
                                        <th style="width:10%">Responsável</th>
                                        <th style="width:10%">Status</th>
                                        <th style="width:10%">Data de cadastro</th>
                                        <th style="width:10%">Ações</th>
                                    </tr>
                        </thead>
                         <tbody>
                          <?php foreach ($this->records as $row):  ?>
                       
                           
                            <tr>
                                 <td><?= $row['id'] ?></td>
                                        <td><?= $row[''] ?></td>
                                        <td><?= $row['texto'] ?></td>
                                        <td><?= $row[''] ?></td>
                                        <td><?= $row['cliente'] ?></td>
                                        <td><?= $row['marca'] ?></td>
                                        <td><?= $row['processo'] ?></td>
                                        <td><?= $row['responsavel'] ?></td>
                                        <td><?= $row['status'] ?></td>
                                        <td><?= date('d/m/Y', strtotime($row['data_cadastro'])) ?></td>
                                        <td>
                                            
                                <?php if ($this->isAllowed('pedido', 'view') && $row['status'] == 'concluido'): ?>
                                    <a class="btn btn-info btn-sm"
                                       href="<?php echo $this->url(array('controller' => 'pedido', 'action' => 'view', 'id' => $row['id'], 'marca' => $row['marca_id'])) ?>/?processo"
                                       id="notification" data-original-title="" title="">
                                        Visualizar observações / Anexar documentos
                                    </a>
                                <?php endif; ?>   
                                        </td>
                            </tr>
                                <?php endforeach; ?>
                        </tbody>
                     
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">

    //Data Tables
    $(document).ready(function () {
        //$.fn.dataTable.TableTools.defaults.aButtons = [ "copy", "csv", "xls" ];
        $('#data-table').dataTable({
            "order": [[0, "desc"]],
            "bPaginate": false,
            "info": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/Portuguese-Brasil.json"
            }
            /*dom: 'T<"clear">lfrtip',
             tableTools: {
             "sSwfPath": "<?php echo $this->baseUrl("static/") ?>js/data-tables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
             }*/
        });
    });

</script>