<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="<?=$this->url(array('action' => 'list'));?>" class="heading"><?=$this->title?> </a> >> </li> 
          <li><a href="#" class="heading"> <?=$this->action?></a></li>
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            <?=$this->action?>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div id="dt_example" class="example_alt_pagination table-responsive">
                            <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Cliente</th>
                                        <th>Marca</th>
                                        <th>Despacho</th>
                                        <th>Texto</th>
                                        <th>N Processo</th>
                                        <th>Status</th>
                                      <!--  <th >Ações</th>-->
                                    </tr>
                                </thead>
                                <tbody>

                                    <?php foreach ($this->records as $d) : ?>
                                        <tr class="gradeX">
                                            <td><?= $d['id'] ?></td>
                                            <td><?= $d['cliente'] ?></td>
                                            <td><?= $d['marca'] ?></td>
                                            <td><?= $d['despacho'] ?></td>
                                            <td><?= $d['texto'] ?></td>
                                            <td><?= $d['processo'] ?></td>
                                            <td><?= $d['status'] ?></td>
                                            <!--       <td style="width:105px; text-align:center;">
                                          <?php /*if ($this->isAllowed($this->resource, 'exibir')) : */?>
                                                <a class="btn btn-success btn-block confirm" href="<?php /*echo $this->url(array('controller' => $this->resource, 'action' => 'exibir', 'pr' => $d['processo'])) */?>">
                                                    Exibir em prazos
                                                </a>
                                           <?php /*endif; */?>
                                            </td>  -->
                                        </tr>
                                    <?php endforeach; ?>



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    //Data Tables
    $(document).ready(function () {
        //$.fn.dataTable.TableTools.defaults.aButtons = [ "copy", "csv", "xls" ];
        $('#data-table').dataTable({
            "bPaginate": false,
            "info": false,
            "ordering": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/Portuguese-Brasil.json"
            }
            /*dom: 'T<"clear">lfrtip',
             tableTools: {
             "sSwfPath": "<?php //  echo $this->baseUrl("static/") ?>js/data-tables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
             }*/
        });
    });

</script>