/* ############# EDIT ################*/

.errors{
    list-style: none;
    color: red;
    padding: 0;
    position: absolute;
    bottom: -15px;
}
label.error{
    display: none!important;
}
.error{
    border: 1px solid red!important;
}
.fone-mavip-account{
    display: block;
    position: relative;
    float: left;
    margin-top: 20px;
    clear: both;
    font-weight: bold;
    color: #000000;
}
.container-contato-account{
    padding: 0 30px;
    clear: both;
    position: relative;
    display: block;
    border: 1px solid #d8d8d8;
}

.btn-falar-com-mavip{
    background: #9b58b6;
    width: 200px;
    color: #f8bc05;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    text-decoration: none;
    float: right;
    position: relative;
}

.btn-falar-com-mavip:hover{
    color: #f8bc05;
    text-decoration: none;
}

.title-duvidas-account{
    color: #9b58b6;
    font-weight: bold;
    float: left;
    position: relative;
    display: block;
}

/* ############# INDEX ################*/

div.formulario-descricao {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

form#descricao__marca {
    position: fixed;
    width: 300px;
    height: 350px;
    top: 50%;
    left: 50%;
    background: #9b58b6;
    border-radius: 5px;
    margin-left: -150px;
    margin-top:-175px;
}

span.modal-descricao {
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0,0,0,0.5);
    position: fixed;
}


textarea#descricao {
    width: 90%;
    margin: 20px auto;
    display: block;
    border: none;
    resize: none;
    border-radius: 5px;
    padding: 5px 10px;
}

label.Button,.enviar-desc {
    width: 230px;
    height: 40px;
    padding: 6px 10px;
    margin: 0 auto;
    display: block;
}

input.Button.enviar-desc {
    width: 180px;
    margin-top: 5px;
}

label.Button:hover {
    cursor: pointer;
}

span.fechar-form {
    position: absolute;
    top: -10px;
    right: -10px;
    font-family: "bree";
    color: #fff;
    background: #d25300;
    border: 2px solid #fff;
    padding: 2px 9px;
    border-radius: 100%;
    font-size: 16px;
}

span.fechar-form:hover{
    cursor: pointer;
}

#descricao__marca fieldset input[type="file"] {
    border: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
}

.ServiceItem-footer {
    padding-left: 0;
}
.ServiceItem-footerActionName{
    padding-left: 30px;
}
.box_arquivos_download .ServiceItem-footerActionName{
    float: left;
}
.box_arquivos_download{
    border-top: 1px solid #bec1c3;
}
.list_arquivos_download{
    list-style: none;
    margin-top: 18px;
}
.list_arquivos_download li{
    float: left;
    margin-right: 5px;
}
.list_arquivos_download a{
    color: #9b58b6;
    font-weight: bold;
    font-size: 13px;
}

.fone-mavip-account{
    display: block;
    position: relative;
    float: left;
    margin-top: 20px;
    clear: both;
    font-weight: bold;
    color: #000000;
}
.container-contato-account{
    padding: 0 30px;
    clear: both;
    position: relative;
    display: block;
}

.btn-falar-com-mavip{
    background: #9b58b6;
    width: 200px;
    color: #f8bc05;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    text-decoration: none;
    float: right;
    position: relative;
}

.btn-falar-com-mavip:hover{
    color: #f8bc05;
    text-decoration: none;
}

.title-duvidas-account{
    color: #9b58b6;
    font-weight: bold;
    float: left;
    position: relative;
    display: block;
}


/* ######## BANNER ROTATIVO ####### */
.container-banner-rotativo{
    display: block;
    position: relative;
    width: 100%;
    padding: 0;
    margin: -220px 0 0 0;
}

.Content-account{
    margin-top: 50px !important;
}

.container-full-rotativo{
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.bannerotativo{
    height: 350px;
}

.bannerotativo-item img{
    margin-top: -20%;
}

.container-full-rotativo .owl-controls {
    margin-top: 10px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 999999;
}

 @media(max-width: 767px){
    .container-banner-rotativo{
        margin: -30px 0 0 0;
    }

    .container-full-rotativo{
        height: 250px;
    }

    .bannerotativo{
        height: 250px;
    }

    .owl-carousel .owl-item img {
        width: 100%;
        margin-top: 0;
    }
 }