.u{
  &-noPadding{
    padding: 0 !important;
  }
  &-noMargin{
    margin: 0 !important;

    &Bottom{
      margin-bottom: 0;
    }

    &Top{
      margin-top: 0;
    }
  }

  &-mt35{
    margin-top: 35px;
  }

  &-mb35{
    margin-bottom: 35px;
  }

  &-mb45{
    margin-bottom: 45px;
  }

  &-mb75{
    margin-bottom: 75px;
  }

  &-buttonPadding{
    padding-left: 25px;
    padding-right: 25px;
  }

}


@media screen and (max-width: $screen-sm - 1){
  .u-xs{
    &-mb10{
      margin-bottom: 10px;
    }
  }
}
