<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="" class="heading"><?php echo $this->title ?></a></li>
    </ul>

</div>

<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">
    <div class="row">
            <div class="col-lg-12 col-md-12">
            <form class="form-horizontal no-margin row" action="" method="post">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                            <?php echo $this->form->getElement('agente_id');?>
                                 </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-info pull-right">Salvar</button>
                        </form>
            </div>
    </div>
    </div>
</div>