<style>
    #table-info{display: inline; padding-left: 10px; border: none}
    #table-info tr td {padding: 5px; border: none}
    #table-info .cor-verde{width: 25px;  background-color: #64F94D;}
    #table-info .cor-roxo{width: 25px; background-color: #E87CE4;}
</style>

<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="" class="heading"><? echo $this->title ?></a></li>
    </ul>

</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">

        <!-- Row Start -->
        <div class="row">
            <div class="col-md-12 col-lg-12">


                <div class="pull-right "> 

                    <?php if ($this->isAllowed($this->resource, 'new')): ?>
                        <a href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'new'), "gerenciador", true); ?>" class="btn btn-default">
                            <i class="fa fa-plus"></i>
                            Adicionar
                        </a>
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <!-- Row End -->
        <hr>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            <? echo $this->title ?>
                        </div>
                        <?php if($this->categoria)
                                echo " ( ". $this->categoria . " )";
                        ?>
                    </div>

                    <div class="widget-body">

                        <?php if ($this->isAllowed($this->resource, 'export-leads') && empty($this->categoria)): ?>
                            <a href="<?php echo $this->url(array('action' => 'export-leads')) ?>" class="btn  btn-min btn-primary" download> Exportar leads</a>
                        <?php endif; ?>
                        <span style="padding-top: 20px"> Total de registros encontrados: <u><?php echo $this->total; ?></u></span>
                        <?php if($this->categoria === 'com-processo'): ?>
                        <table id="table-info">
                            <tr> <td class="cor-verde"></td><td>de 0 a 30 dias</td> <td class="cor-roxo"></td><td>de 31 a 90 dias</td></tr>
                        </table>
                        <?php endif; ?>
                        <div id="dt_example" class="example_alt_pagination table-responsive">
                            <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
                                <thead>

                                    <tr>
                                        <?php foreach ($this->grid['columns'] as $col => $inf): ?>
                                            <th style="width:10%;k">
                                                <?php echo $inf['label']; ?>
                                            </th>
                                        <?php endforeach; ?>

                                        <th style="width:10%" >
                                            Ações
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php
                                    $currentDateTime = date('Y-m-d H:i:s');
                                    foreach ($this->grid['records'] as $row): ?>
                                       <?php
                                       if($this->categoria === "com-processo"){
                                            $diff = strtotime($row['data_cadastro']) - strtotime($currentDateTime);
                                            $intervalo =  abs(round($diff / 86400));
                                            if($intervalo <= 30)
                                                $color = "#64F94D";
                                            else if($intervalo >= 31 && $intervalo <=90)
                                                $color = "#E87CE4";
                                                else
                                                    $color = "";
                                       }
                                        ?>
                                        <tr  class="gradeX <?php if (isset($row['ativo']) AND ! $row['ativo']): ?>warning <?php echo $row['ativo']; ?><?php endif ?>" style="background-color: <?php echo $color; ?>">
                                            <?php foreach ($this->grid['columns'] as $col => $inf): ?>
                                                <td class="">
                                                    <?php if ($inf['type'] == 'youtube'): ?>
                                                        <iframe width="<? echo $inf['config']['width'] ? $inf['config']['width'] : '420' ?>" height="<? echo $inf['config']['height'] ? $inf['config']['height'] : '315' ?>" src="//www.youtube.com/embed/<? echo $row[$inf['config']['col'] ? $inf['config']['col'] : 'url']; ?>" frameborder="0" allowfullscreen></iframe>
                                                    <?php elseif ($inf['type'] == 'image'): ?>
                                                        <img src="<? echo $this->baseUrl($inf['config']['path'].($row[$col]?$row[$col]:$row['file']));?>">
                                                    <?php elseif ($inf['type'] == 'boolean'): ?>
                                                        <?php echo $row[$col] ? 'Sim' : 'Não'; ?>
                                                    <?php elseif ($inf['type'] == 'color'): ?>
                                                        <div class="col-sm-2" style="border: 1px solid black; height: 15px; background-color: <?=$row[$col]?>"></div>
                                                    <?php elseif ($inf['type'] == 'date' AND $row[$col]): ?>
                                                        <?php
                                                        $date = new Zend_Date($row[$col]);
                                                        echo $date->get($inf['config']['format'] ? $inf['config']['format'] : 'dd/MM/yyyy');
                                                        ?>
                                                    <?php elseif ($inf['type'] == 'number' AND $row[$col]): ?>
                                                            <?php echo $this->ExibeNumeros($row[$col])  ?>
                                                    <?php else: ?>
                                                        <?php echo $row[$col]; ?>
                                                    <?php endif; ?>
                                                </td>
                                            <?php endforeach; ?>

                                            <td class="">
                                                
                                                <?php if ($this->isAllowed($this->resource, 'view')): ?>
                                                    <a target="_blank" class="btn btn-info btn-xs" href="<?php echo $this->url(array('action' => 'view', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
                                                        Visualizar
                                                    </a>
                                                <?php endif; ?>   

                                                <?php if ($this->isAllowed($this->resource, 'active')): ?>
                                                    <?php if ($row['active']): ?>
                                                        <a class="btn btn-danger btn-xs" href="<?php echo $this->url(array('action' => 'active', 'id' => $row['id'], 'active' => '0')) ?>" id="notification" data-original-title="" title="">
                                                            Inativar
                                                        </a>
                                                    <?php else: ?>
                                                        <a class="btn btn-success btn-xs" href="<?php echo $this->url(array('action' => 'active', 'id' => $row['id'], 'active' => '1')) ?>" id="notification" data-original-title="" title="">
                                                            Ativar
                                                        </a>
                                                    <?php endif; ?>
                                                <?php endif; ?>

                                                <?php if ($this->isAllowed($this->resource, 'update')): ?>
                                                    <a target="_blank" class="btn btn-warning btn-xs" href="<?php echo $this->url(array('action' => 'update', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
                                                        Editar
                                                    </a>
                                                <?php endif; ?>

                                                <?php if ($this->isAllowed($this->resource, 'senha')): ?>
                                                    <a class="btn btn-warning btn-xs" href="<?php echo $this->url(array('action' => 'senha', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
                                                        Alterar Senha
                                                    </a>
                                                <?php endif; ?>

                                                <?php if ($this->isAllowed($this->resource, 'delete')): ?>
                                                    <a class="btn btn-danger btn-xs confirm" href="<?php echo $this->url(array('action' => 'delete', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
                                                        Excluir
                                                    </a>
                                                <?php endif; ?>

                                                <?php if ($this->isAllowed($this->resource, 'imagem')): ?>
                                                    <?php if ($row['imagem']) { ?>
                                                        <a class="btn btn-primary btn-xs confirm" target="_blank" 
                                                           href="<?php echo $this->baseUrl('arqs/depoimentos/' . $row['imagem']); ?>" 
                                                           id="notification" data-original-title="" title="">
                                                            Imagem
                                                        </a>
                                                    <?php } ?>       
                                                <?php endif; ?>                                                

                                                <?php if ($this->isAllowed($this->resource, 'baixa')): ?>
                                                    <?php if (!$row['pago'] AND $row['status'] == 'novo'): ?>
                                                        <a class="btn btn-success btn-xs confirm" href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'baixa', 'id' => $row['id']), 'gerenciador', true) ?>" id="notification" data-original-title="" title="">
                                                            Dar Baixa
                                                        </a>
                                                    <?php endif; ?>
                                                <?php endif; ?>

                                            </td>
                                        </tr>
                                    <?php endforeach; ?>


                                </tbody>
                            </table>
                            <div class="clearfix">
                            </div>
                        </div>








                    </div>

                </div>
            </div>
        </div>
        <!-- Row End -->



    </div>
    <!-- Left Sidebar End -->



</div>
<!-- Dashboard Wrapper End -->


<?php
$order = "[[0, 'desc']]";
if ($this->categoria === "com-processo")
    $order = "[]";
?>
<script type="text/javascript">

    //Data Tables
    $(document).ready(function () {
        //$.fn.dataTable.TableTools.defaults.aButtons = [ "copy", "csv", "xls" ];
        $('#data-table').dataTable({
            "order": <?php echo $order; ?>,
            "bPaginate": false,
            "info": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/Portuguese-Brasil.json"
            }
            /*dom: 'T<"clear">lfrtip',
             tableTools: {
             "sSwfPath": "<?php echo $this->baseUrl("static/") ?>js/data-tables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
             }*/
        });
    });

</script>