<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="#" class="heading" onclick="goBack()"> Cliente </a> >></li>
        <li><a href="#" class="heading">  Nova opção de lead</a></li>
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">

        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            <span class="mini-title">
                               Cadastro
                            </span>
                        </div>
                    </div>
                    <div class="widget-body">
                        <form class="form-horizontal no-margin row" action="" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="cliente_id" value="<?= $this->cliente; ?>">
                            <hr/>
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <?php echo $this->form->getElement('valor'); ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 ">
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-block btn-info pull-left">Salvar</button>
                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row End -->
    </div>

</div>