<style>

    input[name="sendClient"]{
        width: 22px;
        margin-left: 17px;
        margin-top: -5px;
    }

</style>

<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="<?=$this->url(array('action' => 'view', 'id' => $this->row['id']));?>" class="heading"> Cliente </a> >></li>
          <li><a href="#" class="heading"> Adicionar/Atualizar</a></li>
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">

        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            Agendamento
                            <span class="mini-title">
                                para <b> <?php echo $this->row['nome'] ?> </b>
                            </span>
                        </div>
                    </div>
                    <div class="widget-body">
                        <form class="form-horizontal no-margin row" action="" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="cliente_id" value="<?= $this->row['id']; ?>">
                            <hr/>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('titulo'); ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('consultor'); ?>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-sm-12">
                                <div class="col-sm-2"  id="sendClientBlock">
                                    <div class="form-group" style="display: flex;">
                                        <?php echo $this->form->getElement('sendClient'); ?>
                                    </div>
                                </div>
                            </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('data'); ?>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('observacao'); ?>
                                        </div>
                                    </div>
                                </div>

                            <div class="col-sm-12 ">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-info pull-right">Salvar</button>
                                    </div>

                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row End -->



    </div>
    <!-- Left Sidebar End -->



</div>
<!-- Dashboard Wrapper End -->