<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="<?=$this->url(array('action' => 'list'));?>" class="heading"><?=$this->title?> </a> >></li> 
          <li><a href="#" class="heading"> Adicionar/Atualizar</a></li>
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">





        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            <?php echo $this->title ?>
                            <span class="mini-title">
                                <?php echo $this->row['nome'] ?>
                            </span>
                        </div>
                    </div>
                    <div class="widget-body">
                        <form class="form-horizontal no-margin row" action="" method="post" enctype="multipart/form-data">
                            <hr/>

                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('observacoes_internas'); ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('cliente_natureza_id'); ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('razao_social'); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('nome'); ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('nome2'); ?>
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('email'); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('cnpj'); ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('cpf_pessoa_juridica'); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('telefone'); ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('celular'); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('cep'); ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('bairro'); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('logradouro'); ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('complemento'); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-6 ctn-atividade" style="display: none;">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('atividade'); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('inpi_login'); ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('inpi_senha'); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('inpi_login_sec'); ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('inpi_senha_sec'); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 ">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('inpi_email'); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('senha'); ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <?php echo $this->form->getElement('senha_repetir'); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 ">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-info pull-right">Salvar</button>
                                    </div>

                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row End -->



    </div>
    <!-- Left Sidebar End -->



</div>
<!-- Dashboard Wrapper End -->






<script type="text/javascript">

    //Data Tables
    $(document).ready(function () {
        //$.fn.dataTable.TableTools.defaults.aButtons = [ "copy", "csv", "xls" ];
        $('#data-table').dataTable({
            "bPaginate": false,
            "info": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/Portuguese-Brasil.json"
            }
            /*dom: 'T<"clear">lfrtip',
             tableTools: {
             "sSwfPath": "<?php echo $this->baseUrl("static/") ?>js/data-tables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
             }*/
        });

        $('#cliente_natureza_id').change(function () {
            if ($(this).val() == '2') {
                $(".ctn-atividade").show();
            } else {
                $(".ctn-atividade").hide();
            }
        })
        $('#cliente_natureza_id').change();


    });

</script>