
<style>
    .header-button{
        float: left;
        padding-left:2%;
    }
    .btn-mavip{
        background-color: #9a58b4;
        color: white;
        font-weight: bold;
    }
    .btn-mavip:hover{
        color: white;
    }
    .leads{
        padding: 15px;
    }
    .lead-group{
        padding: 10px;
    }
    .lead-group label{
        display: inline-block;
        padding: 5px;
        font-size: 12px;
    }
    .lead-item{
        width: 20px;
        height: 20px;
        display: inline-block;
        text-align: center;
    }
    .lead-item input{
        width: 100%;
        height: 100%;
    }
    .btn-espelhar{
        width: 22px;
        height: 22px;
        margin-left: 4px;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        vertical-align: bottom;
    }
    form.form-processo{
        display: inline-block;
        vertical-align: bottom;
        margin-left: 12px;
    }
    @media only screen and (max-width: 680px) {
        form.form-processo{
            margin-left: 5px;
            margin-right: 5px;
        }
        .btn-espelhar{
            margin-bottom: 2px;
        }
    }

</style>


<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="<?=$this->url(array('action' => 'list'));?>" class="heading"><?=$this->title?> </a> >></li>
        <li><a href="#" class="heading"><?=$this->action?></a></li>
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">

        <!-- Row Start -->
        <div class="row">
            <div class="col-md-12 col-lg-12">

                <?php echo $this->showMessenger($this->msg) ?>
            </div>
        </div>
        <!-- Row End -->

        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget no-margin">
                    <div class="widget-header">
                        <div class="title">
                            <?php echo $this->title; ?>:  <?php echo $this->row['nome']; ?>
                        </div>

                    </div>
                    <div class="widget-body clearfix">

                        <div class="widget">
                            <div class="widget-header">
                                <div class="title">
                                    Dados Gerais
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Responsável Principal: </label> <?php echo $this->row['nome']; ?>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Responsável Secundário: </label> <?php echo $this->row['nome2']?:'-'; ?>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Razão Social: </label> <?php echo $this->row['razao_social']; ?>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Natureza: </label> <?php echo $this->row['natureza']; ?>
                                    </div>
                                    <div class="col-sm-6">
                                        <label><?php echo $this->row['natureza'] == 'Pessoa Física' ? 'CPF:' : 'CNPJ:' ?> </label> <?php echo $this->row['cnpj']; ?>
                                    </div>
                                    <?php if($this->row['natureza'] == 'Pessoa Jurídica'): ?>
                                        <div class="col-sm-6">
                                            <label>CPF: </label> <?php echo $this->row['cpf_pessoa_juridica']; ?>
                                        </div>
                                    <?php endif; ?>

                                    <?php if ($this->row['cliente_natureza_id'] == "2"): ?>
                                        <div class="col-sm-6">
                                            <label>Atividade: </label> <?php
                                            $clienteModel = new Application_Model_Cliente();
                                            echo $clienteModel->atividades[$this->row['atividade']];
                                            ?>
                                        </div>
                                    <?php endif; ?>
                                    <div class="col-sm-6">
                                        <label>RG: </label> <?php echo $this->row['rg']; ?>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>E-mail: </label> <?php echo $this->row['email']; ?>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Telefone: </label> <?php echo $this->row['telefone']; ?>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Celular: </label> <?php echo $this->row['celular']; ?>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Fax: </label> <?php echo $this->row['fax']; ?>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Login: </label> <?php echo $this->row['login']; ?>
                                    </div>

                                    <div class="col-sm-12">
                                        <label>Pergunta Secreta: </label> <?php echo $this->row['pergunta_secreta']; ?>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>Resposta Secreta: </label> <?php echo $this->row['resposta_secreta']; ?>
                                    </div>
                                </div>
                                <div class="title">
                                   <h4>Endereço</h4>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>Endereço: </label>
                                        <?php echo !$this->row['bairro'] ? $this->row['endereco'] : $this->row['logradouro'].', '.$this->row['complemento'].', bairro '.$this->row['bairro'] ?>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>País: </label> <?php echo $this->row['pais']; ?>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Cidade: </label> <?php echo $this->row['cidade']; ?> - <?php echo $this->row['sigla']; ?>
                                    </div>

                                    <div class="col-sm-4">
                                        <label>CEP: </label> <?php echo $this->row['cep']; ?>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="background-color: white !important; padding-bottom: 30px;
                                                        border-bottom: 1px solid black !important; ">
                                        <h4 class="panel-title">
                                            <a id="collapse-button"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="display: block; text-decoration: none">
                                                Conversão de LEAD
                                                <span style="font-weight: bolder; font-size: 25px;
                                                 font-family:'Monaco'; float: right; padding-right: 20px; color: #ff8fa9;">V</span>
                                            </a>

                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <?php if($this->mavipse): ?>

                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <b>Marca:</b>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <?= $this->mavipse['marca'] ?>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <b>Responsável:</b>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <?= $this->mavipse['responsavel'] ?>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <b>Cargo:</b>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <?= $this->mavipse['cargo'] ?>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <b>Telefones:</b>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <?= $this->mavipse['telefone_1'] ?>
                                                                <?= $this->mavipse['telefone_2'] ? " |  ". $this->mavipse['telefone_2'] : ""; ?>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <b>Observaçōes:</b>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <?= $this->mavipse['observacoes'] ?>
                                                            </div>
                                                        </div>
                                                        <br><br>
                                                        <a href="<?php echo $this->url(array('controller' => 'mavipse','action' => 'view',
                                                            'id' => $this->mavipse['id'] )); ?>" class="btn btn-success" target="_blank">Exibir filtros</a>

                                                    <br><br>
                                                        <form action="<?php echo $this->url(array('controller' => 'mavipse', 'action' => 'change-client'), 'gerenciador', true) ?>" method="post">
                                                             <input type="hidden" name="client_id" value="<?=$this->row['id']?>">
                                                            <label>Trocar mavipse</label>
                                                            <div style="width: 300px; padding-bottom: 5px">
                                                            <select class="form-control" name="mavipse_id">
                                                                    <option value="">Selecione</option>
                                                                <?php foreach ($this->mavipseRows as $mv): ?>
                                                                    <option value="<?=$mv['id']; ?>">#<?=$mv['id']; ?> - <?=$mv['email']; ?></option>
                                                                <?php endforeach; ?>
                                                            </select>
                                                            </div>
                                                           <button type="submit" class="btn btn-primary" style="width: 300px"> Trocar</button>

                                                        </form>
                                                    <?php else: ?>
                                                        Não.
                                                    <?php endif; ?>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="widget">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="background-color: white !important; padding-bottom: 30px;
                                                        border-bottom: 1px solid black !important; ">
                                        <h4 class="panel-title">
                                            <a id="collapse-button"  data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="display: block; text-decoration: none">
                                            Origem da Lead
                                                <span style="font-weight: bolder; font-size: 25px;
                                                 font-family:'Monaco'; float: right; padding-right: 20px; color: #ff8fa9;">V</span>
                                            </a>

                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="header-button">
                                                        <a href="<?php echo $this->url(array('action' => 'new-lead-field', 'id' => $this->row['id'])); ?>" class="btn btn-sm btn-mavip"> <i class="fa fa-plus" aria-hidden="true"></i> Adicionar opção</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row leads">
                                                <form action="<?php echo $this->url(array('action' => 'leadorigens')); ?>" method="POST">
                                                    <div class="col-sm-12">
                                                        <input type="hidden" name="cliente_id" value="<?=$this->row['id']?>">
                                                        <?php foreach ($this->leadFields as $field) : ?>
                                                            <div class="col-sm-2 lead-group">
                                                                <div class="lead-item"><input name="alternative[]" type="checkbox" value="<?=$field['valor']?>"<?php echo in_array($field['valor'], $this->leadOrigens) ? 'checked' : '' ?> ></div>
                                                                <label><?=$field['valor'] ?></label>
                                                            </div>
                                                        <?php endforeach; ?>
                                                    </div>
                                                    <div class="col-sm-offset-4 col-sm-4" style="padding-top: 20px">
                                                        <button type="submit" class="btn btn-primary btn-block">Salvar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div class="widget-header">
                                <div class="title">
                                    Agendamentos
                                </div>
                                <div class="header-button">
                                    <a href="<?php echo $this->url(array('action' => 'new-agendamento', 'id' => $this->row['id'] )); ?>" class="btn  btn-sm btn-mavip"> <i class="fa fa-plus" aria-hidden="true"></i> Agendar</a>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                       <thead  style="text-transform: uppercase;">
                                        <tr>
                                            <th>Agenda</th>
                                            <th>Consultor</th>
                                            <th>Data</th>
                                            <th>Horário</th>
                                            <th>Notificar por email</th>
                                            <th>Observação</th>
                                            <th></th>
                                        </tr>
                                       </thead>
                                        <tbody>
                                        <?php if(count($this->agendamentos) > 0): ?>
                                            <?php foreach ($this->agendamentos as $agenda):?>
                                                <tr>
                                                    <td><?=$agenda['titulo']?></td>
                                                    <td><?=$agenda['consultor']?></td>
                                                    <td><b><?= (new DateTime($agenda['data']))->format('d/m/Y');?></b></td>
                                                    <td><?= (new DateTime($agenda['data']))->format('H:i');?></td>
                                                    <td style="color: <?=$agenda['sendClient'] ? 'green' : 'red' ?>;"><?=$agenda['sendClient'] ? 'Sim' : 'Não' ?></td>
                                                    <td><?=$agenda['observacao']?></td>
                                                    <td>
                                                        <a href="<?php echo $this->url(array('action' => 'update-agendamento', 'id' => $agenda['id'] )); ?>" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a>
                                                    </td>
                                                </tr>
                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="widget">
                            <div class="widget-header">
                                <div class="title">
                                    Observações
                                </div>
                                <div class="header-button">
                                    <a href="<?php echo $this->url(array('action' => 'update', 'id' => $this->row['id'] , 'p' => 'obs')); ?>" class="btn  btn-sm btn-mavip"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a>
                                </div>

                                <div class="header-button" style="float:right; display: flex; margin-top: 5px">
                                    <a style="margin-right: 0.5rem" href="<?php echo $this->url(array('controller' => 'cliente','action' => 'agente', 'id' => $this->row['id'] )); ?>" class="btn  btn-sm btn-mavip"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Editar Agente</a>
                                    <input class="form-control" type="text" disabled value="<?php echo $this->user ? $this->user['name']: '' ?>">
                                </div>
                            </div>
                            <div class="widget-body">
                                <?= $this->row['observacoes_internas']; ?>
                            </div>
                        </div>

                        <?php if ($this->isAllowed("pedido", 'list')): ?>
                            <div class="widget">
                                <div class="widget-header">
                                    <div class="title">
                                        Pedidos
                                    </div>
                                </div>
                                <div class="widget-body  table-responsive">
                                    <?php if (count($this->pedidos)): ?>
                                        <table class="table table-condensed no-margin">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Marca</th>
                                                <th>Valor</th>
                                                <th>Status</th>
                                                <th>Produto</th>
                                                <th>Data de Cadastro</th>
                                                <th style="width:20%;">Ações</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <?php foreach ($this->pedidos as $ped): ?>
                                                <tr>
                                                    <td><?php echo $ped["id"]; ?></td>
                                                    <td><?php echo $ped["marca"]; ?></td>
                                                    <td><?php echo $ped["total"]; ?></td>
                                                    <td><?php echo $ped["status"]; ?></td>
                                                    <td>
                                                        <?php
                                                        $pedidoModel = new Application_Model_Pedido();
                                                        $servicos = $pedidoModel->getServicosByPedido($ped["id"]);
                                                        $servs = array();
                                                        foreach ($servicos as $ser) {
                                                            $servs[] = $ser["titulo"];
                                                        }
                                                        echo implode(", ", $servs);
                                                        ?>
                                                    </td>
                                                    <td><?php echo date("d/m/Y H:i:s", strtotime($ped["data_cadastro"])); ?></td>
                                                    <td>
                                                        <?php if ($this->isAllowed("pedido", 'view')): ?>
                                                            <a class="btn btn-info btn-xs" href="<?php echo $this->url(array('controller' => 'pedido', 'action' => 'view', 'id' => $ped['id'],
                                                             'marca' => $ped['marca_id']) ) ?>" id="notification" data-original-title="" title="">
                                                                Visualizar
                                                            </a>
                                                        <?php endif; ?>
                                                    </td>
                                                </tr>
                                            <?php endforeach; ?>
                                            </tbody>
                                        </table>
                                    <?php else: ?>
                                        <p>Nenhum pedido registrado.</p>
                                    <?php endif; ?>
                                </div>
                            </div>

                        <?php endif; ?>

                        <?php if ($this->isAllowed("marca", 'list')): ?>
                            <?php $marcasModel = new Application_Model_Marca(); ?>
                            <div class="widget">
                                <div class="widget-header">
                                    <div class="title">
                                        Processos de marca
                                    </div>
                                </div>
                                <div class="widget-body  table-responsive">
                                    <?php if (count($this->marcas)): ?>
                                        <table class="table table-condensed no-margin">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Marca</th>
                                                <th>Processo</th>
                                                <th>Classe</th>
                                                <th>Data de publicação</th>
                                                <th>Status</th>
                                                <th>Última atulização</th>
                                                <th>Ações</th>
                                            </tr>
                                            </thead>
                                            <tbody>


                                            <?php foreach ($this->marcas as $mar): ?>
                                                <tr style="<?php echo ($ped['atual'] == 1) ? 'background-color:#f2dede;' : ''; ?>">
                                                    <td><?php echo $mar["id"]; ?></td>
                                                    <td>
                                                        <?php echo $mar["marca"]; ?>
                                                        <?php
                                                        if ($mar['urgencia'] == 1) {
                                                            echo '<strong><span style="color: #d9534f">(PEDIDO DE URGÊNCIA)</span></strong>';
                                                        }
                                                        ?>
                                                    </td>
                                                    <td><?php echo $mar["processo"]; ?></td>
                                                    <td><?php echo $mar["id_inpi"]?></td>
                                                    <td>
                                                        <?php
                                                        $data = new Zend_Date( $mar["data_publicacao_processo"]);
                                                        echo  $ped["data_publicacao_processo"] ? $data->get("dd/MM/yyyy") : 'Não informado.';
                                                        ?>
                                                    </td>
                                                    <td>
                                                        <?php
                                                        $hist = $marcasModel->getUltimoHistorico($mar["id"]);
                                                        echo $hist["texto"] ? $hist["texto"] : '';
                                                        ?>
                                                    </td>
                                                    <td>
                                                        <?php
                                                        $data = new Zend_Date($hist["data"]);
                                                        echo $hist["data"] ? $data->get("dd/MM/yyyy") : '';
                                                        ?>
                                                    </td>
                                                    <td style="width: 14%;">
                                                        <?php if ($this->isAllowed("pedido", 'view')): ?>
                                                            <a class="btn btn-<?php echo ($mar['atual'] == 1) ? 'danger' : 'info'; ?> btn-xs" href="<?php echo $this->url(array('controller' => 'marca', 'action' => 'view', 'id' => $mar['id'])) ?>" id="notification" data-original-title="" title="">
                                                                <i class="fa fa-search" aria-hidden="true"></i>
                                                            </a>
                                                        <?php endif; ?>
                                                      
                                                        <?php if ($this->isAllowed("pedido", 'view')   && $mar["processo"]): ?>

                                                            <?php
                                                                $db = new Application_Model_DbTable_ClientesEspelhamentosdeprocessos();
                                                                 
                                                                $result = $db->fetchRow(array('marca_id = ?' => $mar['id'], 'active = ?' => '1'));
                                                                if($result)
                                                                    $icon = 'btn-espelhar-green.jpeg';
                                                                else
                                                                    $icon = 'btn-espelhar-default.jpeg';
                                                                
                                                                ?>
                                                            <form class="form-processo">
                                                                <input type="hidden" name="marca_id" value="<?=$mar["id"]?>" />
                                                                <input type="hidden" name="marca" value="<?=$mar["marca"]?>" />
                                                                <input type="hidden" name="processo" value="<?=$mar["processo"]?>" />
                                                                <button class="btn-espelhar" type="submit" data-toggle="modal"
                                                                data-target="#myModal"  style="background:url('<?= $this->baseUrl("static/gerenciador/img/".$icon) ?>')">  </button>
                                                            </form>
                                                        <?php endif; ?>

                                                    </td>
                                                </tr>
                                            <?php endforeach; ?>
                                            </tbody>
                                        </table>
                                    <?php else: ?>
                                        <p>Nenhum pedido registrado.</p>
                                    <?php endif; ?>
                                </div>
                            </div>

                        <?php endif; ?>

                        <div class="widget">
                            <div class="widget-header">
                                <div class="title">
                                    INPI
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <?php if ($this->isAllowed($this->resource, 'viewinpi')): ?>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="col-sm-12">
                                                        <label>Login: </label> <?php echo $this->row['inpi_login']; ?>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <label>Senha: </label> <?php echo $this->row['inpi_senha']; ?>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="col-sm-12">
                                                        <label>Login Secundário: </label> <?php echo $this->row['inpi_login_sec']; ?>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <label>Senha Secundária: </label> <?php echo $this->row['inpi_senha_sec']; ?>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr/>
                                        <?php endif; ?>
                                        <div class="col-sm-6">
                                            <a class="btn btn-info" target="_blank" href="<?php echo $this->url(array( "action" => "gerargru")) ?>">Gerar Gru</a>
                                        </div>
                                        <div class="col-sm-6">
                                            <a class="btn btn-info" target="_blank" href="<?php echo $this->url(array("action" => "gerarpeticionamento")) ?>">Gerar Peticionamento</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Left Sidebar End -->
</div>


<?php include "view-modal.phtml"; ?>

<script>
    $( document ).ready(function() {

        $('#clientes').select2()

        $(".form-processo").submit(function(e) {

            e.preventDefault();
            
            var processo = $(this).find('input[name="processo"]').val();
            var marca_id = $(this).find('input[name="marca_id"]').val();
            var marca =  $(this).find('input[name="marca"]').val();
            
            $("#marca_id").val(marca_id)

            $("span#marca").html(marca)

            $("span#processo").html(processo)

            if(marca_id){
                espelhamentosAtivos(marca_id);
            }
            
            return;
        });

        function espelhamentosAtivos(marca_id)
        {
            $.ajax({
                url: "<?php echo $this->baseUrl('gerenciador/cliente/espelhar-processo'); ?>",
                type: 'POST',
                data: {'procurar' : marca_id},
                success: function(response) {
                    if(response != 0){
                        var rspns = eval(JSON.parse(JSON.stringify(response)));
                        $("#clientes").select2("val",  rspns);
                        $('#clientes').trigger('change');
                    }
                }
            });
        }

        $(".form-modal").submit(function(e) {

                e.preventDefault();

                FormData = $(this).serialize();

                $.ajax({
                url: "<?php echo $this->baseUrl('gerenciador/cliente/espelhar-processo'); ?>",
                type: 'POST',
                data: FormData,
                success: function(response) {
                    if(response == 1){
                        alert(" !!! Espelhamento ATUALIZADO com sucesso. !!! ");
                        document.location.reload(true);
                    }
                    if(response == 2){
                        alert("Espelhamento REMOVIDO com sucesso.");
                        document.location.reload(true);
                    }
                }
            });
        });

    });
</script>