<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="form-modal">
         <input type="hidden" name="marca_id" id="marca_id" value="">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 id="myModalLabel">Selecione um ou mais clientes para espelhar o processo <br>
            <b><span id="marca"></span></b> - 
            <b><span id="processo"></span></b>
        </h4>
        </div>
        <div class="modal-body">
          <label for="clientes">Pesquise ou Selecione</label>
          <select name="cliente_id[]" id="clientes" class="form-control" title="Clientes"  multiple="multiple">
            <?php foreach($this->clientes as $cliente):?>
              <option value="<?= $cliente['id'] ?>"><?= $cliente['nome'] ?>  - <?= $cliente['login'] ?></option>
            <?php endforeach; ?>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success" id="confirm">Atualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<style>
  ul.espelhados {
    float: left;
    clear: both;
    display: grid;
    list-style-type: circle;
    text-align: left;
    padding-left: 30px !important;
  }
  ul.espelhados li{
     float:left;
     color:green;
  }
  .select2-container-multi .select2-choices .select2-search-choice{
    color: #fff;
    background-color: #5cb85c;
  }
</style>