<?php
$pedidosModel = new Application_Model_Pacotes();
$chart = $pedidosModel->getPedidosChatProdutoMes();
$chart2 = $pedidosModel->getPedidosChatProdutoAno();
$chart3 = $pedidosModel->getPedidosChatProdutoDia();

?>
<!-- Row Start -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget sales-overview">
            <div class="widget-header">
                <div class="title">
                    Visão Geral de Vendas<span class="mini-title">Vendas Online</span>
                </div>
            </div>
            <div class="widget-body no-padding">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#vendaDoDia" aria-controls="vendaDoDia" role="tab" data-toggle="tab">
                            <div class="overview-tab clearfix">
                                <div class="tab-icon">
                                    <i class="fa fa-laptop"></i>
                                </div>
                                <div class="tab-details">
                                    <p>Vendas do dia</p>
                                    <h4><?php echo $chart3['total']?></h4>
                                    <p><?php echo round(($chart3['total']*100)/$chart3['total_geral'])?>% do total</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#salesOnline" aria-controls="salesOnline" role="tab" data-toggle="tab">
                            <div class="overview-tab clearfix">
                                <div class="tab-icon">
                                    <i class="fa fa-laptop"></i>
                                </div>
                                <div class="tab-details">
                                    <p>Pedidos 30 dias</p>
                                    <h4><?php echo $chart['total']?></h4>
                                    <p><?php echo round(($chart['total']*100)/$chart['total_geral'])?>% do total</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#incomeOnline" aria-controls="incomeOnline" role="tab" data-toggle="tab">
                            <div class="overview-tab clearfix">
                                <div class="tab-icon">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <div class="tab-details">
                                    <p>Pedidos último Ano</p>
                                    <h4><?php echo $chart2['total']?></h4>
                                    <p><?php echo round(($chart2['total']*100)/$chart2['total_geral'])?>% do total</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    
                </ul>
                <div class="tab-content">
                    
                    <div role="tabpanel" class="tab-pane active" id="vendaDoDia">
                        <?php echo $this->partial('painel/partial/chat-pedidos-dia.phtml',array('id'=>0,'chart'=>$chart3)); ?>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="salesOnline">
                        <?php echo $this->partial('painel/partial/chat-pedidos.phtml',array('id'=>1,'chart'=>$chart)); ?>
                    </div>
                    <div role="tabpanel" class="tab-pane active " id="incomeOnline">
                        <?php echo $this->partial('painel/partial/chat-pedidos.phtml',array('id'=>2,'chart'=>$chart2)); ?>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row End -->