<?php


$chart = $this->chart;

?>

<div class="row">
    <div class="col-md-9 col-sm-9 col-xs-12">
        <div id="area-chart<?php echo $this->id;?>" class="chart-height-lgy"></div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="referrals">
        
        <?php foreach($chart['produtos'] as $pro):?>
        <div id="barra_<?php echo $pro['id'];?>_<?php echo $this->id;?>" class="testBar"><?php echo round(($pro['total']*100)/$chart['total'])?></div>
        <?php endforeach;?>
        </div>
    </div>
</div>



<script type="text/javascript">
  
    $(function () {
    $('#area-chart<?php echo $this->id;?>').highcharts({
        title: {
            text: 'Pedidos',
            x: -20 //center
        },
        subtitle: {
            text: 'Total de Pedidos por mês',
            x: -20
        },
        xAxis: {
            categories: [
                <?php foreach($chart['categorias'] as $mes):?>
                                    '<?php echo $mes['dados']?>',
                <?php endforeach;?>                 
            ]
        },
        yAxis: {
            title: {
                text: 'Total'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ''
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: 
            <?php echo json_encode($chart['produtos'])?>  
    });
    
     <?php foreach($chart['produtos'] as $pro):?>
    
        var opt = {
            foreColor: '<?php echo $pro['color'];?>',
            horTitle: '<?php echo $pro['name'];?>'
        };
        $('#barra_<?php echo $pro['id'];?>_<?php echo $this->id;?>').barIndicator(opt);
    
    
   <?php endforeach;?> 
  });    

$(document).ready(function () {
    $(function () {
        $(".tab-pane").removeClass('active');
        $(".tab-pane:first").addClass('active');
    });
});


   
 


</script>