<!-- Main Container start -->
    <div class="dashboard-container">

      <div class="container">

        <!-- Row Start -->
        <div class="row">
          <div class="col-lg-4 col-md-4 col-md-offset-4">
            <div class="sign-in-container">
              <form action="" class="login-wrapper" method="post">
                <div class="header">
                    
                  <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <h1><img src="<?php echo $this->baseUrl("static/gerenciador/") ?>img/logo-og.png"></h1>
                      
                    </div>
                  </div>
                </div>
                <div class="content">
                  <?php echo $this->showMessenger($this->msg) ?>
                  <div class="form-group">
                    <label for="userName">E-mail</label>
                    <input type="text" name="login" class="form-control" id="userName" placeholder="E-mail">
                  </div>
                  <div class="form-group">
                    <label for="Password1">Senha</label>
                    <input type="password" name="senha" class="form-control" id="Password1" placeholder="Senha">
                  </div>
                </div>
                <div class="actions">
                  <input class="btn btn-defalt btn-block" name="entrar" type="submit" value="Entrar">
                  
                  <div class="clearfix"></div>
                </div>
              </form>
            </div>
              
             
          </div>
        </div>
        <!-- Row End -->
        
      </div>
    </div>
    <!-- Main Container end -->

    <script src="<?php echo $this->baseUrl("static/") ?>js/jquery.js"></script>
    <script src="<?php echo $this->baseUrl("static/") ?>js/bootstrap.min.js"></script>