
<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="" class="heading"><? echo $this->title ?></a></li>


    </ul>

</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">

        <!-- Row Start -->
        <div class="row">
            <div class="col-md-12 col-lg-12">

          <div class="pull-right ">
                </div>
            </div>
        </div>
        <!-- Row End -->
        <hr>

        <?php if($this->permissoes): ?>

        <h3 style="color: red; text-align: center">Solicitações de edição</h3>
        <table class="table responsive-table" style="width: 100%; font-size: 16px;">
            <tr style="font-weight: bold">
                <td>Cod #</td>
                <td>Operador</td>
                <td>Tela</td>
                <td>Permissão</td>
            </tr>
            <?php foreach ($this->permissoes as $p):?>
            <tr style="background-color: white">
                <td><?=$p['codigo'];?></td>
                <td><?=$p['operador'];?></td>
                <td><?=$p['tela'];?></td>
                <td><a href="<?php echo $this->url(array('action' => 'request-edit', 'id' => $p['codigo'], 'p' => 1, 'option' => $p['tela']  )) ?>" class="btn btn-success">Permitir</a>
                    <a href="<?php echo $this->url(array('action' => 'request-edit', 'id' => $p['codigo'],  'p' => 0, 'option' => $p['tela'] )) ?>" class="btn btn-danger">Negar</a>
                </td>
            </tr>
            <?php endforeach; ?>
        </table>


        <?php endif; ?>


        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="col-md-10">
                            <div class="title">
                                <? echo $this->title ?>
                            </div>
                        </div>
                        <div class="col-md-2" style="padding: 5px">
                            <?php if ($this->isAllowed($this->resource, 'new')): ?>
                                <a href="<?php echo $this->url(array('controller' => $this->resource, 'action' => 'new'), "gerenciador", true); ?>" class="btn btn-block btn-success">
                                    <i class="fa fa-plus"></i>
                                    Criar Pré-Venda
                                </a>
                            <?php endif; ?>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div id="dt_example" class="example_alt_pagination table-responsive">

                            <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">

                                <thead>
                                <tr>
                                    <?php foreach ($this->grid['columns'] as $col => $inf): ?>
                                        <th style="width:10%; <?php if ($inf['type'] == 'hidden'): echo "display:none;"; endif;?>">
                                            <?php echo $inf['label']; ?>
                                        </th>
                                    <?php endforeach; ?>

                                    <th style="width:15%" >
                                        Ações
                                        <?php if ($this->isAllowed($this->resource, 'ordem')): ?>
                                            <span style="float: right"><a href="#" class="btn btn-danger btn-xs" id="submitAll">Selecionados p/baixo</a> </span>
                                        <?php endif; ?>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <form  id="form">
                                <?php foreach ($this->grid['records'] as $row): ?>
                                    <tr  class="gradeX <?php if (isset($row['ativo']) AND ! $row['ativo']): ?>warning <?php echo $row['ativo']; ?><?php endif ?>"
                                    <?php if($row['ordem'] == 0): echo "style='background-color:#DCDCDC;'"; endif; ?>>
                                        <?php foreach ($this->grid['columns'] as $col => $inf): ?>
                                            <td class="" <?php if ($inf['type'] == 'hidden'): echo "style='display:none;'"; endif;?>>
                                                <?php if ($inf['type'] == 'youtube'): ?>
                                                    <iframe width="<? echo $inf['config']['width'] ? $inf['config']['width'] : '420' ?>" height="<? echo $inf['config']['height'] ? $inf['config']['height'] : '315' ?>" src="//www.youtube.com/embed/<? echo $row[$inf['config']['col'] ? $inf['config']['col'] : 'url']; ?>" frameborder="0" allowfullscreen></iframe>
                                                <?php elseif ($inf['type'] == 'image'): ?>
                                                    <img src="<? echo $this->baseUrl($inf['config']['path'].($row[$col]?$row[$col]:$row['file']));?>">
                                                <?php elseif ($inf['type'] == 'boolean'): ?>
                                                    <?php echo $row[$col] ? 'Sim' : 'Não'; ?>
                                                <?php elseif ($inf['type'] == 'check'): ?>
                                                    <?php echo $row[$col] ? '<span style="color: green;font-weight: bolder;font-size: 18px">✓</span>' : ''; ?>
                                                <?php elseif ($inf['type'] == 'color'): ?>
                                                    <div class="col-sm-2" style="border: 1px solid black; height: 15px; background-color: <?=$row[$col]?>"></div>
                                                <?php elseif ($inf['type'] == 'date' AND $row[$col]): ?>
                                                    <?php
                                                    $date = new Zend_Date($row[$col]);
                                                    echo $date->get($inf['config']['format'] ? $inf['config']['format'] : 'dd/MM/yyyy');
                                                    ?>
                                                <?php elseif ($inf['text'] == 'bold' AND $row[$col]): ?>
                                                    <?php echo "<b>".$row[$col]."</b>";  ?>
                                                <?php else: ?>
                                                    <?php echo $row[$col]; ?>
                                                <?php endif; ?>
                                            </td>
                                        <?php endforeach; ?>

                                        <td style="width: 20%">

                                            <?php if ($this->isAllowed($this->resource, 'view')): ?>
                                                <a class="btn btn-info btn-xs" href="<?php echo $this->url(array('action' => 'view', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
                                                    <i class="fa fa-file-text-o" aria-hidden="true"></i> Detalhar
                                                </a>
                                            <?php endif; ?>

                                            <?php if ($this->isAllowed($this->resource, 'update')): ?>
                                                <a class="btn btn-warning btn-xs" href="<?php echo $this->url(array('action' => 'update', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                                                </a>
                                            <?php endif; ?>
                                            <?php if ($this->isAllowed($this->resource, 'ordem')): ?>
                                                <?php if($row['ordem'] == 1): ?>
                                                    <a href="<?php echo $this->url(array('action' => 'ordem', 'id' => $row['id'], "value" => 0)); ?>" ><span style="font-size: 13px; padding: 5px; color: white; background-color: #1E90FF" class="glyphicon glyphicon-arrow-down"></span></a>
                                                <? else: ?>
                                                    <a href="<?php echo $this->url(array('action' => 'ordem', 'id' => $row['id'], "value" => 1)); ?>" ><span style="font-size: 13px; padding: 5px; color: white; background-color: #1E90FF" class="glyphicon glyphicon-arrow-up"></span></a>
                                                <?endif; ?>
                                                   <input type="checkbox" name="item" value="<?php echo $row['id'];?>" style="width: 15px; height: 15px;outline: 3px solid red;">
                                            <?endif; ?>
                                            <?php if ($this->isAllowed($this->resource, 'delete')): ?>
                                                <a class="btn btn-danger btn-xs confirm" href="<?php echo $this->url(array('action' => 'delete', 'id' => $row['id'])) ?>" id="notification" data-original-title="" title="">
                                                    Excluir
                                                </a>
                                            <?php endif; ?>
                                            <?php if (($this->isAllowed($this->resource, 'lead')) && ($row['cliente'] || $row['cliente_id'])): ?>
                                                <?php if($row['cliente_id']): ?>
                                                        <a class="btn btn-success btn-xs" href="<?php echo $this->url(array('controller' => 'cliente' , 'action' => 'view', 'id' => $row['cliente_id'])) ?>" target="_blank" style="margin: 5px">
                                                            Lead
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                            <i class="fa fa-user-o" aria-hidden="true"></i>
                                                        </a>
                                                    <?php else: ?>
                                                        <a  class="btn btn-primary btn-xs confirm" href="<?php echo $this->url(array('action' => 'lead', 'email' => strtolower($row['email']))) ?>" id="notification" data-original-title=""  style="margin: 5px">
                                                            Converter p/ lead
                                                        </a>
                                                <?php endif; ?>
                                            <?php endif; ?>

                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                                    <input type="submit" style="display: none">
                                </form>

                                </tbody>
                            </table>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Row End -->



    </div>
    <!-- Left Sidebar End -->

</div>
<!-- Dashboard Wrapper End -->

<script type="text/javascript">
    <?php
    $order = "[[0, 'desc']]";
    ?>
    //Data Tables
    $(document).ready(function () {
        //$.fn.dataTable.TableTools.defaults.aButtons = [ "copy", "csv", "xls" ];
        $('#data-table').dataTable({
            "ordering": false,
            "searching": true,
            "bPaginate": true,
            "pageLength": 30,
            "info": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/Portuguese-Brasil.json"
            }
            /*dom: 'T<"clear">lfrtip',
             tableTools: {
             "sSwfPath": "<?php echo $this->baseUrl("static/") ?>js/data-tables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
             }*/
        });

        $("#submitAll").click(function (event){
            let itens = [];
            $("input:checkbox[name=item]:checked").each(function()
            {
                itens.push($(this).val())
            });
            $.ajax({
                url: "<?php echo $this->baseUrl('gerenciador/mavipse/ordem'); ?>",
                type: 'POST',
                data: {itens},
                success: function(response) {
                    if(response == "true"){
                        alert("Movido(s) com sucesso.");
                        document.location.reload(true);
                    }
                }
            });
        });
    });

</script>