<style>
    input[type="radio"]{
        border: none;
        height: 1em;
        width: 20%;
        display: inline-block;
    }
    label{
        display: flex;
    }
</style>

<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="" class="heading"><? echo $this->title?></a></li>
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">

        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                           <div class="bloco1">
                                Dados do cliente
                                <span class="mini-title">
                                </span>
                           </div>
                            <div class="bloco2" style="display:none;">
                                Filtros
                                <span class="mini-title">
                                    Etapa 1
                                </span>
                            </div>
                            <div class="bloco3" style="display:none;">
                                Filtros
                                <span class="mini-title">
                                    Etapa 2
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-body">
                         
                        <?php if($this->agente) { ?>
                        <form class="form-horizontal no-margin row" action="" method="post">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                            <?php echo $this->form->getElement('user_id');?>
                                 </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-info pull-right">Salvar</button>
                        </form>
                        <?php } else { ?>
                        
                        <form class="form-horizontal no-margin row" action="" method="post" >
                            <div class="bloco1"><?php include "partials/step1.phtml"; ?></div>
                                <div class="col-sm-8 col-sm-offset-2 bloco1">
                                    <div class="form-group">
                                        <div class="text-center">
                                            <a href="#" id="step1" class="btn btn-info btn-block text-center">Avançar >></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bloco2" style="display: none"><?php include "partials/step2.phtml"; ?></div>
                                <div class="bloco3" style="display: none"><?php include "partials/step3.phtml"; ?></div>

                        </form>
                        <?php } ?>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Left Sidebar End -->
</div>
<!-- Dashboard Wrapper End -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

<script>
    $( document ).ready(function() {
        $(".phone").mask("(99) 99999-9999");
        $(".phone").on("blur", function() {
            var last = $(this).val().substr( $(this).val().indexOf("-") + 1 );

            if( last.length == 3 ) {
                var move = $(this).val().substr( $(this).val().indexOf("-") - 1, 1 );
                var lastfour = move + last;
                var first = $(this).val().substr( 0, 9 );

                $(this).val( first + '-' + lastfour );
            }
        });
        $("#step1").click(function() {
            $(".bloco1").hide();
            $(".bloco2").show();
        });
        $("#step2").click(function() {
            $(".bloco2").hide();
            $(".bloco3").show();
        });
        $("#step3").click(function() {
            $(".bloco3").hide();
          //  $(".bloco4").show();
        });
        $("#previus1").click(function() {
            $(".bloco2").hide();
            $(".bloco1").show();
        });
        $("#previus2").click(function() {
            $(".bloco3").hide();
            $(".bloco2").show();
        });
        <!-- xx  -->
        if($("input[name='p_marca']").filter(':checked').val() === 'a'){
                $(".yes_marca").show();
        }
        $("input[name='p_marca']").change(function(){
           if($(this).val() === 'a'){
               $(".yes_marca").show();
           }
            if($(this).val() === 'b'){
                $(".yes_marca").hide();
            }
        });
        <!-- xx  -->
        if($("input[name='p_experiencia_registro']").filter(':checked').val() === 'e'){
            $(".yes_experiencia").show();
        }
        $("input[name='p_experiencia_registro']").change(function(){
            if($(this).val() === 'e'){
                $(".yes_experiencia").show();
            }
            if($(this).val() === 'f'){
                $(".yes_experiencia").hide();
            }
        });

    });

</script>