<style>
    .col-md-2,.col-md-4 {padding: 10px; margin-top: 5px; border: 1px solid black; height: 70px}
    .font-20 {font-size:20px;}
    .blue{ color: blue}
    .red {color: red;}
</style>
<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="" class="heading"><?= $this->title ?></a></li>
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">

        <!-- Row Start -->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <?php echo $this->showMessenger($this->msg) ?>
            </div>
        </div>
        <!-- Row End -->

        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget no-margin">
                    <div class="widget-header">
                        <div class="title">
                          <?php echo $this->row['marca'] ?: $this->row['responsavel']; ?>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="invoice">

                            <div class="invoice-data-container">

                                <h4>Detalhes do cliente</h4>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-2">
                                        <b>Nome / Razão Social</b>
                                    </div>
                                    <div class="col-md-4">
                                        <?php echo $this->row['marca']; ?>
                                    </div>
                                    <div class="col-md-2">
                                        <b>Responsável (Master)</b>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="font-20 red">      <?php echo $this->row['responsavel']; ?> </span>
                                    </div>

                                    <div class="col-md-2">
                                        <b>PF / CNPJ</b>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="font-20 blue">  <?php echo $this->row['cnpj_cpf']; ?></span>
                                    </div>
                                    <div class="col-md-2">
                                        <b>Cargo</b>
                                    </div>
                                    <div class="col-md-4">
                                        <?php echo $this->row['cargo']; ?>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <b>Email</b>
                                    </div>
                                    <div class="col-md-4">
                                        <?php echo $this->row['email']; ?>
                                    </div>
                                    <div class="col-md-2">
                                        <b>Telefone</b>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="font-20 blue">  <?php echo $this->row['telefone_1']; ?> </span>
                                    </div>
                                </div>

                                <?php if(isset($this->row['responsavel_2'])): ?>
                                <hr />
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>Responsável (2)</b>
                                        </div>
                                        <div class="col-md-4">
                                            <?php echo $this->row['responsavel_2']; ?>
                                        </div>
                                        <div class="col-md-2">
                                            <b>CPF / CNPJ</b>
                                        </div>
                                        <div class="col-md-4">
                                            <?php echo $this->row['cpf_cnpj_2']; ?>
                                        </div>
                                        <div class="col-md-2">
                                            <b>Cargo</b>
                                        </div>
                                        <div class="col-md-4">
                                            <?php echo $this->row['cargo']; ?>
                                        </div>
                                        <div class="col-md-2">
                                            <b>Email</b>
                                        </div>
                                        <div class="col-md-4">
                                            <?php echo $this->row['email_2']; ?>
                                        </div>
                                        <div class="col-md-2">
                                            <b>   Telefone </b>
                                        </div>
                                        <div class="col-md-4">
                                            <?php echo $this->row['telefone_2']; ?>
                                        </div>
                                    </div>
                                <?php endif; ?>
                                <br>
                                <div class="row">
                                    <div class="col-md-3" style="padding-top: 30px">
                                        <b>Observações</b>
                                    </div>
                                    <div class="col-md-12">
                                        <?php echo $this->row['observacoes']; ?>
                                    </div>
                                </div>
                                <br>

                                <h4>Filtro 1</h4>
                                <hr/>
                                <?php if(count($this->f1) < 1): ?>
                                    <div class="row">
                                            <div class="col-md-12">
                                                <span>PEDENTE</span>
                                            </div>
                                    </div>
                                <?php else: ?>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>Possui marca?</b>
                                        </div>
                                        <div class="col-md-4">
                                            <?php echo $this->f1['p_marca'] === 'a' ? 'SIM'  :  '' ?>
                                            <?php echo $this->f1['p_marca'] === 'b' ? 'NÃO'  :  '' ?>
                                        </div>
                                        <div class="col-md-2">
                                            <b>Possui mais de uma marca?</b>
                                        </div>
                                        <div class="col-md-4">
                                            <?php echo $this->f1['p_marca_s'] === 'c' ? 'SIM'  :  '' ?>
                                            <?php echo $this->f1['p_marca_s'] === 'd' ? 'NÃO'  :  '' ?>
                                        </div>
                                        <div class="col-md-2">
                                            <b>Numero de processo</b>
                                        </div>
                                        <div class="col-md-4">
                                            <?php echo $this->f1['p_numero_processo'] ?>
                                        </div>

                                        <div class="col-md-2">
                                            <b>Como você se comunica com seu cliente?</b>
                                        </div>
                                        <div class="col-md-4">
                                            <?php echo $this->f1['p_comunicacao_cliente'] ?>
                                        </div>
                                        <div class="col-md-2">
                                            <b>Utiliza qual canal de divulgação?</b>
                                        </div>
                                        <div class="col-md-4">
                                            <?php
                                            if($this->f1['p_canal_divulgacao'] === "j")
                                                echo "Instagram";
                                            if($this->f1['p_canal_divulgacao'] === "l")
                                                echo "Facebook";
                                            if($this->f1['p_canal_divulgacao'] === "m")
                                                echo "Google";
                                            if($this->f1['p_canal_divulgacao'] === "n")
                                                echo "Linkedin";
                                            if($this->f1['p_canal_divulgacao'] === "o")
                                                echo "Nenhum Canal";
                                            ?>
                                        </div>
                                    </div>
                                    <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        <b>Observações</b>
                                    </div>
                                    <div class="col-md-10">
                                        <?php echo $this->f1['p_observacao_f1'] ?>
                                    </div>
                                </div>

                                <?php endif; ?>
                                <br><br>
                                <h4>Filtro 2</h4>
                                <hr/>
                                <?php if(count($this->f2) < 1): ?>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span>PEDENTE</span>
                                        </div>
                                    </div>
                                <?php else: ?>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>No seu ponto de vista o quanto a marca representa para sua empresa?</b>
                                        </div>
                                        <div class="col-md-4">
                                            <?php
                                            if($this->f2['p_marca_representa'] === "a")
                                                echo "Muilta Importância";
                                            if($this->f2['p_marca_representa'] === "b")
                                                echo "Importante";
                                            if($this->f2['p_marca_representa'] === "c")
                                                echo "Irrelevante";
                                            if($this->f2['p_marca_representa'] === "d")
                                                echo "Sem Importância";
                                            ?>
                                        </div>
                                        <div class="col-md-2">
                                            <b>Você já teve alguma experiência com registro de marca?</b>
                                        </div>
                                        <div class="col-md-4">
                                            <?php
                                            if($this->f2['p_experiencia_registro'] === "e")
                                                echo "SIM";
                                            if($this->f2['p_experiencia_registro'] === "f")
                                                echo "NÃO";
                                            ?>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>Como foi a experiência? Você teve uma...</b>
                                        </div>
                                        <div class="col-md-4">
                                            <?php
                                            if($this->f2['p_experiencia_descricao'] === "g")
                                                echo "Experiência de satisfação";
                                            if($this->f2['p_experiencia_descricao'] === "h")
                                                echo "Boa Experiência ou Sem Experiência";
                                            if($this->f2['p_experiencia_descricao'] === "i")
                                                echo "Experiência Terrível";
                                            ?>
                                        </div>
                                        <div class="col-md-2">
                                            <b>Como realiza a gestão dos registros ?</b>
                                        </div>
                                        <div class="col-md-4">
                                            <?php
                                            if($this->f2['p_gestao_registro'] === "j")
                                                echo "Tenho gestão";
                                            if($this->f2['p_experiencia_registro'] === "l")
                                                echo "Não tenho gestão";
                                            ?>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>Quanto tempo você tem de marca?</b>
                                        </div>
                                        <div class="col-md-4">
                                            <?php
                                            if($this->f2['p_marca_tempo'] === "m")
                                                echo "Menos de 1 ano";
                                            if($this->f2['p_marca_tempo'] === "n")
                                                echo "De 1 a 3 anos";
                                            if($this->f2['p_marca_tempo'] === "o")
                                                echo "De 4 à 5 anos";
                                            if($this->f2['p_marca_tempo'] === "p")
                                                echo "Mais de 5 anos";
                                            ?>
                                        </div>

                                        <div class="col-md-2">
                                            <b>Em quanto tempo você pensa em fazer o registro de marca?</b>
                                        </div>
                                        <div class="col-md-4">
                                            <?php
                                            if($this->f2['p_registro_tempo'] === "q")
                                                echo "Imediato";
                                            if($this->f2['p_registro_tempo'] === "r")
                                                echo "Em 01 mês";
                                            if($this->f2['p_registro_tempo'] === "s")
                                                echo "Em mais de 03 meses";
                                            ?>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>Qual porte da sua empresa? (DE ACORDO COM SEU CNPJ)</b>
                                        </div>
                                        <div class="col-md-4">
                                            <?php
                                            if($this->f2['p_porte_empresa'] === "t")
                                                echo "MEI";
                                            if($this->f2['p_porte_empresa'] === "u")
                                                echo "ME";
                                            if($this->f2['p_porte_empresa'] === "v")
                                                echo "EPP";
                                            if($this->f2['p_porte_empresa'] === "x")
                                                echo "DEMAIS";
                                            if($this->f2['p_porte_empresa'] === "y")
                                                echo "PF";
                                            ?>
                                        </div>
                                    </div>
                                    <br>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <b>Observações</b>
                                            </div>
                                            <div class="col-md-8">
                                                <?php echo $this->f2['p_observacao_f2'] ?>
                                            </div>
                                        </div>

                                <?php endif; ?>

                            </div>
                            <br>   <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href="<?php echo $this->url(array('controller' => 'mavipse'), "gerenciador", true); ?>"  class="btn btn-block btn-info">
                                        Ok
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Left Sidebar End -->
</div>
<!-- Dashboard Wrapper End -->
