
<?php if(!$this->permissao2 && !$this->admin  && $this->update): ?>

<a href="<?php echo $this->url(array('action' => 'request-edit', 'option' => '2')) ?>"
   class="btn btn-success" <?php echo $this->solicitado2 ? 'disabled'  : '' ?>>
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    <?php echo $this->solicitado2 ? 'Aguardando permissão' : 'Solicitar edição'?>
</a>
<hr />

<?php else: ?>

<div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-1">
                <div class="form-group">
                    <?php echo $this->form->getElement('p_marca');?>
                </div>
            </div>
        </div>
    </div>
    <div class="row yes_marca" style="display: none">
        <div class="col-sm-12">
            <div class="col-sm-4">
                    <div class="form-group">
                        <?php echo $this->form->getElement('p_numero_processo');?>
                    </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-4">
                <div class="form-group">
                    <?php echo $this->form->getElement('p_marca_s');?>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                    <div class="form-group">
                        <?php echo $this->form->getElement('p_comunicacao_cliente');?>
                    </div>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                    <div class="form-group">
                        <?php echo $this->form->getElement('p_canal_divulgacao');?>
                    </div>
            </div>
        </div>
    </div>
</div>

<?php endif; ?>

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <div class="form-group">
                <?php echo $this->form->getElement('p_observacao_f1');?>
            </div>
        </div>
    </div>
</div>


<div class="col-sm-12" style="border-bottom: 1px solid black; margin-bottom: 10px;  padding-bottom: 10px">
</div>
<div class="col-sm-2">
    <a href="#" id="previus1" class="btn btn-warning text-center"><< Voltar</a>
</div>
<div class="col-sm-8">
    <a href="#" id="step2" class="btn btn-info btn-block text-center">Avançar >></a>
</div>