<?php if(!$this->permissao1 && !$this->admin && $this->update): ?>

    <a href="<?php echo $this->url(array('action' => 'request-edit', 'option' => '1')) ?>"
       class="btn btn-success" <?php echo $this->solicitado1 ? 'disabled'  : '' ?>>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <?php echo $this->solicitado1 ? 'Aguardando permissão' : 'Solicitar edição'?>
    </a>
    <hr />

<?php else: ?>

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <div class="form-group">
                <?php echo $this->form->getElement('marca');?>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="col-sm-12">
            <div class="form-group">
                <?php echo $this->form->getElement('responsavel');?>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="col-sm-12">
            <div class="form-group">
                <?php echo $this->form->getElement('cargo');?>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="col-sm-12">
            <div class="form-group">
                <?php echo $this->form->getElement('cnpj_cpf');?>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="col-sm-12">
            <div class="form-group">
                <?php echo $this->form->getElement('email');?>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="col-sm-12">
            <div class="form-group">
                <?php echo $this->form->getElement('telefone_1');?>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row" style="padding-bottom: 10px">
    <div class="col-sm-6">  <span style="text-decoration: underline; font-size: 16px">Responsável (2)</span></div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="col-sm-12">
            <div class="form-group">
                <?php echo $this->form->getElement('responsavel_2');?>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="col-sm-12">
            <div class="form-group">
                <?php echo $this->form->getElement('cpf_cnpj_2');?>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="col-sm-12">
            <div class="form-group">
                <?php echo $this->form->getElement('resposanvel_2_cargo');?>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="col-sm-12">
            <div class="form-group">
                <?php echo $this->form->getElement('email_2');?>
            </div>
        </div>
    </div>


    <div class="col-sm-6">
        <div class="col-sm-12">
            <div class="form-group">
                <?php echo $this->form->getElement('telefone_2');?>
            </div>
        </div>
    </div>

    <div class="col-sm-6" style="margin-top: 22px">
        <div class="col-sm-12">
            <div class="form-group" style="display: flex">
            <a style="margin-right: 0.5rem" href="<?php echo $this->url(array('controller' => 'mavipse','action' => 'update',
                                                            'id' => $this->row['id'], 'agente' =>'agente' )); ?>" class="btn btn-danger">Editar Agente</a>
            <input class="form-control" type="text" disabled value="<?php echo $this->user['name'] ?>">                                                
            </div>
        </div>
    </div>

</div>

<?php endif; ?>

<hr />
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <div class="form-group">
                <?php echo $this->form->getElement('observacoes');?>
            </div>
        </div>
    </div>
</div>