<?php if(!$this->permissao3 && !$this->admin  && $this->update): ?>

    <a href="<?php echo $this->url(array('action' => 'request-edit', 'option' => '3')) ?>"
       class="btn btn-success" <?php echo $this->solicitado3 ? 'disabled'  : '' ?>>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <?php echo $this->solicitado3 ? 'Aguardando permissão' : 'Solicitar edição'?>
    </a>
    <hr />

<?php else: ?>

<div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="form-group">
                    <?php echo $this->form->getElement('p_marca_representa');?>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                    <div class="form-group">
                        <?php echo $this->form->getElement('p_experiencia_registro');?>
                    </div>
            </div>
        </div>
    </div>
     <div class="row yes_experiencia" style="display: none">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="form-group">
                    <?php echo $this->form->getElement('p_experiencia_descricao');?>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                    <div class="form-group">
                        <?php echo $this->form->getElement('p_gestao_registro');?>
                    </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="form-group">
                    <?php echo $this->form->getElement('p_marca_tempo');?>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="form-group">
                    <?php echo $this->form->getElement('p_registro_tempo');?>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="form-group">
                    <?php echo $this->form->getElement('p_porte_empresa');?>
                </div>
            </div>
        </div>
    </div>
</div>

<?php endif; ?>

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <div class="form-group">
                <?php echo $this->form->getElement('p_observacao_f2');?>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12" style="border-bottom: 1px solid black; margin-bottom: 10px;  padding-bottom: 10px">
</div>
<div class="col-sm-2">
    <a href="#" id="previus2" class="btn btn-warning text-center"><< Voltar</a>
</div>
<div class="col-sm-8">
    <!--<a href="#" id="step1" class="btn btn-info text-center">Avançar >></a>-->
        <button type="submit" class="btn btn-block btn-success text-center">Salvar</button>
</div>