 .link-article{
    color: #9B58C1;
}

.article-li{
    border: none;
    padding: 25px 20px 0;
}

.article-li:first-child{
    border-top: 1px solid #cccccc;
}

.reading {
    background: #9b58b6;
    width: 30%;
    color: #f8bc05 !important;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

.banner-right{
    padding: 25px 20px 30px;
    display: block;
}

@media(max-width:760px){
    .reading{
        width: 50%;
    }
}