*, *:before, *:after {
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box;
    }

    html {
        font-family: 'Open Sans', sans-serif;
        background: #043B4A;
    }

    #Container_filtro {
        width: 70%;
        margin:0 auto;
        display: block;
    }

    .Category-label:hover{
        cursor:pointer;
    }

    @media only screen and (min-width: 767px) and (max-width:960px){
        #Container_filtro {
            width:55%;
        }
    }

    #ToolBar {
        padding: 10px;  
    }

    #ToolBar .button {
        background: #333;
        color: #fff;
        font-weight: bold;
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 2px;
    }

    #ToolBar .button.active {
        background: #BD5961;
    }

    #ToolBar input {
        padding: 4px;
        border-radius: 2px;
    }

    .item {
        width: 200px;
        height: 200px;
        background: #ccc;
        margin: 12px;
        padding: 10px;
        border-radius: 2px;
    }

    /**** Isotope Filtering ****/

    .isotope-item {
        z-index: 2;
    }

    .isotope-hidden.isotope-item {
        pointer-events: none;
        z-index: 1;
    }

    /**** Isotope CSS3 transitions ****/

    .isotope,
    .isotope .isotope-item {
        -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        -ms-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
    }

    .isotope {
        -webkit-transition-property: height, width;
        -moz-transition-property: height, width;
        -ms-transition-property: height, width;
        -o-transition-property: height, width;
        transition-property: height, width;
    }

    .isotope .isotope-item {
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property:    -moz-transform, opacity;
        -ms-transition-property:     -ms-transform, opacity;
        -o-transition-property:      -o-transform, opacity;
        transition-property:         transform, opacity;
    }

    /**** disabling Isotope CSS3 transitions ****/

    .isotope.no-transition,
    .isotope.no-transition .isotope-item,
    .isotope .isotope-item.no-transition {
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -ms-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s;
    }

    .question-filtro{
        background: #9b58b6;
        color: #ffffff;
        margin-top: 20px;
    }

    .desc_cat{
        display: none;
    }