.browsehappy{
    position: relative;
    text-align: center;
    background-color: #821a0f;
    color: #fff;
    margin: 0 auto;
    padding: 20px;
    font-size: 23px;
}

/* #################### INDEX #################### */
.img-selo{
        width: 25%;
        margin: 0 auto;
    }

    .dep {
        margin-top: 50px;
    }

    .iframe-facebook{
        text-align: center;
        margin-bottom: 50px;
        background-size: cover;
        background-position: 0;

    }
    .veja-video-simples{
        font-size: 10px;
        text-transform: uppercase;
    }
    @media screen and (max-width: 986px){
        .img-selo{
            width: 100%;
        }

        .btn-popup-tutorial{
            margin: 0 auto !important;
            float: none !important;
            display: block !important; 
            text-align: center !important;
            width: 83%  !important;
            font-size: 19px;
        }

    }

    .btn-popup-tutorial{
        font-family: "bree";
        background: #9b58b6;
        width: 20%;
        color: #f7c701;
        text-align: center;
        padding: 13px 0px 5px 0;
        margin-right: 9%;
        display: block;
        text-decoration: none;
        border: none;
        float: right;
        border: 2px solid #d8d8d8 !important;
        text-transform: uppercase;
    }

    .btn-popup-pesquisa{
        float: none;
        margin: 0 auto;
        text-align: center;
    }

/* #################### PREÇOS #################### */
.preco-box{
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  background-color: #ffffff;
  margin-bottom: 300px;
}


.box__assinatura{
    /*background: #767e80 url("../images/bg-assinatura.png") no-repeat left bottom / 60%;*/

}

.box__assinatura h2{
    color: #ea7d00;
    text-align: center;
    font-size: 28px;
    font-family: "bree";
    margin-bottom: 40px;
}

.letter-roxo,.letter-laranja{
    overflow: hidden;
}
/*.box__assinatura div{
  display: block;
  text-align: center;
  width: 100%;
  float: left;
  font-family: "fira";
  color: #fff;
  font-size: 28px;
}*/

.box__assinatura span{
    color: #9b58b7;
    margin-right: 20px;
    font-size: 60px !important;
}

@media(min-width:960px){
    .box__assinatura span{
        padding: 4px 100px;
    }
}

.box__assinatura div a{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e0e0e+0,7d7e7d+100 */
  background: #0e0e0e; /* Old browsers */
  background: -moz-linear-gradient(top, #0e0e0e 0%, #4a504a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0e0e0e 0%,#4a504a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0e0e0e 0%,#4a504a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */
  font-size:12px; 
  padding: 15px;
  margin-right: 20px;
  color:#fff;
  display: inline-block;
}

.box__assinatura div .saber_mais{
    padding: 19px 40px;
}

.box__assinatura p{
  display: block;
  width: 100%;
  text-align: center;
  float: left;
  font-family: "fira";
  color:#fff;
  letter-spacing: 2px;
  margin-top:20px;
}

.tit-box{
  font-family: "bree";
  font-size: 24px;
  margin-bottom: 30px;
  color: #9b58b6;
}

.tit-box-2{
  font-family: "fira";
  color: #767e80;
  text-transform: uppercase;
}

.box__preco-mercado ul{
  margin: 0;
  padding: 20px 0 0;
  list-style: none;
  background: #ebeff0;
  text-transform: uppercase;
}


.box__preco-mercado ul span:nth-child(4){
    width: 100%;
    display: table;
    background: #9b58b6;
    color: #fff;
    font-family: "fira";
    text-align: center;
    letter-spacing: 2px;
    padding: 5px 0;
}

.box__preco-mercado ul li{
  background: #ebeff0;
  text-align: center;
  font-family: "fira";
  letter-spacing: 2px;
  color:#6b6f70;
  margin-bottom: 10px;
}
.box__preco-mercado ul li:after {
    content: "";
    border: 1px solid #ea7e00;
    position: absolute;
    right: 0;
    display: block;
    top: 0;
}

.box__preco-mercado ul li span:nth-child(2) {
    display: block;
    font-family: "bree";
    color: #9b58b6;
    letter-spacing: 0;
}

.box__preco-mercado ul li span:last-child {
   font-size: 14px;
}

.box__preco-mercado ul li:nth-child(3):after {
    border: none;
}

.box__preco-mercado p {
    font-family: bree;
    line-height: 1;
    font-size: 14px;
    color: #767e80;
    margin-top:10px;
}

table, table tr, table td{
    border:2px solid #fff;
}


/*box__servico-free*/
    .box__servicos-free{
        margin-bottom: 30px;
    }

    .box__servicos-free h2{
        position: relative;
    }
 
/*box__servico_basico*/

    .box__servicos-basicos h2{
        position: relative;
        top:10px;
        
    }


    .td-cinza{
        background: #ebeff0;
        font-family: 'bree';
        color: #767e80;
        font-size:16px;
    }

    .letter-roxo{
        font-family: 'bree';
        color: #9b58b7;
        font-size: 28px;
        background: #000;
        text-align: center;
        padding:0 !important;
        
    }

    .letter-roxo img{

        width: 100%;
    }


    .letter-laranja{
        font-family: 'bree';
        color:#ea7d00;
        font-size: 28px;
        text-align: center;
        background: #000;
        padding:0 !important;
        
    }

    h2.tit-box span:after {
        content: "";
        display: block;
        width: 80%;
        border-bottom: 1px solid #ddd;
        margin: 30px auto 0;
    }

    .td-gray_{
        background: #767e80;
        font-family: 'bree';
        color: #fff;
    }

    @media (min-width:992px){
        .td-gray_{
            min-width: 365px;
        }
    }

    .td-laranja{
        background: #ea7e00;
        color: #fff;
        text-align: center;
        font-family: 'bree';
    }

    .td-azul{
        background: #72d7f7;
        color: #fff;
        text-align: center;
        font-family: 'bree';
    }
    .td-verde{
        background: #a9e471;
        color: #fff;
        text-align: center;
        font-family: 'bree';
    }


    .td-roxo{
        background: #9b58b6;
        text-align: center;
        color:#fff;
        font-family: 'bree';
        display: table-cell;
        vertical-align: middle !important;
    }

    .td-roxo img, .td-laranja img{
        width: 20%;
    }

    .td-vazio{
        position: relative !important;
        color: #ea7d00;
        text-align: center;
    }

    .td-vazio span{
        border: 1px solid #ea7d00;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }

    .td-l a, .td-r a{
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
        color: #fff;
        background: #000;
        padding: 15px 0;
        font-size: 18px;
        margin-top: 5px;
        text-transform: uppercase;
    }

    .porMes{
        margin: 0 auto !important;
        font-size: 12px !important;
        top: -49px;
        left: -15px;
        position: relative;
        background-color: transparent !important;
    }



    .noventaSete{
        margin: 0 auto !important;
        font-size: 20px !important;
        top: -45px;
        left: -35px;
        position: relative;
        background-color: transparent !important;
    }

    .btn-link-contratar{
        color: #ffffff;
    } 

    .div-assinatura-topo{
        margin-bottom: -31px;
    }

    .p-entrada{
        margin-top: 0;
        font-size: 13px;
    }
/*box__servicos-avançados*/

    .box__servicos-avancados{
        margin-bottom: 30px;
    }

    .box__servicos-avancados h2{
        position: relative;
        top:10px;
        
    }

    .box__servicos-avancados tr td {
        font-family: 'bree';
    }


    .td-roxo-tit{
        background:none;
        color: #9b58b6;
        font-family: 'bree';
        text-align: center;
    }
    .td-laranja-tit{
        background:none;
        color: #ea7e00;
        font-family: 'bree';
        text-align: center;

    }

    .box__observacao{
        font-family: 'bree';
        font-size:15px;
        color:#767e80;
    }

    .box_assinatura_mavip .btn-link-contratar:hover{
        color: #fff;
    }

    .box_assinatura_mavip h1{
        font-family: "fira"!important;
        font-size: 35px;
        margin: 0;
        text-align: center;
    }

    .box_assinatura_mavip h1 sup{
        font-size: 18px;
    }

    .box_assinatura_mavip span.por_mes_{
        margin-left: 120px;
        margin-top: -15px;
        display: block;
    }

    .box_assinatura_mavip h2{
        font-family: "fira"!important;
        font-size: 30px;
        margin: 0;
        text-align: center;
    }
    .box_assinatura_mavip p{
        font-family: "fira"!important;
        font-size: 13px;
        margin: 0;
        text-align: center;
        letter-spacing: 2px;
    }

    .td_link a{
        color: #fff;
    }

    .logo-select{
        margin:0 auto 10px 30%;
        display: block;
    }


        .letter-laranja img{
            top:5px;
        }
    
/* MOBILE*/
  @media (max-width:767px){
    .preco-box{border:none;}
    .box__assinatura{
      height: 170px;
      position: relative;
    }

    .box_assinatura_mavip h2{
        font-size:20px !important;
    }
    .box_assinatura_mavip p{
        font-size:9px !important;
    }

    .box_assinatura_mavip .td_assine{
        min-width: inherit!important;
    }

    .box_assinatura_mavip h1{
        font-size: 20px !important;
        text-align: left !important;
    }

    .box_assinatura_mavip span.por_mes_{
        margin-left: 0 !important;
        float: right;
    }

    .div-assinatura-topo {
        margin-bottom: 0;
    }
    .box__assinatura span{
      font-size: 24px;
    }

    .letter-laranja, .letter-roxo{
        height: 56px;
    }

    .letter-laranja img{
        width: 29%;
        float: right;
        position: relative;
        right: 10px;

    }

    .letter-roxo img{
        position: relative;
        top:10px;
    }

    .box__assinatura div a{
        position: absolute;
        bottom: 68px;
        display: block;
        width: 290px;
        height: 47px;
        left: -22px;
        right: 0;
        margin: 0 auto;
    }

     .td-l a, .td-r a{
        font-size: 10px;
        margin: 0 auto;
        display: block !important;
     }
     .letter-roxo, .letter-laranja{
        font-size: 18px;
     }
     .fa-3x{
        font-size:2em !important;
     }

     .box__servicos-avancados{
        padding:0;
     }

    .box__assinatura div a br{
        display: none;
    }
    .noventaSete{
        left: 53px;
    }

    .tit-box{
      text-align: center;
    }

    .box__preco-mercado ul li{
        font-size: 12px;
        padding-top: 10px;
        line-height: 1;
    }

     .box__preco-mercado ul li:after {
        height: 80px;
    }

    .box__preco-mercado ul li:nth-child(2) {
        position: relative;
        top: -7px;
    }

    .box__preco-mercado ul li:nth-child(2):after {
        top: 7px;
    }

    .box__preco-mercado ul li span:nth-child(2){
        padding:10px;
        font-size: 16px;
    }

    .box__preco-mercado ul span:nth-child(4){
        font-size: 10px;
    }

    .box__preco-mercado ul li span:last-child {
        font-size: 10px;
        letter-spacing: 0px;
    }

    .box__preco-mercado p{
        font-size: 10px;
        text-align: center;
    }

    /*serviços free*/
        .box__servicos-free, .box__servicos-basicos h2{
            position: relative;
            top:0;
            text-align: center;
        }
        .tabela-desktop{
            display: none;
        }
        .tabela-mobile {
            position: relative;
            top: 20px;
        }

        .tabela-mobile ul {
            list-style: none;
            text-align: center;
            margin: 10px 0 0 0;
            font-family: "bree";
        }

        .tabela-mobile ul li:nth-child(1) {
            background: #ebeff0;
            padding: 10px;
            color: #767e80;
            margin-bottom: 3px;
        }
        .tabela-mobile ul li:nth-child(2) {
            background: #9b58b6;
            font-size: 14px;
            color: #fff;
            padding: 10px 0;
        }

        .tabela-mobile ul li:nth-child(3) {
            background: #ea7e00;
            font-size: 14px;
            color: #fff;
            padding: 10px 0;
            border-left: 2px solid #fff;
        }
        .box__servicos-basicos tr:nth-child(1) td:nth-child(1){
            background:#ebeff0;
            
        }

        .box__servicos-basicos tr:nth-child(1) td:nth-child(2){
            background: #9b58b6;
            color: #fff;
            text-align: center;
        }

        .box__servicos-avancados .td-cinza span{
           display: block;
        }

    table{
        width: 100%;
        margin: 0;
    }


    .tit-box-2{
        font-size: 18px;
        margin-bottom: 20px;
        top:30px;
        text-align: center;
    }

    .tit-box-2 span{
        font-size: 12px;
    }
  }


/* DESKTOP*/
  @media (min-width:768px){
    .preco-box {
      margin-top: -140px;
      padding-top: 25px;
      padding-bottom: 30px;
    }
    
    .letter-laranja img{
        float: right;
        margin-right: 4%;
        width: 30%;
    }
    .letter-laranja, .letter-roxo{
        height: 73px;
    }


    .box__servicos-free h2{
        position: relative;
        top:50px;
    }

    .box__assinatura span{
      margin-left: 0;
    }
    
    .box__assinatura div a{
      position: relative;
      top: 1px;
    }

    .box__preco-mercado ul li{
        line-height: 1;
    }

    .box__preco-mercado ul li:after {
        height: 160px;
    }

    .box__preco-mercado ul li span:nth-child(2){
        font-size: 34px;
        margin:6px 0 20px;

    }

    .box__servicos-basicos{
        margin-bottom: 30px;
    }

    .box__preco-mercado ul li{
      font-size: 18px;
    }

    /*.letter-roxo img {
        padding: 12% 0;
    }*/
    .tit-preco{
        width: 100%;
        display: block !important;
        padding-top: 32px;
        text-align: center;
    }
    
    .box__preco-mercado ul li span:first-child{
        font-size: 24px;
        height: 90px;
        display: table-cell;
        vertical-align: middle;
    }
    .tabela-mobile{
        display: none;
    }
    .tabela-desktop{
        display: block;
    }

    .tit-box-2{
        font-size: 24px;
        margin-bottom: 30px;
    }

    .cabecalho td{
        vertical-align: middle !important;
    }
  }


@media only screen and (min-width:460px) and (max-width:1280px){
    .letter-roxo img{
        width: 190px;
        margin-top: -10px;
        margin-bottom: 5px;
    }
}

@media (max-width:460px){
    .letter-roxo img{
        width: 65px;
    }
}

.btn-collapse-precos{
    background-color: #ea7d00;
    padding: 20px;
    text-align: left;
    display: block;
    margin-top: 20px;
    border: none;
    font-weight: bold;
    color: #ffffff;
}

.cabecalho td button{
    border: none;
    background-color: transparent;
    color: #757e7f;
}