<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="<?=$this->url(array('controller' => 'busca', 'action' => 'list'), "gerenciador", true);?>" class="heading"><?=$this->page?> </a>>></li> 
          <li><a href="<?=$this->url(array('action' => 'list'));?>" class="heading"> <?=$this->title;?></a></li>
          <li><a href="#" class="heading"> <?=$this->action;?></a></li>
 
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">

        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            <?php echo $this->title?>
                            <span class="mini-title">
                                <?php echo $this->title?> 
                            </span>
                        </div>
                    </div>
                    <div class="widget-body">
                        
                        <form class="form-horizontal no-margin row" action="" method="post" enctype="multipart/form-data">

                            <h5>
                                Dados de Acesso
                            </h5>
                            <hr/>
                            <div class="col-sm-6">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <?php echo $this->form->getElement('email');?>
                                    </div>
                                </div>
                            </div>
                            


                            <div class="col-sm-12 ">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-info pull-right">Salvar</button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row End -->



    </div>
    <!-- Left Sidebar End -->



</div>
<!-- Dashboard Wrapper End -->






<script type="text/javascript">

    //Data Tables
    $(document).ready(function () {
        //$.fn.dataTable.TableTools.defaults.aButtons = [ "copy", "csv", "xls" ];
        $('#data-table').dataTable({
            "bPaginate": false,
            "info": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/Portuguese-Brasil.json"
            }
            /*dom: 'T<"clear">lfrtip',
             tableTools: {
             "sSwfPath": "<?php echo $this->baseUrl("static/") ?>js/data-tables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
             }*/
        });
    });

</script>