<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="<?=$this->url(array('action' => 'list'))?>" class="heading"><?=$this->title?> </a>>></li> 
           <li><a href="#" class="heading"> Visualizar</a></li>
    </ul>
</div>
<!-- Sub Nav End -->
<div class="dashboard-wrapper">

    <!-- Left Sidebar Start -->
    <div class="container">

        <!-- Row Start -->
        <div class="row">
            <div class="col-md-12 col-lg-12">

                <?php echo $this->showMessenger($this->msg) ?>
            </div>
        </div>
        <!-- Row End -->

        <!-- Row Start -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget no-margin">
                    <div class="widget-header">
                        <div class="title">
                            <?php echo $this->title; ?> no #<?php echo $this->row['id']; ?>
                        </div>
                        <span class="tools">
                            <a title="Icon Title" class="" href="#"><i class="fa fa-print"></i> <span class="text">Imprimir</span></a>

                        </span>
                    </div>
                    <div class="widget-body">
                        <div class="invoice">

                            <div class="invoice-data-container clearfix">

                                <h4>Dados Gerais</h4>
                                <hr/>
                               
                                <?php foreach ($this->historico as $his): ?>
                                <?php endforeach; ?>
                                <table class="table table-condensed table-striped table-hover table-bordered pull-left">

                                    <thead>
                                        <tr>
                                            <th>Marca</th>
                                            <th>Despacho</th>
                                            <th>Nº Processo</th>
                                            <th>Prazo</th>
                                            <th>Texto</th>
                                            <th>Texto Complementar</th>
                                            <th>Cliente</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         <?php foreach ($this->historico as $his): ?>
                                            <tr  class="gradeX">

                                                <td class=""><?php echo $his["marca"]?></td>
                                                <td class=""><?php echo $his["codigo_despacho"]?></td>
                                                <td class=""><?php echo $his["processo"]?></td>
                                                <td class=""><?php echo $his["prazo"]?></td>
                                                <td class=""><?php echo $his["texto"]?></td>
                                                <td class=""><?php echo $his["texto_complementar"]?></td>
                                                <?php if($his['id_cliente']): ?>
                                                    <td class=""><?php echo $his["cliente_nome"]?></td>
                                                    <td class="">
                                                    <a href="<?php echo $this->url(array('controller' => 'cliente', 'action' => 'view', 'id' => $his['id_cliente'])); ?>" class="btn btn-sm btn-info">Detalhes do cliente</a>                
                                                    </td>
                                                <?php else: ?>
                                                    <td></td>
                                                    <td></td>
                                                <?endif; ?>
                                              
                                            </tr>
                                        <?php endforeach; ?>


                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!-- Left Sidebar End -->



</div>
<!-- Dashboard Wrapper End -->






<script type="text/javascript">

    //Data Tables
    $(document).ready(function () {
        //$.fn.dataTable.TableTools.defaults.aButtons = [ "copy", "csv", "xls" ];
        $('#data-table').dataTable({
            "bPaginate": false,
            "info": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/Portuguese-Brasil.json"
            }
            /*dom: 'T<"clear">lfrtip',
             tableTools: {
             "sSwfPath": "<?php echo $this->baseUrl("static/") ?>js/data-tables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
             }*/
        });
    });

</script>