<header class="Header Header--home">
    <div class="container">
        <?php echo $this->render('partial/navbar.phtml'); ?>
        <span class="spaco_div"></span>
    </div>
</header>
<section class="faq-content">
    <div class="faq">
        <div class="container">
            <div class="row faqs">
                <div class="col-xs-12 col-md-10 col-md-offset-1 faqs-tit">
                    <ul class="Breadcrumbs Breadcrumbs--articles list-inline">
                        <li class="Breadcrumbs-item"><a href="<?php echo $this->url(array(), "default", true); ?>" class="Breadcrumbs-link">Home</a>
                        </li>
                        <li class="Breadcrumbs-item"><a href="<?php echo $this->url(array(), "blogs", true); ?>" class="Breadcrumbs-link active">FAQ</a></li>
                    </ul>
                    <h1 class="Page-title">FAQ</h1>
                    <form action="" class="search">
                        <fieldset>
                            <input type="text" placeholder="Pesquise" id="searchFaq" />
                            <i class="lupa-faq"></i>
                        </fieldset>
                    </form>
                </div>
                <div class="conteudo_faq col-md-10 col-md-offset-1">
                    <h2>Dúvidas frequentes</h2>
                    <ul>
                        <?php foreach ($this->faq as $faq): ?>
                            <li>
                                <h3><?php echo $faq["titulo"]; ?></h3>
                                <div><?php echo $faq["resposta"]; ?></div>
                            </li>
                        <?php endforeach; ?>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="faq-video">
    <div class="container">
        <div class="row">
            <div class="faq_video col-md-10 col-md-offset-1">
                <iframe width="80%" height="480" src="https://www.youtube.com/embed/fAmdbf_J-pM?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<?php if (count($this->depoimentos) > 0) { ?>
<section class="Section depoimentos-face" style="background: #fff; border: 0;">
    <div class="container">
        <div class="row">
            <h1 class="Page-title Page-title--depoimentosface text-center">Somos <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> de acordo a opinião de nossos clientes</h1>
            <div class="Testimonial-arrowContainer Testimonial-arrowContainer--left col-xs-1 col-md-1"><a href="javascript:" class="seta-left Testimonial-arrow face-arrow--prev Icon Icon--arrowLeftBefore"></a></div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <ul class="row DepoimentosFace list-unstyled ">
                    
                    <?php foreach ($this->depoimentos as $value) : ?>
                    <li class="DepoimentosFace-item text-center">
                        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 container-text-depoimento">
                            <p class="text-depoimento-face"><?php echo $value['depoimento']; ?></p>
                        
                            <h3 class="name-depoimento-face"><?php echo $value['nome']; ?></h3>
                            <button class="btn-facebook-dep"><a target="_blank" href="<?php echo $value['link']; ?>">Confira no Facebook</a></button>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 container-dep-image">
                                <div class="polygon" style="background-image:url( <?php echo $this->baseUrl('arqs/depoimentos/' . $value['imagem']); ?>)"></div>
                        </div>
                        
                    </li>
                    <?php endforeach;?>

                </ul>
            </div>

            <div class="Testimonial-arrowContainer Testimonial-arrowContainer--right col-xs-1 col-md-1"><a href="javascript:" class="seta-right Testimonial-arrow face-arrow--next Icon Icon--arrowRightBefore"></a></div>

            <div class="owl-controls">

                <div class="owl-dots">
            
                </div>
            </div>

        </div>
    </div>
</section>
<?php } ?>

<?php /*
<?php if (count($this->depoimentos) > 0) { ?>

<section class="faq_depoimentos">
    <h3 class="tit-depoimentos">
        Depoimentos  - Veja quem já fez usando a Ferramenta Mavip
    </h3>
    <img src="<?php echo $this->baseUrl('static/default/images/load.svg') ?>" alt="" id="loading_depoimentos">
    <div style="background: #ebeff0;border-bottom: 2px solid #d6d6d6" id="box_depoimentos">
        <div class="container">
            <div class="row">
                <div class="Testimonial-arrowContainer Testimonial-arrowContainer--left dep-set-left"><a href="javascript:void(0)" class="Testimonial-arrow Testimonial-arrow--prev Icon Icon--arrowLeftBefore"></a></div>
                <div class="Testimonial-arrowContainer Testimonial-arrowContainer--right dep-set-right"><a href="javascript:void(0)" class="Testimonial-arrow Testimonial-arrow--next Icon Icon--arrowRightBefore"></a></div>
                <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 cont-depoimentos">
                    <div id="carouselFaq" class="owl-carousel owl-theme">
                        
                       <?php foreach ($this->depoimentos as $value) { ?>
                        <div class="item_faq">
                            <div class="col-xs-12 col-sm-3 col-md-3 img_faq">
                                <figure>
                                    <?php
                                    $imagem_default = 'mavip-default.png';
                                    $imagem = ($value['imagem']) ? $value['imagem'] : $imagem_default;
                                    $url = $this->baseUrl('arqs/depoimentos/' . $imagem);
                                    ?>
                                    <img src="<?php echo $url ?>" alt="<?php echo $value['nome']; ?>" class="">
                                </figure>
                                <figcaption>
                                    <h3><?php echo $value['nome']; ?> </h3>
                                </figcaption>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 text_faq">
                                <div class="">
                                    <p>
                                        <?php echo $value['depoimento']; ?> 
                                    </p>                                    
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                        
                        <div class="item_faq">
                            <div class="col-xs-12 col-sm-3 col-md-3 img_faq">
                                <figure ><img src="<?php echo $this->baseUrl('static/default/images/leo_uchoa.png') ?>" alt="" class=""></figure><figcaption> <ul>
                                        <li><img src="<?php echo $this->baseUrl('static/default/images/star.png') ?>" alt=""></li>
                                        <li><img src="<?php echo $this->baseUrl('static/default/images/star.png') ?>" alt=""></li>
                                        <li><img src="<?php echo $this->baseUrl('static/default/images/star.png') ?>" alt=""></li>
                                        <li><img src="<?php echo $this->baseUrl('static/default/images/star.png') ?>" alt=""></li>
                                        <li><img src="<?php echo $this->baseUrl('static/default/images/star.png') ?>" alt=""> </li>
                                    </ul>
                                    <h3>Leo Uchôa</h3>
                                     <p>CEO Tesla</p> 

                                </figcaption>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 text_faq">
                                <div class="">
                                    <p class="">Parabéns Mavip, simples e eficaz como nós empresários necessitamos.</p>

                                                                         <p class="Testimonial-job">CEO Tesla</p> 
                                </div>
                            </div>
                        </div>
                        <div class="item_faq">
                            <div class="col-xs-12 col-sm-3 col-md-3 img_faq">
                                <figure ><img src="<?php echo $this->baseUrl('static/default/images/joao_fernandes.png') ?>" alt="" class=""></figure><figcaption> <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul> 
                                    <h3>João Fernandes</h3>
                                     <p>CEO Tesla</p> 

                                </figcaption>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 text_faq">
                                <div class="">
                                    <p class="">Fiquei muito feliz quando encontrei no Brasil a Mavip.  Fiz o pedido de marca de forma simples e rápida.</p>
                                     <p class="Testimonial-job">CEO Tesla</p> 
                                </div>
                            </div>
                        </div>
                        <div class="item_faq">
                            <div class="col-xs-12 col-sm-3 col-md-3 img_faq">
                                <figure ><img src="<?php echo $this->baseUrl('static/default/images/juarez.png') ?>" alt="" class=""></figure><figcaption> <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul> 
                                    <h3>Juarez Batista</h3>
                                     <p>CEO Tesla</p> 

                                </figcaption>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 text_faq">
                                <div class="">
                                    <p class="juarez">Sou uma pessoa muito critica. Gosto de tudo certinho e de forma clara. Fiquei surpreso com Mavip, fiz várias pesquisas de marca, testei o sistema várias vezes e interagi com o atendimento pelo chat. Mas o que chamou mesmo a atenção foi a forma simples que a Mavip conseguiu fazer de um processo burocrático. Recomendo esse produto para quem deseja fazer tudo em um só lugar e sem burocracia, parabéns!</p>
                                     <p class="Testimonial-job">CEO Tesla</p> 
                                </div>
                            </div>
                        </div>
                        <div class="item_faq">
                            <div class="col-xs-12 col-sm-3 col-md-3 img_faq">
                                <figure ><img src="<?php echo $this->baseUrl('static/default/images/derlopidas.png') ?>" alt="" class=""></figure><figcaption> <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul> 
                                    <h3>Derlópidas Neves</h3>
                                     <p>CEO Tesla</p> 

                                </figcaption>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 text_faq">
                                <div class="">
                                    <p>O IEL/PB tem prazer em usar uma ferramenta que permite a qualquer cidadão fazer seu próprio registro, mesmo sem conhecimento técnico na área. Parabéns!</p>
                                     <p class="Testimonial-job">CEO Tesla</p> 
                                </div>
                            </div>
                        </div>
                        <div class="item_faq">
                            <div class="col-xs-12 col-sm-3 col-md-3 img_faq">
                                <figure ><img src="<?php echo $this->baseUrl('static/default/images/inovativa.png') ?>" alt="" class=""></figure><figcaption> <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul> 
                                    <h3>Inovativa Brasil</h3>
                                     <p>CEO Tesla</p> 

                                </figcaption>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 text_faq">
                                <div class="">
                                    <p>Parabéns para Mavip por estar entre as 300 empresas mais inovadoras do Brasil.</p>
                                     <p class="Testimonial-job">CEO Tesla</p> 
                                </div>
                            </div>
                        </div>
                        <div class="item_faq">
                            <div class="col-xs-12 col-sm-3 col-md-3 img_faq">
                                <figure ><img src="<?php echo $this->baseUrl('static/default/images/marcus_varandas.png') ?>" alt="" class=""></figure><figcaption> <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul> 
                                    <h3>Marcus Varandas</h3>
                                     <p>CEO Tesla</p> 

                                </figcaption>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 text_faq">
                                <div class="">
                                    <p>Até hoje não tinha visto uma forma tão simples de fazer algo tão burocrático.</p>
                                     <p class="Testimonial-job">CEO Tesla</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

<?php } ?>
<center>
<h4>É nosso cliente e deseja enviar o seu testemunho? <a href="<?php echo $this->url(array('controller' => 'depoimento', 'action' => 'index'), 'default', true); ?>" alt="">Clique aqui!</a></h4>
</center>
</section>
*/ ?>
