<header class="Header Header--home">
	<div class="container">
		<?php echo $this->render('partial/navbar.phtml');?>
	<span class="spaco_div"></span>
</div>
</header>
<section class="faq-content">
<div class="faq">
	<div class="container">
		<div class="row faqs">
			 <div class="col-xs-12 col-md-10 col-md-offset-1 faqs-tit">
				<ul class="Breadcrumbs Breadcrumbs--articles list-inline">
						<li class="Breadcrumbs-item"><a href="<?php echo $this->url(array(),"default",true);?>" class="Breadcrumbs-link">Home</a>
						</li>
						<li class="Breadcrumbs-item"><a href="<?php echo $this->url(array(),"blogs",true);?>" class="Breadcrumbs-link active">FAQ</a></li>
				</ul>
				<h1 class="Page-title">FAQ</h1>
				<form action="" class="search">
					<fieldset>
						<input type="text" placeholder="Pesquise" id="searchFaq" />
						<i class="lupa-faq"></i>
					</fieldset>
				</form>
			</div>
			
			<div class="form-faq col-md-12">
				<form action="" id="formFaq" class="col-md-10 col-md-offset-1" >
						<input type="text" placeholder="Nome" id="nome" name="nome" class="col-md-8 Form-input">
						<input type="text" placeholder="Empresa" id="empresa" name="empresa" class="col-md-8 Form-input">
						<textarea name="depoimento" id="depoimento" cols="30" rows="50" class="col-md-8 Form-input" placeholder="Depoimento"></textarea>
						<a href="<?php echo $this->url(array(),'faq',true);?>" class="col-xs-12 col-sm-3 col-md-2">< Voltar</a>
						<button type="submit" class="col-xs-12 col-sm-3 col-sm-offset-6 col-md-3 col-md-offset-7">Enviar</button>
				</form>
			</div>
		</div>
	</div>
</div>
</section>


