doctype html
html(class="no-js", lang="pt-br")
  head
    block head
      meta(charset="utf-8")
      meta(content="IE=edge", http-equiv="X-UA-Compatible")
      meta(content="width=device-width, initial-scale=1, user-scalable=0", name="viewport")
      meta(name="msapplication-TileColor", content="#000000")
      meta(name="theme-color", content="#000000")
      title Mavip
      link(rel='stylesheet', href="styles/main.css")
      //[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]
    block vars
  body(class="#{bodyClass}")
    //[if (lt IE 9) & (!IEMobile)]> <p class="browsehappy">Você está usando um <strong>navegador antigo</strong>. Por favor <a href="http://browsehappy.com/">atualize o seu navegador</a> para uma boa experiência.</p> <![endif]
    block header

    block content
      h1 Identity

    block footer
      include ./../inc/footer.jade

    block scripts
      script(src='scripts/vendors.min.js')
      script(src='scripts/scripts.js')
